[2018-04-24 07:55] apple502j commented on #1467
_I don't care even if it's dupe of #1335_

Then compatibility problem would happen

[2018-04-24 12:08] ZenithRogue commented on #1467
@apple502j wow, I didn't notice. I even commented on it last time it was brought up.

[2018-04-24 12:34] thisandagain commented on #1467
Tracking in https://github.com/LLK/scratch-blocks/issues/1335

[2018-04-24 12:34] #1467 closed, assigned to nobody

[2018-04-24 12:34] thisandagain commented on #1467
I knew this was tracked somewhere else. Thanks @apple502j

[2018-04-25 10:06] thisandagain commented on #1470
Moved to LLK/scratch-vm#1083

[2018-04-25 10:06] #1470 closed, assigned to nobody

[2018-04-25 14:00] thisandagain opened #1472 "Change language on "mouse-pointer" blocks"
## Overview
Scratch 3.0 will work on a wide variety of devices including Chromebooks, Windows Surface, iPads, and Android tablets. Many of these devices either exclusively support touch or support a mixture of touch and mouse interaction. Because of this, we would like to retire use of the terms "mouse-pointer" and "clicked" and use the more generic terms "pointer" and "tapped". This will impact a

[2018-04-25 14:18] ericrosenbaum commented on #1472
I wonder if we will see any confusion related to the word "touching" on touch devices?

`touching (sprite)?`
`touching (color)?`
`(color) is touching (color)?`

Not sure if it would make sense to rename these though. One idea would be to change just the first two like this (though these are longer, unfortunately):

`this sprite is touching (sprite)?`
`this sprite is touching (color)?`

[2018-04-25 15:00] thisandagain commented on #1472
@ericrosenbaum I share the concern. Should we file that as a follow-up item to #1473 (I mention a few other concerns in that PR as well)? It would be good to talk through these issues with @ntlrsk.

[2018-04-25 21:44] thisandagain commented on #1472
Between negative feedback from resource partners that came in today (major changes to blocks coming in too late) and some of the questions / concerns around this I have closed the PR and recommend we table this for discussion post release.

/cc @carljbowman @ntlrsk @ericrosenbaum

[2018-04-26 13:06] #1352 closed, assigned to nobody

[2018-04-26 13:06] #1376 closed, assigned to nobody

[2018-04-27 20:18] mrjacobbloom opened #1482 "Add category attrribute to toolbox svg"
This is a follow-up to #365. The blocks are completely style-able using CSS and the custom svg attributes from the related PRs, but when you customize the colors there's no easy way to change the "color dot" in the corresponding category's palette using CSS (you could use nth-child rules, but with microworlds and extensions the set of categories may be unpredictable). Would you guys accept a PR to

[2018-04-29 03:51] towerofnix commented on #1391
Although this is closed because the question was resolved - this is properly fixed in #1471 now :) :tada:

[2018-05-01 16:22] thisandagain opened #1489 "Adjust colors for "control" and "events""
In Scratch 2.0 the colors for "control" and "events" are an orange-ish brown and an orange-ish yellow respectively. As part of our initial color explorations for Scratch 3.0 we strived to normalize the block category palettes between Scratch 2.0 and ScratchJr as well as resolve design issues with the "muddy" brown color that was being used for the "events" category. The result of this was to shift

[2018-05-01 16:26] thisandagain commented on #1489
/cc @ntlrsk

[2018-05-01 18:16] carljbowman commented on #1489
## Events and Control Color Swap

### Blocks (Vertical & Horizontal)
![r1_events-and-control-swap](https://user-images.githubusercontent.com/3409578/39486412-00801840-4d4a-11e8-9aae-e378f49a951b.png)

### Blocks in Context
![empty editor](https://user-images.githubusercontent.com/3409578/39486434-18aea9ae-4d4a-11e8-9a48-4b7a48f3c915.png)

### Color Palette
![r4_vertical-colors](https://user-images

[2018-05-01 20:05] chrisgarrity commented on #438
I think we' may let this get handled by translators. With the new messages `%1 < %2`, the arguments are unique and can be reordered as needed. This will allow RTL language translators to make things look right. In hebrew, math operators are actually LTR even though the language is RTL.

[2018-05-01 20:46] #438 closed, assigned to chrisgarrity

[2018-05-02 15:31] chrisgarrity opened #1490 "Missing menu strings for next/previous backdrop and others...."
### Expected Behavior

The default values in menu lists (e.g. `switch backdrop to %1`) should be translatable.

### Actual Behavior

It looks like the `next backdrop` string is in Msgs (and Transifex) because it's a block, but neither of the menu values is in the table.

Translators are finding other missing menu items. Adding them here:
- [x] next backdrop
- [x] previous backdrop
- [x] myself (cr

[2018-05-02 17:16] towerofnix opened #1492 "Block text is hard to read (perhaps depending on system)"
**I recommend you open these screenshots in a new tab, so they're at 100% zoom level.**

Here is a screenshot of a script with lots of blocks in it in Scratch 2.0 (Chromium on Debian -- Firefox isn't running Flash for me right now but I remember it looking basically the same):

![](https://user-images.githubusercontent.com/9948030/39537501-32afea54-4e10-11e8-9136-678a1b7f3538.png)

Here is a scree

[2018-05-03 00:23] rachel-fenichel commented on #1460
FYI here's the sound for snapping blocks together:
https://github.com/LLK/scratch-blocks/blob/develop/core/block_animations.js#L87

And for deleting them:
https://github.com/LLK/scratch-blocks/blob/develop/core/block_animations.js#L38

[2018-05-03 00:29] rachel-fenichel opened #1495 "Consider moving some functions from WorkspaceSvg to ScratchBlocksUtils"
There are three scratch-blocks-specific functions on WorkspaceSvg that could be in the ScratchBlocksUtils file instead.

This is preferable because it reduces merge conflicts and sequesters code that will continue to be different in Blockly and Scratch Blocks.

I'm not doing it unilaterally because it would need to be accompanied by changes in Scratch-VM (and maybe scratch-gui, but I don't think s

[2018-05-03 00:43] rachel-fenichel commented on #1495
I just tried to figure out how the glow is happening in scratch-vm, but I don't fully understand what's happening.  Who's the best person to ask for clarification?

[2018-05-04 17:19] chrisgarrity opened #1500 "Switch to random backdrop"
### Expected Behavior

It would be nice if `switch backdrop to %1` included `random backdrop` as one of the options.

### Actual Behavior

The options list contains the current backdrops along with 'next' and 'previous'

[2018-05-04 17:39] thisandagain opened #1501 "Block stacks disappearing from the workspace after adding a custom procedure"
### Expected Behavior
Blocks and block stacks should never disappear from the workspace while a program is running

### Actual Behavior
Certain types of projects / resource constraints appear to cause blocks / block stacks to either temporarily or permanently

### Steps to Reproduce
Currently this is difficult to reproduce it, but does appear to impact both desktop and mobile Safari significantly

[2018-05-05 18:28] kyleplo commented on #1500
Should other menus also have random options?
* switch costume
* start/play sound
* Any other ideas?

[2018-05-07 18:02] towerofnix commented on #1460
Some users have also mentioned that the animations of blocks being removed are distracting and/or annoying; a similar "reduce animations" option would be nice. Perhaps it could also disable the scrolling animation when a category is selected? I figure some users might prefer not to have that animation.

[2018-05-07 18:10] towerofnix opened #1504 "Variable/broadcast menus sort "name10" before "name2""
### Expected Behavior

They should sort "10" after "2", for example "name1", "name2", "name10".

### Actual Behavior

They sort "10" before "2", for example "name1", "name10", "name 2".

![A variables drop-down showing the above](https://user-images.githubusercontent.com/9948030/39717041-764f0794-5208-11e8-9412-6c1fddd5acf5.png) ![A broadcast drop-down](https://user-images.githubusercontent.com/99

[2018-05-08 08:22] mrjacobbloom commented on #1504
This might help: https://en.wikipedia.org/wiki/Natural_sort_order

[2018-05-08 21:35] kchadha opened #1506 "Numpad for number fields shows up in the wrong place"
### Expected Behavior

Soft number pad (touch devices) should show up near the number field that is focused.

### Actual Behavior

Number pad shows up at the top of the workspace for a block close to the bottom of the page.
![img_0005](https://user-images.githubusercontent.com/1786240/39784295-eb818856-52e5-11e8-8bd9-f6d1c1d62080.PNG)

### Steps to Reproduce

1. On a touch device, drag out a ( ()

[2018-05-09 01:27] MsBlockCat opened #1507 "Block size adaptivity compromise"
### Expected Behavior

This isn't an expectation at all, just an idea for how to deal with block size (I'm not sure how much this would affect performance either). With that said, I think it would be neat if when you click on the block editor area, the blocks shrunk to about Scratch 2 size, while when you tap on the editor area with a touchscreen, the blocks grow back to Scratch 3 size. This way,

[2018-05-09 14:12] #1500 closed, assigned to nobody

[2018-05-09 14:58] ZenithRogue opened #1509 "Some sound blocks do not have a category label"
I noticed that a couple of blocks in the Sound category do not have a category label.  I don't know if this actually affects much (other than being unable to properly theme the blocks via custom css), but I though you should be aware.

**These blocks include:**
play sound (sound) until done
change [pitch] effect by (10)
set [pitch] effect to (100)
clear sound effects

I opened a pull request (#150

[2018-05-09 15:47] mrjacobbloom commented on #1492
A while back there was a conversation in the forums about the ideal 3.0 color palette: https://scratch.mit.edu/discuss/post/2761039/ -- that conversation was more about the block colors in general (#995 and #1032) but text contrast was something a number of them considered so I thought it might be relevant

[2018-05-09 19:38] rachel-fenichel commented on #1506
The page isn't zoomed, right?

Here's the positioning code: https://github.com/LLK/scratch-blocks/blob/develop/core/field_number.js#L211

[2018-05-09 19:45] rachel-fenichel commented on #1460
And here's the code for block animations: https://github.com/LLK/scratch-blocks/blob/develop/core/block_animations.js

The hard part here is managing settings without turning into the bridge of the starship enterprise, and also passing options info around correctly.

[2018-05-10 19:45] #1276 closed, assigned to nobody

[2018-05-10 23:52] MsBlockCat opened #1515 "Block editor starts in bottom right when new sprite created"
### Expected Behavior
(Edited for a lot more clarity)
The blocks editor should probably either start in the top left (like when you load a project), middle (like it jumps to when you place a block), or the scroll bars should just not be there at all until you place a block (like Scratch 2)

### Actual Behavior

In the Scratch 3 preview, when you create a new project or sprite, the scrollbars in th

[2018-05-10 23:59] MsBlockCat opened #1516 "Clean up Blocks button sorts blocks into single column"
### Expected Behavior

In Scratch 2, blocks were sorted into multiple columns using this button, which allowed for better organization and use of left-right scrolling.

### Actual Behavior

All the blocks are just sorted into one long column in the Scratch 3 preview

### Steps to Reproduce

Create or import a big project in the Scratch 3 preview involving multiple scripts in one sprite. Try to arr

[2018-05-11 17:15] rachel-fenichel commented on #1516
Upstream issue: https://github.com/google/blockly/issues/1734

Low priority but help wanted on the Blockly side.

[2018-05-13 02:36] CatsAreFluffy commented on #1507
Can you tell the difference between touch/click? Also, is this going to be zoom or just inflate the blocks?

[2018-05-13 13:51] MsBlockCat commented on #1507
I'm not a great coder, but as far as I'm aware there's a difference between touch and click inputs. As for the zoom vs inflate, it's up to the Scratch team haha... Zoom might be easier to code if I had to guess, though, since they already partially added that elsewhere (they might just have to add a transition animation between zoom levels)

[2018-05-14 20:25] #1490 closed, assigned to thisandagain

[2018-05-14 20:40] rachel-fenichel opened #1523 "Can't run build.py from the command line"
### Expected Behavior

Running `build.py` from the command line should build the various uncompressed and compressed versions of scratch blocks.

It should use the local compiler if possible, and otherwise fall back to the remote compiler.

### Actual Behavior

Before running `npm install` (so no npm package for google-closure-compiler), or after deleting the contents of `node_modules`:
There are

[2018-05-14 21:17] #1429 closed, assigned to chrisgarrity, ericrosenbaum, thisandagain

[2018-05-15 19:46] kyleplo opened #1525 "Fix when [timer v] > (10)"
### Expected Behavior

The menu on when [timer v] > (10) either has multiple options or doesn't exist.

### Actual Behavior

Due to things becoming extensions, there is only one option

### Steps to Reproduce

Look at the menu on the when [timer v] > (10)

### Proposal

Remove the menu or brainstorm other option ideas (or add back the loudness option)

[2018-05-15 21:00] rachel-fenichel opened #1526 "Duplicating a workspace comment should attach the comment to the mouse"
### Expected Behavior

Should match block duplication behaviour.

### Actual Behavior

Places the comment on the workspace.

[2018-05-15 21:06] rachel-fenichel opened #1527 "Workspace comment drag shadow is large"
### Expected Behavior

???

### Actual Behavior

![image](https://user-images.githubusercontent.com/13686399/40083461-1001f3c4-5849-11e8-9ddf-656e64bbb3a4.png)

[2018-05-15 21:09] rachel-fenichel opened #1528 "Block comment icon is positioned wrong"
### Expected Behavior

If there's an icon, it should be centered in the row.  Non-issue if we get rid of comment icons.

### Actual Behavior

![image](https://user-images.githubusercontent.com/13686399/40083615-9079de90-5849-11e8-8f97-22050f894a99.png)

[2018-05-15 21:11] rachel-fenichel opened #1529 "Block comments are rendered with no bubble"
### Expected Behavior
Blockly:
![image](https://user-images.githubusercontent.com/13686399/40083697-d5daf244-5849-11e8-9282-e4fb987f2fe6.png)

### Actual Behavior
Scratch-blocks:
![image](https://user-images.githubusercontent.com/13686399/40083682-cd21643a-5849-11e8-8f27-ad218b2bf404.png)

Irrelevant if we do completely different rendering for block comments.

[2018-05-15 21:12] rachel-fenichel opened #1530 "Block comments don't have a context menu"
Block comments have a context menu on the textarea, but not one on the border/handle of the comment that would let us have the delete option.  Do we want one?

[2018-05-15 21:14] rachel-fenichel opened #1531 "Block comment should auto-open when created"
### Expected Behavior
Comment auto-opens and is selected when the "add comment" option is clicked in the block's context menu.

### Actual Behavior

The comment icon is added but the user has to click on the icon to open up the comment and start editing.

[2018-05-15 21:15] rachel-fenichel opened #1532 "Block comment location is not preserved when the comment is closed or the workspace is reloaded."
### Expected Behavior

Block comment position (relative to the icon) is remembered.

### Actual Behavior

Block comments auto-position themselves every time they are opened.

[2018-05-15 21:16] rachel-fenichel commented on #1532
Possibly worth solving upstream.  Unclear.

[2018-05-15 21:16] rachel-fenichel commented on #1531
Possibly worth solving upstream.  Unclear.

[2018-05-16 20:05] CatsAreFluffy commented on #1333
The removal of all would make deleting very long lists take very long.

[2018-05-16 20:40] howettl opened #1534 "Control blocks can be wrapped around procedure prototype blocks"
### Expected Behavior

Procedure prototype blocks should be non-interactive.

### Actual Behavior

If I create a custom procedure, then drag a control block (C-shape) onto the workspace and near to the procedure prototype block inside of the procedure definition block, the grey area appears around the prototype block indicating that I can wrap the control block around it.  Releasing the block at t

[2018-05-16 20:50] ericrosenbaum commented on #1456
Closing this in favor of a full fix, scheduled for june https://github.com/LLK/scratch-blocks/issues/1457

[2018-05-16 20:50] #1456 closed, assigned to ericrosenbaum

[2018-05-16 21:51] #1416 closed, assigned to ericrosenbaum

[2018-05-16 22:29] mrjacobbloom commented on #1333
A separate "Empty/clear list [ v]" would also be an option in this case

[2018-05-17 11:10] vincentbriglia opened #1535 "Unable to overwrite default block colours"
### Expected Behavior

When colour options are passed into the option parameter when initializing a workspace using `Blockly.inject`, block colours for core scratch blocks, that use colours from the `Blockly.Colours` should use instead the new colours

for the motion blocks using
[code]

we should get

![screen shot 2018-05-17 at 1 05 35 pm](https://user-images.githubusercontent.com/452811/4017372

[2018-05-17 14:15] #1504 closed, assigned to nobody

[2018-05-17 18:29] mrjacobbloom commented on #1509
Yeah, I think I skipped menus since they were already always directly inside blocks of the same category, but there's no reason that they shouldn't have a category attribute

[2018-05-17 18:41] ZenithRogue commented on #1509
@mrjacobbloom It is not an issue with menus. Grab [theme3](https://github.com/nitrocipher/theme3) and swap out which color definition line is commented. Scroll to the sound category, and you will see the above stated blocks' color is unaffected. I found that those specific blocks do not have their category defined in the sound.js file

[2018-05-17 18:46] mrjacobbloom commented on #1509
oh or I just missed some blocks 🙃

[2018-05-18 08:46] Mynini opened #1538 "Undo - Children of removed block sometimes move to the bottom right corner of screen"
### Expected Behavior
Restore last state

### Actual Behavior
click the undo btn. we find the children blocks that belong to the remove one,move to the right corner of the screem and sometimes they can`t connected with anthor blocks

### Steps to Reproduce

**Browser environment;**
chrome  66.0.3359.181       Browser environment:
toggle device toolbar    iPhone 6/7  width:736  height:414

Steps:
D

[2018-05-21 16:01] thisandagain commented on #1538
@BryceLTaylor Could you attempt a repro on this in the vertical and horizontal playgrounds?

[2018-05-21 16:04] thisandagain commented on #1525
Tracking in https://github.com/LLK/scratch-vm/issues/1026 and https://github.com/LLK/scratch-vm/issues/338

[2018-05-21 16:04] #1525 closed, assigned to nobody

[2018-05-21 16:05] thisandagain commented on #1534
Thanks for finding this @howettl!

[2018-05-21 16:05] thisandagain commented on #1534
/cc @paulkaplan @rachel-fenichel

[2018-05-21 18:22] rachel-fenichel commented on #1534
Relevant bits of code:

`Blockly.InsertionMarkerManager.prototype.getCandidate_` calls `myConnection.closest(radius, dxy)`.

`Blockly.Connection.prototype.isConnectionAllowed` gets called.  It calls `canConnectWithReason_`.

`Blockly.Connection.prototype.canConnectWithReason_` has some hacks for handling procedure blocks (gross but got the job done): https://github.com/LLK/scratch-blocks/blob/deve

[2018-05-23 00:28] ZhangJoker opened #1540 "Issues running `python build.py && webpack`"
I got an error like below,

[code]

could you give me a help?

[2018-05-23 23:44] thisandagain commented on #1540
Please do not file duplicate issues. Tracking in https://github.com/LLK/scratch-gui/issues/2119

[2018-05-23 23:44] #1540 closed, assigned to nobody

[2018-05-25 01:26] cryanis opened #1542 "I got a TypeError here"
The TypeError: `Blockly.Generator is not a constructor` .
I don't understand why, please help.

[2018-05-25 01:35] cryanis commented on #1542
In fact , I want to shim generator javascript file, and I followed steps of [#1033](https://github.com/LLK/scratch-blocks/issues/1033), but it displays an error

[2018-05-25 09:06] cryanis commented on #1542
@gengshenghong

[2018-05-25 16:27] ericrosenbaum commented on #941
On touch on chrome OS this problem makes the buttons very difficult to click (usually takes six or seven tries).

[2018-05-25 19:40] #941 closed, assigned to paulkaplan

[2018-05-27 17:57] CatsAreFluffy commented on #1333
Another possibly useful feature would be a [copy [list v] to [list2 v]] block for efficient list copying.Can be easily workarounded, but then why include [clear [list v]]?

[2018-05-28 23:42] ZenithRogue opened #1545 "Consider changing name of "Item #" list block"
Currently, there is a block that will give you the first location of a item in a list. (item # of [thing] in [list v])  I feel as though the current name is slightly confusing, and needs some revision.  Maybe this? (location of [thing] in [list v])

[2018-05-28 23:57] ZenithRogue commented on #1534
This will also leave behind a "ghost" that is immobile, and the block picked up into the c will be permanently fused

[2018-05-29 12:32] Mynini commented on #1538
@thisandagain

[2018-05-29 12:33] Mynini commented on #1538
@thisandagain
I am find undo and redo system has many problem.I maked some video ,you can look the bug through them。I find some anther problem are related width undo and redo ,I will write anther issue .you can look it. scratch-blocks is a very good project,I like it very much ,but it still has many problem. hope it become better and better

[2018-05-29 14:52] thisandagain commented on #1542
Scratch Blocks does not support the use of Blockly generators. We recommend you take a look at the Scratch VM here: https://github.com/llk/scratch-vm

[2018-05-29 14:52] #1542 closed, assigned to nobody

[2018-05-30 03:51] Mynini opened #1547 "Cannot change the num value of the block at mobilephone platform"
### Expected Behavior

I want to change the num of block at mobilephone platform ,but faild

### Actual Behavior

The num text of the block always display the default number.

### Steps to Reproduce

**There are some video you can look the probem through them**
[num.zip](https://github.com/LLK/scratch-blocks/files/2052382/num.zip)

**1.**
I find the num text value has already change inside  when I

[2018-05-30 07:17] Mynini commented on #1547
@thisandagain The problem has some related to undo and redo

[2018-05-30 17:03] rachel-fenichel opened #1548 "Toolbox is broken in RTL"
### Expected Behavior

Workspace renders properly in RTL

### Actual Behavior

Switching to RTL in the vertical playground fails with these errors:
[code]
### Steps to Reproduce

Open the vertical playground and switch to RTL mode.

### Operating System and Browser

Any

[2018-05-30 20:13] kchadha commented on #1548
@ericrosenbaum I just assigned myself to this issue instead since I'm fixing this as part of #1544.

[2018-05-30 22:06] howettl opened #1549 "Displaying an embedded workspace causes field highlights to stop working"
### Expected Behavior

Field highlights should always work.

### Actual Behavior

After displaying an embedded workspace (for example, the custom procedures modal) and subsequently dismissing it, fields will disappear when dragging a compatible block over them instead of glowing.

![highlight](https://user-images.githubusercontent.com/4719928/40749963-980496b4-641a-11e8-8a6f-e60281fc6290.gif)

###

[2018-05-30 23:31] #1530 closed, assigned to kchadha, carljbowman, rachel-fenichel

[2018-05-30 23:31] #1531 closed, assigned to kchadha

[2018-05-30 23:31] #1548 closed, assigned to kchadha

[2018-05-30 23:35] rachel-fenichel commented on #1548
@kchadha and I dug into this for a bit.

The root problem is that the create event for a block in RTL mode includes a call to `getMetrics`:
[code]
 This happens as soon as the first block is created, and before layout has happened.  `getMetrics` in the flyout causes a call to `recordCategoryScrollPositions_`, which ~ uses the number of buttons as a count for the number of categories.  At this poin

[2018-05-31 12:58] thisandagain commented on #1489
After further discussion we have decided to keep these color relationships as-is in an effort to unify colors / grammars across ScratchJr and Scratch.

[2018-05-31 12:58] #1489 closed, assigned to thisandagain, carljbowman

[2018-05-31 18:58] paulkaplan opened #1550 "Uncaught TypeError: Cannot read property 'x' of null when duplicating blocks"
Using right-click to duplicate a block on the workspace causes this error

[code]

Doesn't _seem_ to cause any big problems, but it is spamming the uncaught error aggregator. :)

---

Update, it also might be a regression because Sentry says it first saw this error 10 days ago. /cc @rachel-fenichel

[2018-05-31 20:54] #889 closed, assigned to nobody

[2018-05-31 20:54] #1549 closed, assigned to nobody

[2018-06-01 02:18] kchadha opened #1554 "Comments ToDo"
Making one giant Issue for the separate comment tasks that still remain:

- [x] Workspace comments need to be updated to look/work like block comments: Fixed with #1575
    - [x] Size of comment text
    - [x] Font used for comment text
    - [x] Size of top bar
    - [x] Minimize icon and functionality
    - [x] Delete icon and functionality
- [ ] Some outstanding issues with drag + text selectio

[2018-06-01 15:35] msintov commented on #1188
@paulkaplan With the recent stack glow fixes, I am curious if this issue is fixed? Thanks!

[2018-06-01 16:05] thisandagain commented on #1188
@msintov It *should* be, but we'll need to do a little more testing on Safari to confirm.

[2018-06-01 16:57] chrisgarrity commented on #1345
Also exhibited on Edge/Surface

[2018-06-04 17:48] rachel-fenichel commented on #1554
Related to "Cannot scroll workspace if mouse happens to be over a block comment": You probably can't scroll comment contents.  I think that's fine, since you can resize them, but it's worth knowing.

[2018-06-05 12:20] #1509 closed, assigned to nobody

[2018-06-05 21:05] #773 closed, assigned to nobody

[2018-06-06 22:03] kyleplo opened #1561 "Custom block colors don't always work"
### Expected Behavior

Custom block colors change the colors of all blocks and menus.

### Actual Behavior

Broken blocks:
- when backdrop switches to and its menu
- [] of [] and it's menus
- message menus
- variable menu
- list blocks and their menus
- all custom blocks
- all extensions
- stage monitors
- dropdown menu bgs
- comment borders

### Steps to Reproduce

Install https://github.com/Nitr

[2018-06-06 22:49] kchadha opened #1562 "Workspace Scroll not working for ScratchBlockComments in RTL"
### Expected Behavior

Workspace should scroll with things on the workspace. E.g. if something (a block or a comment) is dragged outside of the bounds of the workspace, the workspace should expand such that that element can be centered in the current view.

### Actual Behavior

The above does not work for scratch block comments in RTL.

[2018-06-06 22:52] kchadha opened #1563 "Test comments in Headless Mode"
Headless mode needs a unit test for block and workspace comments (e.g. testing text content, size, coordinates, etc.).

[2018-06-06 22:55] kchadha opened #1564 "Workspace 'top comments' should now just be 'comments'"
The workspace now keeps track of both workspace comments and block comments, so all things related to 'top comments' should be renamed.

[2018-06-06 23:41] rachel-fenichel opened #1565 "In comment change events, check that oldContents and newContents match"
The comment change constructor takes in `oldContents` and `newContents`.  The annotations say that they must have the same properties, but there's no code to check that.

We may also want to pick a name other than "contents"--maybe "oldProperties" and "newProperties".  If we want to do that name change it should be soon to minimize churn in event handling code.

[2018-06-07 14:23] kchadha opened #1566 "Block moves should trigger comment moves for the comment that is attached to the block."
### Expected Behavior

When a block moves, the comment attached to the block moves as well, but no CommentMove event is emitted for this change.

### Actual Behavior

A CommentMove event should be emitted when a comment moves, even if it's moving because the block it's attached to moved.

[2018-06-07 14:31] kchadha opened #1567 "Travis Build Failure - Error: Unable to access jarfile ../webdriverio-test/selenium-server-standalone-3.0.1.jar"
Travis build fails with error:

[code]

[2018-06-07 14:46] paulkaplan opened #1569 "Use npm packages for selenium/chromedriver so they don't go out-of-date"
Having the chromedriver and selenium configs in custom scripts is different from our other repos, where we use the npm packages that handle downloading, starting, stopping and correctly setting the path for the respective parts of this system.

If we don't do this, we will have another https://github.com/LLK/scratch-blocks/issues/1567 in a short while

[2018-06-07 15:18] #1567 closed, assigned to nobody

[2018-06-07 18:00] kchadha commented on #1567
It should be noted that #1568 was not the thing that actually fixed this issue. Restarting the build that had the described error fixed the build.

[2018-06-07 18:49] rachel-fenichel commented on #1569
I'll pull any change for this into Blockly as well.

[2018-06-07 20:41] rachel-fenichel opened #1570 "Add flag to disable recycling blocks in the flyout"
Necessary changes:
- In flyout_base.js, add the property `Blockly.Flyout.prototype.recyclingEnabled_` and set it to `true` by default.
- In flyout_base.js, add the function `Blockly.Flyout.prototype.setRecyclingEnabled` to toggle the above property.  Mark it as public
- In `Blockly.Flyout.prototype.clearOldBlocks_` check `if (this.recyclingEnabled_ && block.isRecyclable())` on line 693.

To use th

[2018-06-07 21:06] rachel-fenichel commented on #1570
This came up when swapping the message files to change languages--refreshing the toolbox changes the messages for non-recycled blocks, but the recycled blocks stay the same.

[2018-06-08 14:28] kchadha opened #1574 "Workspace Undo should be disabled when workspace is (re-)loaded"
### Expected Behavior

Undo should always undo the last *user initiated interaction*.

### Actual Behavior

When switching sprites (and switching back) workspace undo is enabled, but using it results in blocks or comments disappearing, even if the creation of the blocks/comments was not the last user initiated interaction on that workspace (see GIF).

Expected behavior for Undo:

![undo_expected](

[2018-06-08 17:32] rachel-fenichel commented on #1574
Proposed solution: call `workspace.clearUndo` when switching sprites to flush the queue.

[2018-06-08 21:59] chrisgarrity opened #1577 "Add support for switching language without reloading"
- [x] script to generate a combined messages file that includes all supported locales
- [x] add language switching to playgrounds
- [x] load new translations from Transifex
- [x] refresh the workspace without reloading the page

[2018-06-09 09:27] apple502j opened #1579 "Localization: "stop" block doesn't allow SOV languages"
### Expected Behavior
In Japanese, stop block should be translated as "XXXを止める"
(Same for all languages using SOV such as Germany, Korean, Dutch, and more!)

### Actual Behavior
According to the code it seems to be "を止めるXXX"

### Steps to Reproduce
See the code
[code]
https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/control.js#L206

### Operating System and Browser
Windows 7 Home

[2018-06-11 12:55] thisandagain commented on #1579
/cc @chrisgarrity

[2018-06-11 13:37] cpseager opened #1581 "Add Ctrl-Y as redo keyboard shortcut"
### Expected Behavior

Windows users generally expect 'Ctrl+Y' as redo and often don't even know about the Mac/Linux 'Ctrl+Shift+Z' version.

https://en.wikipedia.org/wiki/Control-Y

### Actual Behavior

Nothing happens on ctrl+y

### Steps to Reproduce

Try out ctl+z, ctrl+shift+z, ctrl+y in preview

### Operating System and Browser

Any (but most relevant to Windows users!)

### How to fix

It's

[2018-06-11 16:10] chrisgarrity commented on #1579
@thisandagain it appears the stop block isn't using `Blockly.Msg`, so it's not getting translated at all. The ordering issue should probably get taken care of at the same time, so I'm switching it to this month.

[2018-06-11 18:04] chrisgarrity opened #1582 "Missing localization strings"
- [ ] Random anything (backdrop, sprite, etc)
- [ ] New message (broadcast)
- [ ] Check other default dropdowns
- [ ] Check for consistent usage of function or procedure.

[2018-06-12 00:49] yami opened #1583 "Closure Library link in installation wiki page is not correct"
### Expected Behavior

On wiki page https://github.com/LLK/scratch-blocks/wiki, the link to Closure Library should be https://developers.google.com/closure/library/

### Actual Behavior

It is https://developers.google.com/closure/compiler/ currently.

### Steps to Reproduce

N/A

### Operating System and Browser

N/A

[2018-06-12 15:56] thisandagain commented on #1583
Thanks for catching that! Fixed.

[2018-06-12 15:56] #1583 closed, assigned to nobody

[2018-06-12 18:35] chrisgarrity opened #1584 "Category labels and buttons should right align if the layout is RTL"
### Expected Behavior

_Please describe what should happen_
If the layout is RTL, category labels and flyout buttons should be right aligned.

### Actual Behavior

_Describe what actually happens_
Category labels and buttons are left aligned - for example the Data category in the playground:
<img width="354" alt="screen shot 2018-06-12 at 2 28 54 pm" src="https://user-images.githubusercontent.com/

[2018-06-12 22:01] AnmAtAnm opened #1585 "Delete confirmation shown when deleting singular blocks (incorrect grammar)"
### Expected Behavior

Confirmation prompt when clearing a workspace should never show "Delete all 1 blocks". Either never show a confirmation if the workspace only has one block (Blockly style), or use the `DELETE_BLOCK` message template ("Delete Block").

### Actual Behavior

![screen shot 2018-06-12 at 2 43 35 pm](https://user-images.githubusercontent.com/9916202/41319556-06c4d740-6e51-11e8-895

[2018-06-12 23:36] rachel-fenichel commented on #1585
Workspace context menu option: https://github.com/LLK/scratch-blocks/blob/develop/core/workspace_svg.js#L1460

Block context menu option: https://github.com/LLK/scratch-blocks/blob/develop/core/block_svg.js#L772

[2018-06-13 16:27] #1570 closed, assigned to chrisgarrity

[2018-06-13 17:09] chrisgarrity commented on #1585
We should fix this for English, but it's not really going to help the person who filed the blockly issue. They're translating to Scottish Gaelic, which has 4 plural forms (one, two, few, other) instead of 2 like English (and the 'one' form applies to 1 and 11 to complicate things further). So for them, 'Delete all 3 blocks' should be translated differently from 'Delete all 20 blocks'

[2018-06-14 17:29] paulkaplan commented on #1554
@kchadha not sure if this is listed there, or if you'd prefer it in another issue, but
![overlapping comments](https://user-images.githubusercontent.com/654102/41428084-0487bf56-6fd7-11e8-9c13-70a8a882aea7.gif)

[2018-06-14 20:53] rachel-fenichel opened #1588 "Enable eslint: curly"
In the eslintrc, switch from ` "curly": ["error", "multi-line"],` to `"curly": ["error"],` and fix any new lint issues.

Reason: brace-less if clauses are error-prone.

Rule documentation: https://eslint.org/docs/rules/curly

[2018-06-15 04:41] rohinipatare opened #1590 "error during executing build.py"
### Expected Behavior
All the modules should successfully executed.

### Actual Behavior
error during running python file
  #python build.py
Traceback (most recent call last):
  File "build.py", line 598, in <module>
    test_proc = subprocess.Popen(test_args, stdin=subprocess.PIPE, stdout=subprocess.PIPE)
  File "/usr/lib/python2.7/subprocess.py", line 710, in __init__
    errread, errwrite)
  Fi

[2018-06-15 21:38] kchadha opened #1592 "Comment Cleanup"
There is currently a lot of code duplication between ScratchBlockComment, ScratchBubble and WorkspaceComment*

It would be good to clean all of this up and break out common functionality/constants.

[2018-06-17 20:09] kyleplo opened #1594 "Playground is broken"
### Expected Behavior

When you visit any of the GH pages playgrounds, it works.

### Actual Behavior

This error appears:
![image](https://user-images.githubusercontent.com/31634240/41511624-ad1a7d3e-7248-11e8-85f8-f85ac5c18d6a.png)

### Steps to Reproduce

Visit https://llk.github.io/scratch-blocks/playgrounds/tests/vertical_playground.html

### Operating System and Browser

Windows 10 Chrome 67

[2018-06-18 01:28] regcole commented on #1590
I'm getting the same error on Windows 10. It happens with Windows 10 console and with the Ubuntu WSDL. The script does work when I run it on Mac OS X though.

[2018-06-18 01:29] regcole commented on #1594
Where you able to successfully run
`python build.py`
?

[2018-06-18 13:39] VATstudios opened #1595 "Add support for more keys."
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-06-18 15:55] AmazingMech2418 commented on #1594
@kyleplo They closed the playgrounds due to previous errors since some functions were not in the scratch-blocks repo.

[2018-06-18 19:05] kyleplo commented on #1595
I don't understand.

[2018-06-20 16:39] BryceLTaylor opened #1601 "Switching to a sprite focuses on most recent block comment"
### Expected Behavior

Selecting a sprite should not select/focus on any of the comments.

### Actual Behavior

If there are any block comments on a sprite you switch to it will add a blinking cursor to the comment.  If the project is controlled by keyboard keys you could end up typing in the comment.

### Steps to Reproduce

Create a project
Add a second sprite
In one sprite drag a block onto the

[2018-06-20 16:41] BryceLTaylor commented on #1554
block comment focus issue: https://github.com/LLK/scratch-blocks/issues/1601

[2018-06-20 18:12] BryceLTaylor commented on #1554
This gif has many things wrong with it:
![blockcommentscroll](https://user-images.githubusercontent.com/1088291/41676444-805641be-7493-11e8-8b8f-b310463470e3.gif)

1. After resizing and switching to a different sprite and back the comment moves in relation to the block
2. When shrinking the comment it ends scrolled to the top.  After switching to another sprite and back it's scrolled to the bottom

[2018-06-20 18:36] thisandagain commented on #1595
Please complete the issue template and provide sufficient information for us to understand your issue.

[2018-06-20 18:36] #1595 closed, assigned to nobody

[2018-06-20 18:37] thisandagain opened #1602 "The arrow button on comments sometimes overlaps the comment text"
### Expected Behavior
Minimized comment descriptions should not overlap with the expand comment button.
<img width="314" alt="screenshot 2018-06-14 13 35 23" src="https://user-images.githubusercontent.com/3019167/41428407-0782231c-6fd8-11e8-9827-2e8094089ecb.png">

### Actual Behavior

Sometimes the arrow button _does_ overlap with a minimized comment's description.
<img width="322" alt="screensho

[2018-06-20 18:43] thisandagain opened #1603 "Block comments don't visually get picked up when the block is dragged"
Edit: Probably a better fit for scratch-blocks. Also, related to LLK/scratch-blocks#1554.

### Expected Behavior

Dragging a block that as an attached block comment should bring that comment to the same z-index/layer as the block; for example, dragging the block above the stage should make the comment also be above the stage.

(Looks like there's a "blocklyDragSurface" element that the comment sho

[2018-06-20 18:44] thisandagain commented on #1590
Hmm. @regcole are you getting the same error when using WSDL? That stack trace isn't very helpful so any more information would be great.

[2018-06-20 18:49] thisandagain commented on #1594
/cc @rschamp

[2018-06-20 18:55] regcole commented on #1590
@thisandagain  Yes I am getting the error with WSDL. The error can be  tested/reproduced on my machine with effective code of
[code]

[2018-06-20 18:57] thisandagain commented on #1590
@cwillisf @fsih Could you folks please attempt to repro when you have a moment?

[2018-06-20 19:14] thisandagain commented on #1601
/cc @kchadha

[2018-06-20 19:22] #1602 closed, assigned to nobody

[2018-06-21 15:47] #1528 closed, assigned to kchadha

[2018-06-21 15:47] #1529 closed, assigned to kchadha

[2018-06-21 15:48] #1532 closed, assigned to kchadha

[2018-06-21 16:53] cwillisf commented on #1590
I see this same error if I run `python build.py` from the command line. However, it works correctly if I let `npm` run it for me. Specifically, I can use `npm install` or `npm run prepublish` to build successfully.

@thisandagain do you think we should update the [instructions on the wiki](https://github.com/LLK/scratch-blocks/wiki#building) to suggest using `npm` instead of running `python build.

[2018-06-21 20:00] thisandagain commented on #1590
@cwillisf Updating the instructions in the wiki sounds like a great idea. @regcole and @rohinipatare can you please confirm that this works for you as well?

[2018-06-22 10:23] filips123 opened #1606 "Tab names are incorrectly aligned"
Moving to LLK/scratch-gui#2435.

[2018-06-22 10:29] #1606 closed, assigned to nobody

[2018-06-22 13:39] chrisgarrity opened #1608 "Automate translation updates"
### Expected Behavior

_Please describe what should happen_
When changes to the `messages.js` file merged, the `en.json` source on Transifex should be updated. Updated translations should also be downloaded to make sure that all languages include any new keys (even though they will initially be the default English)

On deploys we should download currently reviewed translations and regenerate `scra

[2018-06-23 10:28] filips123 commented on #1457
There is similar problem, but with a horizontal slider. The problem is with some translations which have longer words.

For example Slovenian translation: https://llk.github.io/scratch-gui/develop/?enable=language&locale=sl
![slika](https://user-images.githubusercontent.com/16626308/41808641-d21c4bde-76e0-11e8-9b01-1f4722848c0b.png)

[2018-06-25 16:03] #1582 closed, assigned to chrisgarrity

[2018-06-25 16:11] #1577 closed, assigned to chrisgarrity

[2018-06-25 20:39] chrisgarrity commented on #1579
@thisandagain I took the June milestone off so it can get re-triaged. I did figure out how to localize what we have currently.

[2018-06-26 18:12] carljbowman opened #1612 "Change Extensions' Block Color"
### Overview

The current "coral" color that we use for extensions was temporary and is the same color used for More Blocks. Now that Pen has become an extension, the "aqua" color is now up for grabs. We should change all extensions to use the "aqua" color.

### Mock of Some Extension Blocks
![r1 2_extension-color- aqua 2x](https://user-images.githubusercontent.com/3409578/41930642-aca16c70-7949-1

[2018-06-26 18:53] thisandagain opened #1613 "Category menu should grow to fit category labels"
In some languages (e.g. French and Greek) the category labels can be wider than the available space. Because of this, we would like to enable the category menu to automatically "grow" in width up to a certain limit before wrapping to another line. Space used for the increased width of the category menu should be subtracted from the workspace.

/cc @carljbowman

[2018-06-26 19:13] cwillisf commented on #1590
I've updated the instructions on the wiki -- basically rewriting the first half of [the "Building" section](https://github.com/LLK/scratch-blocks/wiki#building).

@thisandagain could you give that a quick eyeball?

@regcole and @rohinipatare, I believe the updated instructions will solve the issues you're seeing. Please give them a try and let us know what you see, so we can either close this issu

[2018-06-26 19:31] thisandagain commented on #1590
Looks good @cwillisf! Thanks.

[2018-06-26 19:31] #1590 closed, assigned to nobody

[2018-06-27 10:29] gunchleoc opened #1614 "Inconsistent design in "switch backdrop" and "switch costume" bloks"
For Scratch 3.0

`switch backdrop to %1` has extra elements like "next backdrop" and "previous backdrop" in its pull-down menu. `switch costume to %1` does not - this inconsistency will make the block harder to learn.

[2018-06-27 11:02] gunchleoc opened #1615 "We should remove the Google Translate block"
I just noticed the Google translate block, and it worries me. Depending on the language pair, translations can be completely wrong. So, people creating projects can end up with displaying something completely incomprehensible at best, and foul and offensive at worst.

Google Translate was created to help people understand texts in languages they don't speak, and depending on language pair, it has

[2018-06-27 17:32] thisandagain commented on #1584
@ericrosenbaum says he can help!

[2018-06-27 22:10] thisandagain commented on #1612
Moved to LLK/scratch-vm#1275

[2018-06-27 22:10] #1612 closed, assigned to thisandagain, carljbowman

[2018-06-29 13:16] apple502j opened #1616 "[Lang:JA] Some blocks have a word twice"
### Expected Behavior
The block names should be translated as we did on Transifex.
### Actual Behavior
It seems that some %(num)s are buggy.
![](https://screenshotscdn.firefoxusercontent.com/images/7fc26b26-5044-4670-be68-68677df2a0c2.png)
Like "go forward forward 1 layers"
"costume name name"
"backdrop name name"
"change pitch pitch effect by 10"
"set pitch pitch effect to 100"

### Steps to Repr

[2018-06-30 03:17] Kenny2github commented on #1616
It looks like that's just a problem with the people who translated the names. They don't realize that the input can say "costume [name v]" so they thought they were doing "costume (generic input) name".

[2018-06-30 05:29] apple502j commented on #1616
@Kenny2github I translated. I checked scratch-l10n by myself.

[2018-06-30 06:12] Kenny2github commented on #1616
Ah, yes, I see. Now it looks like the contents of dropdown menus get duplicated.

[2018-07-02 13:21] kyleplo commented on #1615
You have a point, but I think [this is already final](https://medium.com/scratchteam-blog/3-things-to-know-about-scratch-3-0-18ee2f564278#2267). Maybe a warning would help though...

[2018-07-02 15:05] lishuai199502 commented on #1590
@cwillisf could you please say what is you Operating System?i have trie npm run prepublish,and it failed,both on centos7 and win10

[2018-07-02 19:51] ericrosenbaum opened #1617 "Last extension block appears at the top of the flyout"
### Expected Behavior

The blocks should behave themselves.

### Actual Behavior

After adding two different extensions that both show the status indicator button, the last extension block shows up at the very top of the flyout:

<img width="310" alt="screen shot 2018-07-02 at 3 45 31 pm" src="https://user-images.githubusercontent.com/567844/42183404-b26f9f30-7e0f-11e8-9d7c-dc430e08e82d.png">

The

[2018-07-03 03:04] jyh129143 commented on #1590
unfortunately,your updated instructions in the wiki

doesn't work well with me,actually it will run into an error like:
![image](https://user-images.githubusercontent.com/29747808/42196509-e11acc14-7eb0-11e8-963f-fd10410cd31e.png)

[2018-07-03 18:33] chrisgarrity opened #1618 "Have two versions of 'next backdrop' for translation"
Consider splitting `next backdrop` string into two strings. One for the block, and the other for the menu dropdown.

They don't necessarily get translated the same way for all languages.

[2018-07-03 23:28] khanning opened #1619 "Rename Blockly.Categories.pen category and "colours_pen" extension"
### Overview

Now that extension block colors have been changed to the "aqua" pen color (LLK/scratch-vm#1276) the `Blockly.Categories.pen` category and `colours_pen` extension should be renamed to something like `Blockly.Categories.ext` and `colours_ext`.

### Reason

Before the color change, `Blockly.Categories.more` and `colours_more` were used since they matched the "coral" extension block colo

[2018-07-04 02:14] jyh129143 opened #1620 "npm install"
### Expected Behavior

scratch-blocks be compiled properly

### Actual Behavior
![_20180704095508](https://user-images.githubusercontent.com/29747808/42252696-6407d7b0-7f70-11e8-832c-1b2777fc6890.png)

note that the Chinese character（“命令行太长。”） in the screenshot can be interpreter into:command line(s) be too long

![image](https://user-images.githubusercontent.com/29747808/42252730-944b26ac-7f70-11

[2018-07-04 02:19] jyh129143 commented on #1620
I wonder if the log above mean a successful compiling.However,I can't run it well with scratch-gui.So I think it failed.Then what may result into the failure and how to deal with it?

[2018-07-04 02:45] jyh129143 commented on #1620
step 2 has  a mistake,the file I fixed should be build.py not buil.py

[2018-07-04 04:44] apple502j commented on #1618
Thanks, in Japanese it made a problem!
Plz fix!

[2018-07-05 07:29] jyh129143 commented on #1523
I came across the very bug mentioned above for line 595 when running "npm install".There're comments of this problem saying that adding code "shell=True"for line 595.I tried but in vain.

[2018-07-05 09:19] gunchleoc commented on #1613
Here's a screenshot, Firefox, 1366 x 768 resolution, gd locale - they don't even fit the dots at the moment.

![scratch_categories](https://user-images.githubusercontent.com/4095570/42314320-ae64ec04-803c-11e8-9ee8-bf7f40b79d7f.PNG)

An alternative solution would be to make the partition draggable.

[2018-07-05 11:41] thisandagain commented on #1613
Tracking in https://github.com/LLK/scratch-blocks/issues/1613

[2018-07-05 13:04] lishuai199502 commented on #1590
@jyh129143 me too.

[2018-07-05 13:06] lishuai199502 commented on #1620
give me five~i have the same problem

[2018-07-05 17:38] kchadha opened #1623 "Issues with comment text selection"
### Expected Behavior

Comment text should not get selected if not interacting with that comment.

### Actual Behavior

Comment text (on all comments) gets selected when resizing a comment on the workspace.

![comment-text-selection](https://user-images.githubusercontent.com/1786240/42338667-966e4be2-8058-11e8-89e7-cee65453e375.gif)

[2018-07-05 17:54] kchadha opened #1624 "Auto-Layout of block comments positions comments really far from blocks with wide stacks."
### Expected Behavior

Auto-layout of block comments (this happens when importing a 2.0 project with block comments) should position comments some fixed distance from the whole stack, so that all block comment from a single stack of blocks begin at the s x position.

### Actual Behavior

Auto-layout of block comments currently positions a comment `the width of the stack + some fixed number` away f

[2018-07-05 17:57] kchadha opened #1625 "Cannot scroll workspace if mouse is over a block comment"
### Expected Behavior

Should be able to scroll the workspace if the mouse pointer is anywhere over the block workspace.

### Actual Behavior

Cannot scroll the workspace if the mouse pointer happens to be over a block comment (this is not the case for workspace comments).

The solution involves adding a transparent rectangle over block comments the way we do with workspace comments.

[2018-07-05 18:00] kchadha opened #1626 "Comment rendering needs improvement."
### Actual Behavior

There are some outstanding issues with the way comments look:

E.g.

The small gaps between the border and the top-bar rectangle:
![image](https://user-images.githubusercontent.com/1786240/42339643-90244798-805b-11e8-8e65-73885b02eda2.png)

A part of the comment bleeds over the border:
![image](https://user-images.githubusercontent.com/1786240/42339668-a8e24f1e-805b-11e8-86cb-

[2018-07-05 18:05] kchadha opened #1627 "Block comment should get deleted when dragged over toolbox"
### Expected Behavior

Things dragged over the toolbox should display the delete cursor (hand with red x) and get deleted if dropped onto the toolbox.

### Actual Behavior

Block comments neither display the delete cursor nor get deleted when dragged over the toolbox.

Workspace comments get deleted but the delete cursor does not get displayed.

![comment-deletion](https://user-images.githubuserco

[2018-07-05 18:14] kchadha opened #1628 "Block comments have incorrect anchor points on custom procedure definition blocks."
### Expected Behavior

Block comments should be anchored to the vertical middle of the 'end' edge (e.g. right edge when in LTR, and left edge when in RTL) of a block.

### Actual Behavior

This is not the case for block comments attached to custom procedure definition blocks. See GIF below.

![proc-def-comment-anchor](https://user-images.githubusercontent.com/1786240/42340299-ab45afe2-805d-11e8-90

[2018-07-05 18:18] kchadha opened #1629 "Cannot drag block comments from middle of the comment (like you can with workspace comments)."
### Expected Behavior

Should be able to drag a comment from anywhere on the comment (except on top of an icon).

### Actual Behavior

This is true for workspace comments, but you can only drag block comments from the top bar.

The solution here is to add a transparent rectangle on top of the comment (like we do for workspace comments). This solution is also mentioned in #1625 and will work toward

[2018-07-05 18:26] kchadha opened #1630 "Comments can be resized such that parts of the comment show in negative space."
### Expected Behavior

Comments should have a minimum width and height for when they are in their maximized form.

### Actual Behavior

Can currently resize comments so that they are the same size or smaller than their minimized form, which messes up comment text area rendering:

![resizing-comments](https://user-images.githubusercontent.com/1786240/42340835-1f53f578-805f-11e8-833c-833ee6465fd5.gi

[2018-07-05 18:28] kchadha opened #1631 "Cannot edit the text of a comment on touch devices"
### Expected Behavior

Should be able to edit the text of a comment.

### Actual Behavior

Cannot edit the text of a comment on a touch device.

[2018-07-05 18:30] kchadha commented on #1554
Closing this issue as all the remaining (no checkbox) tasks are being tracked in separate issues.

[2018-07-05 18:30] #1554 closed, assigned to kchadha

[2018-07-06 04:48] rohinipatare commented on #1590
for me It executed successfully with command npm run prepublish instead of python build.py

[2018-07-06 06:40] jyh129143 commented on #1590
@rohinipatare could please relate your procedure of successfully run since git clone? And your npm/OS/python -v?

[2018-07-06 07:37] rohinipatare commented on #1590
@jyh129143 I followed all the same procedure which are in wiki, I am getting error at last step i.e during executing python file build.py. I was executing it by command **python build.py** directly which was giving error and terminatin. To build it successfully, I only use command **npm run prepublish** in place of **python build.py** inside the respective directory.
I am using
npm 5.5.1, Fedora O

[2018-07-07 11:38] lishuai199502 commented on #1590
i tried it mac os,it succeed.but failed on windows10 and centos7

[2018-07-07 13:10] kyleplo opened #1632 "Why is there no Micro:bit "button [] pressed?" block"
### Expected Behavior

There should be a "button [a/b/any] pressed?" block for micro:bit.

### Actual Behavior

There isn't one.

### Steps to Reproduce

Look at the blocks of the micro:bit extension.

### Operating System and Browser

All.

[2018-07-09 01:14] jyh129143 commented on #1590
Aha,it sounds mysterious.Could you please show me how you operated and you version of npm & python?

[2018-07-09 09:00] apple502j commented on #1632
move to VM?

[2018-07-09 12:44] chrisgarrity opened #1633 "Have separate strings for the 'next backdrop' block vs menu"
### Expected Behavior

_Please describe what should happen_
Currently there is just one `LOOKS_NEXTBACKDROP` string defined. For some languages the same translation does not make sense in both the `next backdrop` block and the `switch backdrop to <menu>`. There should be two separate strings that are both 'next backdrop' in English.

[2018-07-09 12:46] #1633 closed, assigned to chrisgarrity

[2018-07-09 12:52] thisandagain commented on #1632
Moved to LLK/scratch-vm#1308

[2018-07-09 12:52] #1632 closed, assigned to nobody

[2018-07-09 13:01] thisandagain commented on #1620
It looks like the build succeeded, but with a JSDoc warning that may have caused the build process to exit with a non-zero status code. We can take a look.

[2018-07-09 14:01] paulkaplan opened #1635 "Automate syncing with Transifex and add test"
Add a task that works for all Scratch Team developers to ensure that everything gets sync'd when a new message is added to the messages file:
* Regenerate the en.json source
* Upload the source file `en/json` to Transifex
* Translation files are downloaded from Transifex (to ensure new key is included for all languages)
* Regenerate the full scratch_msgs file with the new key.

Finally:
* Add a te

[2018-07-10 01:29] towerofnix opened #1636 "Local variables should all be sorted after global variables"
### Expected Behavior

Local variables should, in the block palette, be sorted so that they all appear (in alphanumeric order) after all the global variables.

### Actual Behavior

Local variables and global variables are sorted together.

### Steps to Reproduce

Create a global variable such as "A". Create a local variable such as "B". Create a global variable such as "C". Note that the sort orde

[2018-07-10 09:09] Woondal commented on #1590
@jyh129143 I'm getting same error too... (npm 6.1.0, Window10 x64, Python 2.7.15)

[2018-07-10 20:00] BryceLTaylor commented on #1538
I'm unable to reproduce this on the playground.  Other than some slightly odd repositioning of blocks when placing them back on the workspace.  The blocks are all still functional after undoing/redoing.  All children blocks behave as expected.

![horizontalplaygroundundo](https://user-images.githubusercontent.com/1088291/42534269-4bf5413c-845a-11e8-9113-cec1a872ff7e.gif)

[2018-07-10 20:00] #1538 closed, assigned to BryceLTaylor

[2018-07-10 21:21] ericrosenbaum opened #1638 "Flyout auto-scrolling is slow on Windows Edge"
### Expected Behavior

When you click a category button, the flyout auto-scrolling to the new category should always take less than one second (even when scrolling from e.g. the very first to the very last category).

### Actual Behavior

On Windows Edge, the auto-scrolling seems to be much slower.

### Operating System and Browser

Windows Edge (@fsih can provide version numbers)

[2018-07-11 14:41] paulkaplan commented on #1617
Fixed!

[2018-07-11 14:41] #1617 closed, assigned to ericrosenbaum

[2018-07-12 23:55] #1616 closed, assigned to chrisgarrity

[2018-07-13 00:21] towerofnix opened #1645 "List block palette is missing separators"
### Expected Behavior

There should be separators between several of the blocks in the List category: between "add to" and "delete of"; between "replace item" and "item of"; and between "list contains" and "show list". See the screenshot of 2.0 below:

![Screenshot of list category in 2.0, with the aforementioned separators](https://user-images.githubusercontent.com/9948030/42666097-5f539fd8-8619-

[2018-07-13 14:31] towerofnix commented on #1006
I'm quite confident the solution to this is to finish up this: https://github.com/rachel-fenichel/scratch-blocks/blob/d7c33b5ec10755ed9c93ba226976cb3effc15559/core/block_svg.js#L696-L697

Doing that means somehow knowing the position of the mouse before a mousemove event happens, and appropriately offsetting the block position. The problem is exactly how to know the mouse position. I don't see any

[2018-07-16 15:03] fatpandaria commented on #1590
looks like many people are stucked here,(node -v9.7.1,npm -v5.6.0,Windows 10x64,Python2.7.10),could anyone help us?
same error as: File "build.py", line 598, in <module>
    test_proc = subprocess.Popen(test_args, stdin=subprocess.PIPE, stdout=subprocess.PIPE)
Still not working although I add shell = True in line 595.

[2018-07-16 16:09] BryceLTaylor opened #1647 "Duplicating a stack causes the blocks workspace to be unresponsive"
### Expected Behavior

After duplicating a stack of blocks they should appear on the workspace and you should be able to continue to work.

### Actual Behavior

After long tapping and duplicating the blocks nothing happens on the stage.  The new blocks appear exactly above the old blocks and they can not be moved.  No other blocks can be moved in the workspace and no blocks can be dragged from the

[2018-07-17 20:25] #1618 closed, assigned to chrisgarrity

[2018-07-18 19:13] kchadha commented on #1601
Related to this (I believe) @ericrosenbaum found the following issue in a smoke test on 6/8:

[2018-07-18 19:43] kchadha opened #1653 "'Variable in use alert' closes the create/rename modal."
### Expected Behavior

Closing the alert should not close the modal, but allow the user to choose another name for the variable the user is trying to create or rename.

### Actual Behavior

![variable-alert-modal](https://user-images.githubusercontent.com/1786240/42903943-5914289a-8aa1-11e8-9cf5-4c6a41f68bca.gif)

[2018-07-20 20:57] rachel-fenichel commented on #1636
For clarity you could also include a label for each type of variable, rather than a simple separator space.  That would need to be translated, but I think it's text that's already translated.

[2018-07-20 21:42] rachel-fenichel commented on #1623
Does this also happen upstream?

[2018-07-20 22:24] rachel-fenichel commented on #1620
For what it's worth, that JSDoc warning has been there for a long time (I keep meaning to delete the annotation but not getting around to it).  If this is a new issue that's likely not the culprit.  Worth removing to clean up output, though.

[2018-07-20 23:43] rachel-fenichel commented on #1006
Yes, that's the correct place to add code to fix this.

No, there's no code that tracks the mouse position continuously.  And the event that comes from the click on the context menu is not quite a mouse event, and is missing the information we would need.

[2018-07-21 23:32] ZenithRogue opened #1658 "Custom block deformation with Magyar language"
Custom block definitions become deformed when used with the Magyar language. This deformation causes a second of text to appear below the first. This also causes the bottom right corner to no-longer be rounded. This only affects custom block definitions, not any other block type. (as I am presently aware)

Deformation illustrated below:
![deformed blocks](https://user-images.githubusercontent.com/

[2018-07-21 23:37] ZenithRogue commented on #1658
Edit: This also affects Korean, causing all text to appear below the block
![deformed blocks](https://user-images.githubusercontent.com/11393734/43040857-069722ea-8d15-11e8-9417-122cc697c165.png)

[2018-07-22 10:15] Kenny2github commented on #1658
I suspect this is because the block definition... block doesn't handle text *after* the custom block correctly, not realizing that some languages must have text after it.

[2018-07-23 01:42] jyh129143 commented on #1620
So,may I make the conclusion that I have made a successful building and The error message can be ignored somewhat?

[2018-07-23 06:40] jyh129143 commented on #1620
So,may I make the conclusion that I have made a successful building despite the error message saying that, npm ERR! scratch-blocks@0.1.0 prepublish: `python build.py && webpack`  & npm ERR! Failed at the scratch-blocks@0.1.0 prepublish script.

[2018-07-23 13:16] thisandagain commented on #1658
/cc @chrisgarrity @paulkaplan

[2018-07-23 15:13] BryceLTaylor opened #1660 "Extensions status button not clickable on Edge"
### Expected Behavior

Clicking the extension status button on the microbit extension should bring up the connection window

### Actual Behavior

It doesn't.  Nothing happens.  No errors appear in the console

### Steps to Reproduce

Add the microbit extension to a project
Connect to a microbit
Go to the project
Click the extension status button
Note: Nothing happens

### Operating System and Brow

[2018-07-23 16:50] rachel-fenichel commented on #1658
@Kenny2github that's right.  In particular, the block looks like it has two inputs in its internal representation.  The first line is a text + statement input (rendered strangely).  The next line is a dummy input.  A statement input always causes the following stuff to jump to a new line, like in all of these.
![image](https://user-images.githubusercontent.com/13686399/43090807-46afaa8e-8e5d-11e8-

[2018-07-23 17:11] towerofnix opened #1662 "Holding shift while scrolling doesn't scroll horizontally"
### Expected Behavior

Holding shift while using the scroll wheel should scroll left or right based on deltaY.

### Actual Behavior

Holding shift while scrolling doesn't change anything.

(Other browsers set deltaX instead of deltaY while shift is held, but Firefox doesn't.)

### Steps to Reproduce

Hold shift and use the scroll wheel while running Firefox. Notice that the block workspace scrolls

[2018-07-23 18:48] #1190 closed, assigned to nobody

[2018-07-23 21:43] kchadha commented on #1623
@rachel-fenichel, yes it does. I tested on the [blockly playground](https://blockly-demo.appspot.com/static/tests/playground.html)

[2018-07-24 02:19] yi-jy commented on #1040
Hi, Containing all the blocks in one flyout is a great feature. But i wonder Is there any way or variable to separate these blocks again?

[2018-07-24 03:11] jyh129143 commented on #1590
@rohinipatare @lishuai199502 does it convinient for you to share a screenshot of successful building?

[2018-07-24 17:59] #1535 closed, assigned to nobody

[2018-07-24 18:09] paulkaplan commented on #1636
See https://github.com/LLK/scratch-blocks/pull/1657 for more discussion about the labeling of variable scope, including some great demo code from @towerofnix. We'll take "help wanted" off this issue for now, since it needs some more design discussion (see end of that link for more about that)

[2018-07-24 19:04] paulkaplan opened #1663 "Dragging workspace shows blocks above the zoom controls"
### Expected Behavior

_Please describe what should happen_

Expected the blocks to remain below the workspace while click+dragging the entire workspace

### Actual Behavior

_Describe what actually happens_

![drag-indexing](https://user-images.githubusercontent.com/654102/43160290-bf092406-8f52-11e8-8419-90d573051ba1.gif)

Dragging the entire workspace seems to pop all the blocks onto a layer ab

[2018-07-24 19:30] #1447 closed, assigned to kchadha

[2018-07-24 19:30] #1574 closed, assigned to nobody

[2018-07-24 19:43] towerofnix commented on #1636
@paulkaplan Sounds good, glad to use my PR and discussion as a starting board :)

(PS, the help wanted label is still here!)

[2018-07-25 13:03] yi-jy opened #1666 "The position is not correct After the blocklyDraggable is dragged to blocklyFlyout"
### Expected Behavior

The `blocklyDraggable` can be dragged to the corresponding position with the mouse.

### Actual Behavior

When drag the `blocklyDraggable`  into `blocklyFlyout` area , The `blocklyDraggable` unable to reach the specified position. instead, it will back to the original position. And it also affects other `blocklyDraggable` position.

![03](https://user-images.githubuserconten

[2018-07-26 09:29] waterzhang0423 commented on #1620
@jyh129143 I have the exact same problem. I guess maybe `blockly_compressed_horizontal.js` and `blockly_compressed_vertical.js` were not generated correctly when run `build.py` on Windows. They would be generated automatically on macOS, see the picture below:

![wx20180726-172339](https://user-images.githubusercontent.com/4177758/43253990-eb0b7084-90f8-11e8-8790-b95bc7ceffa6.png)

So, first I buil

[2018-07-26 09:47] jyh129143 commented on #1620
@waterzhang0423 maybe your idea is right,I also made it success in mac.
@thisandagain perhaps you should pay some attention to this problem

[2018-07-26 10:45] xmeow commented on #1620
In my experience there is a command line length limit in windows, only parts of goog libs actually compressed.

[2018-07-26 14:14] darkwave commented on #1329
The same issue happens when you confirm your input by pressing ENTER key.

[2018-07-26 19:52] rachel-fenichel commented on #1623
Probably needs something like this, or need to update this in css.js to include comment text:

[code]

[2018-07-27 01:54] jyh129143 commented on #1620
@xmeow Things seems to be that

[2018-07-30 14:44] towerofnix commented on #1636
Another important point - the dropdown menu for variables would also have to be updated. And maybe it's just me, but having two relatively long, user-generated, separated lists within a dropdown seems a little unwieldy..

[2018-07-31 14:16] #1645 closed, assigned to nobody

[2018-07-31 18:29] thisandagain commented on #1660
@ericrosenbaum This feels like it should be on the critical path for August given the amount of usage we are seeing on Edge.

[2018-08-01 03:54] hecor commented on #1550
[code]

this will fix the bug in scratch-blocks.

[2018-08-02 03:19] EPDUED commented on #1523
What is the cause of this problem, other windows system computers can, my computer does not work, have this problem.

[2018-08-02 03:55] ghost commented on #1333
In the beta they added a delete all of [list v] block. Having a separate block for this seems kind of silly, but it works. Also in the preview you could insert a variable in the slot with the value of "all".

[2018-08-02 14:07] #1660 closed, assigned to ericrosenbaum

[2018-08-02 18:59] rachel-fenichel commented on #1550
@hecor Please explain how that fixes the bug--it's not obvious what adding that line does.

[2018-08-02 21:43] #1584 closed, assigned to chrisgarrity, kchadha

[2018-08-03 05:52] 0x-jerry commented on #1666
Hi, I found a hack solution, and it may be useful for temp.

Just change `Blockly.Toolbox.prototype.getWidth`  function, and it works.
[code]

[2018-08-03 15:08] ericrosenbaum commented on #1019
I finally found a repro for the situation where this causes blocks to disappear unexpectedly:

- Click and drag a block or stack on the workspace
- Switch to costume editor (vector)
- Click a shape to select it
- Press the "delete" key to delete it
- Switch back to workspace, block or stack is gone!

[2018-08-04 14:21] hecor commented on #1550
@rachel-fenichel  It seems that the error is caused by currentDragDeltaXY_ which is not initialized properly, which updateFromEvent_ does.

[2018-08-04 14:35] towerofnix opened #1671 "Dropping a block over a button in the blocks palette activates it"
### Expected Behavior

The button is not activated, since it was not clicked.

### Actual Behavior

The button is activated.

### Steps to Reproduce

Drop a block over a button in the block palette, such as "Make a Variable".

### Operating System and Browser

Firefox 62.0b14, Debian (testing).

[2018-08-06 03:07] yi-jy commented on #1666
@cwxyz007 The problem still exists!

[2018-08-06 07:22] 0x-jerry commented on #1666
@joy-yi0905 Sorry, I made a mistake, `isVisibel` should be `isVisibel_`.

[2018-08-06 12:59] kyleplo commented on #1614
I've found that the extra options make the backdrop menu very long when you have lots of backdrops. I think we should remove them and force users to learn the next backdrop block.

[2018-08-06 22:45] rachel-fenichel opened #1672 "InsertionMarkerManager:hidePreview_ may be called twice in a row"
### Expected Behavior

`hidePreview_` and `showPreview_` can never be called more than once per mouse event.

### Actual Behavior

`hidePreview_` can be called twice, which can cause problems if the function is not idempotent.

For instance, in Blockly there is a highlight on the closest connection.  That highlight is stored in `Blockly.Connection.highlightedPath_`.  Calling unhighlight once delet

[2018-08-07 01:20] apple502j commented on #1333
Not done: last is still not supported

[2018-08-07 15:36] fsih commented on #1019
@rachel-fenichel do you know if this issue is fixed? Is it something we still need to pull down from Blockly? Trying to figure out whether keyboard shortcut work in the costume/sound editors is still blocked.

[2018-08-07 17:47] rachel-fenichel commented on #1019
Not fixed, and not currently on anyone's schedule.

It's a pretty straightforward problem; I recommend resurrecting my PR for this (google/blockly#1819) and fixing up what Andrew commented on, then submitting it as a PR on Blockly.

More discussion of it on the forum [here](https://groups.google.com/d/msg/blockly/wKt3J9xJeoA/c1o6P1zXAAAJ).

[2018-08-07 19:53] rachel-fenichel commented on #1550
Okay, then the solution may be to initialize `currentDragDeltaXY_` in `doStart`.  `updateFromEvent_` is overpowered for this problem.

I would initialize it just after setting `mouseDownXY_` in `doStart`, around line 517.  Please test that and make a pull request.

[2018-08-07 20:52] fsih opened #1673 "Can't install, ENOENT: no such file or directory, utime '/mnt/c/Users/DD/Git/scratch-blocks/node_modules/.staging/..."
### Expected Behavior
npm install works on scratch-blocks

### Actual Behavior
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.2.2 (node_modules/chokidar/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.4: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})
npm WARN optional SKIPPING OPTIONAL DEPENDENCY:

[2018-08-07 20:55] fsih commented on #1673
The exact error changes every time I run install
ENOENT: no such file or directory, utime '/mnt/c/Users/DD/Git/scratch-blocks/node_modules/.staging/core-js-267d0b41/es6/function.js'
ENOENT: no such file or directory, utime '/mnt/c/Users/DD/Git/scratch-blocks/node_modules/.staging/pify-e77c4163/license'
ENOENT: no such file or directory, utime '/mnt/c/Users/DD/Git/scratch-blocks/node_modules/.stagi

[2018-08-07 21:07] fsih commented on #1673
Fixed by updating to NPM 5 or higher

[2018-08-07 21:07] #1673 closed, assigned to nobody

[2018-08-08 14:58] kchadha commented on #1671
@ericrosenbaum, I think this could be a regression that was introduced by #1667.

[2018-08-08 15:06] kchadha commented on #1060
Resolved with #1668

[2018-08-08 15:06] #1060 closed, assigned to ericrosenbaum, paulkaplan

[2018-08-08 15:12] kchadha commented on #1077
Resolved with #1668

[2018-08-08 15:12] #1077 closed, assigned to nobody

[2018-08-08 15:20] kchadha opened #1675 "Text in block dropdown menus should be right-aligned in RTL"
### Expected Behavior

Block dropdown menus in RTL should be a mirror image of how they look in LTR.

### Actual Behavior

LTR dropdown menus:

![image](https://user-images.githubusercontent.com/1786240/43846475-69bfbfa4-9afc-11e8-9347-512f6d6933b1.png)

RTL dropdown menus:

![image](https://user-images.githubusercontent.com/1786240/43846513-888354a0-9afc-11e8-8ab3-deae7984b2c4.png)

<img width="2

[2018-08-09 17:14] #1019 closed, assigned to fsih

[2018-08-10 01:37] yi-jy commented on #1666
@cwxyz007 It should be `isVisible_` , And I try it,  The problem has been solved, Thanks a lot.

But I still have a small problem that when I first time drag the `blocklyDraggable` , it will be attached to the edge. Why does this happen?

![02](https://user-images.githubusercontent.com/10655307/43934214-c027ff48-9c80-11e8-949d-83dca3e9600b.gif)

[2018-08-12 00:58] nekketsuuu opened #1679 "build.py requires Python 2.x whose EOL date is 2020"
### Expected Behavior

We can build and install scratch-blocks using Python 3.x.

### Actual Behavior

`build.py` requires to use Python 2.x. See [these lines](https://github.com/LLK/scratch-blocks/blob/f5ff6029c223f0f136afe6f9070a267841a42844/build.py#L38).

[PEP 373](https://legacy.python.org/dev/peps/pep-0373/) and <https://pythonclock.org/> says the End Of Life date of Python 2.x is January 1s

[2018-08-12 06:04] Kenny2github commented on #1679
Though Python 2.7 is not going to be maintained, it will still be available to download and use. If the current script works in Python 2, it will continue working past 2020. There is no need to update the script just because a new version is out - obviously, since the script hasn't already been updated, none of the features of the new version are required for the script to work. This is a complete

[2018-08-12 09:02] nekketsuuu commented on #1679
@Kenny2github I cannot agree with your opinion because `build.py` uses a network library around [this line](https://github.com/LLK/scratch-blocks/blob/f5ff6029c223f0f136afe6f9070a267841a42844/build.py#L399) to use Closure compiler on remote. Therefore the security assurance is needed.

Moreover, these days it's a little harder to install Python 2.x as `python` command than to install 3.x as it. Fo

[2018-08-12 14:14] nekketsuuu commented on #1620
As just a side note, my build was succeeded with no patch on Windows 10. The steps are the followings:

1. Create a working directory and move into it: `mkdir scratch-dev`, `cd scratch-dev`
2. Clone scratch-blocks: `git clone https://github.com/LLK/scratch-blocks.git`
3. Clone closure-library *on the same directory* as [Blockly's official guide of Closure](https://developers.google.com/blockly/gui

[2018-08-13 05:58] Kenny2github commented on #1679
That line only uses the Python standard library module "[httplib](https://docs.python.org/2/library/httplib.html)", which has merely been renamed to "[http.client](https://docs.python.org/3/library/http.client.html)" in Python 3. The script does not use any third-party libraries at all, and there is no difference in security levels between httplib and http.client.

Looking at that article you link

[2018-08-13 08:40] joker314 commented on #1679
@Kenny2github The point is not that Python 3 is more secure than Python 2 right now. It's that when a security vulnerability is found in the HTTP library, Python 2 might not be updated (but Python 3 will).

[2018-08-13 10:45] Kenny2github commented on #1679
@joker314 you say "when" as if it's inevitable? *If* a security vulnerability is found, only then will it be time to update the script. There's no need to update it *nownownow*.

[2018-08-13 12:20] nekketsuuu commented on #1679
@Kenny2github It's too late to update the script after a vulnerability is found. We should follow updates as much as possible in order to protect our software from *possible* attacks. For example, we should update our anti-virus software *before* a virus is found, shouldn't it?

Yes, Python 2.7's `httplib` is considered safe until 2020, but its safety is not guaranteed after Jan. 1, 2020. The offi

[2018-08-13 15:52] joker314 commented on #1679
@Kenny2github "[W]hen", specifically because all software has security vulnerabilities, it's just a matter of the wait before they are found.

What are the losses of acting? Some lost time.

Yet the losses of inaction are much greater -- and we do have an ethical responsibility to eradicate them. To say that we can retroactively patch the problem after it's been publicly announced is to forget abo

[2018-08-13 18:09] #1662 closed, assigned to nobody

[2018-08-14 07:47] Kenny2github commented on #1679
Okay, you've made your points, and I see why you're all so anxious. This issue would still best fit in Backlog, nonetheless.

[2018-08-14 16:49] rschamp opened #1680 "Can't open a comment when it contains many CJK characters"
### Expected Behavior

I can open a comment when clicking the button on the left side of the comment.

### Actual Behavior

If a comment message contains some amount of CJK characters, the characters cover the open button. So I cannot open the comment.

![I can't open a comment whose message is "あいうえお" x 10.](https://user-images.githubusercontent.com/4374702/43584007-223e39bc-969c-11e8-9974-a2aa08

[2018-08-14 21:39] jorenl commented on #1647
I have experienced behavior similar to this and to the other issue referenced using Chrome on Windows. (but can't consistently reproduce). Duplicating does, however, consistently throw errors as reported in #1550 - could that be related?

[2018-08-15 01:23] Kenny2github commented on #1680
Windows 10, Chrome 68
I found that at 11 (Chinese) characters, half of the buttons on either side of the collapsed comment are covered:
![image](https://user-images.githubusercontent.com/28599280/44126718-5d01bcca-a06c-11e8-9056-60bd641476f7.png)
So I can click on the outer half, but not the inner. At 12 characters (when the comment wraps:)
![image](https://user-images.githubusercontent.com/285992

[2018-08-15 21:21] benjiwheeler commented on #1615
I think this is a manner of perspective. I would not expect Scratch users to presume that on-the-fly programmatic translations are production text in the manner of (to reference OP's links) a glossy airport sign. It's impossible to predict all the ways Scratchers put blocks to use, but I would expect that there would be little extensive, official or offensive text used, and instead much use of sho

[2018-08-16 08:15] gunchleoc commented on #1615
Well, I am not worried about offensive texts here, although we can fully expect that to happen. For example, in Portugal, "puto" means "boy", and in Brasil it means "male prostitute". There is no way that Google Translate can handle these kind of subtleties, and neither can we expect it too, because even native speaker can fall into that particular trap.

Well, you expect wrong. Adults do it all t

[2018-08-16 10:09] AbrahamJiang opened #1681 "Say bubble disappears between two `Say [hello] for [x] seconds` blocks"
### Expected Behavior

I did a function like this:
![3 0 bugs](https://user-images.githubusercontent.com/30018394/44202373-5f341480-a17e-11e8-9e79-fb0845b92af6.gif)

These words should show one by one.

### Actual Behavior

But when those words showed, the screen flickered.

ps: I'm sorry, this .gif cannot catch "flicker", maybe you can try it yourself.

I tried it at scratch2.0, the screen did no

[2018-08-16 16:51] mrjacobbloom commented on #1681
Could be related to LLK/scratch-vm#1035

[2018-08-16 21:41] chrisgarrity opened #1683 "Text with mixed english and Hebrew is strangely formatted in RTL."
Text with placeholders is by definition a mixture of RTL and LTR characters as the placeholder must be '%1' etc.
The translation for glide is:
![screen shot 2018-08-16 at 5 36 44 pm](https://user-images.githubusercontent.com/399209/44236477-221a5300-a17b-11e8-90af-a4c292424de2.png)
`גלוש %1 שניות ל x: %2 y: %3`

But this appears as:
![screen shot 2018-08-16 at 5 37 45 pm](https://user-images.githu

[2018-08-16 21:46] chrisgarrity opened #1684 "Problems with spacing of words in Hebrew in Edge"
### Expected Behavior

_Please describe what should happen_
![screen shot 2018-08-16 at 5 43 23 pm](https://user-images.githubusercontent.com/399209/44236708-ea5fdb00-a17b-11e8-968a-14f3343fc415.png)

### Actual Behavior

_Describe what actually happens_
![image24](https://user-images.githubusercontent.com/1088291/44227820-9b0cb100-a161-11e8-95a9-6e1bd84f8a48.png)

More examples:
![image18](https:

[2018-08-16 21:59] chrisgarrity opened #1685 "true/false for boolean reporters should be translated."
### Expected Behavior

_Please describe what should happen_
Getting the output of a boolean reporter should be translated. The actual value will still be `true` or `false`, but the value shown to the user should be translated.

### Actual Behavior

_Describe what actually happens_
![screen shot 2018-08-16 at 5 55 53 pm](https://user-images.githubusercontent.com/399209/44237295-fba9e700-a17d-11e8-8

[2018-08-16 23:25] rachel-fenichel opened #1686 "scratch_block_comment_test uses blockSvg incorrectly, breaks if fixed"
The setup function creates a `Blockly.Workspace`, then creates a `Blockly.BlockSvg` on that workspace.  Mixing those two types doesn't make sense and probably doesn't test what is expected.

Changing the block to be a `Blockly.Block` instead of a `Blockly.BlockSvg` fails because the implementation of `Block.prototype.setCommentText` doesn't add the comment to the workspace's list of top coments.

[2018-08-16 23:25] rachel-fenichel commented on #1686
@kchadha

[2018-08-17 00:09] apple502j commented on #1680
Windows 7 HomePremium 64bit SP1 Firefox 61.0.2

`漢字漢字漢字漢字漢字漢` almost half
`漢字漢字漢字漢字漢字漢字` all

`いろはにほへとちるぬる` almost all
`いろはにほへとちるぬるを` all

[2018-08-17 14:46] towerofnix opened #1691 "Some custom block inputs are "invisible""
### Expected Behavior

All inputs in calls of the custom block look ordinary, i.e. white and can be typed in.

### Actual Behavior

There are a *lot* of weird issues with calls of this custom block.

Here is what they look like when you open the project:

![Screenshot of three calls of the same custom block which has three inputs; First: "behavior" is empty - Second: "behavior" and "spacing" are e

[2018-08-17 20:32] rachel-fenichel commented on #1691
Are there any errors in the console?

[2018-08-17 21:12] towerofnix commented on #1691
@rachel-fenichel No, no errors when loading the project nor when removing or putting back the "pick random" blocks.

[2018-08-20 13:56] thisandagain commented on #1671
/cc @BryceLTaylor

[2018-08-20 14:28] carljbowman commented on #459
### Sizing Spec
![r1_note-picker](https://user-images.githubusercontent.com/3409578/44346303-a4e52b80-a463-11e8-954d-ff2923ce13c2.png)

[2018-08-20 16:13] Lincoln-xzc commented on #1409
can you tell me how to solve the problem

[2018-08-20 19:31] thisandagain commented on #1681
@BryceLTaylor Can you repro?

[2018-08-20 19:41] thisandagain commented on #1691
/cc @kchadha

[2018-08-20 19:49] rachel-fenichel commented on #1684
In the past this has meant that the blocks are getting laid out/measured before they are visible, and getting bad reports on text sizing when not visible.  This has especially been a problem in Edge and IE.

[2018-08-20 21:00] BryceLTaylor commented on #1671
I'm seeing this too, but you must let up the mouse button in order to click.  You can also click on the workspace and them move the mouse over a button and let it up to activate the button.

You CAN'T put the mouse down on the category menu, then drag it over the button and let it up to click it.

[2018-08-20 23:31] kchadha opened #1694 "Revisit Behavior of Bump Neighbors"
### Expected Behavior

Blocks that are freshly placed on the workspace get bumped to avoid other blocks.

### Actual Behavior

Sometimes a new block gets bumped such that it gets placed on top of another block.

### Discussion

What is the desired behavior of bumping blocks?
See discussion in #1677 of current "weird" behavior, and the related blockly issue: google/blockly#2011

[2018-08-20 23:36] kchadha opened #1695 "RTL placement of custom procedure definitions onto workspace"
### Expected Behavior

Custom procedure blocks in RTL should be placed similarly to blocks in LTR except in the top-right corner of the visible workspace instead of the top-left corner.

### Actual Behavior

#1677 helps with this issue a bit as the first block (without scrolling the workspace) gets placed in the top-right corner of the workspace, but subsequent custom procedure blocks are placed f

[2018-08-20 23:47] kchadha commented on #1691
I haven't looked into the attached project yet, but I wonder if this issue is related to LLK/scratch-vm#1091

[2018-08-20 23:51] kchadha opened #1696 "Add Comment ID to comment DOM"
#1687 brings in changes from Blockly which expose block IDs in the block DOM for debugging. It does something similar for core/comment so that block comments have their owner block's ID. ScratchBlockComment should probably be augmented to also (or as a replacement for the block ID) have the comment's ID exposed.

See discussion here: https://github.com/LLK/scratch-blocks/pull/1687#discussion_r2112

[2018-08-20 23:52] #1334 closed, assigned to nobody

[2018-08-21 13:57] BryceLTaylor commented on #1681
@thisandagain Sure can.  I believe that the flicker in this case is the whole speech bubble disappearing at the end of each say block with a time.  I've captured a higher frame rate gif:
![sayflicker](https://user-images.githubusercontent.com/1088291/44405652-ca3b6d80-a527-11e8-9b37-191845b0a78d.gif)

Here's the project: https://scratch.mit.edu/projects/239831253/

In 2.0 the say bubble stays pres

[2018-08-21 13:59] kchadha opened #1697 "Gesture Scrolling Workspace on Windows Chrome is fast/jumpy"
Found by @carljbowman in smoketest on 08/17/18:

[2018-08-21 14:06] BryceLTaylor commented on #1681
We should probably move this issue into either VM or Render (or GUI even).

[2018-08-23 22:32] msintov commented on #1188
Our team still reproduces this problem, both on iOS 11 iPads as well as on an iOS 10 simulator, with code from tip.

[2018-08-24 15:59] chrisgarrity opened #1700 "Block comments in RTL don't have expected position"
### Expected Behavior

_Please describe what should happen_
Comment is attached just to the right of the block in LTR:
<img width="281" alt="screen shot 2018-08-24 at 11 55 43 am" src="https://user-images.githubusercontent.com/399209/44594648-d11ae800-a794-11e8-91fd-5e54b58e7634.png">

In RTL , it should appear just to the left.

### Actual Behavior
<img width="222" alt="screen shot 2018-08-24 at

[2018-08-24 17:33] chrisgarrity opened #1701 "Extension status indicator is further from the edge in RTL"
### Expected Behavior

_Please describe what should happen_
Extension status indicator should be close the left border of the toolbox in RTL languages.

### Actual Behavior

_Describe what actually happens_
<img width="305" alt="screen shot 2018-08-24 at 1 27 24 pm" src="https://user-images.githubusercontent.com/399209/44598603-8fdd0500-a7a1-11e8-898a-f6b12420beb8.png">

### Steps to Reproduce

Sw

[2018-08-25 12:06] guyhed commented on #1683
As Chris wrote, the Hebrew version is not usable as it is now. Some blocks are unreadable, while others, like operators, work wrong. I give examples below.
It seems that the style command
`.blocklyText { direction: rtl; }`
does fix it all (at least, all the mistakes I have noticed).

For example, at present  "slide to" block looks like
![screenshot from 2018-08-25 14-47-19](https://user-images.git

[2018-08-27 18:49] thisandagain commented on #1695
/cc @paulkaplan

[2018-08-28 23:22] rachel-fenichel commented on #1675
This works properly in Blockly, raising the question of what changed.  One big difference is that scratch blocks uses `.blocklyDropDownDiv` and blockly uses `.blocklyWidgetDiv`.  It looks like most of the CSS applies to both equally, but I am starting to suspect that a class got dropped somewhere.

[2018-08-29 15:32] chrisgarrity opened #1704 "Shadows not erased during dragging on Edge"
When dragging the blocks in the workspace on Edge the shadow leaves a trail until the drag ends.

In left-to-right, 3 or more blocks leave trails of the bottom edge when moving up on the screen.
In right-to-left, any number of blocks leaves a trail of the left edge when moving to the right.

[2018-08-29 19:08] BryceLTaylor commented on #1647
I've seen this on iPad as well. https://github.com/LLK/scratch-gui/issues/2995

[2018-08-29 20:23] LiFaytheGoblin opened #1705 "Comment from 2.0 project getting imported attached to the wrong block"
### Expected Behavior
Comments in 2.0 should be there in 3.0

### Actual Behavior
Sometimes they aren't
<img width="304" alt="screen shot 2018-08-29 at 4 20 45 pm" src="https://user-images.githubusercontent.com/5471273/44813351-97d4e480-aba7-11e8-988e-c7e0e7af5c56.png">
<img width="226" alt="screen shot 2018-08-29 at 4 20 36 pm" src="https://user-images.githubusercontent.com/5471273/44813356-99061

[2018-08-29 21:32] AnmAtAnm commented on #876
Pointer event have been implemented and this appears solved.

[2018-08-29 21:36] AnmAtAnm commented on #1345
This issue was filed here as an Android issue, but I want to call attention to https://github.com/google/blockly/issues/1843 filed by @paulkaplan that relates to Edge.  I didn't find a similar issue for the Edge case, which affects the current beta (tested on a Surface).

I have not been able to reproduce that bug in either Scratch or Blockly in the Chrome browser on the same Surface.

[2018-08-30 08:53] cyx2015s opened #1706 "After switching languages, the working area's scaling becomes 100%"
### Expected Behavior
![20180830_164819_20180830164945](https://user-images.githubusercontent.com/31377746/44841073-1ea3c300-ac75-11e8-9c5c-c7fdf6e74256.gif)
### Actual Behavior
![20180830_164442_20180830164704](https://user-images.githubusercontent.com/31377746/44841081-23687700-ac75-11e8-9e70-627a0268895a.gif)
### Steps to Reproduce
Do as the image
### Operating System and Browser

Win8, Chrome

[2018-08-30 08:55] cyx2015s commented on #1706
Maybe I should post it in scratch-gui?

[2018-08-30 17:46] ericrosenbaum opened #1707 "In RTL, while editing a number field, the negative sign is on the incorrect side"
### Expected Behavior

The negative sign should always appear on the correct side while typing in a number.

### Actual Behavior

In RTL, while editing a number, the negative sign incorrectly appears on the right side. Once the edit is accepted, the negative sign moves to the correct side (after https://github.com/LLK/scratch-blocks/pull/1702):

![rtl-negative-sign](https://user-images.githubuserc

[2018-08-30 17:55] chrisgarrity opened #1708 "Editing number inputs have the minus sign in the wrong place (right) in RTL mode"
### Expected Behavior
Numbers and math in general are still LTR in RTL languages (e.g. Hebrew)

Number inputs should still have the minus sign on the left.

related to https://github.com/google/blockly/issues/1802

### Actual Behavior

When the input is selected, the minus sign switches to the right.
If you type a new negative value the minus sign is on the right until you hit enter or click outsi

[2018-08-30 18:02] chrisgarrity opened #1709 "Angle picker number input has the minus sign on the wrong side (right) in RTL"
### Expected Behavior

Numbers are still LTR in RTL languages (e.g. Hebrew).
When the angle picker switches to a negative input it should still have the minus sign on the left.

Note, if you type into the angle value (instead of using the picker) the minus sign also ends up on the right when it should be on the left.

### Actual Behavior

![2018-08-30 13 59 24](https://user-images.githubuserconten

[2018-08-30 18:05] #1675 closed, assigned to chrisgarrity

[2018-09-04 15:03] TheLogFather commented on #1685
Curious to know how to carry this across to a project that checks a boolean value against the specific strings "true" or "false"...?

At the moment, <\<1=1>=[true]> is true, as is <<1=0>=[false]> (i.e. the string "true" is equivalent to boolean \<true>, and similar for string "false").

I suspect there are projects that check if some expression is false by doing <\<expr>=[false]> (rather than the

[2018-09-05 14:55] TheLogFather opened #1711 "[Cloud] [Suggestion] New block: time since [cloudvar] changed"
### Expected Behavior

Project has a way to tell it's still connected to cloud, and that changes to a cloudvar are not just local.

### Actual Behavior

Project cannot tell if a change to a cloudvar has got through to the cloud to be seen by others.

----

Read here for info on how the "time since [cloudvar v] changed" block behaves, as well as thoughts about implementation:
https://scratch.mit.ed

[2018-09-08 16:24] kyleplo commented on #1711
:+1: Also, maybe a `most recent user to update [cloudvar]`

[2018-09-10 09:30] apple502j opened #1713 "Localization for "item # of () in ()""
### Expected Behavior
All blocks localized

### Actual Behavior
item # of () in () block name is hard-coded.
(See blocks_vertical/data.js L394)

### Steps to Reproduce
See the code.

### Operating System and Browser
any

[2018-09-11 14:01] kchadha commented on #1700
This is specifically an issue for when block comments are loaded from a 2.0 project.

[2018-09-17 16:53] guyhed opened #1716 "Some default values and all image name has no laclization"
### Expected Behavior

All names and default values should be in the local language.
(In Israel many children do not know how to read English letters before the 4th grade)

### Actual Behavior

Some name and variables are not yet translated:
1. Default costume names are: costume1, costume2,..
   Same for backdrops: backdrop1...

2. All image names in the "choose image" and "choose backdrop" menus

[2018-09-17 17:07] guyhed opened #1717 "Say/think bubbles should work with RTL"
### Expected Behavior

On command
![capture](https://user-images.githubusercontent.com/1233716/45638073-b6e2da00-bab4-11e8-9ede-34e1881d1f15.PNG)
the text is expected to appear on the stage - with the question mark to the left.

### Actual Behavior
The question mark appears on the right:
![capture2](https://user-images.githubusercontent.com/1233716/45638247-51431d80-bab5-11e8-934c-74f8040ac08e.PNG

[2018-09-18 08:48] apple502j commented on #1716
The translation will be available on Transifex.

[2018-09-18 21:33] pawelmisk commented on #1590
For anyone interested I have a workaround to this problem. Simply modify build.py in a text editor and add OSError to the handled exception list. The build should now succeed using the online closure compiler.

`603:   except (**OSError**, ImportError, AssertionError):`

The puzzling thing about the build script is that it tries to execute "google-closure-compiler" in the build directory which wou

[2018-09-19 12:07] chrisgarrity commented on #1685
@thisandagain following up on the discussion, this might be an incompatible change with 2.0. In 2.0 the boolean blocks report 'true' or 'false' regardless of language. If there are projects that are using the string, they would probably break. I'm going to postpone it, and we can discuss it along with localizing numbers.

/cc @rschamp

[2018-09-19 16:19] thisandagain commented on #1685
@chrisgarrity 👍 Thanks.

[2018-09-20 09:14] BrightLin commented on #1388
Did you resolve it?

[2018-09-20 14:49] towerofnix commented on #1603
This is apparently fixed now - can't repro anymore.

[2018-09-20 15:13] #1603 closed, assigned to nobody

[2018-09-21 06:19] hecor commented on #1647
This happens on mobile devices. It's probably caused by the drag fakeEvent as we don't have mouse on mobile devices, when I comment the following line in  core/block_svg.js
`// ws.startDragWithFakeEvent(fakeEvent, newBlock);
`
the problem will disappear, and the duplicated blocks is just on top of original blocks, in order to make the duplicated blocks more obviously, I changed
`newBlock.moveBy(ol

[2018-09-21 18:08] benjiwheeler opened #1719 "When you create a new variable, the variable chosen in the variable block dropdowns should change to choose that"
### Expected Behavior

I create a new variable. I drag out the set or change block and place them in my program.

I expect these to be setting and changing my variable!

### Actual Behavior

...ugh, the dropdown has picked a different variable... whichever variable happens to come first _alphabetically_.

![var 3](https://user-images.githubusercontent.com/3431616/45898775-f8bb9b00-bda8-11e8-9f61-e

[2018-09-21 20:58] towerofnix opened #1720 ""Screenshot these blocks" feature"
This is a pretty simple idea: There should be a "Screenshot these blocks" option in the right-click (context) menu. When you click it, it'll generate an image of the blocks (with a transparent background) and download it. It would be very handy for making tutorials and resources, so you don't need to take a manual screenshot (ala shift+command+4, Print Screen) and then remove the background with s

[2018-09-24 15:49] chrisgarrity opened #1721 "Bidirectional text (e.g. Hebrew with quotes around a part), in a category name fails to load"
- Switch to Hebrew
- Try to add the translate extension, nothing happens

Alternately, If you first add the translate extension, then switch to Hebrew, the translate blocks category disappears:

![hebrew-bug](https://user-images.githubusercontent.com/567844/43096358-d920b6fa-8e86-11e8-8bd1-43afd50a9034.gif)

---
Moved from LLK/scratch-vm#1390
/cc @ericrosenbaum

Copied from @picklesrus comment
Thi

[2018-09-24 19:14] chrisgarrity commented on #1683
Fixed in https://github.com/LLK/scratch-blocks/pull/1702

[2018-09-24 19:14] #1683 closed, assigned to chrisgarrity

[2018-09-24 20:36] kchadha commented on #1705
In that particular project, it looks like the comment in question _is_ getting imported, but it's getting added to the wrong block (it's on a block in the middle of a custom procedure definition stack) on the same sprite:

Scroll far off to the workspace of the `UserScripts` sprite and you will see:
![image](https://user-images.githubusercontent.com/1786240/45977505-daa7a200-c017-11e8-9396-e90a7a7

[2018-09-24 20:57] kchadha commented on #1120
Closing as most of this was resolved by #1519, #1544, and #1575, and outstanding issues are being tracked separately.

[2018-09-24 20:57] #1120 closed, assigned to nobody

[2018-09-25 08:54] TinyChou commented on #1388
You can resolve it with require the Extensions:
[code]

[2018-09-26 15:11] #1713 closed, assigned to nobody

[2018-09-26 15:29] chrisgarrity commented on #1635
Plan to fix this by adding automated translation syncing for scratch-blocks.

[2018-09-28 20:13] chrisgarrity commented on #1684
It appears that Edge has known issues with bidirectional text: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/12133259/
This has been open for more than a year, and references a related issue that's been open for several years.

It's going to take investigation into whether there's any valid bidirectional SVG code that can render correctly on Edge.

[2018-09-29 23:34] jihuiwang opened #1723 "setHighlighted function of blocksvg does not exist"
### Actual Behavior

in the function below, the setHighlighted function does not exist
Blockly.WorkspaceSvg.prototype.highlightBlock

### Operating System and Browser

_e.g. Chrome

[2018-09-30 00:46] jihuiwang commented on #1723
i think it could be changed to setGlowBlock

[2018-10-01 17:38] picklesrus commented on #305
This is working now on a surface tablet.

[2018-10-01 17:38] #305 closed

[2018-10-01 17:44] picklesrus commented on #759
I can't test in scratch-blocks directly on a touch device at the moment, but in scratch-gui, the menu gets closed before we scroll and I vaguely remember fixing this when the snowflake activity was made.

[2018-10-01 17:44] #759 closed, assigned to nobody

[2018-10-01 19:55] carljbowman commented on #1206
We are going to move forward with exploring "Option 2".

More information included in the sketch below. Also includes some more specification on nesting blocks within input elements that render before the "notch threshold".

![r1_input-first-blocks](https://user-images.githubusercontent.com/3409578/46312233-7a25e100-c592-11e8-8f1a-0185153f65e3.png)

[2018-10-01 21:10] carljbowman opened #1724 "Explicitly Set Minimum Width for Hat Blocks"
#### Current
Hat blocks have a rather unintentional min width. We do not see this issue in english, but other languages, such as Chinese have text widths that do not extend the block past the top arc of the hat.
<img width="396" alt="screen shot 2018-10-01 at 3 44 34 pm" src="https://user-images.githubusercontent.com/3409578/46315881-9dee2480-c59c-11e8-978a-8ab06be2bf70.png">

#### Proposal
We sho

[2018-10-01 22:44] thisandagain commented on #1706
Moved to LLK/scratch-gui#3277

[2018-10-01 22:44] #1706 closed, assigned to nobody

[2018-10-02 19:57] picklesrus opened #1725 "Trouble registering custom field types via Blockly.Field.register"
Got a report that Blockly.Field.register isn't working for field types that aren't yet defined. Seems to work okay to override existing types, but not new ones.

Needs more investigation.

[2018-10-04 14:25] picklesrus commented on #1631
Workspace comments are editable, though block ones aren't.

[2018-10-05 14:31] #1562 closed, assigned to kchadha

[2018-10-05 14:31] #1700 closed, assigned to kchadha

[2018-10-05 15:27] nmanumr commented on #753
I was recently using scratch-blocks for my project and I needed a search bar for that. I did a basic implementation of search. Below is the snap attached.

![image](https://user-images.githubusercontent.com/19629102/46543118-820abb80-c8d9-11e8-8f69-4f0e9022d2c1.png)

Now I wanted to update blocks on search. Can anyone please help me??

[2018-10-06 13:09] ghost opened #1730 "won't build"
### Expected Behavior

I am trying to install as detailed here: https://github.com/LLK/scratch-blocks/wiki

I expect this to be successful

### Actual Behavior

`npm install` errors

[code]

### Steps to Reproduce

1. `git clone https://github.com/LLK/scratch-blocks.git`
2. `cd scratch-blocks`
3. `ln -s $(npm root)/google-closure-library ../closure-library`
4. `npm install`

### Operating System a

[2018-10-09 09:30] sunyton commented on #1730
same to mine ...

[2018-10-09 12:53] picklesrus commented on #1725
Moved to LLK/scratch-vm#1647

[2018-10-09 12:53] #1725 closed, assigned to picklesrus

[2018-10-09 12:55] picklesrus commented on #1725
The registration of custom fields in blocks works okay - the issue is with using custom fields through an extension in the vm.

[2018-10-09 15:30] picklesrus commented on #1345
This is probably the same as  https://github.com/LLK/scratch-gui/issues/2692, but keeping both for now since in case it is an interaction of the blocks input and gui resizing.

[2018-10-11 10:37] xys1836 commented on #1346
![screenrecording00301011at1](https://user-images.githubusercontent.com/5347269/46798096-e7542600-cd8b-11e8-86e6-2249f6ee737a.gif)

Just report another case
In the "Make a Block", this is also happened.
The text area and trash icon is move following the main window behind when not in full screen.

Macbook pro
Version 69.0.3497.100 (Official Build) (64-bit)

[2018-10-11 16:45] samelhusseini commented on #1506
I have a fix for this here: https://github.com/Microsoft/pxt-blockly/pull/125

[2018-10-11 18:05] samelhusseini commented on #1408
I've fixed this on our side. @rachel-fenichel if you like this fix, I'm happy to port over here.
https://github.com/Microsoft/pxt-blockly/pull/128

[2018-10-12 15:00] benjiwheeler opened #1733 "Add a reporter block like "[Sprite selector menu] is moving" ?"
This was requested by a high school student via @chrisgarrity.

Pros:
* concrete and intuitive for beginners to understand
* as with "When backdrop changes to [Backdrop selector menu" and "When costume changes to [Costume selector menu", it could help bridge the gap from total beginner to user of broadcast blocks
* seeing it in the blocks library might spark ideas
* could help make very quick and

[2018-10-12 19:38] thisandagain commented on #1711
Moved to LLK/scratch-gui#3358

[2018-10-12 19:38] #1711 closed, assigned to nobody

[2018-10-12 20:17] thisandagain commented on #1716
As @apple502j said, the translations are available on Transifex but simply have not been translated yet.

[2018-10-12 20:17] #1716 closed, assigned to nobody

[2018-10-12 20:18] thisandagain commented on #1717
@chrisgarrity Is this filed somewhere else as well?

[2018-10-12 20:55] guyhed commented on #1716
All available translations on transifex are already translated and reviewed.
The images and backdrops names are not available there
Please reopen.

[2018-10-12 21:02] rachel-fenichel commented on #1506
@kchadha this is a good candidate for the bug bash.

[2018-10-12 21:02] rachel-fenichel commented on #1408
@kchadha thoughts?

[2018-10-14 15:53] hhhparty opened #1734 "npm install error"
### Expected Behavior

I wish to install the scratch-blocks in my Mac pro for my boy.
Sorry for some error raised in the installation.

### Actual Behavior

When I used the command "npm install" in the directory of "scratch-blocks" which a clone from github.com recently, some error raised.

[code]

### Steps to Reproduce

git clone https://github.com/LLK/scratch-blocks.git
cd scratch-blocks
npm in

[2018-10-15 09:05] xuhow commented on #1730
solved: https://github.com/webpack/webpack/issues/8082

[2018-10-16 21:17] fsih opened #1735 "TypeError: Workspace Update Error: Cannot read property 'isConnected' of null"
I got a lot of really strange behavior and this was the error in the console

1. I loaded project #71789076 and noticed that if I mouse wheel scrolled up or down, the workspace kept moving to the right
Scrolling up and down repeatedly:
![horizontal scroll](https://user-images.githubusercontent.com/2855464/47047693-42a85e80-d166-11e8-9f2f-3870d6c0c08b.gif)
2. Also I tried to scroll all the way down

[2018-10-16 21:44] fsih commented on #1735
I can't repro on develop so maybe something is wrong with my local setup.

[2018-10-16 21:44] #1735 closed, assigned to nobody

[2018-10-18 15:21] BryceLTaylor opened #1736 "Stack Glow causes text in blocks to wiggle on Firefox"
### Expected Behavior

When a stack is glowing the text on the block stays in the same place as when it's not glowing.

### Actual Behavior

It moves to a slightly different position.  When the glow flashes on and off rapidly this makes the text wiggle.

![flashingtextfirefoxwindows](https://user-images.githubusercontent.com/1088291/47165311-b4e48480-d2c7-11e8-8896-169c1b34f16a.gif)

### Steps to

[2018-10-18 17:19] towerofnix commented on #1736
Can repro this on Linux too. I've never opened an issue but I've definitely noticed it for a very long time, so it's not a recent regression.

[2018-10-19 15:38] ZenithRogue opened #1737 "Field_variable.js missing ArgType declaration"
### Synopsis
When trying to write a simple userscript to theme Scratch 3.0, I discovered that a select few blocks were not being targeted by the script.

I noticed that `core/field_variable.js` is missing `this.addArgType('variable');`. This argument declaration is present in other `core/field_##.js`, just strangely absent here.

### What this means
If trying to target by the `data-argument-type`,

[2018-10-22 18:07] rachel-fenichel commented on #1647
As @hecor mentioned, the problem is that it's kicking off another drag immediately, which woul dnormally stick with the mouse as it moves.  There is no mouse move to track in touch, and there's no indication that you're already in a drag and will therefore ignore some following touches.

If we just want to do something different in the mouse vs touch cases, we can do that by changing the callback

[2018-10-22 18:28] rachel-fenichel commented on #1721
[Here's](https://github.com/LLK/scratch-blocks/blob/develop/core/field.js#L681-L687) the code in label fields that forces text to LTR:

[code]

Applying this fix in toolbox.js probably goes [here](https://github.com/LLK/scratch-blocks/blob/develop/core/toolbox.js#L661) or [here](https://github.com/LLK/scratch-blocks/blob/develop/core/toolbox.js#L696).

The problem has only showed up for category l

[2018-10-23 16:10] thisandagain commented on #1730
This *should* be resolved in the latest `webpack`. Can you give it another try and let us know if you continue to have problems?

[2018-10-23 16:10] #1730 closed, assigned to nobody

[2018-10-23 16:38] thisandagain commented on #1723
Please fully complete the issue template and provide sufficient information and context for us to help you.

[2018-10-23 16:38] #1723 closed, assigned to nobody

[2018-10-23 19:49] #1737 closed, assigned to nobody

[2018-10-23 20:43] #1506 closed, assigned to nobody

[2018-10-23 20:47] #1647 closed, assigned to nobody

[2018-10-23 20:55] #1408 closed, assigned to nobody

[2018-10-23 20:55] rachel-fenichel commented on #1065
Fixed by #1742

[2018-10-23 20:55] #1065 closed, assigned to nobody

[2018-10-23 20:56] #1373 closed, assigned to paulkaplan

[2018-10-23 21:02] #1345 closed, assigned to nobody

[2018-10-23 21:05] #277 closed

[2018-10-23 21:12] rachel-fenichel commented on #1220
We can probably remove these logs now.  Dragging seems to have stabilized, so now they're just noise.

[2018-10-23 22:23] BryceLTaylor opened #1745 "empty boolean input on custom procedure returns "todo""
### Expected Behavior

In a custom procedure if you call it with nothing in a boolean input it should pass in `false`

### Actual Behavior

The blank boolean input passes in 'todo'.

![customproceduretodo](https://user-images.githubusercontent.com/1088291/47394343-882dd400-d6f0-11e8-9176-0944aa75b681.gif)

### Steps to Reproduce

Build these stacks:
![screen shot 2018-10-23 at 6 22 16 pm](https://

[2018-10-24 14:31] #1745 closed, assigned to kchadha

[2018-10-24 15:29] #1550 closed, assigned to nobody

[2018-10-24 15:42] #1220 closed, assigned to nobody

[2018-10-24 19:28] #1223 closed, assigned to paulkaplan

[2018-10-24 20:47] picklesrus commented on #1534
whoops. wrong github tab. PR to fix this looks good... will merge.

[2018-10-24 20:49] #1534 closed, assigned to nobody

[2018-10-25 01:40] ZenithRogue commented on #1737
I'm happy to confirm that you can select this with css now! [example userscript](https://github.com/NitroCipher/theme3l)

[2018-10-25 20:18] #1434 closed, assigned to nobody

[2018-10-25 21:08] #1658 closed, assigned to nobody

[2018-10-26 13:38] #1635 closed, assigned to chrisgarrity

[2018-10-26 15:36] rachel-fenichel commented on #1719
That's set [here](https://github.com/LLK/scratch-blocks/blob/develop/core/data_category.js#L56) for variables and [here](https://github.com/LLK/scratch-blocks/blob/develop/core/data_category.js#L74) for lists.

One option is to have the variable map keep track of the most recently used (or most recently created?) variable of a given type, and query that from DataCategory.  It's a bit overkill, but

[2018-10-26 18:04] picklesrus commented on #1631
A few things I've learned:
Block comments and workspace comments have slightly different svg structures.  Because of that, the mouse/touch handling code acts a little differently. E.g. workspace comments actually interact with the Gesture class and bubbles, block comments, at least for focus, do not.

The simple thing to do is to make block comments set focus on mousedown events instead of on mous

[2018-10-27 20:55] Mr-Dave2 commented on #1414
This bug was mentioned again in this recent forum post: https://scratch.mit.edu/discuss/topic/319343/.

The author didn't mention Firefox but that's the only browser that I found to have an issue.  It's fairly easy to make happen but this long set of steps is the only way I could reproduce it and capture it.  It's an annoying bug because once it occurs your editor session is in a limbo.

To reprod

[2018-10-29 14:15] towerofnix opened #2063 ""Stop (other scripts in stage)" option shows as "other scripts in sprite""
### Expected Behavior

When the stage is selected, the third option of the "stop" control block should be "other scripts in stage".

### Actual Behavior

The third option is "other scripts in sprite".

### Steps to Reproduce

Click on the drop-down in the "stop" block while the stage is selected.

Note that importing a 2.0 project will correctly display "stop other scripts in stage", and function

[2018-10-29 16:02] #876 closed, assigned to nobody

[2018-10-29 20:49] picklesrus commented on #1631
I'm going to go ahead and do the simple thing for now because I learned some things and fixing them has implications I don't have time for at the moment.  Here's my brain dump:

[setTextArea](https://github.com/LLK/scratch-blocks/blob/develop/core/comment.js#L223) focus on the Comment class gets called on mouseup and is bound [here](https://github.com/LLK/scratch-blocks/blob/develop/core/comment.j

[2018-10-30 12:40] towerofnix commented on #1418
Going to pull in some comments from [my closed pull request](https://github.com/LLK/scratch-gui/pull/3102), just so they're here for convenient reference:

[*] Potential exception being if/when LLK/scratch-parser#47 is implemented - changing the type of the slot to an input rather than a field would be possible and harmless then.

The PR was closed [for technical reasons](https://github.com/LLK/sc

[2018-10-30 14:38] picklesrus commented on #1347
I can't repro this anymore. Closing!

[2018-10-30 14:38] #1347 closed, assigned to nobody

[2018-10-30 14:44] picklesrus commented on #1338
@rachel-fenichel this is still a problem on scratch-blocks.  I don't think scratch-blocks has https://github.com/google/blockly/pull/1483/files (at least there is no reference to one of the variables defined there). Is this the fix you had in mind?

[2018-10-30 20:23] rachel-fenichel commented on #1338
Looks like there were a couple related PRs there.  Here's the root issue: https://github.com/google/blockly/issues/1454

[2018-10-30 20:59] picklesrus opened #1758 "Firefox requires two clicks to focus a block comment"
### Expected Behavior

You should be able to type into the comment after clicking once. On Firefox on a mac it takes two clicks.

This is a tradeoff of fixing #1631.

Pasting the relevant history from that bug here, but #1631 actually has code links, so probably easier to read there.

setTextArea focus on the Comment class gets called on mouseup and is bound here. It is bound on mouse up due to th

[2018-10-30 21:10] picklesrus opened #1759 "Point in direction block field editor is broken on the surface."
### Expected Behavior

You should be able to edit value in the point in direction block both with the field editor and with the soft keyboard.

### Actual Behavior

The soft keyboard opening ends up closing the field editor with the circle angle picker.

This is related to #1345. The relevant fix for that (which doesn't apply to this case was:  https://github.com/LLK/scratch-blocks/commit/a5ff0e13

[2018-11-01 08:57] xys1836 opened #1762 "Comment does not work well on iOS devices. Cannot input text, and workspace is frozen when remove comment."
### Expected Behavior
Comment should work well on iOS devices.
User should be able to input text to comment text area on iOS devices.
Workspace should not be frozen when remove a comment on iOS devices.
### Actual Behavior
Comment does not work well neither on workspace nor on blocks on iOS devices.
Keyboard does not appear when touching the text area of a comment.
Comment can be removed by touchi

[2018-11-02 20:54] ErikMejerHansen opened #1764 "field_matrix does not use colors of the block containing it"
### Expected Behavior
field_matrix should follow the colors of the block containing it.

### Actual Behavior

It keeps its own greenish color:
![image](https://user-images.githubusercontent.com/620837/47933807-db184000-ded5-11e8-9bc9-20d788dc5a11.png)

I've tried to solve the issue in the PR that references this issue, but my solution feels like a hack. Because the `parentBlock` property isn't set

[2018-11-03 07:13] upupli commented on #1590
I have the same trouble,anyone solved it ?

[2018-11-03 14:24] ErikMejerHansen opened #1766 "Glow around drag handle is cut of round positions 0°, 90°, 180° and 270°"
### Expected Behavior

There should be room for the drag handle all the way round the gauge in field_angle

### Actual Behavior

Glow around drag handle is cut of round positions 0°, 90°, 180° and 270°
![image](https://user-images.githubusercontent.com/620837/47953267-b080c280-df7b-11e8-8677-938d3163a5a7.png)

### Steps to Reproduce

Open the the field_angle editor.

### Operating System and Brows

[2018-11-05 14:28] paulkaplan opened #1768 "Block drag outside not firing when below the toolbox"
### Expected Behavior

_Please describe what should happen_

The "drag outside" event should fire when the dragged block leaves the blocks area, including **below the toolbox**.

### Actual Behavior

_Describe what actually happens_

Dragging over the toolbox and down off the workspace, specifically for dragging into the backpack, does not fire the drag outside event.

### Steps to Reproduce

_Exp

[2018-11-05 18:36] rachel-fenichel commented on #1768
Sounds like you've found all of the relevant code.  Blockly makes the delete area extend up and down to make it easier for users to find, but in this context it's the wrong behaviour.  Changing the delete area for the toolbox/flyout will work fine.

Note that the delete area also extends pretty far to the left of the actual flyout and toolbox.  If you're putting the workspace in a context with mor

[2018-11-05 19:42] #1768 closed, assigned to nobody

[2018-11-06 02:17] sunyton commented on #1673
delete package-lock.json ,and npm i again

[2018-11-06 15:03] #1766 closed, assigned to nobody

[2018-11-06 15:42] picklesrus commented on #1764
I took a look at #1764 and see what you mean :-/ . We aggressively call updateMatrix_ in places where I didn't think we would need to. I tried removing them and, sure enough, we do not render things quite right... I'm going to ask @ericrosenbaum if he has any thoughts since (I think) he implemented this field.

[2018-11-06 16:21] picklesrus commented on #1764
Ahah. I think I understand - we do want to update the view in many of these cases (i.e. call updateMatrix_) but not every time we update the model (i.e. call setValue).  setValue will get called when the block is being constructed from XML and not everything needed to update the view will exist by then.

This seems to work for me: https://github.com/picklesrus/scratch-blocks/commit/b91fcfc642f514e

[2018-11-06 19:09] ErikMejerHansen commented on #1764
Way more elegant!
Looks like a call to `setShadowColour` is needed somewhere to give the shadow block (is that the correct term?) the correct color.
![image](https://user-images.githubusercontent.com/620837/48087267-28125400-e1ff-11e8-9c75-c2ca8f2b4cfc.png)

Or is that supposed to happen by some other means?

[2018-11-07 14:19] picklesrus commented on #1764
Interesting - I did that part by putting the field inside a different shadow. In other words, I defined a new "matrix" block and set the colors differently... But maybe that doesn't work when constructing this through an extension?

[2018-11-07 14:32] ErikMejerHansen commented on #1764
Yeah, looks like you don't need that call if you do something like:
[code]

But if you do something like:
[code]
it does seem like you need it (I should not be using `_registerInternalExtension`).

For dropdown menus I think the `vm` takes care of it in `runtime._buildMenuForScratchBlocks` colors are set from the `catagoryInfo` object.

[2018-11-07 15:42] #459 closed, assigned to ericrosenbaum

[2018-11-07 16:01] picklesrus opened #1771 "Some fields have dispose_ method but it probably should be dispose"
While making the note picker field @ericrosenbaum noticed that dispose_ on that field was not being called. In most fields, including the super class, it is called dispose instead.
We've made this error in a few places:
field_angle
field_matrix
field_note

I also noticed this upstream in field_angle. @rachel-fenichel : is this just a typo/bug or am I missing something?

[2018-11-07 22:03] picklesrus commented on #1764
That makes sense.  Yes, I think you're right about the vm during the conversion to scratch blocks.  I *think* we're going to need something similar to the menu building code you referenced for shadows in extensions.  I'm curious to get @cwillisf 's opinion on this though.

@cwillisf:  When making extension blocks that have shadows, (e.g. the shadow that contains the matrix field for the microbit e

[2018-11-08 01:20] xuanduc987 opened #1773 "Support pinch-to-zoom on touch devices"
### Expected Behavior

Using pinch-to-zoom gesture on mobiles should zoom workspace

### Actual Behavior

Pinch-to-zoom gesture is not supported

### Related issues/Pr in blockly:
google/blockly#295
google/blockly#1536
google/blockly#1737

In my fork  I had cherry committed the following commits and it seems to work ok:
google/blockly@4b064da8e87101cb6ab1898eb7dc0525ff87d67b
google/blockly@d45170b

[2018-11-08 01:55] zptmxj commented on #1590
me too.

[2018-11-08 19:34] chrisgarrity opened #1776 "Deleting a hat block incorrectly implies deleting a single block"
### Expected Behavior
When you right click on a block and you select the option `Delete block`, it should delete one block.

### Actual Behavior
![delete](https://user-images.githubusercontent.com/399209/48222399-860b7c80-e362-11e8-9a54-e85660baa099.gif)

Right clicking on a hat block uses the message `Delete block` but it deletes the whole stack. Either the message should indicate that more block

[2018-11-09 03:59] towerofnix commented on #1776
Presumably, the blocks that come "after" a hat block are really children of that hat block, and so are deleted by this chunk of the code: https://github.com/LLK/scratch-blocks/blob/b63e5c62d3c3b88ddde3df1d4062a5432b5a116c/core/block.js#L287-L290

Probably a special-case for hat blocks would be the most practical here; I think it at would take less work than rewriting hat blocks so that blocks are

[2018-11-09 17:03] rachel-fenichel commented on #1776
The special case should be here: https://github.com/LLK/scratch-blocks/blob/develop/core/contextmenu.js#L220

[2018-11-09 17:34] towerofnix commented on #1776
@rachel-fenichel I think your "special case should be here" describes changing the number of blocks in the context menu option, whereas mine is (maybe not very clearly) about deleting just the hat block instead of its children. IMO mine makes more sense, because users will intuitively expect that "that option" = "delete just this block", from having used it on plenty of not-hat blocks.

[2018-11-09 18:21] rachel-fenichel commented on #1776
Good point--where the special case goes will depend on which behaviour they pick.

[2018-11-09 18:37] chrisgarrity commented on #1776
I checked and the current behavior (delete the whole stack) is consistent with Scratch 2.0. So the fix is probably to change the message so that it conveys that it will delete the number of blocks in the stack. (In 2.0 it just says 'delete').

[2018-11-09 18:39] towerofnix commented on #1776
@chrisgarrity you're right, but this is a case where we can make a change so that the menu option is more intuitive and useful in Scratch 3.0. Anyway, you aren't *exactly* right, because in fact the delete right-click option, in 2.0, deletes following blocks from *any* block; for example right-click deleting "move 10 steps" in "move 10 steps, turn 15 degrees" will delete *both* blocks, whereas in

[2018-11-09 18:54] marycps commented on #1032
Completely agree. Scratch 3.0 version has poor contrast between the block background colors and the white Text.

If you use WebAim's color contrast checker at https://webaim.org/resources/contrastchecker
to check the contrast level between the mustard yellow Events blocks with the white text, for instance,
they fail the Level AA and Level AAA Accessibility checks.

[2018-11-09 20:10] #1523 closed, assigned to rschamp, rachel-fenichel

[2018-11-09 22:01] ZenithRogue commented on #1561
I have fixed several of these issues myself. (See #1737 and #1509) Please open issues in the theme3 repo, as some of these are my fault, not on part of the Scratch team

[2018-11-09 23:25] joker314 commented on #1776
My understanding is that "delete" in the context menu is designed so that you don't have to perform a three step process to delete a single block:

1. Drag out tail of the script
2. Drag out the block you want to delete
3. Return the tail of the script to the head thereof

With a hat block, you can just drag the entire script into the trash if that's what you want to do. If you, however, want to s

[2018-11-10 10:43] Kenny2github commented on #1492
The best solution, in my opinion, (used by the Wiki) is to use webfonts, either from Google or from a file. That way it's guaranteed that every computer has the font, since they download it, and any fallbacks are only used while the font isn't loaded.

[2018-11-10 15:09] MaggieLu opened #1778 "Check boxes don't work after autoclosing"
### Expected Behavior
After autoclosing the vertical flyout, check boxes in it should be clickable.

### Actual Behavior
Check boxes are unclickable after auto closing ~
![animation](https://user-images.githubusercontent.com/10663057/48302821-8f504100-e53c-11e8-9220-7230ac02e49a.gif)

### Steps to Reproduce
1.  In flyout_vertical.js: set ```Blockly.VerticalFlyout.prototype.autoClose``` set to be t

[2018-11-10 23:04] towerofnix opened #1779 "Text can be typed into the "direction" block input"
### Expected Behavior

You can't type text into the "direction" input.

### Actual Behavior

You can type any text into the direction input (i.e. in "point in direction"). The input will display with a red background and reset to the previous value if you press enter or de-focus the input.

### Steps to Reproduce

Drag out a block with a direction input, i.e. "point in direction", and type a non-d

[2018-11-10 23:17] joker314 commented on #1301
Blockly supports validators for numeric inputs. Presumably the 'e' could be added here:

https://github.com/LLK/scratch-blocks/blob/1465a9efe29a18b1983818bced02e39b1ab39e1f/core/field_number.js#L128-L139

[2018-11-10 23:18] towerofnix commented on #1301
@joker314 Yup, actually I just ninja'd you to making that change on my local clone. It seems to work; just testing in scratch-gui now :P (Update: It does. PR incoming.)

[2018-11-12 02:51] Yezzle commented on #1778
You can just close it... I also meet the same problem,can someone give me some suggestions
[code]

[2018-11-13 14:49] #1186 closed, assigned to rachel-fenichel

[2018-11-14 01:55] ericrosenbaum opened #1783 "On Android, number picker makes the note picker appear half-width"
### Expected Behavior

The note picker field should always be the same size.

### Actual Behavior

On Android, sometimes it appears cut off, at only half the correct width. It seems to happen after you've used the number picker, i.e. to set the number of beats on the same block.

![image16](https://user-images.githubusercontent.com/1088291/48427278-672c3200-e736-11e8-82bd-0d3053d7492e.png)

Report

[2018-11-14 02:53] samelhusseini commented on #1783
The issue here is that some field editors set the width on the dropdown's contentDiv but never clear it.
I've fixed this on our side recently by clearing the dropdown div's content width when the dropdown is hidden.

See: https://github.com/Microsoft/pxt-blockly/pull/171

[2018-11-14 16:34] ericrosenbaum opened #1784 "On Mac Safari, note picker drop shadow is black"
### Expected Behavior

The drop shadow at the top of the piano keys in the note picker should be a pleasing translucent gray.

### Actual Behavior

On Mac Safari, the drop shadow is black:

![screen shot 2018-11-14 at 11 30 30 am](https://user-images.githubusercontent.com/567844/48496919-12a1b900-e801-11e8-90ff-dd0791f4e78a.png)

### Operating System and Browser

Mac OS 10.13.6 Safari 12.0.1

[2018-11-14 19:17] #1301 closed, assigned to nobody

[2018-11-15 14:23] chrisgarrity commented on #1579
Note: the stop block has to be handled specially because it changes shape depending on which option is selected. `stop all` cannot have any blocks connected below it. We should probably revisit this issue when control blocks are converted to an extension.

[2018-11-16 04:00] kchadha opened #1788 "Scrolling workspace with minimized block comments causes bouncing behavior"
Scrolling the block workspace with the trackpad in RTL on MacOS Firefox causes odd “bouncing” behavior (test project 230672117)

Reported by @thisandagain in bug hunt on 10/12/18

[2018-11-16 04:08] kchadha opened #1789 "Minimized comment text displays off the side of the comment in RTL"
@paulkaplan notes in a bug hunt on 10/12/18

![image1](https://user-images.githubusercontent.com/1088291/46960570-d72e9600-d06c-11e8-93a7-a68d6430b2b1.png)

[2018-11-16 14:58] towerofnix commented on #2063
The recent changes in LLK/scratch-gui#3695 can probably be used as a base for fixing this.

[2018-11-23 21:05] kyleplo commented on #772
Can be closed

[2018-11-26 08:35] BrightLin commented on #1261
Same trouble!   Maybe "field_dropdown" cannot use number-only.  I found the phenomenon.

[2018-11-26 12:32] TongDaDa opened #1792 "Throw Error when switching to the uncompress mode."
### Expected Behavior
I need to switch to uncompressed mode because I want to modify the internal codes, I switched the entry file to uncompress under the `blockly_compressed_vertical` file. The code is as follows

[code]

I want to load the blockly_uncompressed_vertical, no compress.

_Please describe what should happen_
No Errors;

### Actual Behavior

Ok,  Just happened many matters, When My fi

[2018-11-27 12:01] lasiaz opened #1793 "open sounds config will show an error in console"
### Expected Behavior

no error

### Actual Behavior
in console show an error, Uncaught (in promise) DOMException: play() failed because the user didn't interact with the document first.

### Steps to Reproduce
1. change blocks config in scratch-gui, {sounds:true}
2. open scratch-gui/index.html

### Operating System and Browser
Mac OS 10.13.6 chrome 70.0.3538.102

[2018-11-28 10:10] ParkerSu opened #1794 "workspaceto"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-11-28 16:30] thisandagain commented on #1762
Thanks for reporting @xys1836. We are in the middle of redoing comments on project pages for the release of 3.0 which address many of these issues.

[2018-11-28 17:41] thisandagain commented on #1776
Thanks @joker314. Agreed!

/cc @carljbowman @kathymakes

[2018-11-28 17:51] thisandagain commented on #1778
@MaggieLu We currently do not support auto-closing the flyout. That said, if you'd like to submit a patch we would be more than happy to take a look and consider landing it.

[2018-11-28 17:51] #1778 closed, assigned to nobody

[2018-11-28 18:20] #1794 closed, assigned to nobody

[2018-11-28 18:53] thisandagain commented on #1792
@rschamp @picklesrus Any thoughts here?

[2018-11-28 19:23] rschamp commented on #1792
I don't think it's possible to use the uncompressed version this way. The webpack process requires the compressed version to be able to package everything into a single file.  The uncompressed version includes import statements that require closure-library, and that necessitates a directory structure with closure-library located "one directory above", which isn't really feasible in the way the GUI

[2018-11-28 19:23] #1792 closed, assigned to nobody

[2018-11-28 19:31] picklesrus commented on #1792
Agreed with @rschamp.  I have wanted to, temporarily, get uncompressed blocks from gui for debugging purposes.  IIRC, I hacked the block's build.py file to add  `("debug",` "true") somewhere around here: https://github.com/LLK/scratch-blocks/blob/develop/build.py#L347 but that was really just to understand my misuse of the blocks inside gui.

[2018-11-28 20:25] picklesrus opened #1795 "Size of insertion marker C block with wide contents"
Custom block insertion marker appears to be the wrong width, when you attach a C-block containing a long command block onto a custom block definition hat (the c-block shaped marker takes the width of the longest contained block, instead of the width of the actual c-block):

![insertionmarker](https://user-images.githubusercontent.com/15675877/49180104-c89cf500-f321-11e8-9243-ab9e5b2ef742.png)

Fro

[2018-11-29 06:43] TongDaDa commented on #1792
Thanks everyone's attation.

@picklesrus But, how to solve this error when import the ucompressed file?

[2018-11-29 18:40] towerofnix opened #1796 "Comment "resize" handles are small and difficult to grab"
### Expected Behavior

The resize handle in the bottom right-edge ("southeast") of comments should be relatively large easy to grab.

### Actual Behavior

Resize handles are small and difficult to grab. See the icon in the bottom-right corner of the comment? It's as tiny as it looks:

![An empty comment attached to a block (provided for scale); in the bottom right, the resize handle icon, only a f

[2018-11-29 19:36] thisandagain commented on #1796
/cc @carljbowman @kathymakes

[2018-11-29 21:23] cwillisf commented on #1764
@picklesrus I think it would make sense to generate the shadows in the VM. The main obstacle is that I'm not sure how to do that correctly ;)

In general I think it makes sense for the VM (and in particular the extension manager) to be as authoritative as possible when it builds block JSON and XML -- I think that approach will decrease the chances that someone will need to troubleshoot in multiple

[2018-11-29 21:27] ZenithRogue opened #1797 "([sensing] of [object]) missing category label"
```"category": Blockly.Categories.sensing,``` is missing from ```([sensing] of [object])``` preventing theming via css

[2018-11-30 01:25] Alzter commented on #1492
My font shows up as standard Heveltica and it's barely legible because of how thin it is. You should make the font bold like in Scratch 2.0, make it bigger to fill the block more (you have all this padding space but half of it isn't used), and perhaps make the text have a shadow or an outline. I agree with Kenny, we should use Google Webfonts.

[2018-11-30 01:26] Alzter commented on #1492
Also it would help if the block colours were darker, or more saturated. I made a suggestion here at [#3914](https://github.com/LLK/scratch-gui/issues/3914)

[2018-11-30 02:54] Kenny2github commented on #1492
A shadow would work too, come to think of it, you're right.

[2018-11-30 02:57] towerofnix opened #1800 "Allow custom blocks to be shaped like C blocks ("if", "repeat", etc)"
(This is a feature request. To my surprise, I couldn't find an issue for this created yet! But maybe I missed one.)

Scratch custom blocks have always been a powerful way of simplifying code. They reduce the amount of duplicate code in a sprite by allowing you to reuse a procedure; text/number and boolean inputs complement this by letting you give specific values to the blocks in the procedure. Th

[2018-11-30 03:27] towerofnix commented on #1800
PPS, here are some example use cases.

Reusing the custom block we defined above to increment every item in a list:

![use numbers from (1) to (length of (my list)): replace item (Number) of (my list) with ((item (Number) of (my list)) + 1)](https://user-images.githubusercontent.com/9948030/49265911-6ed42200-f42a-11e8-8d23-0156041cb608.png)

Repeating until a given number of seconds passes on the

[2018-11-30 04:00] joker314 commented on #1800
Alternative design (potentially harder to grasp, but more powerful): make the script a type of input, rather than a binary checkbox. The script inputs could be named -- like numeric and string inputs already can be, and the position of the argument wouldn't have to be at the end. This would allow the creation of E-blocks and so on. Example:

![If a script takes more than a set amount of time to ru

[2018-11-30 04:11] towerofnix commented on #1800
@joker314 I did think about E-shape blocks (etc) while writing this suggestion, but I decided not to include them because they "raise the floor" a lot (so, high-floor instead of low-floor).

PS, neat sketchup. I was thinking of a different syntax though. I don't think your screenshot is very intuitive; instead, I suggest something like this:

![define "while <condition> { stack } "](https://user-i

[2018-11-30 20:14] mrjacobbloom commented on #1800
It'd be awesome if extensions could extend the custom block interface, so callbacks and custom reporters could be opted into by advanced users without adding potentially confusing new features for everyone else, and so (depending on the extension approval/import process or whatever) power-users could just write the extension to add these kinds of advanced features as they need them

[2018-11-30 22:25] Alzter commented on #1492
It'd also help if the text was bold like 2.0

[2018-12-02 04:43] Kenny2github commented on #1800
I think the most major use case would be:
![image](https://user-images.githubusercontent.com/28599280/49335783-71ec2f80-f62f-11e8-85cf-4b32df44e9c6.png)
If this were to be implemented, that definition would appear in every project with any frame complexity.

[2018-12-02 04:45] towerofnix commented on #1800
@Kenny2github I wouldn't say that would be the most *exciting* new use of it (since you could more or less just use a separate custom block for each "run without screen refresh" thing), but it would for sure be helpful, yeah! Thanks for the example.

[2018-12-03 15:41] ZenithRogue opened #1802 "Consider changing For Each block"
While it has long been considered an obsolete block, the For Each block is still included in 3.0, and would still be very useful. I propose that we change the visual syntax of the block, as to not confuse scratchers are unfamiliar with it (should it be used in a project)

**Before:**
[code]
**After:**
[code]

[2018-12-03 16:08] towerofnix commented on #1802
Here is kchadha's official word on changes to the "for each" block: https://github.com/LLK/scratch-vm/pull/963#issuecomment-375442701

But for the sake of discussion here, we'll assume that it's okay to change up the block.

---

What are your ideas of how it could still be useful? The current behavior of the for-each block is extremely easy to work around:

[code]

And in my opinion this is still

[2018-12-03 16:21] ZenithRogue commented on #1802
The For block is quick and easy for shorthand coding, though I personally use the standard repeat function you show above due to accessibility.  I mostly think this change would make it easier for scratchers to understand what the block does, in the event that someone uses it in their code.

[2018-12-03 22:27] thisandagain commented on #1800
Thanks for filing (and the great overview) @towerofnix! I'm actually surprised this hadn't been filed yet. 😂

[2018-12-04 14:27] #1797 closed, assigned to nobody

[2018-12-04 20:33] #1428 closed, assigned to nobody

[2018-12-06 07:58] jie1995 commented on #1620
I  haven't solved the problem. qwq

[2018-12-06 13:05] MisinformedDNA opened #1805 "Create a custom block with the sprite list as an input"
I'd like to create a custom block that accepts a "sprite list" as an input. For instance, I'd like to create a block that is "move towards [sprite]" similar to how "point towards [sprite]" or "go to [sprite]" work. As far as I can tell, custom blocks only allow for string, number or boolean inputs. Am I missing something, or can this be added as a feature request?

[2018-12-07 04:58] BrightLin opened #1808 "FieldColourSlider: error when brightness from zero to other value"
### Expected Behavior

Block's color field slider can work well.

### Actual Behavior

Color field get unexpect color when brightness from 0 to other value.

### Steps to Reproduce

See the gif:
![slide color](https://user-images.githubusercontent.com/15828392/49628339-8d37b000-fa1e-11e8-9090-6acc122dc90a.gif)

### Operating System and Browser

Win10 x64, Google Chrome 70.0.3538.110

[2018-12-07 20:34] thisandagain commented on #1808
Please don't create duplicate issues. Tracking in https://github.com/LLK/scratch-gui/issues/3985

[2018-12-07 20:34] #1808 closed, assigned to nobody

[2018-12-10 20:17] epicfaace commented on #1793
This is caused by a Blockly problem, https://github.com/google/blockly/issues/1902

[2018-12-11 13:27] lawsie commented on #1335
To add to this, it is actually now very difficult to add anything to the end of a list.
(Edit: I was actually wrong but it's still quite unintuitive for beginners).

![example2](https://user-images.githubusercontent.com/5183697/49803952-3f39e980-fd49-11e8-8ca4-de08f65980da.png)

This has caused us an issue with one of the Raspberry Pi Scratch projects.

[2018-12-11 18:35] towerofnix commented on #1335
@lawsie I'm a little confused, why not just use the block "add (Test) to (Example list)"?

[2018-12-11 19:25] lawsie commented on #1335
Haha @towerofnix that would certainly work - that's me over complicating it! Still, you'd need to use that syntax to find the item at the end of the list now, unless I'm mistaken?

![end of list](https://user-images.githubusercontent.com/5183697/49824630-7248a100-fd7a-11e8-9990-8ce26ea94726.png)

[2018-12-11 20:41] towerofnix commented on #1335
Yeah, @lawsie, that's right. It's the same for "random" as well, i.e. item (pick random (1) to (length of (list)) of (list). (And you have to use that same "pick random" for any of the other list blocks too. Likewise, you have to do "delete (length of (example list)) of (example list)" to remove the last item from the list.)

[2018-12-11 20:43] towerofnix commented on #1776
Not too sure, but this may be a duplicate of #245. https://github.com/LLK/scratch-blocks/issues/245#issuecomment-376341121 describes a potential way to look into fixing this. **More importantly,** the new PR #1814 probably fixes this issue too.

[2018-12-11 20:45] lawsie commented on #1335
Right. Well even though my previous example was invalid, that's still not as easy as (item (last v) of [list v]) for a child to understand, so I'm hoping that last and random will be re-added. :)

[2018-12-11 20:49] joker314 commented on #1335
Just to note that this is _not_ an urgent compatibility issue because the VM understands what "last" and "random" mean, it's just the user interface won't let you type it in for new projects. (You can see this by using a 'join' block to enter random/last)

Still would be awesome, especially since 2.0 had it, and I agree with @lawsie 's point that it isn't intuitive.

[2018-12-11 20:54] lawsie commented on #1335
Thanks, and yes, where our (Raspberry Pi) projects use lists we have been able to successfully change the syntax to something that works for release day, but if last/random get re-added we will definitely change it back for clarity/pedagogy reasons.

[2018-12-12 14:36] #1783 closed, assigned to ericrosenbaum

[2018-12-13 20:13] chrisgarrity opened #1820 "scratch-blocks localization automation"
Create script to be run by travis-cron.

The script should:
- update translations from transifex
- commit changes and push to a branch on scratch-blocks
- create a pr from the branch to master

Blocks translation updates are more difficult than the others.

[2018-12-13 21:02] epicfaace commented on #1707
This seems to have been fixed? I can't replicate it.

[2018-12-14 08:15] apple502j commented on #1579
How about making a sandwich?
`(translation string 1) (option) (translation string 2)`
In English, 1 is `stop` and 2 is null.
In Japanese, 1 is null and 2 is `を止める`.

[2018-12-14 12:27] TheLogFather commented on #1802
I can't say I like the syntax in either case. The former is only there because that's more like other programming languages (which doesn't necessarily mean it's 'good', of course...)

I think a more natural way to say it might be something like: "count to (number) using [var]"
The fact it's a C-block should hopefully make it clear that it's a loop.

A variation that provides a little extra flexibi

[2018-12-14 15:52] towerofnix commented on #1802
So would the "loop" indicator at the bottom of the C-block:

![The bottom of a generic loop C-block, showing the "loop" indicator, a curvy arrow pointing back towards the top of the loop C-block](https://user-images.githubusercontent.com/9948030/50013054-8537bd00-ff96-11e8-8187-86c5c63cd99d.png)

Aside: This is somewhat related to #1800 (if that were implemented, users could create their own "coun

[2018-12-14 16:04] ZenithRogue commented on #1802
@TheLogFather's definitely seems the simplest
![scratchblocks](https://user-images.githubusercontent.com/11393734/50014722-5582b800-ff8a-11e8-8e6c-158257d01242.png)

[2018-12-14 17:00] towerofnix commented on #1800
I wanted to bring up an important topic to consider when thinking about custom C-blocks - particularly ones which manipulate variables.

Imagine you have created a simple "count up to (N)" custom C-block using the following script:

![define "count up to (N) (script)": set counter to 1; repeat N: (the script block), change counter by 1](https://user-images.githubusercontent.com/9948030/50013427-77

[2018-12-14 17:22] joker314 commented on #1800
Is 'counter' available in the variable drop-down menu of the 'set variable' block even if that block is not inside of the C-block yet? If not, it might make the output variables less intuitive (some users may look through the drop-down menu of the 'set variable' block in the palette before dragging it out)? But if yes, then it's easy to make a mistake and set a variable not in your 'scope' (would

[2018-12-15 02:34] towerofnix opened #1822 "Blocks in "Echo of the Light - prototype" do not show up"
### Expected Behavior

The blocks show up (when you have the "Pen Text Engine" sprite selected), looking something like this:

![The scripting area in 2.0, showing a myriad of complex, lengthy scripts](https://user-images.githubusercontent.com/9948030/50038055-bee8e200-ffef-11e8-8d2e-7ede3ffbff16.png)

### Actual Behavior

The blocks don't show up at all! Note that the the scripts *run*, though -

[2018-12-15 02:40] towerofnix commented on #1822
This might be related to #1380, since it's the same error in the console ("XML Parsing Error: not well-formed"). I didn't see any obviously hacked or suspicious blocks when checking each script in 2.0, though (and definitely no "key () pressed?" with a weird input value), so I don't think it's exactly the same thing.

[2018-12-15 05:47] towerofnix commented on #1822
From investigation by @Mr-Dave2, it looks like this might be a case of LLK/scratch-vm#1077: https://github.com/LLK/scratch-vm/issues/1077#issuecomment-447148921

[2018-12-16 23:15] epicfaace commented on #1708
It seems like `&#8234;` and `&#8236;` are being inserted around the characters when the text is saved, rather than using the `direction="rtl"` attribute, which causes the text to not display properly in RTL mode.

[2018-12-17 13:34] thisandagain commented on #1822
/cc @ktbee @kchadha

[2018-12-17 14:17] epicfaace opened #1824 "Comments not deleted/undeleted on keyboard shortcuts"
### Expected Behavior

- When I click on a block comment, and then press the "delete" key, it should delete the comment. Then pressing Ctrl+Z should undelete it.
- When I click on a workspace comment, and then press the "delete" key, it should delete the comment. Then pressing Ctrl+Z should undelete it.

### Actual Behavior

- When I click on a block comment, and then press the "delete" key, it de

[2018-12-17 14:41] chrisgarrity opened #1825 "Default text in sensing and operator blocks always loads in English"
### Expected Behavior

When the editor loads in a different language (e.g. due to browser language setting), the default text on the `ask` and text operator blocks should be translated.

### Actual Behavior

The default text is in English. Here's an example with the editor loading in Spanish:
![screen shot 2018-12-17 at 9 33 31 am](https://user-images.githubusercontent.com/399209/50093625-39c41f80

[2018-12-17 14:54] epicfaace commented on #1006
@rachel-fenichel What's wrong with using the event from the click on the context menu? I implemented using that in the PR above and the duplicate behavior seems to be working smoothly now.

[2018-12-17 18:24] rachel-fenichel commented on #1006
@epicfaace I think it still will be a little bit off if there's a big difference between mouse position when opening the context menu and mouse position when clicking on the context menu item (like if you click all the way on the right side of the "duplicate" option).

That said, I think your solution will almost always feel better than what's currently implemented, and reduces the mismatch betwee

[2018-12-17 19:58] epicfaace commented on #1793
The fix was added in Blockly (https://github.com/google/blockly/pull/2162) - so it should be fixed once the latest version is merged in.

[2018-12-17 20:37] epicfaace opened #1829 "Degree sign not showing in "point in direction" block"
### Expected Behavior

"Point in direction" block should have a degree sign next to the angle value.

### Actual Behavior

It doesn't have it. Moreover, it looks like this code is supposed to give the degree sign: https://github.com/LLK/scratch-blocks/blob/develop/core/field_angle.js#L47

![image](https://user-images.githubusercontent.com/1689183/50114053-99d3b980-0211-11e9-9004-2fc9d0c9b51a.png)

[2018-12-18 12:29] epicfaace opened #1830 "Dragging a block over vertical category menu doesn't delete it immediately"
### Expected Behavior

When I drag a block over the vertical category menu, it should immediately get deleted.

### Actual Behavior

The block gets "stuck" there for a bit. Only when I click somewhere else does the screen "refresh" and the block actually gets deleted.

![2018-12-18 07 25 26](https://user-images.githubusercontent.com/1689183/50154092-5a02e580-0296-11e9-9d5d-c7ecb1802240.gif)

### O

[2018-12-18 13:08] jakel181 commented on #1830
I tried this out and it only seems to happen when at least 50% or more of the block touches the vertical category.

[2018-12-18 15:15] epicfaace commented on #1792
@TongDaDa I've had the same problem, you can't use the uncompressed file. You can use @picklesrus 's workaround, which I think will just make the `blockly_compressed_vertical` file have uncompressed code in it.

[2018-12-18 19:38] #1830 closed, assigned to nobody

[2018-12-18 22:03] kchadha commented on #1788
Another project:
#255620430

[2018-12-18 23:23] epicfaace commented on #1613
@thisandagain Space used for the increased width of the category menu should be subtracted from the workspace, or the pane with the list of blocks?

[2018-12-19 01:52] epicfaace commented on #1771
@rachel-fenichel is this something that should be fixed?

[2018-12-19 02:06] epicfaace commented on #1627
Is the delete cursor still a feature of Scratch now? I noticed that the delete cursor doesn't even appear when dragging regular blocks now.

[2018-12-19 15:27] kchadha commented on #1627
@epicfaace I noticed this recently as well but didn't get to filing an issue for it. It looks like the delete cursor is not visible over the toolbox itself but it is visible over the bottom of the category menu:

![delete-cursor](https://user-images.githubusercontent.com/1786240/50229565-9f97df00-0378-11e9-9ab7-2215e6c68e1d.gif)

[2018-12-19 15:28] kchadha opened #1836 "Delete cursor not appearing when dragging a block over the toolbox"
@epicfaace and I noticed recently that the delete cursor does not appear when dragging a block over the block toolbox.

The cursor does appear, but only when the block is over the bottom of the category menu:

![delete-cursor](https://user-images.githubusercontent.com/1786240/50229565-9f97df00-0378-11e9-9ab7-2215e6c68e1d.gif)

_Originally posted by @kchadha in https://github.com/LLK/scratch-blocks

[2018-12-19 15:29] kchadha commented on #1627
@epicfaace, tracking that issue in #1836

[2018-12-19 17:24] thisandagain commented on #1613
@epicfaace We are still working on the design here, but the intent is for it to be subtracted from the workspace.

[2018-12-19 23:55] rachel-fenichel commented on #1836
Code pointer: https://github.com/LLK/scratch-blocks/blob/develop/core/block_dragger.js#L358

[2018-12-19 23:57] rachel-fenichel commented on #1771
Yeah this is a bug, and it looks like it got propagated through on fields that use the widget div.  Worth fixing, but low priority.

[2018-12-20 11:42] cyx2015s commented on #1802
I agree. I didn't know how to translate the block 'for each' into Chinese...

[2018-12-21 02:39] epicfaace commented on #1006
@rachel-fenichel Yeah, that's also the same behavior in Scratch 2.0, so I'd think it's good. Unless we want to change that behavior?

[2018-12-21 02:42] epicfaace opened #1837 "When duplicating a block, the copy doesn't appear until I move the mouse"
### Expected Behavior

When I duplicate a block, the copy should immediately show up at the mouse pointer position.

### Actual Behavior

When I duplicate a block, I just see a shadow. Only when I slightly move the mouse pointer does the copy of the block actually show up.

![2018-12-20 21 38 28](https://user-images.githubusercontent.com/1689183/50321636-c7ce2d80-049f-11e9-9674-51d44d135f61.gif)

[2018-12-21 14:28] epicfaace commented on #1836
This seems to be the same issue as https://github.com/LLK/scratch-gui/issues/2755 and caused by a problem in scratch-gui, not scratch-blocks.

[2018-12-21 16:10] kchadha commented on #1836
@epicfaace, good catch! I had a feeling I had filed this before...

Closing this issue and tracking in LLK/scratch-gui#2755.

[2018-12-21 16:10] #1836 closed, assigned to nobody

[2018-12-25 00:46] epicfaace opened #1839 ""Say something..." text does not come up for scratch block comments"
### Expected Behavior

When making a scratch comment attached to a block, it should say "Say something..." just like workspace comments.

### Actual Behavior

![image](https://user-images.githubusercontent.com/1689183/50408193-73cf8b80-07b4-11e9-9b2f-217560d1884c.png)

### Operating System and Browser

Mac OS, Chrome

[2018-12-26 10:33] gunchleoc opened #1840 "Please remove Scottish Gaelic from the Google translate block"
Since my suggestion to remove the Google Translate block was shot down, could you please at least remove Scottish Gaelic (Gàidhlig) from the language list?

In order to produce intelligible results, Google Translate needs a huge bilingual corpus to run their statistic algorithms on. No such corpus exists for Scottish Gaelic, and we can't expect such a corpus to exist in the near future.

I am not

[2018-12-26 12:32] akerbeltz commented on #1840
I agree, this is a terrible idea - at best, this should be a per-locale **opt-IN**. For many locales, especially the smaller ones, machine translation produces nothing but gibberish.
Machine translation is intended as a gisting tool, by and large, and for some language combos (mostly large ones with huge corpora) it may function as a translation aid but for most, it's useless at best, an extra tim

[2018-12-26 13:00] akerbeltz commented on #1615
That's rather short sighted. Most users do not have the insight into how Scratch works to know that machine translation is dangerous or that this tool isn't actually Scratch. All they will see is "All this base are belong to us" type rubbish and they will immediately associate Scratch with a rubbish translations. This may have been a well-intended idea but probably only to monolingual English spea

[2018-12-27 18:55] osoitz commented on #1615
After seeing #1840 I was tempted to add there that also Google's translations to Basque are of bad quality, but instead I'll add another point of view to this issue, hoping it's rethought altogether.

For background, the translation of Scratch to Basque was recently revitalized following a discussion in a group of teachers and parents that generally favour the use of Free (or Libre) software in ed

[2018-12-28 12:05] lmmProject commented on #1620
![win10](https://user-images.githubusercontent.com/28614181/50514783-87903000-0adb-11e9-89e7-107b52363fb5.png)
I don't know what's wrong!
help me!

[2018-12-28 18:16] kchadha commented on #1824
I believe this is directly related to https://github.com/google/blockly/issues/1960

[2018-12-29 06:52] gunchleoc commented on #1840
I think that a disclaimer would also be really helpful for those languages that will keep the translate block - it could act as a teaching opportunity. Something like this:

A similar disclaimer could be added to published projects that contain translate blocks, to prevent misunderstandings.

You should also be aware that grammar errors in machine translation results can be detrimental to foreign

[2018-12-29 07:01] gunchleoc commented on #1615
I have added a draft disclaimer text to the other bug.

One such short, common phrase in German that children will use _all the time_ is "voll geil" in German, which until recently got translated as "really horny", which is the word's original core meaning. The error has since been corrected and the translation for "geil" that you get is "cool", which is still not great, but lots more accurate in

[2018-12-29 08:56] Kenny2github commented on #1840
@gunchleoc I appreciate the sentiment, but you're getting a little extreme. Let's look over your proposed disclaimer:

Right off the bat, this is already very extreme. Why shouldn't you use the translate extension for a purpose other than this? Computers haven't quite mastered it, sure - but they're already very good, and 99% of the time translation errors are caused by GIGO rather than actual mis

[2018-12-30 09:30] gunchleoc commented on #1840
The disclaimer is just a first draft collecting some ideas - of course, it can be further refined and rephrased.  I added it as a first basis for discussion and I am not expecting anybody to implementing it just like that verbatim. I do think it is important that we do add some form of disclaimer though ;)

Because other children will assume that it is correct language and learn the mistakes. Such

[2018-12-31 09:09] gunchleoc opened #1842 "Paint editor: Vertical flip rotates"
Just in case it wasn't implemented like this on purpose:

### Expected Behavior

When clicking the "Flip Vertically" button in the paint editor, the costume is mirrored on a horizontal axis.

### Actual Behavior

When clicking the "Flip Vertically" button in the paint editor, the costume is rotated 180°.

### Steps to Reproduce

See above

### Operating System and Browser

Windows 10 Home, Firefox

[2018-12-31 09:14] gunchleoc opened #1843 "Feature Request: Add text fields or used colors selection to color picker"
Would it be possible to turn the numbers in the color picker into interactive input fields? This would add another way of picking consistent colors across multiple blocks.

Alternatively, adding a list of all colors used within the project's blocks might be easier to use for children?

[2018-12-31 10:32] rprys commented on #1840
I support the idea that Google Translate should be an opt-in and have an explicit warning about how correct the translation would be. It could be very embarrassing for a student to get it very wrong!
Google Translate is pretty good for English to Welsh from my experience, it's correct about 60-70% of the time. That means that there is plenty of scope for errors, howlers and embarrassment in using

[2019-01-01 02:48] joker314 commented on #1842
Thanks for letting us know! However, I'm **unable to reproduce** on Chrome, Windows 7 in Russian locale through beta.scratch.mit.edu.

Try these steps:
1. Open a new project
2. Navigate to the Scratch Cat's costumes and select the first one
3. Add a purple circle in the top-right of the cat
4. Select the 'Selection' tool again
5. Hit the 'Flip Vertically' button

Observe that the purple circle you

[2019-01-01 08:51] Kenny2github commented on #1840
Google Translate *is* an opt-in by virtue of the fact that it's an extension! If you don't explicitly include the extension, you can't use the blocks and have therefore not opted in. By including the extension, you are obviously showing that you are opting in to using the extension. A disclaimer is necessary but should not be obtrusive.

[2019-01-01 10:10] gunchleoc commented on #1842
I am skipping step 3 and 4 - see attached video

[Scratch-flip-vertically.zip](https://github.com/LLK/scratch-blocks/files/2719247/Scratch-flip-vertically.zip)

[2019-01-01 10:17] gunchleoc commented on #1840
This is a different type of opt-in though. We should not shift the hard decision making to the children, that's not fair on them. The responsibility is ours, not theirs.

By all means, keep the block with a disclaimer for those language pairs where the error rate is extremely low. I'd still like to have my locale removed though, because gibberish translations are no use to everybody, and we will b

[2019-01-01 17:18] thisandagain commented on #1843
/cc @carljbowman @kathymakes @fsih

[2019-01-01 17:18] thisandagain commented on #1842
Moved to LLK/scratch-paint#810

[2019-01-01 17:18] #1842 closed, assigned to nobody

[2019-01-02 02:48] Alzter opened #1844 "Make costume and backdrop change blocks more consistent"
### Current costume / backdrop blocks
[code]

### My proposal
[code]

This also removes the need for: `[switch backdrop to [next / previous / random] backdrop]`

[2019-01-02 02:54] Alzter commented on #1492
### Expected Behavior
_The font for block text should be bold like in the 3.0 mock-ups (But preferably bigger to fill the block)._
![image](https://user-images.githubusercontent.com/22513909/50579079-bf112a80-0e95-11e9-98b6-d2b62249988f.png)

### Actual Behavior
_My computer displays the font for block text really thin._
![image](https://user-images.githubusercontent.com/22513909/50579028-575adf80

[2019-01-02 03:03] Alzter opened #1845 "Block drop-downs are inconsistent"
![image](https://user-images.githubusercontent.com/22513909/50579121-3941af00-0e96-11e9-89fa-5261d47ed58e.png)

The block drop-downs are inconsistent. Some are presented in a square shape and other ones are round. I can't see a pattern to this and it's seemingly random. On top of this the circle drop-downs are darkened while the square ones aren't. In Scratch 2.0 all block drop-downs looked identi

[2019-01-02 03:29] Alzter opened #1846 "Are we actually going to do anything about the issues with the blocks?"
There's been numerous issues concerning the new block design for Scratch 3 on Github and Scratch alike, and yet nothing's been addressed.
Here's a few examples:

The block colours are too bright and not diverse.
[Scratch Forum](https://scratch.mit.edu/discuss/topic/199574/?page=158#post-2761039), LLK/scratch-gui#851, LLK/scratch-gui#3914, #1032, #995

The block text doesn't contrast with blocks an

[2019-01-02 07:05] SheepTester commented on #1845
The darker, rounded ones mean that you can drop an operator block in the dropdown; you can't for the bordered square ones

[2019-01-02 08:00] Alzter commented on #1845
Thank you, I missed that. I still think that maybe the square dropdowns should be darker, or maybe we should just darken the blocks entirely. They contrast poorly with the text on them, as well as the background, and they look too similar.

[2019-01-02 12:03] JoshuaLowe1002 opened #1847 "Long strings of text bug"
When a long string of text is entered, it goes over the stage and pushes scratch to the side.
I assume this is a bug?
![image](https://user-images.githubusercontent.com/25752941/50591235-6be3ab80-0e86-11e9-8d5d-a5f105b2f16b.png)

[2019-01-03 04:14] towerofnix commented on #1845
I disagree - the round ones being darker makes them look more like a "slot" for a block. And the square ones being *not* dark makes them look "flat", like they *don't* take a block. As for darkening the entire block, I disagree because that would make round dropdowns no longer look like they are slots for blocks (since they would not contrast against the background of the block). (I do think the c

[2019-01-03 12:41] thisandagain commented on #1847
Tracking in https://github.com/LLK/scratch-blocks/issues/940

[2019-01-03 12:41] #1847 closed, assigned to nobody

[2019-01-03 12:41] thisandagain commented on #1847
Please look for existing issues before filing new ones.

[2019-01-03 12:42] thisandagain commented on #1846
The short answer is yes. The issues in Github are not an exhaustive list of our roadmap.

[2019-01-03 12:42] #1846 closed, assigned to nobody

[2019-01-03 12:43] #1845 closed, assigned to nobody

[2019-01-03 12:58] guyhed opened #1848 "BUG in production: RTL text on on stage is garbled"
When you write a text in Say or Think block that occupy more than one line on the stage, that text appears on the stage with the words and **lines** in reverse order.

**This happens in all the old scratch project after the transition to scratch 3.0**

For example the block
![image](https://user-images.githubusercontent.com/1233716/50638675-509c9d00-0f67-11e9-8f89-7e4b12192245.png)
produces this o

[2019-01-03 13:05] guyhed opened #1849 "RTL laguage: reverse text when editing blocks"
In Hebrew locale, when editing a block the minus sign appears in reverse

For example:
While edit text:
![image](https://user-images.githubusercontent.com/1233716/50639214-54312380-0f69-11e9-9c5a-03eaa4a8f322.png)
After edit it appears correct:
![image](https://user-images.githubusercontent.com/1233716/50639229-6612c680-0f69-11e9-8568-2aec10863e2d.png)

[2019-01-03 13:17] guyhed opened #1850 "RTL locale bug: reverse sign position in controls"
This is how it looks:
![image](https://user-images.githubusercontent.com/1233716/50639585-ab83c380-0f6a-11e9-94d8-b9d35c6e5f28.png)

[2019-01-03 13:23] guyhed opened #1851 "Please allow translations of sprites and backdrops"
The sprites in the "choose sprite" menu should appear in the child's native language.
In Israel most children below the 5th grade do not know English well enough to work with English names.

Please allow translation of the backdrops and sprites names.

[2019-01-03 14:01] towerofnix opened #1852 ""Show senders/receivers" tool in broadcast context menus"
### Expected Behavior

In Scratch 2.0, the "broadcast" and "broadcast and wait" blocks have a context menu option "show receivers". This places a golden border around the sprites in the sprite corral who have a "when I receive" script that has the same broadcast name in its dropdown. Likewise, "when I receive" has a "show senders" option, which highlights in the same way sprites that have a "broad

[2019-01-03 20:54] thisandagain commented on #1851
/cc @chrisgarrity

[2019-01-03 21:27] chrisgarrity commented on #1851
Duplicate of https://github.com/LLK/scratch-gui/issues/491

[2019-01-03 21:27] #1851 closed, assigned to nobody

[2019-01-04 10:17] dschelada commented on #1329
Is there any update on this issue or can you propose a workaround?
They proposed a solution in #826 but it doesn't seem to be up to date anymore.
Thanks.

[2019-01-04 17:18] towerofnix opened #1853 "Make the color of the block a comment is attached to more prominent"
Design/feature request! I noticed that the border color of a block comment is actually based on the color of the block it's attached to:

![A comment attached to a variable block (which is inside another block); the comment's outline is the same red border of the variable block.](https://user-images.githubusercontent.com/9948030/50701000-86eb2280-1022-11e9-9292-4aba34aa44ba.png)

This is a really

[2019-01-04 17:42] towerofnix commented on #1852
(Mini-thing: I noticed the "feature" label on scratch-blocks has black text, while the "feature" labels on all the other scratch-* repositories have white text. To fix that, this repo's "feature" label color should be changed to `#1d76db`, rather than the present `#207de5`.)

[2019-01-04 18:07] towerofnix opened #1854 "Scrolling shouldn't drop a duplicated block"
### Expected Behavior

Sometimes once you've duplicated a block, you need to scroll a pretty far distance before you get to where you want to place it. (This is especially frequent if you use Scratch on a small screen or are zoomed in to make the blocks bigger.) Duplicating a block attaches the block to the cursor, so that it follows your mouse even though you aren't dragging. This block should st

[2019-01-04 18:10] towerofnix commented on #1854
I noticed this is even a problem if you actually *are* dragging a block with your mouse pressed down -- scrolling will cancel that and drop the block wherever your mouse was. No good if you start dragging a block before realizing that the place where you want to put it isn't on screen yet!

[2019-01-04 18:30] towerofnix opened #1855 "Dragging a block sometimes offsets the whole workspace"
I can't reproduce this very reliably, but I noticed that sometimes the whole workspace gets offset while you're dragging a block. I've only ever seen this on scratch.mit.edu. I noticed that whenever I open a project, I can almost always repro the whole workspace appearing to be positioned above the backpack, with the flyout extending all the way to the bottom of the entire browser window, i.e. abo

[2019-01-04 18:49] towerofnix commented on #1566
This is a pretty big issue for working with comments because it means comments will appear in surprising positions once you *reload* the workspace (e.g. by switching back from a different sprite or reloading the editor), which is a pain to notice and fix.

[2019-01-04 18:54] towerofnix commented on #1566
Note this is also an issue if you offset a block in *any* way, e.g. by placing a block above it in a script, not just dragging it with your mouse.

[2019-01-05 15:48] towerofnix opened #1856 "Editing a procedure should not scroll flyout"
### Expected Behavior

Editing a procedure spec (the labels/inputs) should never scroll the flyout, since editing a procedure is usually done to change how existing calls to the procedure look, not to create new calls.

### Actual Behavior

Editing a procedure spec does scroll the flyout to the "My Blocks" section.

### Steps to Reproduce

Right-click an existing custom procedure block and press C

[2019-01-06 06:01] flzyup commented on #1085
@thisandagain is there any simple tutorial to teach us how-to implements own generators?

[2019-01-06 13:23] MaggieLu commented on #1778
@thisandagain  Sorry for the late apply. Not sure whether I am doing it right, I fixed it by refreshing selections in scrollToCategoryById and scrollToCategoryByName in core/toolbox.js.
[code]

[2019-01-07 08:33] champierre opened #1857 "Number fields should not accept non-number characters(ex. Japanese)"
### Expected Behavior

Number fields should not accept non-number characters like Japanese.
Changing the background color of number fields to red is good UI(see how "point in direction" block behaves in the gif animation) because the user will notice that he/she made mistype.

### Actual Behavior

Number fields of any block except "point in direction" accept non-number characters like Japanese.

!

[2019-01-07 13:30] thisandagain commented on #1857
/cc @picklesrus @chrisgarrity

[2019-01-07 14:07] thisandagain commented on #1849
/cc @chrisgarrity

[2019-01-07 15:29] thisandagain commented on #1085
@joseeph @flzyup You can look at the Blockly documentation for how to implement generators, but again this is not something we support:
https://developers.google.com/blockly/guides/configure/web/code-generators

[2019-01-07 15:30] thisandagain commented on #1778
/cc @picklesrus @kchadha

[2019-01-08 02:10] flzyup commented on #1085
@thisandagain thanks

[2019-01-08 05:22] 0x-jerry opened #1858 "Colour slider show the wrong color"
### Expected Behavior

Show the correct color.

### Actual Behavior

Show the wrong color.

### Steps to Reproduce

The main step is to drag the brightness slider to 0.

![feature](https://user-images.githubusercontent.com/14226737/50809776-c8d8d900-1340-11e9-83d3-1a5f725da75e.gif)

### Operating System and Browser

Win 10 1809

Chrome Version 71.0.3578.98 (Official Build) (64-bit)

----

It seems

[2019-01-09 17:39] danbulant opened #1859 "build.py cannot find file"
I downloaded the zip file and extracted it in my www directory. I did `npm install` and it ended with following error:

Here is log:
[code]
My OS and PC:
Amd 64bit
Windows 10 (non-activated, but I think it's not the problem)
NPM 6.4.1
Python 2.7.14

[2019-01-10 08:25] fujunzhuo opened #1860 "two Blockly.Blocks['control_repeat']"
blocks_horizontal/control.js Defined two Blockly.Blocks['control_repeat']

[2019-01-10 10:34] apple502j commented on #1859
Use Linux machine or Cygwin.

[2019-01-10 13:51] thisandagain commented on #1860
/cc @picklesrus

[2019-01-11 01:03] towerofnix opened #1862 "Holding a block near the edge of the workspace should scroll it"
### Expected Behavior

In the 2.0 editor there was a feature where if you drag a block and hold it over the edge of the workspace, lingering there for a moment (but not releasing it), the workspace will start to scroll towards that edge. The speed at which it scrolled depended on how close to the edge of the screen the cursor was (with being right on the edge scrolling the quickest).

I recommend

[2019-01-11 15:27] towerofnix opened #1863 "Very short boolean blocks don't look right"
### Expected Behavior

Boolean blocks have a comfortable amount of padding equal on both sides, like round reporter blocks:

![A custom block number/string input with the text "b"](https://user-images.githubusercontent.com/9948030/51042780-85c27400-1593-11e9-9a4a-04529634bd34.png)

### Actual Behavior

They look weird! The horizontal padding is definitely not right:

![A boolean input with the tex

[2019-01-11 16:01] towerofnix opened #1864 "Add "(last, random) item of (list)" block"
### Expected Behavior

There should be a block to get the last item in a list. In Scratch 2.0 this was a dropdown in list number inputs, but this was removed from 3.0 (#1333). As a replacement, a new "delete all of (list)" block was added:

![The "delete all of (my list)" block](https://user-images.githubusercontent.com/9948030/51044673-04211500-1598-11e9-9274-ebf6446f49ae.png)

As such, there sho

[2019-01-11 16:04] towerofnix opened #1865 "Add "delete last of (list)" block"
### Expected Behavior

Following the reasoning in #1864, there should be a corresponding "delete last of (list)" block.

### Actual Behavior

The workaround is just as cumbersome as the one for "item last of (list)":

!["delete (length of (my list)) of (my list)"](https://user-images.githubusercontent.com/9948030/51045001-e30cf400-1598-11e9-93f9-3503ababa886.png)

### Steps to Reproduce

Create a

[2019-01-11 16:19] towerofnix opened #1866 "How can I make a "copy list (A) into list (B)" custom block?"
Suppose I want to create a custom block which takes all the items in a given list and copies them into another given list. Hypothetically speaking, this is a quite simple - but useful - custom block:

!["define copy items of (list A) into (list B): set index to 0; repeat (length of (list A)): add (item (index) of (list A)) to (list B); change index by 1"](https://user-images.githubusercontent.com/

[2019-01-11 18:12] towerofnix opened #1867 "Custom dropdowns (specify your own list of options)"
Feature request!

Often times I create custom blocks that take an input that is basically a flag with several options. For example, suppose I have two behaviors I want to make into custom blocks - one which sets a "MP" value of every character with HP > 0 to its maximum value, and one which sets it to zero. Now since these both share a lot of behavior (specifically, looping over the list of charac

[2019-01-11 18:14] towerofnix commented on #1867
BTW, here is the demo project, which can be imported into Scratch 3.0 to play with these custom blocks (rename the file to .sb3): [Demo Project.zip](https://github.com/LLK/scratch-blocks/files/2750678/Demo.Project.zip)

[2019-01-13 18:59] danbulant commented on #1859
I have kali installed (sub-system) as I heard that it can help, but it didn't. I can't use linux because of some problems with drivers for AMD radeon GPUs...

[2019-01-14 08:04] apple502j commented on #1866
See also LLK/scratch-vm#1030

[2019-01-14 22:16] thisandagain commented on #1862
/cc @picklesrus

[2019-01-14 22:18] thisandagain commented on #1863
/cc @picklesrus @carljbowman

[2019-01-14 22:19] thisandagain commented on #1866
/cc @carljbowman @kchadha @ericrosenbaum

[2019-01-15 15:58] #1375 closed, assigned to nobody

[2019-01-15 16:26] #1626 closed, assigned to nobody

[2019-01-16 21:11] #1839 closed, assigned to nobody

[2019-01-19 01:13] towerofnix opened #1871 ""(attribute) of (sprite)" menu should show current sprite"
(**Disclaimer:** I'm not an educator and I don't have actual significant new-user experiences to back me up; I'm just suggesting ideas based on what I feel makes more sense, from a *lot* of personal experience with this block.)

Since Scratch 2.0, there's been a design decision that the "(attribute) of (sprite)" sensing block should not show the current sprite. Hypothetically, that decision was ma

[2019-01-19 01:50] towerofnix opened #1872 "Collapsed block comments can't be dragged by their title text"
### Expected Behavior

Comments can always be dragged when the mouse is hovered over the title bar.

### Actual Behavior

Collapsed block comments can't be dragged by their title text (dragging the rest of the comment works, though).

### Steps to Reproduce

Create a block comment (right click a block and select "add comment"), then collapse it. Try to drag it by the title text. Note that instead

[2019-01-20 03:47] TongDaDa commented on #1792
I just confused about this problem, why don't support uncompressed codes? @epicfaace @picklesrus

[2019-01-20 04:03] TongDaDa commented on #1792
How do you develop this project when you are changed `Blockly`? @picklesrus

[2019-01-20 16:52] towerofnix opened #1873 "Add "change item (_) of (list) by (amount)" block"
### Expected Behavior

To match the ordinary variable blocks, there should be a "change item (_) of (list) by (amount)" block. This would be particularly useful when [treating lists as dictionaries](https://scratch.mit.edu/discuss/post/3372102/) (for example, in a mapping of bank names to vault counters, or a mapping of dust bunnies to fluffiness amount).

### Actual Behavior

No such block exists

[2019-01-21 16:35] towerofnix opened #1874 "Show "lists" palette as separate menu option from "variables""
Tiny request -- I'm making a large project with many, many, many variables and lists. It's not rare for my block palette to look something like this:

[*(Gif of scrolling the variable, list, and more blocks sections of the palette. Each section takes up considerably more than the full screen height.)*](https://my.mixtape.moe/lirzuk.gif)

(Admittedly this is in a sprite with a lot of local variable

[2019-01-21 16:58] towerofnix commented on #1864
Updated this issue with a more useful idea - instead of the form "last item of (list)", it'd be in the form "(dropdown) item of (list)", the dropdown containing "last" and "random".

[2019-01-21 18:45] mrjacobbloom commented on #1873
+1 -- I can't tell you how many times I've had to write `set item (10) of (list) to ((item (10) of (list)) + (1))` or the like

[2019-01-22 04:40] towerofnix opened #1875 "Procedure input blocks don't have cursor: grab"
### Expected Behavior

All reporter blocks have `cursor: grab` applied via CSS.

### Actual Behavior

Input blocks dragged out from procedure definitions don't have `cursor: grab` right away (they show the default cursor when hovered over).

### Steps to Reproduce

Drag out an input from a procedure definition, then hover your mouse over it. Note the cursor image is the default one, rather than th

[2019-01-24 16:27] #1006 closed, assigned to nobody

[2019-01-24 18:28] #245 closed, assigned to nobody

[2019-01-24 18:28] #1776 closed, assigned to thisandagain, carljbowman, kaaaaathy

[2019-01-24 19:22] jeremygcn opened #1877 "Import scratch block in Angular ?"
Can we use scratch block in Angular 7 CLI ? If yes, how ?
Thank's in advance.
Jérémy

[2019-01-27 01:12] apple502j commented on #1877
This is Node library.

[2019-01-27 07:38] jeremygcn commented on #1877
Yes but how import scratch node in angular and how the blocks can work ?

[2019-01-27 07:41] jeremygcn opened #1878 "How change the size of the toolbox containing the blocks ?"
How change the size of the toolbox containing the blocks ?
For that :
![selection_039](https://user-images.githubusercontent.com/42478617/51798199-49d41380-220f-11e9-8115-1643da985242.png)
Thank's in advance
Jérémy

[2019-01-27 07:54] apple502j commented on #1877
I can't guess how, because Scratch does not use Angular. Why don7t you switch to react?

[2019-01-27 16:31] towerofnix opened #1879 "Variables in context menu aren't sorted"
### Expected Behavior

Variables should be sorted in every menu they appear in.

### Actual Behavior

In the context menus of variables (as well as lists), variables are not sorted.

![A long context menu containing lots of arbitrarily arranged variable names.](https://user-images.githubusercontent.com/9948030/51803790-52d4dd00-222f-11e9-9f1d-652fba0e4df8.png)

### Steps to Reproduce

Right-click

[2019-01-29 22:00] ericrosenbaum opened #1880 "Consider using an ellipsis to truncate long blocks category names"
### Expected Behavior

We should have a graceful way to handle long names of blocks categories that do not fit in the blocks category menu.

### Actual Behavior

Currently, there is at least one case in which a blocks category name is truncated by the width of the blocks category menu. The name of "variables" in Slovenian (Slovenščina) is Spremenljivke. In the menu at the left, that word is trunca

[2019-01-29 23:30] akerbeltz commented on #1840
Eh, sorry but where are you getting these figures from? Even for a language pair like German <> English for which Google must have a lot of data aren't even close to 99%, that's just a figure you made up to make it sound like a good idea. To begin with, you cannot make a blanket statement about how accurate MT translation is without specifying the language pair you're talking about. I don't know w

[2019-01-29 23:39] thisandagain commented on #1840
Thanks for all the feedback on this folks. We are working on developing landing pages for each extension and will add some information that clarifies the accuracy of machine translation on the "Translate" extension page based on all of your feedback. Thanks.

[2019-01-31 10:20] P3nny opened #1884 "Improve accessability: Adjustable color contrast and keyboard accessibility"
### Expected Behavior
Scratch beeing user-friendly to kids with disabilities: Color blindness, blindness or limited movement
- let kids adjust the colors of scratch blocks according to their needs or have a high-contrast mode button
-  make the blocks keyboard accesible

### Actual Behavior
- Some of the colors of scratch block have a low contrast ratio (White on yellow for events)
- Blocks are no

[2019-01-31 12:30] apple502j commented on #1884
Other topics about colorblindness:
#1032
LLK/scratch-paint#580
LLK/scratch-paint#526

[2019-01-31 17:17] rachel-fenichel commented on #1884
@alschmiedt FYI

[2019-02-01 10:28] ghost opened #1885 "On Some Android ,SVG number-shape and color-picker is incompatibility,a probability"
### Actual Behavior
like this
![image](https://user-images.githubusercontent.com/29392344/52117282-4d6ffc00-264e-11e9-8476-0b2b54718ee2.png)

but . in dragging , it's normal
I don't know how to solve it either.

### Steps to Reproduce

it's just on some android phones at some browser

### Operating System and Browser

_e.g.  Vivo | X21A | Android8.1.0 unity-app
user webview-plug-in  https://github

[2019-02-01 18:25] alschmiedt commented on #1884
I am currently looking into doing some keyboard navigation for Blockly. I don't currently have any demos, but can definitely let people know when I have something working. Just let me know if you are interested.

[2019-02-02 07:07] apple502j opened #1886 "Some blocks are not translated"
### Expected Behavior
All blocks should be translated for 100%-reviewed ones
### Actual Behavior
These blocks are not translated at first. After changing languages or dragging them into code area it's translated.

* next backdrop
* clear graphic effects
* change graphic effect by
* set graphic effect to
* backdrop number/name
* stop all sounds
* clear sound effects
* change sound effects by
* set

[2019-02-04 17:27] thisandagain commented on #1880
/cc @carljbowman

[2019-02-04 17:31] thisandagain commented on #1885
@hsyomi Sorry, but we haven't tried using Scratch blocks from within Unity so I'm not sure we'll be much help.

[2019-02-04 17:35] thisandagain commented on #1886
@chrisgarrity Do you mind chiming in here?

[2019-02-04 17:55] chrisgarrity commented on #1886
@apple502j we noticed that regression this morning. A fix for the bug should be getting deployed very soon (https://github.com/LLK/scratch-gui/pull/4478)

[2019-02-04 17:55] #1886 closed, assigned to chrisgarrity

[2019-02-05 14:49] benjiwheeler opened #1889 "Should we move cloud variables into an extension?"
There has been discussion about moving cloud variables into an extension.

This would simplify the variable creation interface for most users, maintain functionality for users experienced with cloud variables, and increase visibility of the feature for users curious about trying additional features.

[2019-02-05 14:50] benjiwheeler opened #1890 "Should we introduce a "when cloud variable updates/changes" hat block?"
In discussions about cloud vars, users have expressed desire for an easier, more straightforward way to take action when a cloud var has changed.

This can be done using various patterns -- e.g., use a local variable to mirror the cloud variable, and have a forever loop check the cloud value against the local value.

But a "when cloud variable updates/changes" hat block would greatly simplify this

[2019-02-05 14:54] towerofnix commented on #1889
Another advantage to moving cloud variables into an extension would be having more leniency for adding blocks specific to cloud variables. This is a general advantage inherent to extensions; separating blocks into their own extensions means that users who add the extension will evidently be interested in exploring the blocks, and so will be more open to learning somewhat more advanced or specific

[2019-02-05 14:57] towerofnix commented on #1890
This reminds me of an extension I made a couple days ago:

![Three extension hat blocks: "when (Insert a block!) changes", "when (Insert a block!) becomes (Enter a value!)", "when <> becomes true"](https://user-images.githubusercontent.com/9948030/52281408-7cc78700-2934-11e9-99bd-45e8dec85ba9.png)

Thoughts on implementing an extension like that instead of this block? Obviously it would work nicel

[2019-02-05 15:54] thisandagain commented on #1889
Moved to LLK/scratch-gui#4488

[2019-02-05 15:54] #1889 closed, assigned to nobody

[2019-02-05 15:54] thisandagain commented on #1890
Moved to LLK/scratch-gui#4489

[2019-02-05 15:54] #1890 closed, assigned to nobody

[2019-02-08 16:21] #1879 closed, assigned to nobody

[2019-02-11 01:50] pmatheusvinhas opened #1893 "'To JavaScript' button doesn't work"
### Expected Behavior

Output JavaScript code when press 'To JavaScript' on tests/vertical_playground.html

### Actual Behavior

Nothing happens.
Also tried to follow 'https://developers.google.com/blockly/guides/configure/web/code-generators' using 'javascript_compressed.js' with no success.

### Steps to Reproduce

Just open tests/vertical_playground.html.

### Operating System and Browser

Wind

[2019-02-12 16:44] #1671 closed, assigned to picklesrus

[2019-02-12 17:34] julescubtree commented on #1409
Hey, I just dropped a separate PR from @tansly's—my fix attempts to use the closure compiler system to create namespaces and dependencies, and it also addresses the `glob.glob` ordering issue.

[2019-02-13 12:53] towerofnix commented on #1695
See https://github.com/LLK/scratch-gui/pull/4542/commits/ceb19b7561c3e4a94444fb5f84cee566841142cf for my fix in "share the love"; this math change can probably be implemented in scratch-blocks too.

(edit - I poked around a little and cound't get it to work quite right, but it's probably still not a bad starting point for anybody trying to fix this.)

[2019-02-13 13:25] TheOneWithTheBraid opened #1897 "LEGO Mindstorms NXT support"
Lego Mindstroms EV3 Robots are supported by Scratch 3 while the bit older version called NXTs are not supported. Even if NXTs are older, they still make a big part of the market share.
I hope you'll add support soon.

### Steps to Reproduce

Connect an NXT and see that nothing is happening :)

### Operating System and Browser
Not important & still less important.

[2019-02-13 16:40] towerofnix commented on #1854
This is a surprisingly gigantic task, from what I've tried.

Here is my WIP code on this feature: https://github.com/LLK/scratch-blocks/commit/f791e2f451255c85b963f497bc5c535b619369b3 - unfortunately, it only mostly works. Insertion markers are a frustratingly prominent issue-causer. The basic code all does what it's supposed to, so I'm stumped as to why insertion markers are still causing problem

[2019-02-13 19:39] thisandagain commented on #1897
Thanks for the suggestion. We are currently not considering support for older LEGO Mindstorms models at this time. In the future we may be open to community supported "unofficial" support for situations like this.

[2019-02-13 19:39] #1897 closed, assigned to nobody

[2019-02-15 18:53] towerofnix opened #1899 "Renaming a custom procedure input should change every use of that input inside the script"
### Expected Behavior

When you rename an input in a custom procedure, all uses of the old name are automatically changed to match the new name.

### Actual Behavior

They aren't updated! You have to manually drag out the new name for every usage of it in the custom procedure's script.

### Steps to Reproduce

Create a custom procedure with an input and attach a block to its "define" block, then p

[2019-02-18 23:23] towerofnix opened #1900 "Auto-scrolling flyout doesn't update "selected" category in category list"
### Expected Behavior

Auto-scrolling the flyout should make the "selected" category be updated in the category list.

### Actual Behavior

The category list won't be updated until you manually scroll by some other means (mouse wheel, scrollbar, drag).

This is a somewhat similar issue to #1070.

### Steps to Reproduce

Auto-scroll the flyout so that it becomes in a position where it would be cons

[2019-02-19 15:12] ghost commented on #1249
I still don't think that it made sense to move pen to extensions. We've been told that it's "not good for beginners", but personally I think it would be better for beginners - by moving them to extensions, beginners will be less likely to find them.

The extensions were originally for connecting Scratch to physical objects, and it should stay that way.

[2019-02-25 19:54] thisandagain commented on #1893
Thanks for raising this. Because generators were removed from `scratch-blocks` this button should also be removed. I'll mark this as "help wanted" to remove the button from the playground.

[2019-02-25 23:59] pmatheusvinhas commented on #1893
Understand. But can you help me to use a 'generator' on `scratch-blocks`? I'm doing an interface with `scratch-blocks` to control a hardware project. I need this output code to interpret it on MCU.

[2019-02-26 20:34] benjiwheeler commented on #1443
Still noticing this on Edge on Surface

[2019-02-27 23:48] 651778286 opened #1903 "How to use scratch with vue.js?Is there a example?"
How to use scratch with vue.js?
Is there a example?
Thank you for the first

[2019-02-28 16:38] picklesrus opened #1904 "is3dSupported is slow"
The is3dSupported function that runs when the blocks load slows the the load time of Scratch, yet all the browsers Scratch supports support 3d transforms.

We could just have this return true and/or override the Blockly.utils.is3dSupported.cached_ value to be true immediately.

[2019-02-28 16:54] picklesrus opened #1905 "Investigate Progressive loading of the toolbox"
To load scratch-blocks, we parse and render every single block in the toolbox immediately. In Scratch there are currently ~180 blocks in the toolbox (without extensions) which makes loading significantly slower.

Investigate whether we can load the visible blocks first (e.g. the first ~10-20) and defer loading the rest.

Ideas:
- Change the default toolbox to only contain the first 10-20 blocks, t

[2019-02-28 20:20] picklesrus opened #1906 "Evaluate whether we still need the drag surface for workspace dragging"
Before we introduced the drag surface (~3 years ago?) for workspace dragging, the idea was to just translate the svg directly when moving the workspace around.  Revisit whether the drag surface is necessary. It'd be nice not to have to do that work of transferring the blocks at the beginning of a drag.

IIRC, one of the reasons for abandoning that approach was that blocks in the negative coordinat

[2019-02-28 22:43] rachel-fenichel commented on #1906
![image](https://user-images.githubusercontent.com/13686399/53603696-1e727a80-3b67-11e9-9556-2ed218b76421.png)
![image](https://user-images.githubusercontent.com/13686399/53603707-26321f00-3b67-11e9-955d-020347492cd7.png)

[2019-03-01 00:39] rachel-fenichel commented on #1906
Ooh, and if you want an unfriendly worm, check out the [bobbit worm](https://www.youtube.com/watch?v=K_7ByiYbCYM).

Or don't, if you don't want video of a kind of nightmarish sea predator, but they *are* cool.

[2019-03-01 02:12] BrightLin commented on #1858
Tracking in [LLK/scratch-gui#3985](https://github.com/LLK/scratch-gui/issues/3985)

[2019-03-03 21:18] darkwave commented on #1386
Blockly current version of _javascript_compressed.js_ doesn't work anymore because **Blockly.Variables.allUsedVarModels** is undefined in scratch-blocks but used in Google Blockly now.

Adding following code before attempting to generate Javascript code from blocks solve the issue:
[code]
**Also It appears that Blockly.Variables.allUsedVariables is now deprecated in Google Blockly.**

[2019-03-04 12:19] birbilis commented on #1383
no need for else to be empty, could convert to if and place the else block on free space nearby

[2019-03-04 12:21] birbilis commented on #1383
btw, is it just me that wants a <= and >= operator? it is more advanced (and can confuse reader) to write expressions with not > and not < , and too verbose (and harder to edit, plus less performant since you have to do the same in two places or use a variable which is advanced topic) to have < or =, > or =. Many languages have longer text in average and it it makes it problematic to read/print an

[2019-03-04 14:10] thisandagain commented on #1903
Sorry but we do not have an example for how to use Scratch-Blocks with vue.js. If you come up with an example we'd appreciate if you share it!

[2019-03-04 18:35] towerofnix commented on #1906
An important factor for using a drag surface is that it lets us straightforwardly place a block above the rest of the Scratch editor. Just applying a translate to the block according to the mouse drag delta wouldn't work unless we could also display that block above everything else! (Keep in mind: When not being dragged, blocks are displayed below the flyout and are cut off by the border of the wo

[2019-03-05 16:25] #1893 closed, assigned to nobody

[2019-03-06 00:33] sunkechenjing opened #1909 "link vm gui and blocks(local closure branch),browses is while.there isn't anything in page."
### Expected Behavior
link vm gui and blocks(local closure branch),and scratch can run

### Actual Behavior

after link vm and gui,every is ok.But after link blocks(local closure branch),browser is white

### Steps to Reproduce

1.gui and vm is default branch
2.blocks is local closure branch,because i use other branch,romote closure compile can't be passed.
3.i use blocks(local closure),i modified