[2017-10-09 16:45] rachel-fenichel commented on #1118
Need https://github.com/LLK/scratch-blocks/issues/1120 to add comments.

[2017-10-09 17:02] rachel-fenichel commented on #1111
The height problem is because of an overly broad rule in `computeInputHeight`.  It hits the first branch (for lone field blocks) below.  Removing the `isShadow` check gives the right height for this block.
[code]

And the width problem is from a similar check in `computeOutputPadding`.  Again, removing the `isShadow` check gives the correct width:
[code]

[2017-10-09 22:10] rachel-fenichel opened #1124 "Consider creating core/scratch_utils"
There are some scratch-specific utility functions (such as `shouldDuplicateOnDrag` in #1123) that I think should go into a different utils file from the standard Blockly utils to avoid merge problems.  Scratch utils would hold utility functions that are definitely not going to go back into mainline blockly.

[2017-10-10 20:33] #887 closed, assigned to rachel-fenichel

[2017-10-10 20:54] #1111 closed, assigned to rachel-fenichel

[2017-10-10 21:07] ericrosenbaum opened #1126 "Color picker sliders cause each other to move"
### Expected Behavior

The sliders on the color picker should move independently and not affect each other's position.

### Actual Behavior

In some situations, moving one slider can cause other sliders to move. It seems to depend on the initial settings.

The saturation slider moving the hue slider:
![colorpicker-bug-saturation](https://user-images.githubusercontent.com/567844/31410542-e7f635c8-a

[2017-10-10 23:51] rachel-fenichel opened #1127 "Internally rendered custom command blocks can be overwritten"
### Expected Behavior

The internal blocks in custom procedure definitions shouldn't be replaceable (move blocks in this image).

![image](https://user-images.githubusercontent.com/13686399/31415832-a48094c0-adda-11e7-94cf-f0deba274106.png)

### Actual Behavior

![image](https://user-images.githubusercontent.com/13686399/31415842-b3ca93fe-adda-11e7-8bb2-1f2dfcdbed24.png)

The problem occurs becaus

[2017-10-11 15:55] paulkaplan commented on #879
I did some investigation of this this morning, focusing mainly on the layout thrashing (i.e. reading from and writing to the DOM in a way that forces a layout), which seems to be a pretty large chunk of the time spent in showing blocks.

Leaving the field cache open reduced a considerable amount of thrashing. However, `FieldDropdown` still causes a layout when it is initialized.
![image](https://u

[2017-10-11 21:58] rachel-fenichel opened #1129 "Argument reporters render wrong when the text is short"
### Expected Behavior

Argument reporter text should be centered, regardless of length.

### Actual Behavior

![image](https://user-images.githubusercontent.com/13686399/31468873-812bb468-ae94-11e7-9dc1-976769a8f148.png)

### Steps to Reproduce

Load this xml in the playground:
[code]
### Operating System and Browser

Any

[2017-10-11 22:00] rachel-fenichel commented on #1129
And when loading a non-shadow argument reporter from XML I see this:
![image](https://user-images.githubusercontent.com/13686399/31468984-e825d662-ae94-11e7-971d-dab36d008259.png)

Even though it's fine if I force it to rerender.

[2017-10-11 22:54] rachel-fenichel opened #1130 "Custom procedure deletion"
### Expected Behavior

Scratch 2.0 behaviour:

When to delete:
- [x] Right-clicking on a custom procedure definition shows a "delete" option:
![image](https://user-images.githubusercontent.com/13686399/31470970-50a8e4ee-ae9b-11e7-880a-d3515ffebaad.png)
- [x] If there are no calls to the custom procedure, or if all of the calls are inside the definition, the procedure is deleted.
![image](https://u

[2017-10-11 23:17] rachel-fenichel commented on #1118
https://github.com/LLK/scratch-blocks/issues/1130 tracks function deletion when the context menu option is clicked.

[2017-10-12 12:30] paulkaplan opened #1133 "Duplication is very slow with variable reporters"
The same problem we had when refreshing the workspace when variable reporters are visible is making duplication of stacks with variable reporters very slow also. Reported over on https://github.com/LLK/scratch-gui/issues/748#issuecomment-336046866

Looks like the `bulkUpdating` flag should be set during that operation as well?

[2017-10-12 17:17] #432 closed, assigned to nobody

[2017-10-12 18:15] rachel-fenichel commented on #1110
Right-click behaviour looks right now:
![image](https://user-images.githubusercontent.com/13686399/31511998-57f08038-af3e-11e7-8669-929701e08384.png)

![image](https://user-images.githubusercontent.com/13686399/31512017-632f25ee-af3e-11e7-90ec-b06622146f6b.png)

Both are missing "add comment", but that's being tracked in https://github.com/LLK/scratch-blocks/issues/1120

I'm closing this now--all

[2017-10-12 18:15] #1110 closed, assigned to rachel-fenichel

[2017-10-12 19:02] #1102 closed, assigned to rachel-fenichel

[2017-10-12 19:49] rachel-fenichel opened #1135 "Context menu for custom command blocks"
![image](https://user-images.githubusercontent.com/13686399/31515885-a6730f20-af4b-11e7-997f-c63e2a0b2aa5.png)

6 options, in order:
- [x] duplicate
- [x] delete
- [ ] add comment (tracked in #1120)
- [x] help
- [x] edit (tracked in https://github.com/LLK/scratch-blocks/issues/607)
- [x] define (tracked in https://github.com/LLK/scratch-blocks/issues/1136)

[2017-10-12 19:51] #1118 closed, assigned to rachel-fenichel

[2017-10-12 20:34] rachel-fenichel opened #1136 "ENA-189 Implement "go to procedure definition""
### Expected Behavior

The "define" option in the context menu on a custom command block should bring the procedure definition into view.

In Scratch 2.0 it just brings it into view--doesn't center it.  We may want to center and/or highlight it.
We have to decide on text for the context menu option.  In Scratch 2.0 it's 'define', which is not very clear.

[2017-10-13 02:13] towerofnix commented on #1136
"Jump to definition" is a common wording - if a user knows what it does in Scratch, they'll almost immediately know what it does in other IDEs (and vice versa). I'm not sure it has a very obvious meaning to somebody who's never encountered an action like it before, though. (At least it's better than define!)

[2017-10-13 17:07] #1133 closed, assigned to nobody

[2017-10-13 17:42] #1129 closed, assigned to rachel-fenichel

[2017-10-13 20:41] mrjacobbloom commented on #1136
Yeah I'm constantly confusing "Define" and "Edit" in the proc context menus because both words could apply to both functionalities. Changing to something more descriptive like "Jump to definition" would help with that

[2017-10-13 20:41] rachel-fenichel commented on #1135
#1137 added all options except for comments.

[2017-10-13 20:41] #1135 closed, assigned to nobody

[2017-10-13 21:07] rachel-fenichel opened #1143 "When a procedure definition is changed, find and update all its callers"
When a procedure definition is edited (see https://github.com/LLK/scratch-blocks/issues/607) all of its callers should be updated to use the new definition.

`Blockly.Procedures.mutateCallers` is the function that does this, but it's currently implemented for Blockly procedures rather than scratch-blocks procedures.

[2017-10-16 13:36] paulkaplan opened #1145 "Single call to update workspace XML?"
In order to change sprites in scratch-gui, we have to clear the workspace and load up new blocks from the new sprite. Right now that involves these three things.
[code]

Line 1 and 3 both cause `workspace.refreshSelection_` to be called, through the toggling of the bulkUpdate flag. That operation costs around 200ms right now, so it would really help to condense the process down to a single bulkUpd

[2017-10-16 16:54] rachel-fenichel commented on #433
Fixed here (as part of a PR) and upstream: https://github.com/google/blockly/pull/1324

[2017-10-16 16:54] #433 closed, assigned to nobody

[2017-10-16 22:03] rachel-fenichel commented on #1145
Yes, I'm starting to think that setBulkUpdating should be pushed and popped.  Note that we need to catch any exceptions that might happen while pushing it, or else we can lock the system in a state where it never updates again.

[2017-10-18 15:51] paulkaplan commented on #1089
It seems to come down to the mousedown handler in the toolbox calling `clearTouchIdentifier`, which seems to break the gesture. https://github.com/LLK/scratch-blocks/blob/develop/core/toolbox.js#L117-L127

@rachel-fenichel could you shed some light on what `clearTouchIdentifier` is used for here, the comment is somewhat cryptic (`// Don't block future drags.`)

[2017-10-18 15:58] paulkaplan commented on #1127
@rachel-fenichel is the plan to wait on the upstream feature needed for this?

[2017-10-18 17:02] rachel-fenichel commented on #1127
I had been planning to chat about it in the meeting this week, which I forgot was cancelled.

What are your thoughts on the simple solution that I mentioned above?

[2017-10-18 17:16] paulkaplan commented on #1127
Well, I think the concern you listed is a big one. Particularly because we don't want people to be able to define blocks that would be able to be dropped into there. I would lean more towards the second option.

[2017-10-18 17:17] #12 closed

[2017-10-18 17:17] #1126 closed, assigned to paulkaplan

[2017-10-18 17:22] rachel-fenichel commented on #1089
Hm, why would it be the mouse down handler?  The issue is a mouse up on the toolbox, but the mouse down should definitely be somewhere else.

That call to clearTouchIdentifier is because there is no corresponding mouse up handler, so that handler is the end of the click.  If the touch identifier were not cleared, future mouse downs would be ignored (which is what bindEventWithChecks_ does).

[2017-10-18 17:24] rachel-fenichel commented on #1127
I lean that way as well, but I don't have a good way of adding it to the JSON spec.  I'm going to chat with Neil about that today.  It's easy to add for inputs, but hard to add to previous and next connections.

[2017-10-18 20:17] paulkaplan commented on #1089
I think it has something to do with that mouse down on the toolbox: when you right-click -> duplicate, the block gets "fake dragged" so it is attached to your mouse, even though your mouse isn't down. Then you mouse down on the toolbox, and if you hold your mouse down and move it around you can see the block is already "stuck" to the toolbox. Here is a gif of that:
![stuck-block](https://user-imag

[2017-10-18 20:22] rachel-fenichel commented on #1089
Oh right, from the duplication.

Okay, then the solution is to get the current `Gesture` from the workspace and call `cancel` on it (and not do the normal mouse down behaviour).  You can get it with `workspace.getGesture(e)`.

If there is no current gesture, just run the current behaviour.

[2017-10-18 20:23] paulkaplan opened #1150 "Define block overlaps at the bottom"
Looks like a small rendering issue with the define block, the bottom edge seems to be farther down than it should be/the connection is rendered higher than it should be?

![define-render-issue](https://user-images.githubusercontent.com/654102/31740870-92271302-b420-11e7-9846-e8bdffedeeb6.gif)

[2017-10-18 23:46] rachel-fenichel opened #1151 "Show an error when a custom procedure can't be deleted"
In Scratch 2.0 it looks like this:
![image](https://user-images.githubusercontent.com/13686399/31747811-d94dd376-b423-11e7-8ad7-6924086847f7.png)

[2017-10-19 00:26] rachel-fenichel commented on #1127
Whether that second concern is a real problem depends in large part on how you're planning to have people define blocks for extensions, etc.

[2017-10-19 13:09] paulkaplan opened #1154 "😭 Failing builds get published 😭"
Our most recent merge into develop was broken on travis, but didn't actually fail the tests so it was declared "ok" and deployed to npm. That broke the GUI build, and is generally terrible.

Here is the log where it failed and didn't fail. https://travis-ci.org/LLK/scratch-blocks/jobs/289755894#L501

If building the compressed library fails, travis should fail.

[2017-10-19 17:16] #1150 closed, assigned to rachel-fenichel

[2017-10-19 17:20] msucharski opened #1156 "ENA-229: Output connection location can be confusing when dragging long reporters"
### Expected Behavior

When a user drags an input block, they should be able to drop the block into the insertion point when they release their mouse over the insertion point.

### Actual Behavior

The left coordinate of the input block is used to determine what insertion marker/input "hole" to place the dragged block. This is confusing, especially on longer input blocks where the center or grabbe

[2017-10-19 23:07] #1053 closed, assigned to paulkaplan

[2017-10-20 13:54] Kenny2github opened #1159 "Uncaught TypeError: blockToDrag.onMouseMove_ is not a function"
### Expected Behavior

The "Fake some drags!" thing in the [blocks playground](https://llk.github.io/scratch-blocks/playgrounds/tests/vertical_playground.html) should not raise errors

### Actual Behavior

When I click "Fake some drags!", I get the following error message:
[code]

### Steps to Reproduce

1. Navigate to https://llk.github.io/scratch-blocks/tests/vertical_playground.html
2. Drag som

[2017-10-20 18:25] paulkaplan opened #1160 "Clicking variable reporters doesn't emit 'stackclick' event"
### Expected Behavior

_Please describe what should happen_

Clicking on a regular reporter in the vertical playground with event logging on shows 3 events, including the `stackclick` event that is used by the VM to run a block.
[code]

### Actual Behavior

_Describe what actually happens_

Creating a new variable and clicking the reporter in the flyout (or the workspace) only emits a single event

[2017-10-20 18:31] rachel-fenichel commented on #1160
Is this only variable reporters, or all blocks?  I'm only seeing one event when I click on a block in the playground, regardless of type.

Edit: two events: selected and click.  But no stackclick.
One event if I had already selected that block and not clicked away.

[2017-10-20 18:40] paulkaplan commented on #1160
Sorry you are right, I was on a pre-merge version of scratch blocks. I think the merge broke all stack-clicks. I'm going to revert the change that caused it, I believe it was the way that i merged https://github.com/LLK/scratch-blocks/commit/971c0c83167ba531bf23b44522a4cd5f0acfb573 which caused all stack clicks to go away.

[2017-10-20 18:41] paulkaplan commented on #1160
Once that is fixed, it still won't emit stackclicks for variable reporters because the field is marked as "EDITABLE", which I think is the root cause for this problem (editable fields are handled differently in  `Gesture#handleUp`)

[2017-10-20 19:09] paulkaplan commented on #1160
This PR reverted the event merging commit which caused all stack clicks not to work: https://github.com/LLK/scratch-blocks/pull/1161

Still need to handle the editable field one too.

[2017-10-20 19:41] paulkaplan opened #1163 "Stop using "Editable" when we mean "Serializable""
Following up with https://github.com/LLK/scratch-blocks/pull/1162

We use "editable" to enable serialization, but it causes other problems like https://github.com/LLK/scratch-blocks/issues/1160.

Implement a `serializable` flag and stop using `EDITABLE`.

[2017-10-20 20:44] rachel-fenichel commented on #1159
Oops--that button shouldn't be there anymore, since it was for debugging a drag framework that no longer exists.  Want to remove it?

[2017-10-20 23:51] #1163 closed, assigned to rachel-fenichel

[2017-10-21 04:39] Kenny2github commented on #1159
@rachel-fenichel oh, I see. Sure, I can remove it if this is `help wanted` - where's the code for it?

[2017-10-21 17:20] mrjacobbloom commented on #1156
related to #456

[2017-10-23 09:44] chaoqinf opened #1169 "Problems occur when compiling blocks"
### Expected Behavior

_Please describe what should happen_

### In Blockly. Generator. BlockToCode var func = in this [block. The type] will produce a undefined.

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2017-10-23 11:59] thisandagain commented on #1169
We do not provide generators for `scratch-blocks` but rather provide an interpreter called [scratch-vm](https://github.com/llk/scratch-vm). If you would like to use generators, you will need to implement them yourself.

[2017-10-23 11:59] #1169 closed, assigned to nobody

[2017-10-23 15:25] #1091 closed, assigned to ericrosenbaum

[2017-10-23 17:43] rachel-fenichel commented on #1159
This code and the stuff it touches: https://github.com/LLK/scratch-blocks/blob/develop/tests/vertical_playground.html#L293

Thanks!

[2017-10-23 18:59] paulkaplan commented on #1160
Closed by #1163

[2017-10-23 18:59] #1160 closed, assigned to paulkaplan

[2017-10-23 19:44] chrisgarrity opened #1171 "Change 'hue' to 'color' in color picker"
We've decided to use 'color' instead of 'hue in the 'pen' blocks because it may be easier to understand.

It would be better if the picker was consistent with the blocks.

[2017-10-23 21:08] #1171 closed, assigned to paulkaplan

[2017-10-23 21:12] paulkaplan commented on #1127
Closed by https://github.com/LLK/scratch-blocks/pull/1158

[2017-10-23 21:12] #1127 closed, assigned to paulkaplan, rachel-fenichel

[2017-10-23 22:02] rachel-fenichel commented on #1023
Should be fixed from the most recent merge.

[2017-10-24 00:29] rachel-fenichel opened #1174 "No-toolbox workspaces are broken"
### Expected Behavior

In Blockly you can inject a workspace with no toolbox provided, and you'll get a workspace that lets you work with the blocks on it but doesn't let you drag in new blocks.

This will be necessary for https://github.com/LLK/scratch-blocks/issues/1104.

### Actual Behavior

In scratch-blocks you can pass `readonly: true` to inject to make the toolbox disappear, but you can't g

[2017-10-24 08:23] smaameri opened #1175 "Blockly.Procedures.isNameUsed returning wrong values"
The Blockly.Procedures.isNameUsed function is returing the opposite of what it says it should.

As per the definition it says:

`//  @return {boolean} True if the name is used, otherwise return false`

however the code is returning opposite. Compared with the Blockly code, the return true/false locations are also switched. I.e the function is returning true when it should return false, and false w

[2017-10-24 12:42] #1023 closed, assigned to nobody

[2017-10-24 16:25] thisandagain commented on #1175
@rachel-fenichel @paulkaplan Any thoughts on this?

[2017-10-24 19:59] picklesrus opened #1176 "Loading duplicate variables - what should happen?"
What should happen when a variable exists in the toolbox then gets loaded into the workspace via xml?

The current code path tries to call create on the variable and errors out, dumping an error to the console.

To reproduce:
1. Open up the vertical playground
2. create a new variable "asdf"
3. drag it into the workspace
4. Export workspace xml
5. Refresh the playground
6. create "asdf" via the bu

[2017-10-24 21:41] rachel-fenichel commented on #937
Just so you know, bringing the just-edited stack to the front means bumped blocks can be occluded:

![838f4443-b65e-4169-a20e-05ce43d85ceb](https://user-images.githubusercontent.com/13686399/31969432-68a8f0b0-b8c9-11e7-9003-ce6e2eb9c215.gif)

[2017-10-25 00:49] rachel-fenichel commented on #1175
Yup, that looks wrong!  Fixed in blockly [here](https://github.com/google/blockly/commit/234c53157f676978ab9de232ed28305720443003), with a commit comment of "Fix Blockly.Procedures.isNameUsed return values.
Add tests for Procedures.isNameUsed() so this bug never happens again."

However, fixing that won't fix `isNameUsed` right now--it's also calling `getProcedureDef` to check whether something is

[2017-10-25 00:52] rachel-fenichel commented on #1175
However, this may be an argument for calling [`getProcCode`](https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/procedures.js#L157) `getProcedureDef` instead, to keep compatibility.  Something to think about.

[2017-10-25 16:13] #1174 closed, assigned to rachel-fenichel

[2017-10-25 17:00] paulkaplan opened #1183 "Incorrect "change" event when renaming variables"
In the vertical playground, create a variable and drag the new "set <x> to <y>" block into the workspace. Open the dropdown and rename the variable to something else.

There are two events, a `VarRename` and a `Change` for the variable field. The `VarRename` seems ok, it has the varId, oldName and newName. The `Change` event, though, doesn't look it has the right fields: the `oldValue` is the vari

[2017-10-25 17:26] paulkaplan commented on #1183
I can also replicate this in the google/blockly develop playground

[2017-10-25 17:40] paulkaplan commented on #1183
It looks like it would be possible to patch this behavior in the VM by checking if there is a variable with  `id=newValue`, and if there is not, assume this is a "name changing" event and update the field appropriately. updating fields from change events already has an extra conditional about these VARIABLE fields, but it seems like that would be letting it get kind of out of control.

[2017-10-25 18:02] rachel-fenichel commented on #1175
I'm going to leave this open and assigned to me, because it's a real issue with the code.

[2017-10-25 18:30] rachel-fenichel commented on #1183
I tried this in the blockly playground (renaming a variable from `bar` to `baz`) and got these events:
![image](https://user-images.githubusercontent.com/13686399/32016047-bfaadfd2-b977-11e7-810a-9add034033ca.png)

`oldValue` and `newValue` are both names (not IDs) in both cases.  Seems like that's different from what you're seeing?

I agree that we shouldn't patch around this in the VM, but shoul

[2017-10-25 18:35] paulkaplan commented on #1183
Are you sure you didn't rename it more than once? If you did it more than once, both old and new are going to look like names, because the first time changes it from id => name, then the second+ time would change it from name => name

[2017-10-25 19:41] rachel-fenichel commented on #1183
You're right, I had already renamed it so I wasn't seeing the bug.

[2017-10-25 21:50] rachel-fenichel commented on #1103
Text input field should be a shadow block with a text/number output and single text field (use the existing block, unless adding the delete button becomes an issue).
Boolean input field should be a shadow block with a boolean output and single text field (needs a new block):
[code]

Labels should be a new field type, `field_label_editable`.  (Not to be confused with the current `field_label_serial

[2017-10-25 21:56] #1159 closed, assigned to Kenny2github

[2017-10-26 22:41] rachel-fenichel opened #1185 "Procedure call blocks can't handle _updateDisplay being called multiple times"
They never clear out the mutated fields before adding them again, so the number of fields will only increase.

Whoops.

[2017-10-27 17:45] rachel-fenichel opened #1186 "Define block insertion marker is the wrong width"
### Expected Behavior

Define block insertion marker should be the same width as the fully rendered define block, including the width of the internal block.

### Actual Behavior

![image](https://user-images.githubusercontent.com/13686399/32117631-ea7130bc-bb03-11e7-9c2c-c14060f0e857.png)

### Steps to Reproduce

Disconnect the define block from everything else, then drag it near a stack of blocks

[2017-10-27 18:24] picklesrus commented on #1145
I think this is fixed now that scratch-gui/develop is using the function added in #1178. If there is more optimization to be done I think there will be more targeted so we can track those separately.

[2017-10-27 18:24] #1145 closed, assigned to paulkaplan, rachel-fenichel

[2017-10-27 18:50] carljbowman commented on #996
Round 1
- [ ] Create design for slider
- [ ] Define which blocks will use the slider widget

[2017-10-27 20:04] msintov opened #1188 "glowStack() causes executing stack to hide until glow is removed, on iOS/Android"
### Expected Behavior

The executing script should have a yellow outline.

### Actual Behavior

The executing script disappears.

### Steps to Reproduce

We have observed this behavior on iOS and Android for scripts small and large, but in my reproducible case here, this behavior occurs for a very large script in the iOS simulator.

1. Open the vertical playground in iOS simulator (I've tried iOS

[2017-10-28 00:43] rachel-fenichel commented on #1103
The text in each of these fields is stored as a mutation for use in other blocks, so we also need to make sure that it's properly escaped (when I implement this).

[2017-10-28 17:49] towerofnix opened #1190 "Script area scrolling is very slow in Firefox"
### Expected Behavior

Scrolling with the scroll wheel happens at the same speed as in the block palette.

### Actual Behavior

Scrolling is much slower.

### Steps to Reproduce

Add a block to the scripting area so that the scrolling speed is clear, then use the scroll wheel to scroll.

### Operating System and Browser

Firefox 57.0 on Debian (Testing).

[2017-10-28 19:28] towerofnix commented on #1190
It should be noted that scrolling is *generally* captured very slowly on Firefox, in terms of Scratch 3.0 - for example, panning the paint editor with the scrollwheel is very slow, as is zooming in and out (in both the paint editor and scratch-blocks).

[2017-10-30 14:58] paulkaplan opened #1191 "`variableType` attribute in XML breaks because of case (in)sensitivity"
_Note: this is blocking bringing back the `list` blocks_

### Expected Behavior

_Please describe what should happen_

When trying to get the list blocks working, I encountered an error with trying to use `variableType` as an xml attribute. It is automatically downcased to `variabletype` and then cannot be read back using `getAttribute`.

### Steps to Reproduce

_Explain what someone needs to do i

[2017-10-30 18:08] rachel-fenichel commented on #1191
See https://github.com/LLK/scratch-blocks/commit/eed4e33f845f842dfcd001508ddb442ffe55abdb#commitcomment-25202380

[2017-10-30 19:06] paulkaplan commented on #1190
Ugh, it probably has something to do with this: https://developer.mozilla.org/en-US/docs/Web/API/WheelEvent/deltaMode

Firefox is the only browser that for some reason still uses `line` mode instead of `pixel` mode, and so all scrolling has to be checked against the delta mode. :(

[2017-10-30 22:52] rachel-fenichel opened #1194 "Undoing procedure edits"
Scratch 2.0 can't undo/redo procedure edits.

Should Scratch 3.0 be able to undo/redo procedure edits?  If not, what's the specific reason to avoid it?

[2017-10-30 22:59] rachel-fenichel opened #1195 "Applying edits to an existing procedure"
_"Editor" refers to the custom procedure editor in this bug._
---------------
### Questions
- Should labels be coalesced?  (See example 1).
- Should a label appear when the editor is opened?  (See example 2).
- When an input is deleted, should a connected block be deleted or bumped away? (See example 3).
- When an input is deleted, should all other connected blocks stick to their respective connec

[2017-10-30 23:30] rachel-fenichel commented on #1188
Is the system under serious memory pressure when this happens?

[2017-10-30 23:54] towerofnix commented on #1194
First thoughts are that it definitely should support undoing a procedure edit; after all, it's possible one might accidentally make an edit which *removes* an input, thus messing up old scripts. In that case, being able to undo would be very helpful.

[2017-10-31 16:57] msintov commented on #1188
@rachel-fenichel No, I don't believe this is a memory issue. For the reproducible steps listed above, the bug can happen even if the simulator was just booted, and my guess is that those steps don't take a lot of memory. Note that if the svg attribute to create the gaussian blur is not applied, then the script does not disappear.

[2017-10-31 17:41] rachel-fenichel commented on #1195
Blockly behaviour on editing a function:
![76c5f3a3-24d1-42e2-a283-3379888b1b99](https://user-images.githubusercontent.com/13686399/32239554-10d437d2-be28-11e7-95f2-469233aedb06.gif)

[2017-10-31 21:50] rachel-fenichel commented on #1195
### Answers
- Should labels be coalesced? (See example 1).
  - Yes, this is fine.
- Should a label appear when the editor is opened? (See example 2).
  - No, but low priority.
- When an input is deleted, should a connected block be deleted or bumped away? (See example 3).
  - Bumped away, but low priority.  In the meantime deleting is fine.
- When an input is deleted, should all other connected bl

[2017-11-01 18:12] thisandagain commented on #1176
We can't think of a way in which this could happen in Scratch currently (maybe when we introduce the backpack?). Moving to backlog for now.

[2017-11-01 18:16] carljbowman opened #1199 "Audit currently implemented blocks for Droppable / Non-droppable inputs"
We need to update some of the 3.0 blocks to not allow reporters to be dropped into their inputs, e.g. "touching [mouse pointer]"

I will follow up with a complete audit.

[2017-11-01 18:26] rachel-fenichel opened #1200 "Argument defaults on custom procedures"
Custom procedure mutations have both names and default values for arguments.  There is no UI for setting default values.

In code, should I respect those default values or ignore them?
In UI, are we going to have a way to set default values?

[2017-11-01 23:09] towerofnix commented on #1199
IMO there should definitely be some discussion on this. I don't want to get too specific before actually seeing the audit, but - in general there's two important things I think need to be focused on:

* It shouldn't be *discouraging* to get stalled by putting a block in an input..
* *Or* by being stalled by *not* being able to put a block in an input.

You know, low floor, high ceiling :)

(Again,

[2017-11-02 13:27] carljbowman commented on #1199
@towerofnix - I appreciate response. I agree, we do not want to discourage people from trying new things and tinkering, but we also want to set people up for a good experience.

There are some inputs that if they accept blocks it's not conceptually clear to the creator what will happen. In some cases that can be desired, but for people are new and who are learning how blocks work that can result i

[2017-11-02 17:26] towerofnix commented on #1199
@carljbowman Thanks. It's definitely awesome to see you do playtest everything (which I should have figured from the start, considering you've always playtested everything else too).

Relatedly - [a recent example](https://scratch.mit.edu/discuss/topic/281463/) of someone wanting to drop a block inside of the "key pressed?" block, so that they could easily make a custom text input ("repeat until t

[2017-11-02 18:17] msintov opened #1205 "On mobile, FlyoutButton click only recognized when button text is tapped"
### Expected Behavior

On mobile, upon tapping inside button border but not tapping on text, button click is recognized.

### Actual Behavior

On mobile, tapping inside the button border on the empty space within the button is not recognized as a click.

### Steps to Reproduce

1. Load vertical_playground.html.
2. From Google Chrome menu, select View > Developer > Developer Tools and then select a

[2017-11-03 14:12] carljbowman opened #1206 ""Input First" Blocks"
Some languages will reorder block parameters (e.g. Korean). This reordering can result in the inputs becoming the first element on the block. We will need to account for this by adding addtional vertical padding so the top notch of the block does not overlap the input.

Here are some initial sketches to address this issue. After sketching my leaning is towards the middle option: it balances adding

[2017-11-03 16:02] carljbowman opened #1207 "Add Extension Icon support to block rendering"
Splitting from https://github.com/LLK/scratch-gui/issues/815

### Icon on blocks spec
This is a hi-res (300%) PNG for zooming on measurements. Extension Icons on blocks will need some special treatment when it comes to alignment and spacing.

In all cases the Vertical height of extension blocks will be taller than their "standard" block counter-parters. E.g. Command blocks with extension icons are

[2017-11-03 22:52] benjiwheeler opened #1208 "When replacing number/boolean inputs, new blocks should come to front"
_This issue was reported in scratch-gui: https://github.com/LLK/scratch-gui/issues/765

But I believe it belongs in scratch-blocks instead._

Copying from [jwzimmer](https://github.com/jwzimmer)'s original report:

### Expected Behavior

When number (inputs) are replaced by other blocks, the replaced blocks should pop to the front.

### Actual Behavior

When numbers replaced by other blocks, the r

[2017-11-03 22:57] rachel-fenichel commented on #1208
Definitely a scratch-blocks issue, but is it specific to number/boolean blocks?

[2017-11-03 23:00] rachel-fenichel commented on #1208
Also, I suggest closing this and continuing discussion on https://github.com/LLK/scratch-blocks/issues/937

I brought up exactly this issue on there already.

[2017-11-03 23:00] #1208 closed, assigned to nobody

[2017-11-03 23:00] benjiwheeler commented on #1208
(continuing on #937)

[2017-11-03 23:04] benjiwheeler commented on #937
I was able to fix this by adding a call to `rootBlock.bringToFront()` in the function `Blockly.RenderedConnection.prototype.bumpAwayFrom_`, in `core/rendered_connection.js`.

However, I'm not familiar enough with the code know how smart or safe my solution is! So I'm not sure if I should submit a PR.

<img width="769" alt="screen shot 2017-11-03 at 6 54 14 pm" src="https://user-images.githubuserco

[2017-11-03 23:05] benjiwheeler commented on #937
Not sure if my fix helps, given Rachel's objection above:

_Calling bringToFront on the dragging block would also work but would get expensive if the dragging block is being connected to the end of a long stack--we would be calling appendChild() for every single block above it i nthe stack._

[2017-11-03 23:22] rachel-fenichel commented on #937
1) while you're working on this, pull in https://github.com/LLK/scratch-blocks/pull/1209 to fix a problem where bumping was sometimes disabled.
2) I tried your fix but got this failure:

![7ca5d90f-b51c-4258-a5c4-39ec7063be67](https://user-images.githubusercontent.com/13686399/32399412-ea0cd34c-c0b2-11e7-972c-93d11cd6238c.gif)

The correct solution might be to send bumped stacks to the back but br

[2017-11-04 00:48] mrjacobbloom commented on #1205
Possible duplicate of #941 and #1073

[2017-11-05 14:24] smaameri opened #1210 "Horizontal block grammar features"
Regarding the horizontal blocks, would like to know if 'If/Else' blocks are supported? I could not find a way to create an If/Else block.

Also, is it possible to have block inputs in the horizontal version, i.e can we drag a block into another block for it to be an input into that block? For example in the photo below, we have dragged the 'Math +' block into the 'Wait' block. Does the horizontal

[2017-11-06 19:05] jwzimmer-zz commented on #984
Looking at this with @ericrosenbaum, we're not seeing how to rename a list in Scratch 2.0. We also got a request from a Scratcher in a workshop (10/16/17) to be able to rename a list in Scratch 3.0, so we wanted to make a note of that request for consideration here.

[2017-11-06 22:56] rachel-fenichel opened #1213 "Names for custom procedure block types"
Proposed new names:
![image](https://user-images.githubusercontent.com/13686399/32468256-5a3d7756-c302-11e7-8543-18db82dd58c5.png)

Old names -> new names:
- `procedures_callnoreturn_internal` -> `procedures_defnoreturn`
- `procedures_defnoreturn` -> `procedures_defwrapper`
- `procedures_callnoreturn` -> `procedures_callnoreturn` (no change)

@paulkaplan we'd have to make this change simultaneousl

[2017-11-07 19:42] rachel-fenichel commented on #1207
Input first blocks will still have the icon before the first input, right?  If so, the first input on an extension block will be past the notch (based on position of icon + bar).

[2017-11-07 19:43] rachel-fenichel commented on #1207
Does the vertical bar get taller as the block gets taller?  For instance, in this block would the vertical bar's height be based on a distance from top and bottom, or is it a fixed height?
![image](https://user-images.githubusercontent.com/13686399/32514062-be7e0c90-c3b0-11e7-8796-cafff45e85a7.png)

[2017-11-07 19:53] carljbowman commented on #1207
@rachel-fenichel - Thanks for the initial thoughts and questions.

1. Extension icons should always be the first element on extension blocks. So the "input first" stuff is not a real issue for anything that is an Extension.

2. Thanks for clarifying. No, the vertical bar does not need to get taller as blocks are nested. That can be a fixed height.

[2017-11-07 22:54] rachel-fenichel commented on #1103
Current status:
![image](https://user-images.githubusercontent.com/13686399/32522184-2d9530bc-c3cb-11e7-8d4d-b305ef1da1fb.png)
![73371c57-e124-4ad0-8757-f2609c88adda](https://user-images.githubusercontent.com/13686399/32522191-32401974-c3cb-11e7-86f6-4e15f88cc751.gif)
![image](https://user-images.githubusercontent.com/13686399/32522219-50c1813a-c3cb-11e7-8e1c-93ebeddf893e.png)

Questions (@carljbo

[2017-11-08 01:58] rachel-fenichel commented on #1200
Friendly ping--I'm starting to need this.

Should I care about argument defaults at all?  And should I expect that all mutations have an argumentDefaults array, or just be prepared to parse one if I find it?

[2017-11-08 13:21] carljbowman commented on #1103
@rachel-fenichel - Thanks for the update. Sorry I missed your min-width question. Not sure how that email got past me.

1. min-width: The min-width for all these inputs should be 10 grid units (40px)
<img width="579" alt="screen shot 2017-11-08 at 8 21 05 am" src="https://user-images.githubusercontent.com/3409578/32551217-c7cc434a-c45d-11e7-8151-2011836f483d.png">

2. boolean text spacing: Ideally

[2017-11-08 18:53] paulkaplan commented on #825
This is done on the scratch-blocks side. Going to combine variables + lists into a single "typed variable" in the VM now.

[2017-11-08 18:53] #825 closed, assigned to paulkaplan

[2017-11-08 21:48] rachel-fenichel commented on #1103
When the user clicks the "add label" button, does it have any default text?

For now I'm going to give it default text because it makes the implementation easy, but I'm open to changing that.

[2017-11-08 21:52] fsih opened #1215 "Undefined variable appears when deleting variable and changing sprites"
### Expected Behavior

No undefined variables

### Actual Behavior

undefined variable appears

### Steps to Reproduce

1. Go to Data. Create a variable.
2. Drag "set x to" block to workspace
3. In the dropdown, delete variable
You can also delete variables by right clicking on them in the flyout and choosing delete

all appears well

4. Add a new sprite or change to the costume tab
5. Return to t

[2017-11-08 21:59] fsih opened #1216 "Variables with old name reappear when renamed after switching sprites"
### Expected Behavior

Renamed variable should stay renamed

### Actual Behavior

There are now 2 variables, one with the old name

### Steps to Reproduce

1. Go to Data. Create a variable.
2. Drag one of the data blocks to the workspace
2. Add a new sprite
3. Drag "set x to" block to workspace
4. In the dropdown, rename variable. Choose a new name
You can also rename variables by right clicking o

[2017-11-08 22:00] fsih commented on #777
Both delete and rename are working now for the repro steps in this bug, so I'm closing this bug.

There are some leftover issues however, which I've filed in https://github.com/LLK/scratch-blocks/issues/1215 and https://github.com/LLK/scratch-blocks/issues/1216

[2017-11-08 22:00] #777 closed, assigned to paulkaplan, fsih

[2017-11-08 22:03] rachel-fenichel commented on #1216
Dupe of https://github.com/LLK/scratch-blocks/issues/1183

The fact that it occurs on sprite switch is a result of how scratch-gui uses scratch-blocks, but doesn't make it a different bug.

[2017-11-08 22:03] #1216 closed, assigned to nobody

[2017-11-08 23:58] rachel-fenichel opened #1217 "Malformed SVG: missing `d` attribute on a `path`"
Bug found on pxt-blockly, which uses scratch-blocks rendering: https://github.com/Microsoft/pxt-blockly/pull/86 and https://github.com/Microsoft/pxt-blockly/issues/84

### Expected Behavior

Blocks load in IE.

### Actual Behavior

Some blocks can't load in IE 11.  In Chrome there is a `path` with no `d` attribute, but Chrome recovers cleanly.
![image](https://user-images.githubusercontent.com/136

[2017-11-09 00:00] samelhusseini commented on #1217
Just to clarify, it's not load that is blocked on IE. but SVG calculations (for the scrollbar height, getBBox) and applied filters (disappearing as you drag) that are affected.

[2017-11-09 00:07] rachel-fenichel commented on #1217
Ah good point.  But creating the `and` block above by dragging won't cause the same problem--the input-without-a-shadow has to be filled at the point of the first render.  If the block was rendered at least once with the input unfilled, it will set the path: https://github.com/LLK/scratch-blocks/blob/develop/core/block_render_svg_vertical.js#L1335

Covering it later sets the path to `visibility: h

[2017-11-09 00:40] rachel-fenichel commented on #1217
Aha, and here's the code that just avoids creating input shapes if there's a shadow.
[code]

[2017-11-09 00:59] rachel-fenichel opened #1218 "Input shapes aren't removed when an input is removed"
### Expected Behavior

Deleting an input on a block should clean up everything associated with it.

### Actual Behavior

The input, connected block, and shadow block are deleted.  The input shape is not deleted.

In this gif there's only one input, so I know it'll be deleted when I click "remove random input"
![3c310616-0b8c-40f3-a569-a40a99883966](https://user-images.githubusercontent.com/1368639

[2017-11-09 02:41] tmickel commented on #1218
Hmmm, might have been me...perhaps an accident for the lack of knowing better ;p blockly renders its inputs (holes/notches in the blocks) in the block rendering right, so it seemed natural I guess...

[2017-11-09 16:14] paulkaplan commented on #1215
The reason this is happening is because the monitored block for the variable reporter is not being deleted when the variable is deleted. The VM is actually running the opcode for getVariable, which runs a `lookupOrCreateVariable`, emphasis on the **Create** part. The variable was deleted but then re-created. vm/scratch3_data.js only passes the variable ID to `lookupOrCreateVariable`, which is what

[2017-11-09 16:35] paulkaplan commented on #1215
@fsih we should move this issue to VM because it is only a vm problem, not scratch-blocks.

[2017-11-09 16:57] fsih commented on #1215
Moved to https://github.com/LLK/scratch-vm/issues/775. Thanks for investigating!

[2017-11-09 16:57] #1215 closed, assigned to paulkaplan, fsih

[2017-11-09 20:51] rachel-fenichel commented on #1218
Makes sense, and that was my guess.  It shouldn't be too hard to put in the right place.

[2017-11-09 21:55] fsih opened #1220 ""tried to start the same gesture twice" and "Trying to cancel a gesture recursively.""
I'm guessing these are logged because they're not supposed to happen? Here is a way to get these to happen.

Trying to cancel a gesture recursively: Drag a block from the workspace to the flyout to delete it.
tried to start the same gesture twice: Click on a block, and while holding down left click, also right click the same spot

[2017-11-09 22:17] rachel-fenichel commented on #1220
We can remove those logs, but I'll also explain what they're there for.  Wall of text ahead.

--------------
Trying to start the same gesture twice: in an ideal world all mousedowns would have corresponding mouseups. (Same for touch, etc, but that gets into questions of how touch identifiers are generated across platforms.  Let's discuss it in terms of mouse events, because it's easier to talk abo

[2017-11-09 22:26] fsih commented on #1220
Thanks for the info, the mouse up/down stuff will be useful to know! Personally, I don't think it's a big deal to leave in the logging, though the block deleting one is pretty common and it might be good to not show it if we expect it.

[2017-11-09 23:20] fsih opened #1221 "A cool ghost of the input area appears when you put zalgo in a block"
### Expected Behavior

Dialog box should appear saying "Please stop trying to break our interface using Zalgo"

### Actual Behavior

There is an extra input floating above the real input
![image](https://user-images.githubusercontent.com/2855464/32634656-ad3d5118-c57a-11e7-9c0b-d226e0d63baf.png)

### Steps to Reproduce

Paste s̠̱̥̮͎̗̙̮̗̒͆͂̊̎͑̊̚͟q̶̹̗͚̯̪̰̭̭̘͈̞̖̺͍̥̠̮̰͇ͭͮ̍̏̎͆͆̀̒ͯ͊̽̓́͘v̶̌ͭ͋̎͆ͥ̌̂̒ͬͤ̈́̈́̂͜

[2017-11-09 23:31] rachel-fenichel commented on #1221
I blame @tmickel

[2017-11-09 23:46] rachel-fenichel commented on #1221
The Scratch cat can handle it though!

![image](https://user-images.githubusercontent.com/13686399/32635422-311d2b54-c565-11e7-8fd4-ee68122d7290.png)

[2017-11-09 23:52] AnmAtAnm commented on #1221
Mac Chrome 61... All the codepoints are present, and the speak bubble goes offscreen, but the editor never shifts away from the block field.

<img width="438" alt="screen shot 2017-11-09 at 3 50 18 pm" src="https://user-images.githubusercontent.com/9916202/32635597-dc865a1a-c565-11e7-8315-b1451eeb4c2a.png">

[2017-11-10 00:01] NeilFraser commented on #1221
I'm the originator of this bug, I assumed that all text was roughly the same height.

If anyone feels like fixing this (it's an upstream bug in Blockly) it's actually not as hard as it looks.  The (relatively recent) addition of image fields required that height be respected for all elements.  So the layout algorithm doesn't need changes.

The root issue is this line in field.js:
[code]
It should

[2017-11-10 00:07] NeilFraser commented on #1221
Of course if this bug is fixed, the next one to be filed will be that a block with two text labels, one with Zalgo above the text, one with Zalgo below the text, will not have the texts aligned with each other at the baseline.  That bug would be awful to try to fix.

[2017-11-10 14:50] paulkaplan opened #1222 "Data category uses the wrong block for list getter"
### Expected Behavior

_Please describe what should happen_

The block meant to be the list getter is `data_listcontents`, but the dynamic category builder for data uses the block `data_variable` instead.

https://github.com/LLK/scratch-blocks/blob/develop/core/data_category.js#L69

The `data_listcontents` block is defined here: https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/da

[2017-11-10 14:53] paulkaplan opened #1223 "List getter block does not have variable context menu"
### Expected Behavior

_Please describe what should happen_

Right clicking a list getter block should give the same rename/delete options as with variables, and should populate a list of other lists to switch the block to.

### Actual Behavior

_Describe what actually happens_

Because of https://github.com/LLK/scratch-blocks/issues/1222, the list getter block is actually using the wrong block, b

[2017-11-10 17:35] #1218 closed, assigned to nobody

[2017-11-10 17:44] rachel-fenichel commented on #1217
Fixed by #1219

[2017-11-10 17:44] #1217 closed, assigned to rachel-fenichel

[2017-11-13 15:20] fsih opened #1226 "If you drop some blocks into the ask and wait text field, it doesn't glow"
### Expected Behavior

Ask and wait block glows

### Actual Behavior

It doesn't glow, even though the question prompt is shown.
![image](https://user-images.githubusercontent.com/2855464/32634354-2ebafbfc-c579-11e7-9c22-f5927c3814cb.png)

### Steps to Reproduce

1. Drag ask and wait block to workspace
2. Drop the 'answer' or 'timer' blocks into the text field
3. Click on the stack

### Operating

[2017-11-13 15:22] fsih opened #1227 "Monitors for empty fields are shaped weirdly"
### Expected Behavior
In Scratch 2.0:
![image](https://user-images.githubusercontent.com/2855464/32733134-7c7b6864-c85c-11e7-9ce6-f7483aa95230.png)

### Actual Behavior
![image](https://user-images.githubusercontent.com/2855464/32634142-2f15c4de-c578-11e7-9abe-8ceed8bf69df.png)

### Steps to Reproduce

For example click on the answer block when no answer is stored

### Operating System and Browser

[2017-11-13 16:01] #1222 closed, assigned to paulkaplan

[2017-11-13 20:41] rachel-fenichel commented on #1227
Looks like we want a min width and a min height on the monitor.

[2017-11-14 14:54] #1191 closed, assigned to paulkaplan

[2017-11-14 18:44] paulkaplan commented on #1226
@fsih we should move this to scratch-vm

[2017-11-15 15:54] fsih commented on #1226
Made https://github.com/LLK/scratch-vm/issues/786

[2017-11-15 15:54] #1226 closed, assigned to nobody

[2017-11-15 18:02] paulkaplan opened #1229 "New custom procedure button callback"
Decide how we want to connect the "Make a Block..." button to the custom procedure creation flow.

[2017-11-15 23:40] rachel-fenichel opened #1230 "Remove Blockly procedure code"
We kept the blockly procedure code around in case we needed it during implementation.  Once I finish I need to do a cleanup pass.  This issue is for tracking code that probably needs to be torn out.

Blockly.Procedures.flyoutCategory refers to things that don't exist in scratch-blocks.

[2017-11-16 00:37] rachel-fenichel opened #1231 "Implement label editor"
### Images
From https://github.com/LLK/scratch-blocks/issues/607

Label editor with the text "block", not selected:
![](https://cloud.githubusercontent.com/assets/3409578/23229014/ad9d0dfa-f90c-11e6-8a20-f09ece78ec4f.png)

Label editor with the text "dance", not selected:
![](https://cloud.githubusercontent.com/assets/3409578/23230704/003b9c24-f913-11e6-8884-5f81e30e6ce5.png)

Label editor with th

[2017-11-16 00:39] rachel-fenichel commented on #1103
https://github.com/LLK/scratch-blocks/issues/1231 tracks the label editor + details

[2017-11-16 00:40] rachel-fenichel commented on #1231
@carljbowman FYI these are the questions I have so far.  I'm not in a hurry to get specific colors or padding sizes, since I can just implement those with approximate values and we can tweak them later.

[2017-11-16 01:02] rachel-fenichel commented on #1231
Delete icons and empty label editors:

Scratch 2.0 puts a delete icon above the selected label editor if it is not the only component of the procedure.

That is, there is a delete icon here:
![image](https://user-images.githubusercontent.com/13686399/32868291-586c0ed0-ca26-11e7-9995-987fdf78d81c.png)

But no delete icon here:
![image](https://user-images.githubusercontent.com/13686399/32868276-415

[2017-11-16 21:35] rachel-fenichel opened #1233 "Procedures: default argument values"
What should the default values be for string/number arguments?  Boolean arguments have no default values (and no associated shadow block).

@chrisgarrity since this may need internationalization.
![image](https://user-images.githubusercontent.com/13686399/32917120-096f7576-cad3-11e7-9b29-e8f425f8289f.png)

[2017-11-16 21:46] rachel-fenichel opened #1234 "Procedures: default procedure label text"
When the user clicks the "add label" button, a new procedure label is created.
![image](https://user-images.githubusercontent.com/13686399/32917535-52150632-cad4-11e7-9bdf-000653c22192.png)

The label editor is populated with default text.  What should the default text be?  **The current placeholder is "label text".**
![image](https://user-images.githubusercontent.com/13686399/32917494-3adcf254-ca

[2017-11-16 21:53] rachel-fenichel opened #1235 "Procedures: default argument editor text"
When the user clicks one of the add argument buttons, a new argument is created.
![image](https://user-images.githubusercontent.com/13686399/32917535-52150632-cad4-11e7-9bdf-000653c22192.png)

The argument editor is populated with default text.  What should the default text be?  **The current placeholder is "string or number" for string/number arguments and "boolean" for boolean arguments.**

![im

[2017-11-16 22:44] rachel-fenichel opened #1237 "FieldNumberDropdown extends FieldTextInput but inherits from FieldTextDropdown"
This may give us some problems with compression/compilation eventually.

Extends: https://github.com/LLK/scratch-blocks/blob/develop/core/field_numberdropdown.js#L45

Inherits: https://github.com/LLK/scratch-blocks/blob/develop/core/field_numberdropdown.js#L61

[2017-11-16 22:53] rachel-fenichel commented on #1213
Renames that we settled on:
- `procedures_callnoreturn_internal` -> `procedures_prototype`
- `procedures_defnoreturn` -> `procedures_definition`
- `procedures_callnoreturn` -> `procedures_call`

Paul already made the change in the VM.

[2017-11-16 22:53] #1213 closed, assigned to nobody

[2017-11-16 23:06] rachel-fenichel opened #1238 "Procedures: should string and number argument types be combined?"
In Scratch 2.0 procedure arguments can be strings (%s), numbers (%n), or booleans (%b).

The current spec for Scratch 3.0 combines strings and numbers.

Advantages:
- rendering is the same for both
- implementation is slightly simpler

Disadvantages:
- Can't indicate to a user what should be attached
- Can't force the number pad to show up on mobile for number arguments

[2017-11-17 01:16] rachel-fenichel opened #1240 "Tests for custom procedure blocks"
For each block, we need to test:
- `domToMutation`
- `mutationToDom`
- `getProcCode`

We also need to test mutating each block repeatedly, to make sure that everything is connected correctly at the end.

[2017-11-17 01:44] rachel-fenichel opened #1241 "Procedures: delete icon"
The delete icon is a singleton--it's always associated with the selected argument or label.

![image](https://user-images.githubusercontent.com/13686399/32925191-7bc3d078-caf5-11e7-961f-a13cc23c1b0b.png)

Who owns it: the field being edited?  The procedure declaration editor?

When is it visible?  When a component is selected *and* there are multiple components on the block.

How does it know whic

[2017-11-17 05:27] quachtina96 opened #1242 "Enable vertical scrolling over the Scratch GUI when zoomed in."
### Expected Behavior
When you zoom in so far that parts of the GUI are no longer in the window (as in screenshot below), you should be able to scroll both vertically and horizontally in order to view and interact with other aspects of the UI.
![image](https://user-images.githubusercontent.com/10423718/32930535-48253e7c-cb2d-11e7-883d-98083374a93a.png)

### Actual Behavior
You cannot scroll vertic

[2017-11-17 05:36] quachtina96 opened #1243 "'Add Sprite' and 'Add Backdrop' buttons overlap other UI on window resize."
### Expected Behavior
Upon reducing the height of a window, 'Add Sprite' and 'Add Backdrop' buttons should resize and stay below other input areas.
![image](https://user-images.githubusercontent.com/10423718/32930819-f3cb93c4-cb2e-11e7-9434-8a49d5fe053c.png)

### Actual Behavior
![image](https://user-images.githubusercontent.com/10423718/32930745-740a60fc-cb2e-11e7-82fc-8232996de220.png)

### Step

[2017-11-17 05:37] quachtina96 commented on #1242
Sorry I put this in the wrong repo :(

[2017-11-17 05:37] #1242 closed, assigned to nobody

[2017-11-17 05:39] quachtina96 commented on #1243
Filed issue in wrong repository!

[2017-11-17 05:39] #1243 closed, assigned to nobody

[2017-11-17 14:32] kchadha opened #1244 "Modify messages for create variable modal (for variables, lists, and broadcast messages)"
### Expected Behavior

The message in the modal that appears when creating a variable, list, or broadcast message should change depending on what is being created.

### Actual Behavior

Currently, the message for creating variables, messages, and lists all say: "New variable name:".

### Steps to Reproduce
Create a new messsage via the field dropdown in any of the broadcast message blocks.
Create

[2017-11-17 14:40] kchadha opened #1245 "Allow for renaming a message or list to an existing variable name."
### Expected Behavior

Messages can share names with variables and lists.
Lists and variables cannot share names.

### Actual Behavior

Currently messages cannot share names with lists and variables.

### Steps to Reproduce

One example of reproducing this error is to create a variable named "x", and then to create a message named "x". A modal pops up that says: 'A variable named "x" already exist

[2017-11-17 15:22] mrjacobbloom commented on #1245
Note that in 2.0 variables and lists may not share names, though messages may have the same name as a list or variable

[2017-11-17 20:32] rachel-fenichel commented on #1195
Done in #1225; remaining details/newly found issues should be filed as separate bugs.

[2017-11-17 20:32] #1195 closed, assigned to carljbowman, rachel-fenichel

[2017-11-17 20:32] rachel-fenichel commented on #1185
Fixed by #1225

[2017-11-17 20:32] #1185 closed, assigned to rachel-fenichel

[2017-11-17 21:35] rachel-fenichel commented on #1060
Fixed upstream.

[2017-11-17 21:58] kchadha opened #1248 "Change menu options for list blocks to say 'list' instead of 'variable'"
### Expected Behavior

Dropdown menu options for list blocks should say 'Rename list...' and 'Delete the <name> list...' respectively.

### Actual Behavior

Dropdown menus options are currently the same as for scalar variables. They currently read:
'Rename variable...' and 'Delete the <name> variable...' respectively.

### Steps to Reproduce
Create a new list using the "Create list..." button.
Use

[2017-11-18 01:08] rachel-fenichel commented on #1245
Is the plan to have them all have separate namespaces now?

[2017-11-20 14:07] chexbox opened #1249 "Pen is an extension"
Pen should not be an extension since it isn't in any of the previous versions of scratch.
I hope that we can update this as I think many new users will have a hard time finding this powerful tool. Off-topic: Can scratch 3 read sb2 files?
Operating System and Browser:

Mac OS 10.11.6 Firefox 57.0

[2017-11-20 14:46] towerofnix commented on #1249
Counter-argument: In Scratch 1.4 (and earlier), there was only a Control category. In Scratch 2.0, it got split into Control and Events. Nothing bad happened inherently because it was different. (At most, maybe a few users were surprised, and had to get used to it.. which, for the most part, probably took not more than an hour of programming in 2.0.)

Yes. I'm not sure there's a way to upload an S

[2017-11-20 14:55] towerofnix opened #1250 "Automatically sort custom procedure category alphabetically"
### Expected/Requested Behavior

The custom procedure category is sorted alphabetically, by custom block label text. This way, it's easy to navigate: just scroll to the right letter, as you would flip through a dictionary to find a word.

### Actual Behavior

The custom procedure category is [not sorted](https://github.com/LLK/scratch-blocks/blob/f9cd4fa83344341db15c536b0b73971f75ad6ee1/core/proce

[2017-11-20 15:06] thisandagain commented on #1249
Please see discussion in https://github.com/LLK/scratch-gui/issues/725

[2017-11-20 15:06] #1249 closed, assigned to nobody

[2017-11-20 15:06] thisandagain commented on #1249
Yes, Scratch 3.0 can read SB2 files.

[2017-11-20 15:28] kchadha commented on #1245
Hmmm I may have been too eager to file an issue on Friday. For now, we will keep the functionality the same as in 2.0, which means that messages can share names with lists and variables, but lists and variables cannot share names with each other. I am editing the issue to reflect this.

[2017-11-20 15:36] kchadha commented on #1248
Closing this issue temporarily as this needs further discussion internally.

[2017-11-20 15:36] #1248 closed, assigned to nobody

[2017-11-20 16:31] kchadha opened #1251 "Change type representation for scalar variables to be 'scalar' instead of ''"
### Expected Behavior

Scalar variables should have a specific type representation just like lists and broadcast messages.

### Actual Behavior

Currently the type representation for scalar variables is the empty string, but this is dangerous because this is also a falsey value. Since we now have typed variables (e.g. to represent lists and broadcast messages, we should also make the representatio

[2017-11-20 19:11] kchadha commented on #1244
Renaming requires further discussion as to whether this is a feature we want to keep. Scratch 2.0 only allows renaming variables, not lists or messages. Editing issue to reflect the scaled down scope.

[2017-11-20 19:43] rachel-fenichel commented on #1245
I'd prefer separate namespaces for each type.  It wouldn't cause problems in loading old projects, and it would make implementation easier.

If you want to preserve the scratch 2.0 behaviour we would need to have a namespace tag on variable declarations and fields, as well as type tags.

[2017-11-20 19:55] thisandagain commented on #1245
I'm ok with making this behavior more consistent (variables, lists, and messages all have separate namespaces) as long as this doesn't break loading / editing 2.0 projects.

[2017-11-20 19:56] rachel-fenichel opened #1253 "Look up variables by ID, not name"
Scratch-blocks version of https://github.com/google/blockly/issues/1199

[2017-11-20 19:57] rachel-fenichel commented on #1245
Awesome.  It shouldn't break loading/editing 2.0 because it's becoming strictly more permissive.

[2017-11-20 20:06] rachel-fenichel commented on #1250
Hey @towerofnix, do you want to implement this one?

The procedure category is created here:
https://github.com/LLK/scratch-blocks/blob/develop/core/procedures.js#L199

The list of procedures is generated here:
https://github.com/LLK/scratch-blocks/blob/develop/core/procedures.js#L81

You'll want to add a function right [before the for loop](https://github.com/LLK/scratch-blocks/blob/develop/core/

[2017-11-20 20:07] rachel-fenichel commented on #1245
Er, unless this breaks opening a project in 2.0 after it's been edited in 3.0.  Is that a concern?

[2017-11-20 20:09] thisandagain commented on #1245
Nope. That isn't a concern. We'll support 2.0 -> 3.0, but not the other way around.

[2017-11-20 21:01] kchadha commented on #1245
For the sake of complete clarity, are we saying that we want to be able to allow:

1. variables to share names with lists and messages but not themselves,
2. lists to share names with messages and variables but not themselves, and
3. messages to share names with lists and variables but not themselves?

There's overlap in those 3 statements, but I just want to make sure we're all on the same page.

[2017-11-20 21:11] rachel-fenichel commented on #1245
Scratch 2.0 uses a slight color difference between lists and variables.  We probably should do the same in Scratch 3.0.

[2017-11-20 21:16] towerofnix commented on #1250
@rachel-fenichel I'll definitely take a look! I did want to try this myself. I have memories of trouble with getting scratch-blocks to build, but I'm on a different system now; maybe it'll work this time. (Edit: it works :) )

I'm not sure how to test this feature. I see in the gif @paulkaplan made in #1232 using the "import to XML" feature to test the feature. Is there a simple way to generate su

[2017-11-20 21:36] thisandagain commented on #1245
Agreed @kchadha. +1 on @rachel-fenichel's comment that implementing the color differences between lists and variables should help resolve issues with identifying the reporters.

[2017-11-20 22:11] kchadha commented on #1245
Should procedures also exist in separate namespaces then?

[2017-11-20 22:12] kchadha commented on #1245
Should procedures also exist in separate namespaces then?

[2017-11-20 22:17] rachel-fenichel commented on #1245
Yes, procedures are in a separate namespace--but they don't interact with this code path at all.

Procedure arguments are allowed to collide with just about everything and that's handled at runtime.

In Scratch 2.0 procedures can also collide with each other by name, but we're not planning to keep that in Scratch 3.0.

[2017-11-20 23:03] rachel-fenichel commented on #1250
I don't have a simple way for you to get that XML yet, but here's some that you can load into the playground:

[code]

It'll create three procedure call blocks, and I think that should be enough for you to get started.  To add more calls, add more copies of
[code]

Make sure you change the x and y or they'll end up stacked on top of each other.

[2017-11-21 02:29] towerofnix commented on #1250
Thanks for the example code!

I made a tiny browser console script to grab the VM workspace as an XML text.. here it is, for future reference:

[code]

[2017-11-21 02:40] chexbox commented on #305
@rachel-fenichel - How long until every company/organisation quits using IE/Edge and Microsoft gives up hope in making a browser?

[2017-11-21 02:52] chexbox commented on #875
The ability to define function in javascript would eliminate the need to use "hacked blocks".

[2017-11-21 02:54] mrjacobbloom commented on #875
If extensions have any kind of Blockly access this would be pretty straightforward, otherwise we'll have to wait and see

[2017-11-21 13:13] thisandagain opened #1255 "input renders out of the block panel"
### Expected Behavior

it shouldn't happen

### Actual Behavior

but it happened

### Steps to Reproduce

Write something looooooooooooooooooooooooooooooooooooooooooooong in the inputs

### Operating System and Browser

Windows 8.1, Google Chrome 60.0.3112.78
![default](https://user-images.githubusercontent.com/31377746/33070750-09fcc5d2-cef4-11e7-9d03-b7f172334342.PNG)

---
Moved from LLK/scratch

[2017-11-21 15:58] #682 closed, assigned to paulkaplan, cwillisf

[2017-11-21 18:20] rachel-fenichel commented on #1255
What's the expected behaviour?  The flyout doesn't scroll horizontally.  Blocking them from typing seems like a bad idea.  This seems like the least bad response.

[2017-11-21 18:38] rachel-fenichel commented on #305
@chexbox Please keep your comments constructive.

[2017-11-21 19:33] kchadha opened #1257 "List blocks should be a different color from variable blocks."
### Expected Behavior

List blocks and variable blocks should be different colors because lists and variables are able to share names. See discussion in #1245 for more info.

### Actual Behavior

Currently, list blocks and variable blocks are the same color.

### Steps to Reproduce

Create a new variable.
Create a new list.

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2017-11-21 20:03] mrjacobbloom commented on #1257
There's a separate lists color spec'd in #600 but the [colors page](https://github.com/LLK/scratch-blocks/wiki/Colors) has an older picture

[2017-11-21 20:36] thisandagain commented on #1257
Color is defined in https://github.com/LLK/scratch-blocks/issues/600

[2017-11-21 20:36] thisandagain commented on #600
Tracking implementation in https://github.com/LLK/scratch-blocks/issues/1257

[2017-11-21 20:36] #600 closed, assigned to nobody

[2017-11-21 21:15] carljbowman commented on #1199
## Overview
This simply compares the current block implementations in 3.0 with their 2.0 counterparts. For the 3.0 Preview we should make sure these 3.0 is in sync with 2.0 blocks.

Some blocks, like Video Sensing, are not implemented in 3.0 but are tracked as apart of the 2.0 lexicon.

## Non-Droppable
2.0 Left and Current 3.0 on the right
Orange bands to indicate differences that need to be reso

[2017-11-21 21:20] thisandagain commented on #1199
Thanks @carljbowman !

[2017-11-21 21:30] kchadha opened #1258 "VarCreate event does not get fired when default broadcast message is added to the VariableModel"
### Expected Behavior

Creating the default broadcast message ('message1') by dragging any of the broadcast message blocks out into the blocks editor workspace from the tool palette should fire a new VarCreate event.

### Actual Behavior

VarCreate event does not actually get fired because domToBlock disables events before variable is created.

### Steps to Reproduce

In the vertical playground, e

[2017-11-21 21:32] rachel-fenichel commented on #1258
Upstream: https://github.com/google/blockly/issues/1395

Feel free to fix it on blockly!

[2017-11-21 21:32] thisandagain commented on #1238
I think we are comfortable with this design decision for now, but I'd be happy to revisit this in the future. The second disadvantage you mention: "Can't force the number pad to show up on mobile for number arguments" is particularly potent for me.

[2017-11-21 21:35] thisandagain commented on #1233
We should replicate the Scratch 2.0 functionality which is:
Number Input - Default value of `1`
String Input - Default value of ``
Boolean Input - Default value of `null`

Because string and number inputs are being combined, the default value for these inputs should be `` for Scratch 3.0.

[2017-11-21 21:37] rachel-fenichel commented on #1233
Are you saying to replicate the scratch 2.0 functionality, or to have the empty string as the default value for string and number inputs?

[2017-11-21 21:41] thisandagain commented on #1233
Number / String Input - Default value of ``
Boolean Input - Default value of `null`

[2017-11-21 21:49] mrjacobbloom commented on #1199
(I know this is just an audit of the current status, but I want to make sure this gets said) Regarding the "property of thing" block, I'd definitely prefer to keep the property field droppable. The whole discussion in https://github.com/LLK/scratch-blocks/issues/573#issuecomment-270948989 about adding "myself" to the sprites list was to allow for dynamically getting variables by name without hacke

[2017-11-21 22:34] #1250 closed, assigned to nobody

[2017-11-21 23:01] towerofnix commented on #1233
Related: Should the default value of a particular custom block text or number input be changeable by the user, through the custom block creation/edit UI? (Of course, there still needs to be a default value for such a default value input, but - you know :) )

[2017-11-21 23:03] rachel-fenichel commented on #1233
@towerofnix that's https://github.com/LLK/scratch-blocks/issues/1200

[2017-11-22 14:57] #1244 closed, assigned to kchadha

[2017-11-22 20:55] kchadha commented on #1258
Fixed in this PR: https://github.com/google/blockly/pull/1477

[2017-11-23 11:24] cyx2015s commented on #1255
It shoud renders under it, but it renders over it

[2017-11-23 12:38] Kenny2github commented on #1255
Yeah, the input shouldn't overflow into the scripts area.

[2017-11-27 18:42] rachel-fenichel commented on #1255
I disagree--then we'd get a bug report that you can't see what you're typing in the block menu.  I'd rather show what the user typed.  When you click away from editing that text it stops overflowing, so it's not getting in the way except when you're actively trying to type long text.

![image](https://user-images.githubusercontent.com/13686399/33283082-96e19f94-d35f-11e7-8dbe-e75c2b611dd5.png)

![

[2017-11-27 21:51] #1233 closed, assigned to paulkaplan

[2017-11-27 23:06] ericrosenbaum opened #1261 "Menu values that are numbers cause errors"
### Expected Behavior

In a menu field constructed from text/value pairs, the values should work if they are numbers or strings.

### Actual Behavior

If the values are numbers instead of strings, manipulating the block causes errors. For example, selecting a menu item on the block and then deleting it causes this error: `Uncaught TypeError: Failed to execute 'appendChild' on 'Node': parameter 1 i

[2017-11-28 18:00] #1089 closed, assigned to paulkaplan

[2017-11-28 20:50] rachel-fenichel opened #1264 "Consider splitting Blockly.Procedures.getCallers into helper functions"
https://github.com/LLK/scratch-blocks/blob/develop/core/procedures.js#L292

[code]

getCallers currently expects the definition root to be passed in, which forces the caller to find the definition root even for full-workspace searches.  Consider splitting out the last for loop into a helper function like `findCallersInList` that takes in the procCode and a list of blocks.

[2017-11-29 14:36] #1258 closed, assigned to kchadha

[2017-11-29 15:54] paulkaplan opened #1265 "Dragging out argument reporter breaks stackclick events"
Dragging out an argument reporter from a prototype block seems to break something with the events. Stackclick events seem to stop getting reported.

To reproduce in vertical playground (enable event logging)
1. Click any reporter, note there is a "selected" event and also a "stackclick". Clicking again just emits stackclick, since it is already selected.
2. Import the XML below to create a "define

[2017-11-29 18:48] rachel-fenichel commented on #1104
Whoa, someone already implemented horizontal scrolling for this?  Can I have the code?

[2017-11-29 20:16] #1265 closed, assigned to paulkaplan, rachel-fenichel

[2017-11-29 20:47] kchadha opened #1268 "Broadcast blocks should have input fields"
### Expected Behavior

'broadcast' and 'broadcast and wait' blocks should have input fields in addition to the drop downs (allowing plugging in blocks as input).

E.g.

![image](https://user-images.githubusercontent.com/1786240/33398216-3429b364-d51c-11e7-846b-5a0f46d7feab.png)

### Actual Behavior

The field on these blocks is currently only a field variable dropdown and not a pluggable input.

[2017-11-29 21:15] mrjacobbloom commented on #1268
I believe this is covered in #1199

[2017-11-30 14:52] #739 closed, assigned to nobody

[2017-11-30 15:01] paulkaplan commented on #671
Closed by typed variables work.

[2017-11-30 15:01] #671 closed, assigned to nobody

[2017-11-30 15:10] paulkaplan commented on #581
The change to click+drag angle picker makes this no longer possible. Closing.

[2017-11-30 15:10] #581 closed, assigned to nobody

[2017-11-30 15:24] paulkaplan commented on #860
Closed by recent custom procedures work.

[2017-11-30 15:24] #860 closed, assigned to nobody

[2017-11-30 15:26] paulkaplan commented on #843
Fixed when we updated the angle picker!

[2017-11-30 15:26] #843 closed, assigned to nobody

[2017-11-30 16:14] thisandagain commented on #1210
Hi @smaameri we don't have any plans to add conditionals or operators to the horizontal grammar as that seems contrary to some of our design goals for making it work for young children (4-7) but have been exploring introducing reporters / droppable input fields.

[2017-11-30 16:14] #1210 closed, assigned to thisandagain

[2017-11-30 16:30] kchadha opened #1270 "Broadcast message block drop down triggers error when used from block in flyout"
### Expected Behavior

Should be able to create a new broadcast message variable using field dropdown of any broadcast block in flyout.

### Actual Behavior

Trying to create a new message from drop down of broadcast block in flyout causes an unchecked type error:

![image](https://user-images.githubusercontent.com/1786240/33441683-41e4b26a-d5c1-11e7-8502-756a37d436f0.png)

### Steps to Reproduce

[2017-11-30 16:30] paulkaplan opened #1271 "Duplicating reporter and placing it into an input throws error."
To reproduce:
1. Add any block with an input.
2. Add a reporter.
2. Right click => duplicate. The new reporter should be stuck to your mouse.
3. Place the new block down inside the input of the other block.
4. Error is thrown: `Uncaught TypeError: Cannot read property 'getGesture' of null`.

[2017-11-30 16:32] kchadha opened #1272 "New message modal has the wrong title."
### Expected Behavior

New message modal should have title "New Message" instead of "New Variable"

### Actual Behavior

New message modal says "New Variable" in the title.

### Steps to Reproduce

Try to create a new message using any of the three broadcast blocks.

[2017-11-30 18:18] rachel-fenichel commented on #1245
https://github.com/google/blockly/pull/1488 removes explicit blockers for this, but it won't be usable until I get all variables to be referenced by ID.

[2017-11-30 19:26] #1271 closed, assigned to paulkaplan

[2017-12-01 11:46] Kenny2github commented on #1119
This seems to have been fixed - only the custom scrollbar appears, and only when needed. Closing.

[2017-12-01 11:47] Kenny2github commented on #1099
Closing as this seems to not be reproducible:
![image](https://user-images.githubusercontent.com/28599280/33481668-83daf688-d6d0-11e7-8551-20ba18cca66d.png)

[2017-12-01 11:47] #1099 closed, assigned to nobody

[2017-12-01 17:25] paulkaplan opened #1275 "Remove icon should not show on the only custom procedure editor"
### Expected Behavior

_Please describe what should happen_

If there is one editor, the remove icon should not be shown.

https://github.com/LLK/scratch-blocks/pull/1269 introduces the remove icon but shows it for all fields. This is an improvement to that.

[2017-12-01 18:11] #1241 closed, assigned to paulkaplan

[2017-12-01 18:13] paulkaplan opened #1276 "Show "show variable" and "show list" blocks when implemented"
They are disabled for now because the monitor show/hide code is not implemented. This issue is for the corresponding code TODO.

[2017-12-04 16:19] paulkaplan opened #1277 "Implement procedure declaration method for toggling "warp""
In order to finish the implementation of the custom procedure editor, we need methods along the lines of the `addBooleanExternal` etc. methods to toggle the "warp" (aka "run without screen refresh").

[2017-12-04 16:58] paulkaplan opened #1278 "Cannot create broadcast message from the toolbox"
Repro:
Try to create a broadcast message from the dropdown on a broadcast block while it is in the palette. The modal comes up, but submitting the name for the message leaves the checkbox in a strange state because of this error.

[code]

The "strange state" looks like this, but it i think it is just because of the error in the creation of the variable.
![image](https://user-images.githubuserconte

[2017-12-04 17:03] kchadha commented on #1278
This is the same as #1270. Closing this issue.

[2017-12-04 17:03] #1278 closed, assigned to kchadha

[2017-12-04 18:50] #1229 closed, assigned to paulkaplan

[2017-12-04 18:52] paulkaplan opened #1279 "Remove context menu from custom procedure declaration block"
You should not be able to right-click duplicate/delete the procedure declaration block. I didn't see any way to disable context menus at the workspace level, so I assume this will have to be implemented here in scratch-blocks instead of externally in that which renders the custom procedure editor.

[2017-12-04 18:56] paulkaplan opened #1280 "Create a way to prevent the custom procedure declaration from being dragged"
Similar to https://github.com/LLK/scratch-blocks/issues/1279.

This seems like something we might want to do at the workspace level? I couldn't find anything to disable dragging on a block that already existed.

[2017-12-04 18:57] rachel-fenichel commented on #1280
https://developers.google.com/blockly/guides/create-custom-blocks/define-blocks#movable_state

[2017-12-04 18:58] rachel-fenichel commented on #1279
https://github.com/google/blockly/blob/master/core/block.js#L1016

[2017-12-04 19:01] paulkaplan commented on #1280
😞  my search abilities are... lowly. thanks!

[2017-12-04 19:01] #1280 closed, assigned to paulkaplan

[2017-12-04 19:05] #1279 closed, assigned to paulkaplan

[2017-12-04 19:40] paulkaplan commented on #1104
Yes, we will want to disable the workspace context menu. I'll make a separate issue for that.

I'll create a new issue for that.

I'm going to close this issue because the other things on this list have been implemented.

[2017-12-04 19:40] #1104 closed, assigned to rachel-fenichel

[2017-12-04 20:01] paulkaplan opened #1281 "Option for disabling the "Delete Blocks" workspace context menu option"
Following up from https://github.com/LLK/scratch-blocks/issues/1104, we want to be able to disable the workspace context menu item for "deleting blocks", particularly for the "custom procedure declaration editor."

[2017-12-04 20:14] paulkaplan opened #1282 "Implement horizontal scrolling workspace"
Broken off from https://github.com/LLK/scratch-blocks/issues/1104

The goal is to be able to have a workspace that scrolls horizontally but not vertically. This would be used for the custom procedure declaration editor.

[2017-12-04 20:19] #1281 closed, assigned to paulkaplan

[2017-12-04 22:25] #1257 closed, assigned to kchadha

[2017-12-05 18:32] ericrosenbaum opened #1285 "Add vertical separator line after extension icon"
### Expected Behavior

To match the spec in https://github.com/LLK/scratch-blocks/issues/1207, we should have a vertical line after each extension icon.

### Actual Behavior

No line yet.

### Steps to Reproduce

Look at the extension blocks in the vertical playground (added in https://github.com/LLK/scratch-blocks/pull/1284)

[2017-12-05 19:50] #918 closed, assigned to nobody

[2017-12-05 20:13] paulkaplan opened #1286 "The "edit" option on procedure call blocks in the flyout does not work"
### Expected Behavior

_Please describe what should happen_

Clicking "Edit" in the right-click menu on a custom procedure call block in the palette should start the procedure editing process.

### Actual Behavior

_Describe what actually happens_

Nothing happens, there is this error in the console
[code]

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described

[2017-12-06 00:41] Kenny2github opened #1287 "Deleting a block definition should produce an error if uses of the block are there"
### Expected Behavior

When you attempt to delete a block definition, if the block is used anywhere, an error box should pop up and the deletion should fail.

### Actual Behavior

The definition is deleted, and all uses remain there - they simply don't do anything anymore

### Steps to Reproduce

1. Go to https://llk.github.io/scratch-gui/develop
2. Create a block in the "More" category
3. Drag ou

[2017-12-06 07:52] wenyiweb opened #1288 "Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause()."
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2017-12-06 08:10] Kenny2github commented on #1288
Duplicate of #301

[2017-12-06 14:41] thisandagain commented on #1288
Tracking in upstream Blockly https://github.com/google/blockly/issues/299

[2017-12-06 14:41] #1288 closed, assigned to nobody

[2017-12-06 18:34] towerofnix opened #1289 "Why is the custom procedure editor's remove-input/label button a "no" sign?"
I'm just curious - I would expect to see an X mark.

!["No" sign](https://user-images.githubusercontent.com/9948030/33678286-3db6c24a-dab3-11e7-835c-0f806f31348a.png)

My opinion: X marks are associated with closing things, but also with crossing things out. "No" signs (like the one used in the screenshot above) are more related to halting, preventing, disabling; but not really removing. Maybe sci

[2017-12-06 19:18] mrjacobbloom commented on #1289
Not that this is necessarily a great option, but a trash-can icon is sometimes used to mean deleting something too

[2017-12-06 19:18] fsih commented on #1289
I agree; I didn't realize what the cancel sign did or even that it was a button. It looked like it was indicating that there was some error with that input field.

[2017-12-06 19:24] #540 closed, assigned to nobody

[2017-12-06 19:26] #696 closed, assigned to nobody

[2017-12-06 19:43] mrjacobbloom commented on #696
I'm not sure this discussion should end yet (even though nobody's touched it for a while)... sure scratch-blocks matches 2.0's functionality, but I think there's some value in exploring how to portray what value empty number (and boolean?) inputs return. This tripped Rachel up and I wouldn't be surprised if kids would be caught off-guard too (unless you've already tested this and they don't care 😛

[2017-12-06 20:44] rachel-fenichel opened #1290 "Broadcast message deletion behaviour"
In Scratch 2.0 broadcast messages are never explicitly deleted.  Removing the last reference to a message on any workspace in the project removes the message from dropdown menus.

In Scratch 3.0
- Will messages have explicit deletion?  _From an implementation perspective this is much better, since it can match variable and list deletion behaviour._
- Can messages be renamed?
- Can the default mess

[2017-12-07 14:45] paulkaplan opened #1291 "Adding procedure argument emits create event with block instead of shadow"
To repro:
1. Enable logging in the custom procedure playground for the main workspace (run `definitionWorkspace.addChangeListener(function(e){console.log(e);});`)
2. Right-click -> edit the existing procedure definition in the definition workspace.
3. Click "Add text/number input" button.
4. Click "ok"
5. Check out the events in the console. There should be two "Create" events. The first is the ar

[2017-12-07 20:25] paulkaplan opened #1292 ""Used name" checking for variables should be case-insensitive"
As noted in https://developers.google.com/blockly/guides/app-integration/best-practices#4_variable_and_function_names (h/t @mrjacobbloom), scratch differs from blockly in allowing variable names to be case sensitive.

[2017-12-07 23:18] #854 closed, assigned to nobody

[2017-12-11 14:20] paulkaplan opened #1295 "Deleting a procedure definition should remove the call block from the palette"
Scratch 2
![scratch-2](https://user-images.githubusercontent.com/654102/33632479-b86f3c52-d9db-11e7-8950-515d7916cf14.gif)

Scratch 3
![scratch-3](https://user-images.githubusercontent.com/654102/33632484-bc026196-d9db-11e7-8b33-4ec658065af1.gif)

Unlike with variables, we don't have a specific callback for this, since it is just a standard block delete. So I'm not exactly sure where this behavior

[2017-12-11 14:55] paulkaplan commented on #1291
Looks like these lines are responsible. https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/procedures.js#L303-L320. Using `workspace.newBlock` will always emit a create as a non-shadow.

Alternatively, we could be using `buildShadowDom_` => `domToBlock`, which would reduce code duplication, but that would not give us the ability to do the `isInsertionMarker => do not render` condit

[2017-12-12 00:00] AmazingMech2418 commented on #1295
I think there needs to be a JS array that can store all of the blocks and show only the ones that are active in the palette. Maybe something like this to delete the block:
var customs=[]; function customdelete(block) { customs.splice(customs.indexOf(block),1); }
Then, adding blocks would just have to add the id to the array "customs" and add a function where if the x position of the block definiti

[2017-12-12 00:09] RoboErikG commented on #1295
I think in Blockly it checks the workspace for procedure_def and procedure_def_noreturn blocks every time you open the procedures flyout (which is probably the wrong way to handle it in Scratch).

Since we have events now you could register an event listener that updates the list of available procedures when those blocks are created or deleted.

[2017-12-12 01:04] rachel-fenichel commented on #1291
Good sleuthing.  That's exactly the problem.

The create event that's fired in new block is *really* optimistic.  Anywhere that we go through `domToBlock` events are disabled until all of the blocks are created, to sidestep problems like this.  We can do the same here:

[code]

[2017-12-13 00:15] AmazingMech2418 commented on #1295
I think that would work.

[2017-12-13 13:05] #1291 closed, assigned to paulkaplan, rachel-fenichel

[2017-12-13 18:14] kchadha opened #1298 "Creating new message with <space> as name causes type error."
### Expected Behavior

Should be able to create new message with name <space>

### Actual Behavior

Attempting to do this causes error:
`Uncaught TypeError: Cannot read property 'toLowerCase' of null`

### Steps to Reproduce

Drag any of the broadcast blocks out of the flyout.
Use dropdown menu option to create a new message.
Attempt to name the new message the space character.

### Operating Syst

[2017-12-13 19:24] ericrosenbaum opened #1299 "Remove "Go to definition" option until implemented"
### Expected Behavior

Selecting the "go to definition" item in the context menu for a custom block should scroll the workspace to the definition for that block.

For now, we should probably remove this item from the context menu.

### Actual Behavior

This feature is not implemented.

[2017-12-13 19:26] ericrosenbaum opened #1300 "Remove "collapse" item from context menu"
### Expected Behavior

The context menu for the workspace should not include a "collapse" item.

### Actual Behavior

The item exists, and has a broken behavior. We should probably remove it.

[2017-12-13 19:55] ericrosenbaum opened #1301 "Support scientific notation in numeric inputs"
### Expected Behavior

In Scratch 2.0, number-only inputs (the rounded ones) allow you to type the letter 'e', in addition to numbers and decimal points. You can for example type 1e6 (to represent one million) into any input, including number-only inputs.

### Actual Behavior

It appears that Scratch 3.0 generally supports the conversion from scientific notation, and you can type it into fields th

[2017-12-13 21:17] rachel-fenichel commented on #1301
And then there's blockly!
![image](https://user-images.githubusercontent.com/13686399/33962790-8f5883be-e007-11e7-8f95-a9134e2eee7b.png)

If I recall correctly, the number fields don't allow you to type characters that would put it into an invalid state.  Blockly lets you type whatever you want, and if it doesn't validate when you hit enter, Blockly reverts to the value from before the edit was st

[2017-12-14 15:52] morantsur opened #1303 "Palette scrolling doesn't take separetors height into account"
### Expected Behavior

When adding a separtors to a toolbox, their height should be added to the height of the blocks when considering how much scrolling to allow.

### Actual Behavior

It doesn't - when my palette height overflow the screen size, I can't scroll to the bottom blocks.

For example, there's no scroll bar at all here:
<img src="https://user-images.githubusercontent.com/15109618/34000

[2017-12-14 19:03] samelhusseini commented on #773
We are also running into this.

[2017-12-14 20:30] #1207 closed, assigned to ericrosenbaum

[2017-12-14 21:40] rachel-fenichel commented on #1207
For a stack block with an extension icon, the icon is moved down by one grid unit from where it would normally be.  Does that one-grid-unit offset remain as the block gets taller?  E.g.
![image](https://user-images.githubusercontent.com/13686399/34015746-4c19ee26-e0d4-11e7-87f9-2810642d2643.png)

Spec:
![image](https://user-images.githubusercontent.com/13686399/34015774-626b9760-e0d4-11e7-80f4-94d

[2017-12-14 22:36] kchadha opened #1304 "Importing empty-string as message name from SB2"
Opening this up for discussion so that others can weigh in and I don't go down any rabbit holes unnecessarily...

In Scratch 2, users can create an empty string message by plugging an input into a broadcast block and taking it back out. The empty string message option becomes available in block dropdowns and can then be used as a valid message. Note: it is not possible to explicitly create an empt

[2017-12-14 23:06] rachel-fenichel commented on #1304
In Scratch 2.0 I was able to explicitly create a message with the empty string as the name:
![image](https://user-images.githubusercontent.com/13686399/34018680-e2a3e5da-e0df-11e7-880a-44c2cd782bc2.png)

1. Drag out a "when I receive" block
2. Click the arrow to open the dropdown
3. Click "new message"
4. Type " " and hit enter

Result is the image above.

I can also make multiple different whites

[2017-12-15 16:33] rachel-fenichel commented on #1304
My bad: I was writing about making names that are whitespace-only.  I can't make the empty string name work at all.  As @kchadha said, it's a no-op when you try.

[2017-12-15 21:33] kchadha commented on #1272
@paulkaplan Looks like this isn't a scratch-blocks issue after all, but is instead coming from [this line](https://github.com/LLK/scratch-gui/blob/develop/src/containers/blocks.jsx#L275) that you last changed, and there's also a todo here. It's not clear how to change this so that we have a different title for each of the three prompts we have (variables vs. lists vs. broadcast messages), or one g

[2017-12-18 20:04] kchadha commented on #1304
I've decided to go with option 1 above (e.g. fresh name 'messageN'), at least for the short term, so that this doesn't block changes getting pushed. This (and the rest of broadcast message) functionality can be tested on https://llk.github.io/scratch-gui/broadcast-input/.
Option 1 is included in PR [LLK/scratch-vm#860](https://github.com/LLK/scratch-vm/pull/860)

We can always switch to option 2,

[2017-12-18 20:07] #1285 closed, assigned to ericrosenbaum

[2017-12-19 15:06] #1298 closed, assigned to kchadha

[2017-12-19 22:18] thisandagain commented on #1290
Direction for matching Scratch 2.0 behavior was established today. Removing assignments other than @kchadha :-)

[2017-12-19 22:46] rachel-fenichel commented on #1290
Please confirm: the behaviour for Scratch 3.0 will be to delete all unused broadcast messages when changing sprites.

[2017-12-20 01:42] kchadha commented on #1290
@rachel-fenichel, unused broadcast messages will be deleted whenever scratch-vm emits a workspace update (so switching sprites or switching to the sound/costume editors and back again).

[2017-12-20 10:20] xmeow commented on #1188
I can reproduce this bug under chrome58, but works fine on chrom63. Looks like browser depends.

[2017-12-20 14:24] carljbowman commented on #1289
Great question. We should update that icon.

Here is a trashcan icon: [delete-arg.zip](https://github.com/LLK/scratch-blocks/files/1575807/delete-arg.zip)

[2017-12-20 14:28] thisandagain commented on #1289
Adding the `help wanted` label if anyone would like to take this on. 😄

[2017-12-20 15:18] thisandagain commented on #1300
This is an option when creating the workspace. Moving to `scratch-gui`.

[2017-12-20 15:18] thisandagain commented on #1300
Moved to LLK/scratch-gui#1082

[2017-12-20 15:18] #1300 closed, assigned to nobody

[2017-12-20 15:36] thisandagain opened #1312 "Implement "Go To Definition" context menu option"
As per feature in Scratch 2.0:
![untitled](https://user-images.githubusercontent.com/747641/34214843-a4967e42-e571-11e7-8e5b-725249e8da7b.gif)

[2017-12-20 15:40] thisandagain commented on #1312
For reference:
https://github.com/LLK/scratch-blocks/pull/1311/files

[2017-12-20 15:44] thisandagain commented on #1287
We are doing the right thing when you right click on the definition and choose "delete" but not when the definition is deleted by dragging it into the toolbox.

[2017-12-20 16:00] thisandagain commented on #1199
@carljbowman @ericrosenbaum Moving to January milestone. I think we should consider resolving this a blocker for the preview release.

[2017-12-20 16:04] thisandagain commented on #1073
Tracking in https://github.com/LLK/scratch-blocks/issues/941

[2017-12-20 16:04] #1073 closed, assigned to nobody

[2017-12-20 16:59] #1299 closed, assigned to thisandagain

[2017-12-20 17:22] msintov commented on #1073
@thisandagain #1205 is also a dupe of this issue.

[2017-12-20 17:33] msintov commented on #941
We fixed this issue internally (at least for Android) by adding a transparent background to the flyout label attributes in the call to create the background rectangle in Blockly.FlyoutButton.prototype.createDom.

[2017-12-20 17:57] thisandagain commented on #1205
Tracking in #941

[2017-12-20 17:57] #1205 closed, assigned to nobody

[2017-12-20 18:03] rachel-fenichel commented on #1312
Dupe of https://github.com/LLK/scratch-blocks/issues/1136

[2017-12-20 18:03] #1312 closed, assigned to nobody

[2017-12-20 18:25] rachel-fenichel commented on #1136
This is also a feature that we want in Blockly.

[2017-12-20 19:14] paulkaplan commented on #1188
Yikes, large stacks cause some seriously strange behaviors
1. Confirmed the "disappear on stack glow" with the very large stack on iOS 11 iPad Air simulator
2. Confirm the "stack glow changes color" if you scroll down the page. Here is a screenshot. Scrolled halfway down, you can see where it goes from yellow to the color of the block
![screen shot 2017-12-20 at 2 08 57 pm](https://user-images.git

[2017-12-20 19:35] paulkaplan commented on #1188
Oh also I can replicate this on desktop Safari 11 on OS 12.6 (Sierra). So strike this being a "mobile browser thing", I'm seeing it as just a "safari" thing. And @xmeow I wasn't able to replicate this on old versions of Chrome on Mac, were you on android? Can you post screenshots?

[2017-12-20 21:48] #1200 closed, assigned to paulkaplan

[2017-12-20 21:49] #1143 closed, assigned to rachel-fenichel

[2017-12-20 21:49] thisandagain commented on #1130
Tracking remaining work in #1287

[2017-12-20 21:49] #1130 closed, assigned to paulkaplan, rachel-fenichel

[2017-12-20 21:53] #1101 closed, assigned to carljbowman

[2017-12-20 22:22] thisandagain opened #1314 "Change wording on the "Create ..." buttons for variables and lists"
Change the wording on the "Create variable..." and "Create list..." buttons to read:

[code]
This is to make the language, capitalization, and phrasing consistent with other parts of the editor.

[2017-12-20 22:25] thisandagain opened #1315 "Change wording on the "Make a Block..." button"
Drop the ellipsis to be consistent with other parts of the GUI and read as "Make a Block".

[2017-12-20 22:29] thisandagain opened #1316 "Change "say", "think", and "wait" blocks to fully spell out "seconds""
Change the "say", "think", and "wait" blocks to fully spell out "seconds" instead of "secs". This is an awkward abbreviation to say out loud (particularly in a classroom environment) and can be confusing. We will keep it on the "glide to" blocks due to length concerns. Full listing of changes:

[code]

[2017-12-20 22:33] thisandagain opened #1317 "Modify layering command blocks to be more flexible"
Currently our layering controls can be quite frustrating (even for beginners) because they do not allow for the level of flexibility that would be expected. They are also not consistent with the controls that we provide in the paint editor. For this reason we would like to make the following change:

### Current
[code]

### Proposed
[code]

[2017-12-20 22:36] thisandagain opened #1318 "Modify costume and backdrop reporters to be more consistent / flexible"
Our current costume and backdrop reporters have a sort of asymmetry that can be frustrating (even for beginners). We currently only allow for reporting a costume *number* and a backdrop *name* rather than allow for getting either value for both. Proposed change:

### Current
[code]

### Proposed
[code]

[2017-12-20 22:41] rachel-fenichel commented on #1314
Variable:
https://github.com/LLK/scratch-blocks/blob/develop/msg/messages.js#L129

List:
https://github.com/LLK/scratch-blocks/blob/develop/msg/messages.js#L145

[2017-12-20 22:42] rachel-fenichel commented on #1315
https://github.com/LLK/scratch-blocks/blob/develop/msg/messages.js#L141

[2017-12-20 23:30] paulkaplan commented on #1318
One issue: we still haven't dealt with the "menus in monitors" and this would make that problem even worse.

[2017-12-20 23:41] paulkaplan commented on #1317
@thisandagain do we want to leave the current block definitions/opcodes in the code for importing, but show the new ones in the palette? Or translate the old blocks into these new blocks when importing (should be easily doable, since the new blocks are a superset of the old blocks)

[2017-12-20 23:43] #1314 closed, assigned to paulkaplan

[2017-12-20 23:43] #1315 closed, assigned to paulkaplan

[2017-12-20 23:43] #1316 closed, assigned to paulkaplan

[2017-12-20 23:44] thisandagain commented on #1318
@paulkaplan Thanks for pointing that out. Let's do this and then I'll move https://github.com/LLK/scratch-gui/issues/785 into January for resolution. Does that work for you?

[2017-12-20 23:50] thisandagain commented on #1317
@paulkaplan Good question. I should have specified. My inclination would be to update the SB2 spec map to map onto these new blocks rather than have "legacy" blocks / opcodes hanging around.

[2017-12-21 00:17] #1277 closed, assigned to paulkaplan

[2017-12-21 04:02] xmeow commented on #1188
I work in a electron binding of version 1.7.10 (chrome 58)
![process_versions](https://user-images.githubusercontent.com/3390845/34239756-827cb7ee-e644-11e7-8a1e-78ee2b9e9e21.png)

And this only happens once custom procedure used.
Try to make a custom procedure block and execute(or apply blocklyStackGlowFilter), and it will disappear.

![fish_kittenblock](https://user-images.githubusercontent.com/

[2017-12-21 15:22] paulkaplan commented on #1188
So I think I have isolated the root cause of this. It appears that with very tall SVG elements, safari's SVG `feGaussianBlur` shrinks the source element. You can see this by manually removing everything after the gaussian blur from the stack glow filter.
![just-blur-filter](https://user-images.githubusercontent.com/654102/34261700-08189696-e638-11e7-9db7-e1e4be578242.gif)
The stack glow is a compo

[2017-12-21 15:31] paulkaplan commented on #1188
Also pinging @tmickel since it appears you were the original author of these lines, you might find this interesting.

[2017-12-21 16:08] #1289 closed, assigned to towerofnix

[2017-12-21 16:18] paulkaplan commented on #1188
@rachel-fenichel @thisandagain one option would be to not apply the glow filter for stacks above a certain size / for certain browsers. For example, in https://github.com/LLK/scratch-blocks/blob/develop/core/block_svg.js#L226-L232 we could check the BBox height of the svg against some constant we determine through experimentation. We might want to try this approach because gaussian blurs on giant

[2017-12-21 16:25] thisandagain commented on #1188
I wonder if we removed the blur and simply did a "hard" drop shadow on some platforms and/or instances if the performance and rendering issues could be relieved somewhat.

[2017-12-21 17:49] paulkaplan commented on #634
@thisandagain can you just confirm the capitalization on this block? "when Stage clicked" is... unexpected....

[2017-12-21 18:04] thisandagain commented on #634
@paulkaplan LOL. True. Good catch. Should be `when stage clicked`.

[2017-12-21 18:52] rachel-fenichel commented on #1188
There's a definite trade-off here between how nice things look and how fast they move.  I'm personally in favor of going to simpler filters/blurs to improve performance.

If we can find a good heuristic to use, I'm also fine with degrading the appearance on specific platforms.

I don't have numbers on the performance implications of these filters, so that might be a good place to start.

[2017-12-21 19:13] thisandagain commented on #1188
/cc @carljbowman ^^

[2017-12-21 19:18] msintov commented on #1188
On the Cozmo project, we found that both large and small stacks would sometimes disappear when executed due to the glow. So from that experience, I think the solution should be to change the effect for all stacks, not just large ones.

[2017-12-21 21:29] thisandagain commented on #1318
Minor change to this after looking at the data. Usage statistics from shared projects in the past 30 days:

| Block Name | Opcode | Projects Shared |
| ----------- | ---------- | -------------------- |
| `costume #` | `costumeIndex` | 54,253 |
| `backdrop name` | `sceneName` | 9,167 |

Because of this I recommend we flip the drop-down defaults to be *number* first and *name* second.

[2017-12-21 21:30] thisandagain commented on #1318
(Original comment updated)

[2017-12-22 02:31] xmeow commented on #1188
@paulkaplan your jsfiddle works fine in electron 1.7.10~
![fish_kittenblock2](https://user-images.githubusercontent.com/3390845/34282798-2b7ea384-e703-11e7-9ac9-bd4b3c544bad.gif)

[2017-12-23 02:34] davidaylaian commented on #773
Not sure if this is the same problem, but it seems similar enough so I'm commenting it here instead of opening a new issue. If I should open an issue, tell me.

### Steps to Reproduce

In the vertical playground:
Not sure if I found a new
1. Make this:
![screenshot from 2017-12-22 21-13-36](https://user-images.githubusercontent.com/22228595/34316150-1358e012-e75d-11e7-8056-9758dfb57749.png)
2. Mov

[2017-12-27 16:14] #1286 closed, assigned to paulkaplan

[2017-12-27 16:47] #1268 closed, assigned to kchadha

[2017-12-27 16:47] #1270 closed, assigned to kchadha

[2017-12-27 16:47] #1290 closed, assigned to kchadha

[2017-12-27 16:47] #1304 closed, assigned to kchadha

[2017-12-27 16:47] #1287 closed, assigned to paulkaplan

[2017-12-27 16:47] #1295 closed, assigned to paulkaplan

[2017-12-28 15:34] #1272 closed, assigned to kchadha

[2017-12-28 16:02] paulkaplan commented on #634
@tmickel we could also separate into two different opcodes, parsing the single opcode into two different ones depending on the owner on import. Seems like that might be easier? Or is there an existing pattern you were thinking of in blocks for this kind of thing?

[2017-12-28 16:31] towerofnix commented on #634
@paulkaplan Would separating it into two opcodes (which I assume means two separate blocks?) maybe cause more trouble? E.g., when dragging the script to the backpack and then into a *sprite* (or into a sprite, directly by dragging the script over the icon in the palette) - would a "when stage clicked" block appear inside a sprite?

[2017-12-28 16:52] tmickel commented on #634
@paulkaplan seems like could work :) not sure what will be better, kind of an oddity...

guess you could also consider re-texting the block. "when I am clicked" -- there's precedent for that ("when I receive broadcast")...

[2017-12-28 17:12] paulkaplan commented on #634
Hm @towerofnix that is a good point, ditto @tmickel. If there are other blocks that have to change labels between sprite and stage, a way of changing the block text would be a good way to go, make things like dragging scripts easier. Any other examples you can think of that would fit this use case.

I'm going to hold of implementing this until after the holidays and I get the chance to ask @thisan

[2017-12-28 20:13] rachel-fenichel commented on #1290
What happens with a broadcast message that is on an occluded shadow block?  For instance, message2 here (if it's not used anywhere else).  Is it deleted when you switch sprites?
![cae906d5-a1b9-4301-8383-45b1f36cf739](https://user-images.githubusercontent.com/13686399/34422145-72d52b12-ebc8-11e7-9c8f-6d7886620848.gif)

[2017-12-28 22:43] rachel-fenichel opened #1328 "Move procedure editor wording into messages.js"
User-visible wording in https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/procedures.js should be converted to use constants of the form Blockly.Msg.MESSAGE_NAME, for internationalization.

[2017-12-29 14:47] #1317 closed, assigned to paulkaplan

[2017-12-30 21:18] brianpoor5775 opened #1329 "update shadow block with field_number UI issue"
### Expected Behavior

Initially, the control_repeat block displays a default value of 4 for the field_number in the shadow block.
![image](https://user-images.githubusercontent.com/17072182/34457291-40f493f4-ed7a-11e7-950b-8f32e6dd0a3b.png)

If the field number 4 is changed to 7, for example, then the UI should say 7 as well.
![image](https://user-images.githubusercontent.com/17072182/34457283-f2

[2018-01-03 16:11] paulkaplan commented on #1276
@thisandagain do you think for UI complete-ness this should be moved out of the backlog? Even just to put them in with noop opcodes?

[2018-01-03 21:43] thisandagain opened #1331 "Change order of the motion blocks"
Based on usage data and on-boarding / resources considerations we would like to reorder the motion blocks list.

![image](https://user-images.githubusercontent.com/747641/34541139-2050879c-f0a5-11e7-8b8c-7e9ad8994c75.png)

[2018-01-04 20:39] ateesdalejr commented on #1120
Just another thing I'd like to mention here. Currently in Scratch 2.0 when placing a comment on a rather wide stack of blocks the comment will be pushed very far away from the start of the block making it hard to read continuous comments.

[2018-01-05 07:00] apple502j opened #1333 ""Delete () of ()" can be chosen "all""
### Expected Behavior
Delete () of () can be chosen "all" (like 2.0)
### Actual Behavior
Only numbers can be used.
### Steps to Reproduce
See the block's first argument
### Operating System and Browser
Windows 7 Home Premium SP1
Firefox 57.0.4

[2018-01-05 12:36] towerofnix commented on #1333
I'm pretty sure number+dropdown combo inputs don't actually exist yet. Other blocks, like "item of" and "point in direction", also should have these dropdowns; but they don't yet either.

[2018-01-05 13:28] tmickel commented on #1333
they did exist at some point, https://github.com/LLK/scratch-blocks/blob/develop/core/field_numberdropdown.js but I haven't checked if they still work :)

[2018-01-05 16:37] #1318 closed, assigned to paulkaplan

[2018-01-05 20:33] paulkaplan opened #1334 "New define block should be added to upper left of view, not absolute workspace"
If you are scrolled far over in a large project, the new define block gets placed in the absolute top left

[2018-01-05 21:52] thisandagain commented on #1331
Moved to LLK/scratch-gui#1191

[2018-01-05 21:52] #1331 closed, assigned to thisandagain

[2018-01-07 00:09] apple502j commented on #1333
Also, "last" should be able to be chosen.

[2018-01-07 00:12] apple502j opened #1335 "Item () of () should be able to be chosen "random","last""
### Expected Behavior
item () of ()
insert () at () of ()
replace item () of () with ()

They should be able to be chosen "random","last"
### Actual Behavior
It allows only numbers
### Steps to Reproduce
1. Make a list.
2. See the block.
### Operating System and Browser
Windows 7 SP1 64bit HomePremium, Firefox 57.0.4

[2018-01-07 12:54] kyleplo opened #1336 "Use different color for extensions and custom blocks"
In Scratch 2.0, custom blocks and extensions are different colors. In Scratch 3.0, they are the same. I think this makes them easier to tell apart:
![](https://user-images.githubusercontent.com/31634240/34456856-f5ba8728-ed6e-11e7-80bd-5fcdb7ca57cc.png)
In this example, extension block fill is `rgb(180, 105, 122)` and stroke is `rgb(180, 51, 85)`.

Same as https://github.com/LLK/scratch-gui/issues

[2018-01-07 13:14] thisandagain commented on #1336
Please do not create duplicate issues. Tracking in https://github.com/LLK/scratch-gui/issues/1149

[2018-01-07 13:14] #1336 closed, assigned to nobody

[2018-01-08 15:21] kchadha commented on #1290
@rachel-fenichel message2 will not be deleted when you switch sprites, and thus if you unplug `(costume#)` you'll see message2 in the shadow. This is different from Scratch 2, where message2 gets deleted and thus unplugging `(costume#)` would result in the creation of an empty string message. We wanted to avoid empty string message names in Scratch 3 unless a problem arises because of this.

[2018-01-08 18:32] rachel-fenichel commented on #1290
Okay, so does that mean that the check for used variables includes variables in occluded shadow blocks?  If so, how is that happening?

When a shadow block is hidden it is serialized and the actual Blockly.BlockSvg object is deleted.  The XML is stored on the connection.  When it's uncovered we deserialize the XML to create a new Blockly.BlockSvg object and connect it.

Searching for variables loo

[2018-01-10 19:50] paulkaplan commented on #1054
Looks like Edge 16 still doesn't support dominant baseline...

![image](https://user-images.githubusercontent.com/654102/34792267-6defa7c4-f615-11e7-89e7-d5922c0bb721.png)

To be fair to edge, baselines are hard. All major browsers seem to choose random values...
![image](https://user-images.githubusercontent.com/654102/34792289-891c9408-f615-11e7-94b6-4affc49f5e8f.png)
http://bl.ocks.org/eweitnau

[2018-01-10 20:28] kyleplo opened #1338 "End of dropdown is not visible"
### Expected Behavior

You should be able to see the whole dropdown menu

### Actual Behavior

Part of the menu is hidden on small screens
![screenshot](https://user-images.githubusercontent.com/31634240/34793856-c4ffb34c-f61a-11e7-8bd5-be219c4030df.png)

### Steps to Reproduce

Drag a block with a menu low on the screen and open the menu

### Operating System and Browser

Chrome OS 63

[2018-01-10 21:03] kerrtravers commented on #1338
I can't seem to repro this using Chrome 63.0.3239.13 on macOS. Does it not let you scroll up to view that other characters above?

[2018-01-11 21:39] #1054 closed, assigned to nobody

[2018-01-12 15:39] thisandagain commented on #1338
@kyleplo I can't repro this either. What operating system are you on @kyleplo ?

[2018-01-12 20:58] #1199 closed, assigned to ericrosenbaum

[2018-01-15 17:25] kyleplo commented on #1338
Windows 10 Desktop

On Jan 12, 2018 10:39 AM, "Andrew Sliwinski" <notifications@github.com>
wrote:

[2018-01-16 18:36] carljbowman opened #1341 "'set drag style' block currently lacks a context to work and appears broken"
### Overview
We moved "drag styles" into a block rather than a setting in the Sprite Info Pane. This block has not been fully implemented and lacks a context to work (e.g. Player Mode).

Drag styles in 2.0 and 3.0 should not take effect in any stage view in the editor (small stage, large stage, and fullscreen). This is only relevant for the play mode on the project page or on embeds.

<img width="

[2018-01-16 18:50] mrjacobbloom commented on #1341
I think I already said this somewhere but I think there still needs to be some status indicator for drag mode, since it's impossible for the programmer of a project to know a sprite's drag mode without switching to player mode.

[2018-01-16 18:59] carljbowman commented on #1341
@mrjacobbloom - I agree. There is certainly more we can do to help clarify drag styles. Hopefully that can be apart of this work once we have some more time to focus on this feature.

[2018-01-16 19:53] kchadha opened #1342 "Context Menu for list reporter is missing Rename/Delete options (even though they exist in field variable dropdown)"
### Expected Behavior

The context menu for the list reporter should be consistent with the field dropdown options just like the variable reporter is.

### Actual Behavior

The variable reporter context menu has Rename/Delete options (consistent with variable dropdown menus).

![image](https://user-images.githubusercontent.com/1786240/35009171-bff7658c-facc-11e7-829f-3c9f1df85a13.png)

![image](ht

[2018-01-16 19:55] kchadha commented on #1342
@carljbowman, @thisandagain, if this is critical for before the preview, let me know and I can push a fix for it. If not, I'll take care of it after variable by id work.

[2018-01-17 14:32] kchadha opened #1343 "Disallow renaming variables/lists to existing variable/list (resp.) names"
### Expected Behavior

Should follow Scratch 2.0 behavior of disallowing variables to be renamed to existing variable names. Extend this behavior to lists as well.

### Actual Behavior

Currently, variables can be renamed to an existing variable name, conflating the two variables into one, and replacing all uses of the renamed variable to the existing name.

### Steps to Reproduce

Create a variab

[2018-01-17 15:27] thisandagain opened #1344 "Adjust scrollbars on touch devices"
### Expected Behavior

- Scrollbars should either be gone or of a reasonable size

### Actual Behavior

- Scrollbars are comically large

### Steps to Reproduce

- Open GUI on a touch device (iPad, Android Tablet, or Chrome Book w/ Touch Screen)

[2018-01-17 16:24] chrisgarrity opened #1345 "Soft Keyboard doesn't stay open on block inputs"
Device: Pixel C, Android 8.0, Chrome

Steps to repro:

Say block, touch input area, keyboard opens and immediately hides again
Make a block dialog, touch block name input, keyboard opens and immediately hides. (also happens for inputs)

[2018-01-17 17:45] rachel-fenichel commented on #1344
If you want them to not be comically large, here's the line to tweak: https://github.com/LLK/scratch-blocks/blob/develop/core/scrollbar.js#L302

But note that they're large to make them better touch targets.  And they are visible to help a user orient themselves in the workspace, since it can extend in all directions.

[2018-01-17 18:32] rachel-fenichel commented on #1345
This is in scratch-blocks but not blockly, probably because blockly just uses a pop-up to get text on mobile.

[2018-01-17 20:33] fsih opened #1346 "Input field scrolls away from block"
Input scrolls away from block
![image](https://user-images.githubusercontent.com/2855464/35065464-564b5d58-fb9b-11e7-9e64-4dbea571db6a.png)

Repro:
1. Click in an input field in workspace
2. Drag the horizontal scroll bar to scroll
![scroll](https://user-images.githubusercontent.com/2855464/35065589-a4a7a52e-fb9b-11e7-99a3-0690248b1cc4.gif)

OS:
Windows 10 Chrome

[2018-01-17 20:35] rachel-fenichel commented on #1346
To fix, call `hideChaff` when starting the window scroll.

[2018-01-17 21:15] brassaro opened #1347 "After block disconnection, undo and redo don't restore the blocks' state properly"
### Expected Behavior

After performing an action, using UNDO should but the blocks in the state they were before the action; using REDO after the UNDO should put the blocks back in the state they were after the action.

### Actual Behavior

After performing an action like disconnecting a block from a stack of block, pressing UNDO then REDO causes the blocks to weird positions, and even sometimes

[2018-01-18 08:24] griffpatch opened #1348 "Block corners are miss-aliased"
### Expected Behavior

Corners of scratch blocks should be rounded nicely.

### Actual Behavior

Corners are rendered heavier than expected such that they do not appear as nicely rounded as they should:

![uneven corner aliasing](https://user-images.githubusercontent.com/6737342/35087658-e439d9ae-fc28-11e7-9855-20410b4b5d8e.png)

### Steps to Reproduce

Open in Chrome and look at the blocks panel.

[2018-01-18 13:42] thisandagain commented on #1348
/cc @carljbowman @ericrosenbaum @paulkaplan We've talked about this a bit in the past, but it's good to have something filed.

[2018-01-18 13:48] thisandagain opened #1349 "Input fields work differently on Edge"
![image](https://user-images.githubusercontent.com/2855464/35066183-c317c8d4-fb9d-11e7-991d-ddb19193eb30.png)

Usually, blocks stretch when text is put into them.
On Edge, after a point, the text starts to scroll in a little window. Also an X appears which you can click to clear the field. (This happens everywhere, not just in blocks)

It doesn't feel too broken, just different? The padding looks

[2018-01-18 15:49] kchadha opened #1351 "Creating duplicate messages"
#1350 introduces a UX issue where users would see a discrepancy between the first time and additional times they try to create a new message `message1` using any of the broadcast blocks in the flyout.

E.g.
1. Open a new project
2. Use one of the broadcast blocks in the flyout to create a new message `message1`
3. Repeat step 2.

Performing step 2 looks like a no-op to the user, while performing s

[2018-01-18 22:03] thisandagain opened #1352 "Button text is improperly aligned on Firefox"
![image](https://user-images.githubusercontent.com/747641/35123733-7ae77c24-fc71-11e7-9e29-f4fb5e603528.png)

[2018-01-18 22:07] rachel-fenichel commented on #1352
Code pointer: https://github.com/LLK/scratch-blocks/blob/develop/core/flyout_button.js#L176

[2018-01-19 13:39] thisandagain commented on #1351
Thanks for detailing this @kchadha. Your proposed solution makes sense to me. :+1: 😄

[2018-01-19 18:44] kchadha opened #1354 "Update refreshToolboxSelection"
Update refreshToolboxSelection function and it's use case in procedures.js after it's been [updated in upstream blockly](https://github.com/google/blockly/issues/1554) to be made package instead of private.

This function is used in procedures.js as part of [fix](https://github.com/LLK/scratch-blocks/pull/1355) for [scratch-gui#1261](https://github.com/LLK/scratch-gui/issues/1261)

[2018-01-19 19:58] ZenithRogue commented on #1335
It would be nice to see the dropdown added to the (letter () of []) blocks as well

[2018-01-20 11:08] Kenny2github commented on #1335
Perhaps allow negative indices? That would allow for indices a certain distance from the end :)

[2018-01-22 17:00] kchadha commented on #1342
This is a duplicate of #1223.

[2018-01-22 17:00] #1342 closed, assigned to kchadha

[2018-01-22 17:04] kchadha commented on #1354
Accidentally closed by phrasing of #1355.

[2018-01-22 18:25] ericrosenbaum opened #1356 ""Stop other scripts in sprite" block changes shape on workspace refresh"
### Expected Behavior

The "stop (other scripts in sprite)" block is special because its shape depends on the menu selection. But once you have selected "other scripts in sprite", which causes it to add a next-connection bump at the bottom, it should stay that shape.

### Actual Behavior

The block changes shape when you switch to another sprite and then come back.

Before:

<img width="203" alt="

[2018-01-22 18:31] ericrosenbaum opened #1357 "Crash on switching sprites after connecting "stop other scripts in this sprite""
### Expected Behavior

No crash!

### Actual Behavior

If you use a "stop other scripts in this sprite" block, with another block connected after it, and switch away from and back to that sprite, it crashes.

This seems related to https://github.com/LLK/scratch-blocks/issues/1356

### Steps to Reproduce

- Build this stack:

<img width="195" alt="screen shot 2018-01-22 at 1 28 05 pm" src="https://

[2018-01-22 18:38] ericrosenbaum opened #1358 "Do not use the word "scripts" when referring to blocks or stacks in UI"
### Expected Behavior

We have mostly shifted away from using the word "scripts" to refer to blocks or stacks of blocks in the Scratch 3.0 UI. So it should not appear anywhere in the blocks.

### Actual Behavior

We still use the word "scripts" in the "stop (all / this script / other scripts in this sprite)" block

[2018-01-22 19:05] rachel-fenichel commented on #1356
This block has a mutation to record whether the block has a next connection.  Is it possible that the `<mutation>` tag is not making it through the roundtrip?
https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/control.js#L206

[2018-01-22 19:31] morantsur opened #1359 "vertical_playground doesn't support <sep> between blocks"
When adding the <sep /> element (or <sep gap="50" />) to the blocks in the vertical_playground, it only renders the blocks before the separator, without giving any error.

Steps to reproduce:
1. in tests/vertical_playground, add `<sep />` between the first and second blocks (https://github.com/LLK/scratch-blocks/blob/develop/tests/vertical_playground.html#L362)
2. open the vertical playground html

[2018-01-22 19:35] morantsur commented on #1303
Update: after looking into this, it looks like this happens both with a seperator at the beginning and at the end. The separator is translated into pushing the y coordinate of the element, but because there's no other block before it, this push is not included in the overall size of the toolbox.

I tried to reproduce this in the vertical_playground, but found that it doesn't support separators at

[2018-01-22 20:44] kchadha commented on #1183
As of the variables_by_id work in #1350 and because of #1343, there will no longer be a BlockChange event emitted when a variable is renamed. This is because the value of the field_variable/field_variable_getter is no longer changing because it now refers to the associated variable's ID. Renaming a variable only changes the name of the variable, not the underlying ID.
Fixing #1343 will also make i

[2018-01-22 21:07] rachel-fenichel commented on #1351
**Edit: the comment below is a solution to a problem that you do not have.**

The second time around the "message1" reference in the flyout should refer to the real variable, not a potential variable.  Blocks in the flyout should refer to potential variables only if no real variable with the same name + type exists.  Maybe something is going wrong during the toolbox refresh?

[2018-01-22 21:28] kchadha commented on #1351
@rachel-fenichel, that's right, the second time around, the 'message1' reference _does_ refer to the real variable, but this introduces the discrepancy between the first time and the second time. From the user's perspective, they don't know what there's a potential variable being turned into a real variable the first time, and an alert popping up subsequent times because a real variable already ex

[2018-01-22 21:30] #1245 closed, assigned to kchadha

[2018-01-22 23:21] kyleplo commented on #1188
Can recreate in iOS 11 Chrome 63

[2018-01-23 03:59] towerofnix commented on #1358
Btw, I'll note that "stop this stack of blocks" makes a lot more sense in the context of custom blocks, where the "stop this script" block stops only the blocks of the custom block, not the blocks of the script calling that custom block.

[2018-01-23 04:53] Kenny2github commented on #1358
Since "stop this stack of blocks" seems a little long, how about "stop this stack"?

[2018-01-23 15:51] towerofnix commented on #1190
Relatedly, on Firefox on a MacBook, trackpad scrolling is extremely *fast* **in the palette**. So the block palette has a separate but similar issue. (Perhaps there's code to make the palette scroll faster when on Firefox, but on a MacBook+trackpad that faster scrolling is not necessary?)

[2018-01-25 15:43] #1183 closed, assigned to kchadha, rachel-fenichel

[2018-01-25 15:43] #1292 closed, assigned to kchadha

[2018-01-25 15:43] #1343 closed, assigned to kchadha

[2018-01-25 18:53] rachel-fenichel commented on #1251
Also, these are currently constants on the Blockly namespace ( `Blockly.LIST_VARIABLE_TYPE = 'list';` and `Blockly.SCALAR_VARIABLE_TYPE = '';`).

Should they be on a `Blockly.ScratchBlocks` namespace?

[2018-01-25 23:38] radioblahaj commented on #1352
What Needs to be fixed?

[2018-01-27 12:01] kyleplo commented on #1358
What about having five options in the `stop [ v]` block?
- all - stop everything
- this stack - stop the stack of blocks this block is in
- other stacks in sprite - stop all stacks in this sprite except the stack this block is in
- all stacks in sprite - stop this sprite from doing anything until a hat block is triggered
- this entire stack - stop this stack and the stack that called it (eg. broad

[2018-01-27 12:07] kyleplo commented on #1221
Do we really need to support this?

[2018-01-27 12:12] kyleplo opened #1362 "Multiple custom procedure arguments shouldn't have the same name"
This should not happen:
![image](https://user-images.githubusercontent.com/31634240/35471827-338d036e-0331-11e8-92dd-b44cabc27064.png)

Also, while running this:
 ![image](https://user-images.githubusercontent.com/31634240/35471834-46fa3002-0331-11e8-92b1-460db2feda6e.png)
"true" is spoken for 10 seconds

[2018-01-27 12:46] Kenny2github commented on #1358
@kyleplo I think "this entire stack" would be difficult to get - perhaps "this train of thought"? Or instead of "thought", perhaps "blocks" or something

[2018-01-27 12:49] Kenny2github commented on #1362
FYI: the current Scratch 2 method is to add a "2" to the first copy, a "3" to the second and so on.

[2018-01-27 23:32] apple502j commented on #1362
LLK/scratch-gui#1252

[2018-01-28 00:07] thisandagain commented on #1362
Tracking in #1252

[2018-01-28 00:07] #1362 closed, assigned to nobody

[2018-01-28 00:26] apple502j opened #1363 "How to use Google Closure Compiler in Windows7?"
I have:

* Python 2.7
* Node.js

[2018-01-28 07:12] apple502j commented on #1363
OK. I found some.

[2018-01-28 07:12] #1363 closed, assigned to nobody

[2018-01-29 18:14] #1351 closed, assigned to kchadha

[2018-01-29 20:41] cwillisf opened #1364 "Edge: Dragging stack w/ custom hat leaves shadow trail"
### Expected Behavior

Dragging a stack of blocks looks similar regardless of the contents of the block stack.

### Actual Behavior

On Edge, certain block stacks leave bits of shadow while dragging. The bits of shadow disappear when the drag gesture stops.

### Steps to Reproduce

1. Load `preview.scratch.mit.edu` in Edge
2. Build this stack of blocks like this:
![image](https://user-images.githu

[2018-01-30 00:10] AmazingMech2418 commented on #1333
It works if you use the join function to join "all" or "last" and an empty string (even without spaces). That means that the bug is just the dropdown not showing.

[2018-01-30 00:24] rachel-fenichel opened #1367 "Using "%s" as an argument name causes unexpected behavior"
See https://github.com/LLK/scratch-gui/issues/1347

From a quick look through code, I think the solution is proper escaping in this function:
https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/procedures.js#L529

[2018-01-30 13:52] AnmAtAnm commented on #1221
@kyleplo We don't need it if we can assume kids do rationale things.

[2018-01-30 16:43] thisandagain opened #1368 "Using "%s" as an argument name causes unexpected behavior"
### Expected Behavior

- Creating a custom procedure with "%s" as an argument name should work

### Actual Behavior

- Causes a number of exceptions that lead to instability

### Steps to Reproduce

- Click the "Make a block" button
- Enter `%s` as the argument name
- Click "ok"

### Demo
![untitled3](https://user-images.githubusercontent.com/747641/35454537-66b4675e-029c-11e8-921c-e70dd9452d13.gi

[2018-01-30 16:44] thisandagain commented on #1367
Tracking in https://github.com/LLK/scratch-blocks/issues/1368

[2018-01-30 16:44] #1367 closed, assigned to nobody

[2018-01-30 18:09] rachel-fenichel commented on #1368
From a quick look through code, I think the solution is proper escaping in this function:
https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/procedures.js#L529

[2018-01-31 00:30] Kenny2github commented on #1368
@thisandagain might wanna add the "custom procedures" label?

[2018-01-31 00:36] AmazingMech2418 commented on #1199
@thisandagain @paulkaplan There are a lot of projects that would no longer be possible on Scratch 3 if the key press block isn't droppable. Word processors wouldn't ever work again. Advanced coding apps would also not work anymore. It could also cause a lot of conflicts when converting projects including ASCII detectors. Also, the "hacked blocks" wouldn't be able to be made to fix the problem like

[2018-01-31 13:26] thisandagain commented on #1199
@amazinigmech2418 I'm a little confused. The "when [space] key pressed" hat block is currently not droppable in Scratch 2.0. Can you please provide an example or clarify?

[2018-01-31 15:53] towerofnix commented on #1199
@thisandagain I believe @amazinigmech2418 meant the "key pressed" sensing block, not the event block. This block, of course, is also not-droppable in 2.0, but maybe they mean to make it droppable (need clarification obviously). Here's a small example which lets the user type "into" a variable display:

![Text input example](https://user-images.githubusercontent.com/9948030/35632172-593721d2-067c-1

[2018-01-31 15:59] thisandagain commented on #1199
Thanks @towerofnix this use case makes sense to me (funny enough I looked at Griffpatch's word processor project before responding earlier just to make sure I wasn't missing something regarding "hacked" blocks). I think making the sensing boolean reporter droppable may make sense. I'm going to split that out into a new issue.

[2018-01-31 16:02] thisandagain opened #1370 "Make <key [space] pressed?> input droppable"
Follow-up from discussion in #1199. From @towerofnix:

... Here's a small example which lets the user type "into" a variable display:

![Text input example](https://user-images.githubusercontent.com/9948030/35632172-593721d2-067c-11e8-8123-d46dfda8f5da.png)

[code]

Griffpatch's [Word Processor](https://scratch.mit.edu/projects/88564231/) project is a good example of using the "key pressed" sensin

[2018-01-31 16:25] kchadha commented on #1253
@rachel-fenichel should this issue be closed now, or is there more work to be done?

[2018-01-31 17:48] rachel-fenichel commented on #1253
I think we're done here!

[2018-01-31 17:48] #1253 closed, assigned to rachel-fenichel

[2018-01-31 18:15] towerofnix commented on #1370
I can probably do this (I already have scratch-blocks updated, doing gui now).

(Edit: and, 🎉, thanks! This makes a bunch of things way more possible and easy to do now. Another example that comes to mind is customizable keyboard controls.)

[2018-01-31 20:40] AmazingMech2418 commented on #1370
This is what I meant when I made the suggestion! It was droppable earlier in the previous version of Scratch 3.0 before some blocks were made undroppable.

[2018-01-31 22:42] AmazingMech2418 opened #1372 "Suggestion: Menu items for control, shift, delete, backspace, and enter"
### Expected Behavior

If the suggestion was followed, there would be more keys added for the key pressed boolean

### Actual Behavior

There aren't menu items for the keys mentioned in the title of this issue.

### Steps to Reproduce

It always happens and this is just a suggestion.

### Operating System and Browser

It doesn't really matter. This is a suggestion.

[2018-01-31 23:17] AmazingMech2418 commented on #1372
I already have it ready for backspace, delete, and enter...

[2018-01-31 23:45] towerofnix commented on #1372
Some example uses would be helpful. So here's a few:

* **Why detect shift:** The shift key is frequently used as a sprint or sneak control in many (non-Scratch) games. It is easy to press, since it's very big, and people are somewhat used to using it in games. The shift key is also needed in virtually any word processor (or text input) program, for inputting uppercase letters.

* **Why detect con

[2018-02-01 00:01] towerofnix commented on #1372
**A *scary* suggestion:**

What if passing a number to the "key pressed" block simply returned if the key *whose key code matches that number* is pressed? This would make the "key pressed" block virtually completely powerful, without cluttering the dropdown with keys rarely used such as page up/down. Currently, projects like griffpatch's [Word Processor](https://scratch.mit.edu/projects/88564231/)

[2018-02-01 04:13] xys1836 commented on #1345
It seems that Android keyboard will change the size of windows and dispatch the workspace resize event. So I try to comment the `Blockly.hideChaff(true);`  in scratch-blocks/core/inject.js.
As shown follows:
[code]
It causes some other problems such as the text input filed will not follow with the block but stay the same place while inputing texts. But at least it works on Android devices.

[2018-02-01 16:14] paulkaplan commented on #820
I believe this was fixed by https://github.com/LLK/scratch-blocks/pull/1340

[2018-02-01 16:14] #820 closed, assigned to nobody

[2018-02-01 23:27] AmazingMech2418 commented on #1372
@towerofnix Maybe instead, there should be another block that is `<key with code () pressed?>`.

[2018-02-01 23:31] thisandagain commented on #1352
The text within each button (see "Make a Block") is not vertically aligned within the button bounds on Firefox. It should look like this:
![image](https://user-images.githubusercontent.com/747641/35708876-260ad04e-077e-11e8-88d5-bc84229628e6.png)

[2018-02-01 23:32] #1255 closed, assigned to nobody

[2018-02-01 23:35] thisandagain commented on #932
Closing as per new category menu design.

[2018-02-01 23:35] #932 closed, assigned to nobody

[2018-02-01 23:37] radioblahaj commented on #1352
Where is the code?

[2018-02-02 00:00] thisandagain commented on #1368
Thanks @kenny2github. Also added "help wanted" to this.

[2018-02-03 05:55] apple502j commented on #1372
I never agree because TABLES DON'T HAVE THESE KEYS.
See LLK/scratch-gui#1354

[2018-02-03 09:21] apple502j commented on #1372
@amazinigmech2418
if you want, it should be "extension".

[2018-02-03 14:34] towerofnix commented on #1372
@apple502j Sure, tablets don't have these keys, but they don't have any other keys either. Would it be wise to completely remove the "key pressed" blocks, for the sake of having "computer" projects be 100% supported on tablets?

[2018-02-03 18:53] AmazingMech2418 commented on #1372
@towerofnix Then many projects would no longer work. You can just make buttons to make a mini keyboard inside the project for mobile devices.

[2018-02-03 18:55] AmazingMech2418 commented on #1372
@apple502j Why would it be an extension? You'd have to make a full new block for the menu to work.

[2018-02-03 23:07] apple502j commented on #1372
@amazinigmech2418 some blocks which are difficult to understand moved to extension, like pen.
keycode block should be there.

[2018-02-04 12:41] xys1836 opened #1373 "Blocks can be duplicated in the blocks list by keyboard"
1. Single click on any block in the blocks list.
2. Press command + c, then command + v  on MacOS (ctrl+c and ctrl+v on Windows)
3. The block clicked just now will be duplicated in the block list and the duplicated block cannot be removed.

Notice that the block "when green flag clicked" duplicated by command + c and command + v .  in the following figure.

<img width="379" alt="screen shot 0030-0

[2018-02-04 12:51] xys1836 commented on #1347
Another similar bug shown as the following gif figure.
1. Drag four operator blocks(for example, +, -, *, /)
2. Align them in the workspace from top to bottom.
3. Insert the block to another block in opposite order (/, *, -, +)
4. Press undo, notice the blocks perform as expected.(actually the position is wrong)
5. Press undo again, notice the layout of blocks broken.

This also happens by pressin

[2018-02-04 18:14] AmazingMech2418 commented on #1372
@apple502j You're not understanding what I'm saying. I'm saying to just add those characters to the menus.

[2018-02-05 15:29] paulkaplan commented on #1356
@rachel-fenichel I'm not seeing a change event being fired for the mutation when changing from `stop all` to `stop for this sprite`. I only see a change event for the value of the field.

[2018-02-05 15:41] paulkaplan commented on #1356
The next connection is modified in the line validator of the menu options, line 194 here https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/control.js#L172-L216

Do you think a BlockChange for the mutation should be emitted at that point as well?

[2018-02-05 16:23] paulkaplan commented on #1058
The fix for scrolling the category menu was pulled in from upstream during https://github.com/LLK/scratch-blocks/pull/1157. It is currently possible to scroll the category menu.

There is still an issue with the way the category menu should look with scrollbars, as mentioned by rachel above, but I'll open a new issue for that.

[2018-02-05 16:27] paulkaplan commented on #1119
I do not think this was fixed, I'm going to reopen this to track the scrollbar looking strange/overlapping content, as noted at the end of https://github.com/LLK/scratch-blocks/issues/1058.

Different browsers seem to choose where to put the scrollbar differently. I got these two from chrome and firefox respectively on mac, with the system setting for "always show scrollbars" turned on (this is no

[2018-02-05 16:29] #1058 closed, assigned to ericrosenbaum, paulkaplan, rachel-fenichel

[2018-02-05 17:56] ericrosenbaum opened #1374 "White space in broadcast names handled differently by different fields"
### Expected Behavior

White space, such as multiple spaces between words in a broadcast name, should display consistently in the dropdown field and the input field.

### Actual Behavior

Extra  spaces  in  a broadcast name are displayed in the input field on the block, but not in the dropdown menu.

### Steps to Reproduce

Create a broadcast message with multiple spaces between the words.
Compare

[2018-02-05 18:44] rachel-fenichel commented on #1119
For debugging scrollbars on a mac, you'll get different behaviour if you do or don't have a physical mouse connected.  That may be why some people are no longer seeing this problem.

On ubuntu with chrome I get really nasty scrollbars:
![image](https://user-images.githubusercontent.com/13686399/35822459-337b1226-0a61-11e8-9ac2-18d00478b019.png)

And in Firefox:
![image](https://user-images.githubu

[2018-02-05 21:28] rachel-fenichel commented on #1373
This is my new favorite bug.

It also exists in blockly--you can get it to happen in the playground with a simple toolbox.

The solution is pretty simple.  Cut (ctrl/command-x) and paste (ctrl/command-v) should definitely not work in the flyout.  We can add a flyout check [here](https://github.com/google/blockly/blob/master/core/blockly.js#L209) and [here](https://github.com/google/blockly/blob/ma

[2018-02-06 17:17] towerofnix opened #1375 "Very long right-click/context menus are cut off"
### Expected Behavior

A context menu containing so many items that the menu doesn't fit on the screen is scrollable.

### Actual Behavior

The context menu is not scrollable; some items are cut off by the top of the screen and inaccessible.

![Demo of a context menu being cut off](https://user-images.githubusercontent.com/9948030/35873023-e7c5e58e-0b3e-11e8-8949-fb2eb2711583.png)

### Steps to Re

[2018-02-06 20:36] kyleplo opened #1376 "Button text looks odd on Microsoft Edge"
### Expected Behavior

Button text should be vertically centered in all browsers.

### Actual Behavior

Text is too far up in Microsoft Edge:
![image](https://user-images.githubusercontent.com/31634240/35882782-481c1d5e-0b53-11e8-93b1-26370e6d512e.png)

### Steps to Reproduce

Test on Edge

### Operating System and Browser

Windows 10 Edge 41.16299.15.0

[2018-02-07 19:34] AmazingMech2418 commented on #1376
This should be moved to scratch-gui.

[2018-02-07 19:42] rachel-fenichel commented on #1376
@amazinigmech2418 nope, this is a scratch-blocks problem.  The buttons in the toolbox (block palette) are part of scratch-blocks.

[2018-02-07 20:44] AmazingMech2418 commented on #1376
OK. I thought it was part of the GUI since it isn't the actual blocks.

[2018-02-07 21:57] thisandagain commented on #1372
This has some serious implications on accessibility with screen-readers (which often use modifier keys as listed above for navigation).

[2018-02-07 23:19] quachtina96 commented on #1373
I think it'd be great to make things copied from the flyout always paste into the workspace. In discussions I've had, the flow for grabbing a block from the toolbox and putting it into the workspace is very similar to the copy-paste flow in things like Excel or spreadsheets.

[2018-02-08 16:00] paulkaplan opened #1378 "Improve visibility of stack glow"
/cc @carljbowman @ericrosenbaum from a discussion we had in person, wanted to file this so that it doesn't get lost. Just a stub, more to come.

[2018-02-08 17:24] thisandagain commented on #1376
Likely related to https://github.com/LLK/scratch-blocks/issues/1352

[2018-02-09 01:06] rachel-fenichel commented on #1373
Oh sweet, you can also delete blocks in the flyout with backspace and delete, at least on blockly.

[2018-02-09 01:16] Kenny2github commented on #1373
I think that keyboard c&p&d is great, just not when it copies into or deletes from the flyout. I'd say pasting should always paste into the workspace, and deleting should not work at all in the flyout.

[2018-02-09 01:17] rachel-fenichel commented on #1373
@Kenny2github yeah I'm fixing it right now on Blockly, with that behaviour.

[2018-02-09 01:22] rachel-fenichel commented on #1373
For completeness: trying to cut (ctrl/cmd+x) in a flyout will not delete the block, and it also won't copy it to the clipboard.  That matches behaviour when trying to cut uncuttable text in the browser.

[2018-02-09 14:49] towerofnix opened #1379 "Whether a variable is "for this sprite only" or not should be obviously visible"
Apologies for the essay!!!!

### Expected Behavior

There should be some way to easily tell whether a variable block is local to a specific sprite ("for this sprite only") or not, ideally without any further interaction.

### Actual Behavior

Currently the only way to tell if an existing variable is sprite-local is to show the variable on the stage (the monitor will display "[Sprite Name]: my vari

[2018-02-09 16:50] towerofnix opened #1380 "Should there be a "show variable" option on variable reporter block right-click menus?"
Small feature request - I think this would be helpful in debugging projects.

[2018-02-09 17:20] mrjacobbloom commented on #1379
I really like this idea, but I'm worried scripts with a lot of nested reporters would get too long. An icon wouldn't take as much horizontal space and would parallel the cloud icon, but also wouldn't give as much information (though which sprite the variable belongs to would be obvious from context since you can only view one workspace at once). Maybe a "visibility eye" or a lock icon? Or even a t

[2018-02-09 17:31] towerofnix commented on #1379
I like this idea! (Edit: this has the same issues as displaying the sprite name, of course, so still worth thinking about those edge cases I mentioned.)

A lock icon would make it look like the variable is limited from being edited *at all*, I think, which isn't the idea we want.

[2018-02-09 21:01] AmazingMech2418 commented on #1379
@towerofnix I've seen a mod that uses this format: `<name>[local]`.

[2018-02-09 21:02] #1357 closed, assigned to paulkaplan

[2018-02-09 22:13] apple502j commented on #1368
The same as "%m" - JSON opCode?

[2018-02-11 18:48] ivanixgames opened #1381 "Behavior of color picker on sensor blocks broken"
### Expected Behavior
This issue originally opened in scratch-gui, #766.
Please see detail there of symptoms.
https://github.com/LLK/scratch-gui/issues/766

Users expect behavior to mimic that of color picker found in paint editor.
Upon tapping or clicking in the color range of the slider, the thumb should move to that position

### Actual Behavior
For hue and brightness the thumb moves incrementa

[2018-02-12 04:12] apple502j opened #1383 "Operators should be able to be switched via right-click menu"
### Expected Behavior
The `+`, `-`, `*`, etc. blocks in Scratch 2.0 provide a context menu to switch between operators.

### Actual Behavior
This has not yet been implemented.

[2018-02-12 04:13] apple502j commented on #1383
Same as >, =, <

[2018-02-12 04:28] oliverou commented on #1067
Hi @rachel-fenichel , we also have found this issue when using the latest version of Scratch 3.0, any updates on fixing it?

[2018-02-12 22:43] rachel-fenichel commented on #1373
Fixed upstream.

[2018-02-12 22:54] rachel-fenichel commented on #1067
It depends on whether we're supporting auto-closing flyouts in scratch blocks.  @ericrosenbaum do you know?

[2018-02-12 22:56] msintov commented on #1067
We use them for vertical grammar on the Cozmo project. I think there are a few bugs in scratch-blocks with the auto-closing flyout that I have worked around.

[2018-02-12 23:54] AmazingMech2418 commented on #1372
@thisandagain https://wiki.scratch.mit.edu/wiki/Panther_(Scratch_Modification) talks about a mod with the keys I suggested in this issue, so that shows I'm actually not the first person with the idea. You could possibly use the code for that to also get the key codes (not e.keyCode in JS, but the text code for the keys like what would be needed for JSON editing in 2.0).

[2018-02-21 21:42] #1194 closed, assigned to paulkaplan

[2018-02-21 21:43] #822 closed, assigned to nobody

[2018-02-21 21:46] #20 closed

[2018-02-21 21:47] #813 closed, assigned to rachel-fenichel

[2018-02-21 21:49] #541 closed, assigned to nobody

[2018-02-21 21:50] #154 closed

[2018-02-21 21:51] #607 closed, assigned to nobody

[2018-02-21 21:52] #116 closed

[2018-02-21 21:53] #964 closed, assigned to carljbowman

[2018-02-21 21:53] #151 closed

[2018-02-21 21:54] #173 closed

[2018-02-21 21:54] cwillisf commented on #818
We'll be defining all blocks through the extension system soon, which will obviate this.

[2018-02-21 21:54] #818 closed, assigned to nobody

[2018-02-21 21:54] #975 closed, assigned to carljbowman

[2018-02-21 21:57] #268 closed

[2018-02-21 21:58] #270 closed

[2018-02-21 21:58] cwillisf commented on #819
Fixed upstream

[2018-02-21 21:59] #819 closed, assigned to nobody

[2018-02-21 22:00] #411 closed, assigned to nobody

[2018-02-21 22:01] #439 closed, assigned to nobody

[2018-02-21 22:02] cwillisf commented on #821
This appears to have been fixed upstream

[2018-02-21 22:02] #821 closed, assigned to nobody

[2018-02-21 22:04] #572 closed, assigned to rachel-fenichel

[2018-02-21 22:13] #749 closed, assigned to nobody

[2018-02-21 22:13] #752 closed, assigned to nobody

[2018-02-21 22:13] #765 closed, assigned to nobody

[2018-02-21 22:14] #778 closed, assigned to nobody

[2018-02-21 22:21] paulkaplan commented on #849
We are just going to force hide all native scrollbars

[2018-02-21 22:25] cwillisf commented on #852
Closing this for now: we plan to work on horizontal blocks some time next year.

[2018-02-21 22:25] #852 closed, assigned to nobody

[2018-02-21 22:25] #170 closed

[2018-02-21 22:26] #27 closed

[2018-02-21 22:26] #875 closed, assigned to nobody

[2018-02-21 22:27] #914 closed, assigned to nobody

[2018-02-21 22:28] cwillisf commented on #853
Closing this for now: we're planning to work on horizontal blocks some time next year.

[2018-02-21 22:28] #853 closed, assigned to nobody

[2018-02-21 22:28] #919 closed, assigned to nobody

[2018-02-22 19:40] mrjacobbloom commented on #849
So long dropdown menus will be scrollable but have no visible scrollbar?

[2018-02-25 19:01] bfunc opened #1386 "Blockly.JavaScript is undefined"
### Expected Behavior

print JavaScript code from blocks

### Actual Behavior

```Uncaught TypeError: Cannot read property 'workspaceToCode' of undefined```

ie. JavaScript property do not exists in Blockly instance

### Steps to Reproduce

1. git clone
2. npm install
3. run tests/vertical_playground.html
4. press to JavaScript button

### Operating System and Browser

Win10, Chrome 64

[2018-02-25 20:43] TheBrokenRail commented on #1386
You need to import the JavaScript generator to have access to ```Blockly.Javascript```
[code]
This will not allow you to convert the blocks to JavaScript as generators are not being used for scratch-blocks.

[2018-02-26 08:46] hansionit opened #1387 "how to run scratch-blocks on mobilephone ?"
I want use scratch-blocks in my android application,but I don't konw how to start.Please help me.Thanks！

[2018-02-26 18:43] rachel-fenichel commented on #1386
Scratch-blocks has the basic generator files, which say what a function looks like, what a variable declaration looks like, etc. for the given language.  But you also need a generator for each block, and those do not exist for the Scratch 3.0 blocks.

The basic generator files are included for projects that are using the scratch-blocks library without the Scratch runtime.  Those projects are expec

[2018-02-26 18:49] thisandagain commented on #1374
/cc @kchadha

[2018-02-26 18:56] thisandagain commented on #1383
Updated title and initial description to be clear.

[2018-02-26 19:32] #1386 closed, assigned to nobody

[2018-02-26 19:34] thisandagain commented on #1387
You will need to load both the [blocks](https://github.com/llk/scratch-blocks) and the [Virtual Machine](https://github.com/llk/scratch-vm) into a [WebView](https://developer.android.com/reference/android/webkit/WebView.html).

[2018-02-26 19:34] #1387 closed, assigned to nobody

[2018-02-27 12:58] bfunc commented on #1386
Thank you for quick response.

javascript_compressed - fixes issue (it was my mistake, it is mentioned at Blocky manual)
`<script src="../javascript_compressed.js"></script>`

Code to define generator for block
[code]

[2018-02-27 18:57] ericrosenbaum commented on #1067
@rachel-fenichel we've now talked this over and decided to support auto-closing flyouts.

@msintov it would help us out if you're able to describe your bug workarounds, or even better submit a PR. Thanks!

[2018-02-27 19:16] AnmAtAnm commented on #1372
@thisandagain, I don't see this as an accessibility issue, as long as a accessibility navigation takes precedence over the in-project events and authored behavior. This is exactly like browser keyboard navigation taking precedence over authored behavior.

Compare the request with the video or microphone blocks. Not all users/devices have that hardware, but we still have those blocks and allow user

[2018-02-27 23:21] msintov commented on #1067
Here are the changes I have made to support an autoclosing flyout (let me know if something seems to be missing):

1. In `flyout_vertical.js`, set `autoClose` to true:
[code]

2. Note that width of the `scratchCategoryMenu` in `css.js` is important in the calculations below (by default this is 52px).

3. In `toolbox.js`, I expose a way to set the width:
[code]

4. Note that the desired flyout widt

[2018-02-28 04:36] TinyChou opened #1388 "VerticalExtension missing dependency for goog.require('Blockly.Extensions')"
### Expected Behavior

everything works OK without errors

### Actual Behavior
when calling registerAll() inline at the end of vertical_extension.js
compiled.js:724 Uncaught TypeError: Cannot read property 'register' of undefined
    at Object.Blockly.ScratchBlocks.VerticalExtensions.registerAll (compiled.js:724)
    at compiled.js:726

### Steps to Reproduce

_Explain what someone needs to do in

[2018-02-28 04:40] TinyChou commented on #1388
the compiled.js is a single js packed by closoure builder which contains all the dependency-tree JavaScript files.

[2018-02-28 22:35] rachel-fenichel commented on #1345
FYI I'm seeing a lot of reports of this in user feedback on the preview.

[2018-03-01 16:20] zephyrr commented on #1379
Rather than a lock icon etc, how about using just a prefix colon for local names, as a visual hint/shorthand; the spritename:varname usage would still be used where needed for ambiguity resolution?   (Or make this abbreviated visual form configurable).

[2018-03-01 18:45] rachel-fenichel commented on #1379
I can guarantee someone would make a global variable named "spritename:varname" just to make life difficult.

[2018-03-02 06:42] psychoplasma opened #1389 "Dummy input shapes are created for the same input everytime BlockSvg#initSvg() function is called"
### Expected Behavior

When inputs are created by mutators, there should be only one path element per input's outlinePath property.

### Actual Behavior

In each call of BlockSvg#initSvg() function, for the same input, an extra path element is added to the DOM under the related svg group. For the same reason, if the input is removed through mutator, the dummy paths stay on the DOM. It seems like r

[2018-03-02 18:01] paulabonta opened #1390 "FieldNumber: allow validator in block definition (JSON data)"
### Expected Behavior
Allow a validator function to be passed to the Field Number
[code]

### Suggestion
Expose this feature in the block JSON parsing:
Add in the  file core/blocks.js lines 1460/1462

         case 'field_number':
              field = new Blockly.FieldNumber(element['value'],
                  element['min'], element['max'], element['precision'], **element['validator']);**

[2018-03-05 17:22] towerofnix opened #1391 "How to build or test locally/offline, to avoid rate-limiting?"
Presently I'm getting this error in my console when I run `build.py`:

[code]

This is a bit annoying. Apparently the only solution is to wait an hour or so until I'm not rate-limited anymore. How can I build scratch-blocks locally, to avoid this?

Apologies if I missed anything in the documentation wiki.

[2018-03-05 17:29] towerofnix commented on #1391
Okay, it looks like I can just not build at all and my changes will be reflected. But I'll leave this open, since I'd still like to know if it's at all possible to build compressed versions without being online.

[2018-03-05 17:47] paulkaplan opened #1392 "Drag not registering as outside blocks area when svg group is larger than viewport"
Try loading this project https://llk.github.io/scratch-gui/develop/#177260519 and dragging a stack to another sprite. It doesn't transition to being "outside" the blocks area until far to the right.

![drag-outside](https://user-images.githubusercontent.com/654102/36990590-2e10b246-2073-11e8-899b-14a105d41f3e.gif)

It seems that the process for checking `isInsideBlocksArea` isn't working correctly

[2018-03-05 18:03] fsih commented on #1391
Yeah, unfortunately Closure uses an online compiler that rate limits users, which we can't do much to change, and when you get locked you get locked out for an hour. (from https://developers.google.com/closure/compiler/docs/api-ref).
I'm not totally sure how many compiles it takes to trigger it.

[2018-03-05 18:15] paulkaplan commented on #1392
@rachel-fenichel I would think we could use the results of `this.getMetrics()` on the workspace svg, but I'm not exactly sure what combination of the metrics would give the same idea?

[2018-03-05 20:03] fsih commented on #1391
- If you're making changes to only scratch-blocks, you may be able to test locally by opening scratch-blocks/tests/vertical_playground.html in a browser, which will do no compression.
- If you're making changes only outside scratch-blocks, you can 'npm unlink scratch-blocks' from scratch-gui, and gui will automatically use the latest stable version of scratch-blocks.
- If you're trying to test cha

[2018-03-05 20:03] #1391 closed, assigned to nobody

[2018-03-05 20:47] towerofnix commented on #1391
@fsih Thanks for the help and clarification! This helps a bunch.

[2018-03-05 21:30] #1392 closed, assigned to fsih

[2018-03-06 15:13] thisandagain opened #1395 "Support validators"
Support validators for numeric fields.

Blocks https://github.com/LLK/scratch-blocks/issues/1390

[2018-03-07 02:00] Clark-E opened #1396 "Length of (0/0) equals 3 ("Nan")"
### Expected Behavior

_Please describe what should happen_

I've been experimenting with (0/0), which returns the value Nan (not suprising). Plugging in this "Nan" block into numerical inputs treats it as if it were zero. So far, so good.

### Actual Behavior

_Describe what actually happens_

But, when plugging in the (0/0) block into string inputs, it treats it as if it were "Nan". Length of (0

[2018-03-07 14:22] BryceLTaylor commented on #1347
I tried this two different ways.  I got the same results on Preview and Develop.   If I do the initial redo by right clicking the workspace and choosing redo then everything behaves as normal.

1. Navigate to the gui
2. drag 3 blocks into the workspace, connecting them.
3. disconnect a block, dragging it to the side, leaving it on the workspace
4. right click the stage
5. select undo from the menu

[2018-03-07 15:08] Clark-E commented on #1396
Sorry, I just realized this issue really belongs in scratch/vm. I'll close this one and post it there.

[2018-03-07 15:08] #1396 closed, assigned to nobody

[2018-03-07 15:10] towerofnix commented on #1396
@Clark-E - Note that this is the same behavior as in Scratch 2.0; may be worth considering that changing this could break compatibility. Also, 5 divided by 0 is not 0, but I don't want to argue about how the behavior of should be myself :P

[2018-03-07 15:39] thisandagain opened #1397 "Remove right-click "help" option from blocks (for now)"
When right clicking on a block you currently get a disabled "help" option in the contextual menu.  Until we have a design / solution for "block help" this should be removed.

[2018-03-08 13:31] bfunc commented on #309
Hi please help, how can I implement "maxBlocks" feature in my project after it was removed from scratch-blocks?

[2018-03-08 14:29] #1381 closed, assigned to ivanixgames

[2018-03-08 15:03] paulkaplan commented on #634
We decided to tackle this in two steps:
1. Split the blocks into two separate opcodes that do the same thing.
2. Implement a filtering process that maps one block to the other when dragged from sprite <=> stage (or backpack)

There are not any acceptable "generalizations" of the text that would be clear enough to avoid confusion with the stack itself ("when I'm clicked"). The pre-share-the-love fi

[2018-03-08 15:09] #1356 closed, assigned to paulkaplan

[2018-03-08 15:27] Clark-E opened #1399 "redundant code in keypress reporter and keypress event"
This isn't a bug report or anything.

I was looking through the code and noticed the markup for the keypress reporter and keypress event look really redundant.

[https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/sensing.js](url) line 209
[https://github.com/LLK/scratch-blocks/blob/develop/blocks_event.js/event.js](url) line 222

They each have the same really long JSON array attac

[2018-03-08 22:56] ericrosenbaum opened #1401 "Flyout scrolls from the top on switching sprites"
### Expected Behavior

Generally, the flyout should not unexpectedly move or scroll.

### Actual Behavior

After https://github.com/LLK/scratch-blocks/pull/1400, the flyout will not change categories unexpectedly when switching sprites. But it still scrolls down from the top to the selected category on switching sprites.

Switching sprites causes the [GUI to call workspace.updateToolbox](https://g

[2018-03-09 22:36] rachel-fenichel commented on #1391
It is definitely possible to build scratch blocks offline--closure has an offline compiler that you can use, and we have instructions + a demo over in Blockly.  More on that below.

Separately, you don't need to build to see changes if you're only working in scratch-blocks, as @fsih mentioned above.  When you use the uncompressed version, changes are reflected immediately upon a page reload, and y

[2018-03-09 22:49] rachel-fenichel commented on #1392
Sorry for the delay, and it looks like you've fixed it.

Yes, some combination of results of `this.getMetrics()` would do it, involving the view-related numbers.  If that's still a thing that you want to look at, let me know.

[2018-03-09 23:16] rachel-fenichel commented on #1390
Whether or not validators should be supported is definitely worth discussing.

If we do want to support them, they should be added through extension functions, not directly in the JSON.  For example, in Blockly, there's a block that runs a validator function when the dropdown field changes, and updates the shape of the block accordingly.  The extension looks up the field by name and calls `setVali

[2018-03-09 23:20] rachel-fenichel commented on #1395
Pros:
- Increased flexibility
- Allow arbitrary validation, which makes developers happy
- Allow invalid intermediate states (e.g. "Infinity" is a valid number in JS, but "Infin" is not.)

Cons:
- Means there can be invalid intermediate states
  - May not make sense if editing while running the block (not Scratchy)
  - Blockly validators can hand back a new value if they don't like the one the use

[2018-03-09 23:37] #1227 closed, assigned to nobody

[2018-03-11 02:13] Clark-E commented on #1095
@rachel-fenichel I'd like to help on this issue. Could you please provide me an example of a block json that uses flipRtl?

[2018-03-12 05:11] CatsAreFluffy commented on #1383
Also, can I request switching between and/or and if/ifelse (if the else is empty)?

[2018-03-12 15:38] thisandagain commented on #1395
From discussions our proposal is to support validators, but initially only for numeric fields.

[2018-03-12 18:19] rachel-fenichel commented on #1095
Sure.  The `control_forever` [block](https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/control.js#L30) uses `flip_rtl` on the image field.
![image](https://user-images.githubusercontent.com/13686399/37301900-39364d10-25e7-11e8-8111-0968037285f7.png)

You can test your solution in the playground by toggling between LTR and RTL modes.

[2018-03-12 20:43] Clark-E commented on #1095
Thanks

[2018-03-12 21:57] ericrosenbaum opened #1406 "Flyout scrolls when switching between sprite and stage"
### Expected Behavior

Generally, the flyout should not unexpectedly move or scroll.

### Actual Behavior

Following https://github.com/LLK/scratch-blocks/pull/1404, switching sprites does not cause the flyout to scroll from the top. But when you switch from a sprite to the stage or vice versa, the flyout scrolls to get back to the same category you were in. This is because the stage has no blocks

[2018-03-12 22:14] #1095 closed, assigned to nobody

[2018-03-13 19:25] #1399 closed, assigned to nobody

[2018-03-14 22:45] #1401 closed, assigned to ericrosenbaum

[2018-03-15 06:19] zhaozbcn commented on #833
I also met the problem ,this is what I have done, and it worked for me:
1）update nodejs 9.8;
2）install webpack in nodejs ；
3）copy google-closure-library  to scratch-blocks‘s parent directory and rename it to closure-library

[2018-03-15 18:10] #1397 closed, assigned to nobody

[2018-03-15 19:23] #1370 closed, assigned to nobody

[2018-03-16 20:13] kyleplo commented on #1383
@CatsAreFluffy And/or is in Scratch 2.0

[2018-03-17 16:57] towerofnix opened #1408 ""Droppable" dropdown menu inputs don't get darkened when menu is open"
### Expected Behavior

The dropdown menu input gets darkened when the menu is open (i.e. when the input is clicked). It's supposed to look basically like this (but of course on an input that accepts blocks):

![](https://user-images.githubusercontent.com/9948030/37557951-e69c74c8-29ea-11e8-98d7-70d7ea8cd43f.png)

### Actual Behavior

The input isn't darkened. This is how it actually looks:

![](ht

[2018-03-17 22:20] KristianMischke commented on #1383
@kyleplo I can't get and/or switching in Scratch 2.0 editor

[2018-03-18 04:42] StephenPCG opened #1409 "non-deterministic build caused error"
We are using CI to build the package, we find that packages built by two of our runners are not working, while other runners produces expected results. Here is the error with bad ones:

[code]

After digg into `build.py`, we find that [`gen_blocks()`](https://github.com/LLK/scratch-blocks/blob/develop/build.py#L224-L232) didn't sort filenames outputted by `glob.glob()`. And the two problematic run

[2018-03-18 10:48] kyleplo commented on #1383
@KristianMischke Updated

[2018-03-18 11:59] kyleplo opened #1410 "Use "secs" instead of "seconds""
This is the way it is in Scratch 2.0, and blocks get really long with seconds.

[2018-03-18 12:20] kyleplo commented on #1379
What about an icon, like cloud variables?

[2018-03-18 12:39] Kenny2github commented on #1410
Please search through the repo for a rationale for differences before submitting issues for them. This change was deliberate - see #1316 - because "secs" is awkward to say out loud.

[2018-03-18 13:32] towerofnix commented on #1410
Along with what @Kenny2github said above - blocks don't get "really long", they get like 20 pixels longer.

[2018-03-18 21:32] #1410 closed, assigned to nobody

[2018-03-19 19:51] rachel-fenichel commented on #1408
Should be related to this code: https://github.com/LLK/scratch-blocks/blob/develop/core/field_dropdown.js#L255

[2018-03-19 21:01] #1406 closed, assigned to nobody

[2018-03-20 15:34] #1378 closed, assigned to ericrosenbaum, paulkaplan, thisandagain, carljbowman

[2018-03-21 18:08] rachel-fenichel opened #1414 ""Point in direction" editor is buggy on Firefox"
### Actual Behavior

A bit buggy on Firefox Quantum 57.0.4 (32-bit) - when entered "point in direction" wheel, the input value stays and keeps changing input of other values when trying to edit.

### Steps to Reproduce

(Assumed, needs repro)
1. Open the "point in direction" wheel
2. Start dragging the arrow
3. Release the arrow
4. Move the mouse around
5. See that the arrow keeps moving

### Oper

[2018-03-21 18:11] kchadha opened #1415 "Renaming list does not update monitor name"
Title says it all.

### Steps to reproduce
1. Create a new list
2. Make sure monitor is enabled.
3. Rename list to new name.
4. Observe that monitor does not display correct name.

[2018-03-21 21:15] rachel-fenichel commented on #1255
Frequently reported in Scratch 3.0 feedback, but we've agreed that the current behaviour is fine.

The exception is if it gets wide enough to add a scrollbar to the entire page, instead of just going over other elements.

[2018-03-21 22:40] ericrosenbaum opened #1416 "Add padding to the bottom of the flyout"
### Expected Behavior

There should be some extra space at the bottom of the flyout, below the last element (by default, the "my blocks" category, or any extensions that have been added). This would make blocks near the bottom of the flyout more easily accessible. It would also improve the scrolling behavior when you click the category button.

### Actual Behavior

There's no extra padding there.

[2018-03-21 22:45] rachel-fenichel opened #1417 "Category menu appearance issues"
General bug for reports from the feedback form on category menu rendering.

The scrollbar shows up when we don't want it to.  This is frequently exposed by adding a few extensions:
- Adding two extensions makes the category list too long, causing the (native) scrollbar to appear for the category menu. It covers the left edge of the blocks and can't be hidden. (#1116)
- If i select both music and p

[2018-03-22 16:49] zCrin commented on #1261
Same trouble !! Did you find a workaround or do we need to "stringify" our ints ?

[2018-03-23 03:11] DanFessler opened #1418 "Accept reporters in property field of sensing_of block"
I had a PR for this in scratch-flash (LLK/scratch-flash#1250) that was closed due to it being put on maintenance mode.  I'd like to restart that discussion here for Scratch 3.0

### Proposal
Accept reporters to be dropped on the PROPERTY field of the "sensing_of" block
![image](https://user-images.githubusercontent.com/1312084/37808910-2887adbc-2e0a-11e8-98e5-5c2e01d26387.png)

### Argument
For th

[2018-03-23 04:42] CatsAreFluffy commented on #1383
And/or switching is not in 2.0. I was requesting it as a new feature for 3.0.

[2018-03-23 10:11] Clark-E commented on #1418
I think that’s a great idea!

[2018-03-23 13:20] #634 closed, assigned to ericrosenbaum, paulkaplan, carljbowman

[2018-03-23 20:44] mrjacobbloom commented on #1418
cross-linking with https://github.com/LLK/scratch-blocks/issues/1199#issuecomment-346172503

[2018-03-26 17:19] rachel-fenichel opened #1419 "No option for "delete <all> of list""
Scratch 2.0 "delete ___ of list" block has options "last" and "all".  Scratch 3.0 does not match this.

### Expected Behavior

![image](https://user-images.githubusercontent.com/13686399/37921569-0fe2898a-30df-11e8-8bc7-7e954aba46d4.png)

### Actual Behavior

![image](https://user-images.githubusercontent.com/13686399/37921606-2c9881a6-30df-11e8-9f0b-1635c2a8b03b.png)

[2018-03-26 18:53] rachel-fenichel commented on #1419
This works if you import a project with "all" from Scratch 2.0, but you can't create it in Scratch 3.0.

[2018-03-26 19:14] Clark-E commented on #1419
So I’m guessing this is just a simple case of updating the default block palette to the right thing?

[2018-03-26 20:57] thisandagain commented on #1419
In general we have moved away from these hybrid numeric / drop-down inputs. I'll log this as a feature for future discussion.

[2018-03-26 20:58] thisandagain commented on #1419
/cc @carljbowman @ericrosenbaum

[2018-03-26 21:02] #1235 closed, assigned to paulkaplan

[2018-03-26 21:02] #1234 closed, assigned to paulkaplan

[2018-03-26 21:02] #1231 closed, assigned to paulkaplan

[2018-03-26 21:34] #984 closed, assigned to carljbowman

[2018-03-26 21:43] #731 closed, assigned to rachel-fenichel

[2018-03-26 21:43] #269 closed

[2018-03-26 21:45] thisandagain commented on #717
Tracking in new documentation repo (currently private).

[2018-03-26 21:45] #717 closed, assigned to nobody

[2018-03-26 21:47] #879 closed, assigned to rachel-fenichel

[2018-03-26 21:48] #198 closed

[2018-03-26 21:48] #216 closed

[2018-03-26 21:51] thisandagain commented on #245
This is now even more odd:
- Delete a "hat" from a stack: entire stack is deleted
- Delete a block from stack: just that block is deleted

[2018-03-26 21:56] #663 closed, assigned to nobody

[2018-03-26 22:07] #756 closed, assigned to nobody

[2018-03-26 23:10] rachel-fenichel commented on #245
Code path:

[Blockly.ContextMenu.blockDeleteOption = function(block)](https://github.com/LLK/scratch-blocks/blob/develop/core/contextmenu.js#L228)

Calls `block.dispose(true, true)`

[Blockly.BlockSvg.prototype.dispose = function(healStack, animate)](https://github.com/LLK/scratch-blocks/blob/develop/core/block_svg.js#L899)

Calls `this.unplug(healStack)`.

`healStack` is true (passed in from `blo

[2018-03-27 07:03] qiansitong opened #1420 "Windows install always Closure not found"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-03-27 13:04] #1420 closed, assigned to nobody

[2018-03-28 12:49] qiansitong commented on #1009
@joseeph Have you solved the problem?I met the same issue

[2018-03-28 13:04] apple502j commented on #1419
Dupe as #1333

[2018-03-28 13:05] thisandagain commented on #1419
Tracking in https://github.com/LLK/scratch-blocks/issues/1333

[2018-03-28 13:05] #1419 closed, assigned to nobody

[2018-03-28 17:22] towerofnix commented on #1333
Quoting @thisandagain from #1419:

Curious on what the new way to delete all items in a list will be, if "all" is permanently removed from the list.. I'm reminded of how excited I was when I was first using Scratch and came up with "repeat (length of list): delete (1) of list", only to then discover the "delete (all) of" block :)

[2018-03-28 19:09] #1344 closed, assigned to thisandagain

[2018-03-28 19:11] paulkaplan opened #1422 "Update travis.yml to use node 8"
We are trying to make all of our javascript code run using node 8. Make sure node 8 is one of the travis run options.

https://github.com/LLK/scratch-blocks/blob/develop/.travis.yml#L3-L4

[2018-03-29 07:19] qiansitong opened #1423 "python build.py"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-03-29 07:24] qiansitong commented on #1423
![image](https://user-images.githubusercontent.com/24642743/38075557-5002a314-3365-11e8-8199-b54f0989ee23.png)

[2018-03-29 19:40] AmazingMech2418 opened #1424 "Suggestion: Make Data Blocks Droppable"
### Expected Behavior

When you load a project with hacked blocks, it should have reporters in the data block variable/list name menu inputs where they were added with hacked blocks.

### Actual Behavior

When you go to https://llk.github.io/scratch-gui/develop/#149385927 and look at the Sprite "Sprite1", the data blocks say something weird in the menu inputs. This is just an example of a project

[2018-03-29 21:00] thisandagain commented on #1423
@qiansitong This isn't enough information for us to help you. Can you please fill out the issue template? Feel free to re-open once you have done this.

[2018-03-29 21:00] #1423 closed, assigned to nobody

[2018-03-30 03:09] qiansitong commented on #1423
I downloaded the code from scratch-blocks and ran into the above problem when running python build.py.

[2018-03-30 07:11] apple502j commented on #1424
You should discuss about json hack at https://github.com/LLK/scratch-gui/issues/767

[2018-04-01 01:34] towerofnix commented on #1408
Some investigation on this - the issue itself isn't that `this.disableColourChange_` is true (it isn't), it's that the code for the branch "if (this.sourceBlock_.isShadow()) {..}" isn't having an effect. Square inputs *aren't* shadows, and they run the branch below (this.box_.setAttribute(...)), which does work.

If that's right, the code to be fixed might be in core/block_render_svg_vertical.js (

[2018-04-01 01:47] towerofnix commented on #1408
The culprit of this is #962 (I thought it might be #1125 but the issue is still around before that). @rachel-fenichel I'm pinging you since you're the one who wrote that and might have thoughts here.

For what it's worth, reverting #962 fixes this. But I haven't tested custom procedure inputs, which would probably be affected by the revert.

[2018-04-01 02:03] towerofnix commented on #1408
Yeah, this does have an affect on custom blocks. Admittedly not the effect I expected, but not really surprising - ordinary:

![](https://user-images.githubusercontent.com/9948030/38169096-09cd042e-3537-11e8-8798-cb4b70f8a1b8.png)

..and with the revert:

![](https://user-images.githubusercontent.com/9948030/38169104-36334aaa-3537-11e8-9997-c7d19c3c99c3.png)

I don't think any other blocks are aff

[2018-04-02 16:54] rachel-fenichel commented on #1408
I'm surprised that reverting #962 doesn't change all of the other shadow blocks, actually.  Does that mean that something else is controlling the colors for all of the blocks that are shadows these days?

The point of #962 was that there are a general rule that we could apply for coloring blocks (shadow blocks are darker) and so we did.  That also lets us use the same block in a shadow and outside

[2018-04-02 18:39] chrisgarrity commented on #438
Marking this with compatibility as currently Scratch 2 does not switch the order of arguments. It also looks like in at least some RTL languages mathematical operations are still LTR (e.g. Hebrew)

[2018-04-02 19:23] kyleplo commented on #1395
Maybe it will only warn you when you blur with an invalid value.
Ex.
1. User has block `move (10) steps`
2. User focuses the field
3. User adds a "q" to the block
4. User blurs the field
5. Warning appears

[2018-04-04 02:11] cdbbnnyCode opened #1428 "Switching variable names in dropdown does not change the variable used"
### Expected Behavior

Using the right-click menu on a variable block to switch the variable should make it change to the other variable.

### Actual Behavior

Variable switching only temporarily changes the text of the block to the new variable. It refers to the old variable and will even change back if you reload the viewport (e.g. by switching to the 'Costumes' tab and back).

### Steps to Repr

[2018-04-04 15:25] #1103 closed, assigned to paulkaplan

[2018-04-06 18:00] ericrosenbaum opened #1429 "Scroll to category by ID instead of name"
Currently we use the name of a category to access its scroll position when scrolling to it. This happens when you click a blocks category menu button, or when the GUI triggers positioning or scrolling, such as when switching sprites or adding an extension.

Once we have the new blocks generation system implemented for all blocks categories, we should use the category ID instead of the name to stor

[2018-04-06 20:12] thisandagain commented on #1424
Tracking in https://github.com/LLK/scratch-vm/issues/1030

[2018-04-06 20:12] #1424 closed, assigned to nobody

[2018-04-06 20:49] rachel-fenichel commented on #1136
Implemented in Blockly: https://github.com/google/blockly/pull/1763

[2018-04-09 07:05] mrjacobbloom opened #1432 "Make custom block inputs reorder-able"
### Expected Behavior

This is a feature request, breaking it out from https://github.com/LLK/scratch-blocks/issues/1103#issuecomment-333831729 since that issue is closed. It'd be nice if it was possible to reorder inputs in the custom block editor. As @towerofnix said on the original issue:

A couple possible solutions might be drag-and-drop or left and right buttons that appear with the "trash"

[2018-04-09 09:23] ghost opened #1433 "Import and export json"
A similar project is currently being used for this plug-in.
Do you have a detailed API, or how to import and export json?
Please help me，
thank you very much！

[2018-04-09 09:42] ghost commented on #1433
Use 'ScratchBlocks.Xml.WorkspaceToDom' access to Xml
If you want to get a json format, do you have to encapsulate it yourself? ScratchBlocks doesn't provide the relevant interface.

[2018-04-09 11:29] towerofnix commented on #1432
Do note that this should definitely affect existing usages of the custom block. For example, if I make a block `jump to y: (y pos)` and then decide I want to add an "x" option to it, I'd edit it to `jump to x: (x pos) y: (y pos)`. But obviously I want existing usages of `jump to` to still have their existing inputs be positioned next to `y:`, not `x:`.

[2018-04-09 12:12] thisandagain commented on #1433
We recommend you use the scratch-vm for serialization / deserialization of the blocks. See https://github.com/LLK/scratch-vm/tree/develop/src/serialization for more details.

[2018-04-09 12:12] #1433 closed, assigned to thisandagain

[2018-04-09 17:54] rachel-fenichel opened #1434 "Rename and delete options in list dropdowns refer to variables"
### Expected Behavior

Dropdown text in the list picker refers to a list, not a variable.

### Actual Behavior

![image](https://user-images.githubusercontent.com/13686399/38513858-57b2f406-3be4-11e8-82c8-ab7f06948593.png)

[2018-04-09 21:57] joker314 commented on #1379
I think to resolve the issue of an icon not containing enough information to be useful, the same icon could be placed in the dialogue box for creating variables. The checkbox which makes a certain variable "for this sprite only" could either have whatever icon we choose to represent the check mark; or the label associated with the checkbox could be prefixed with the icon.

I've seen suggestions on

[2018-04-10 01:39] ghost commented on #1433
Ok, thanks for your help.

[2018-04-11 01:57] kickTec opened #1437 "More easy build and compiler."
Run python build.py cann't successful because of network connecting,Can you afford a python build script for build local,no network connecting,thank you very much!

[2018-04-12 14:01] wwj718 opened #1440 "ctrl-c bug"
### Expected Behavior

choose a block then press Ctrl+c，then nothing will happen

### Actual Behavior

choose a block then press Ctrl+c， This will happen:

![image](https://user-images.githubusercontent.com/3153878/38682085-cd29fc88-3e9c-11e8-8d87-34b03733e35a.png)

I can not move it or delete it

### Operating System and Browser

Mac OS 10.12 chrome 65.0.3325.181

[2018-04-12 15:14] mrjacobbloom commented on #1440
This sounds like a duplicate of #1373

[2018-04-12 16:57] rachel-fenichel commented on #1440
Dupe, and fixed upstream.

[2018-04-12 16:57] #1440 closed, assigned to nobody

[2018-04-13 12:08] thisandagain commented on #1437
Hi @kickTec, unfortunately Google only supports a network-based build at this type.

[2018-04-13 12:08] #1437 closed, assigned to nobody

[2018-04-13 16:55] howettl commented on #1345
Hello @rachel-fenichel or @thisandagain , is there an ETA on when this bug might be fixed? Alternatively, do you have any suggestions about how we might be able to work around it?

[2018-04-13 17:01] fsih opened #1443 "Glows are a weird shape on Edge and sometimes stick around"
### Expected Behavior

Glows look the same across browsers and are present only when blocks are running

### Actual Behavior

_Describe what actually happens_
![image](https://user-images.githubusercontent.com/2855464/38747876-51ffd57c-3f1a-11e8-9acc-e93a054f278a.png)
![image](https://user-images.githubusercontent.com/2855464/38747909-6c80e97c-3f1a-11e8-831b-4f02dd1cda11.png)
Glow is sometimes cut

[2018-04-13 17:14] rachel-fenichel commented on #1437
Actually, you can build locally.  It requires you to install the offline version of the closure compiler, but that's all.  Here's a [gist](https://gist.github.com/rachel-fenichel/7368afd0d038c300509af3f5209f27f1) with instructions on how to do an offline build of the vertical version of scratch-blocks.

Note that if you're just trying to tweak the library you may not need the compressed version to

[2018-04-13 21:26] rachel-fenichel opened #1444 "BlockSvg.setParent has a strange check against Blockly.selected"
`setParent` has this code:
[code]

(Note that the code may have moved slightly as a result of #1441, but the `selected` check is still there.)

Checking `Blockly.selected` is not enough to check if the block is currently being dragged.  It will also incorrectly block calls to `setParent` when the block is selected but not being dragged.  (Those would be programmatic, not directly from user input.)

[2018-04-14 10:14] apple502j opened #1445 "(Question) Where to put Google Closure Library?"
_I don't use the template because it is neither bugs or suggestions._

Where should I put closure library?
Both root and /shim were rejected by npm

[2018-04-14 10:17] apple502j commented on #1445
ok, node_modules/google-closure-library
https://github.com/LLK/scratch-blocks/issues/833

[2018-04-14 10:17] #1445 closed, assigned to nobody

[2018-04-15 19:33] kyleplo opened #1446 "When green flag/sprite is clicked on touch"
### Expected Behavior
When green flag/sprite is clicked block changes to tapped on touch screen

### Actual Behavior

It still says clicked

### Steps to Reproduce

Look at events on a touch screen

### Operating System and Browser

iOS 11 Chrome

[2018-04-15 20:59] AmazingMech2418 commented on #1446
A needed filter for block text is needed so `if('touchstart' in document.documentElement) {return "When Sprite Touched"} else {return "When Sprite Clicked"}` would work for the text.

[2018-04-15 21:11] thisandagain opened #1447 ""Undo" is enabled after initially loading a project"
### Expected Behavior

- The "undo" context menu option should not be available on the workspace immediately after loading a project

### Actual Behavior

- The "undo" context menu option is available. Selecting it will delete all items in the currently active workspace.

### Steps to Reproduce

- Load a project
- Right click on the workspace
- Select "undo"

[2018-04-15 21:11] thisandagain commented on #1447
/cc @kchadha @rschamp

[2018-04-16 11:11] kyleplo commented on #1446
That could work.

[2018-04-16 11:21] kyleplo commented on #995
Maybe there could be a high contrast mode option?

[2018-04-16 16:09] thisandagain commented on #1345
@howettl We'll need to get to this before August, but I'm guessing this may get scheduled for June. I'd need to dive more deeply into the codebase to figure out where it is happening.

[2018-04-16 16:49] rachel-fenichel commented on #1446
My usual comment on detecting touch vs click: need to decide what to do on touchscreen laptops, which have both touch and mouse.

[2018-04-16 16:50] rachel-fenichel commented on #1447
Call `workspace.clearUndo`: https://github.com/LLK/scratch-blocks/blob/develop/core/workspace.js#L408

[2018-04-16 20:13] kyleplo commented on #1446
@rachel-fenichel Default to click, and see what comes first, click or tap

[2018-04-16 20:40] AmazingMech2418 commented on #1368
I think so @apple502j . Maybe a filter is needed to stop the program from reading it as JSON.

[2018-04-16 20:41] AmazingMech2418 commented on #941
@rachel-fenichel I can hover over the text and then click anywhere in the box, but it seems like the event listener is only attached to the text with a mouseover event with a mouseout on the rectangle.

[2018-04-16 20:51] AmazingMech2418 opened #1448 "Vertical Playground to JavaScript error."
### Expected Behavior

It should work.

### Actual Behavior

The console says this:
vertical_playground.html?dir=ltr&toolbox=categories&side=start:133 Uncaught TypeError: Cannot read property 'workspaceToCode' of undefined
    at toCode (vertical_playground.html?dir=ltr&toolbox=categories&side=start:133)
    at HTMLInputElement.onclick (vertical_playground.html?dir=ltr&toolbox=categories&side=star

[2018-04-17 05:52] mrjacobbloom commented on #1447
Should the project remember the undo history from the last time it was loaded?

[2018-04-17 14:40] thisandagain opened #1450 "Adjust wording on "go to" Looks block to avoid confusion with "go to" Motion blocks"
The revised "go to front" block in Looks has a pull-down menu with the options:
go to [front/back]
This may lead to confusion between the **go to** Motion blocks.

Suggestion to change to:
**go to [front | back] layer**

![image](https://user-images.githubusercontent.com/4721032/38700605-a23c8d84-3e69-11e8-8695-11b910c737ec.png)

---
Moved from LLK/scratch-vm#1051
/cc @ntlrsk

[2018-04-17 14:59] thisandagain commented on #1448
@amazingmech2418 We currently do not support the use of code generators with Scratch Blocks. We recommend you use the Scratch VM (https://github.com/llk/scratch-vm).

[2018-04-17 14:59] #1448 closed, assigned to thisandagain

[2018-04-17 15:31] gnarf commented on #1444
how can we tell if it's a drag target?

[2018-04-17 15:58] picklesrus commented on #1345
I don't have a touch device I can test with this week so apologies for a bunch of stack overflow links that I can't actually verify myself.... but I think I learned some things that might be worth sharing.

I think @rachel-fenichel is right that Blockly avoids this because it uses prompt on mobile (https://github.com/google/blockly/blob/master/core/field_textinput.js#L160) and the comment indicate

[2018-04-17 16:23] TheLogFather commented on #1379
Maybe an extra identification icon could be added to global vars instead?
The cloudvars already have such a 'badge' to identify they are in cloud, so perhaps it make sense for global vars to be the ones that are identified with a badge, rather than local?
(Quite what that badge should be, though... I mean, a 'globe' badge seems a bit inappropriate, despite the description using the word 'global'..

[2018-04-18 01:32] joker314 commented on #1379
@TheLogFather That might be cool. But I think your point about the globe not being a good fit actually applies to any icon. The icon needs to convey that many things can access the variable; and given you can't specify _which_ things can access it, every global variable could be misinterpreted as a cloud variable.

[2018-04-18 12:53] thisandagain opened #1454 "Dragging a large sprite out of the stage causes cropping"
### Expected Behavior

When you drag a sprite out of the stage, the entire sprite should be visible.
<img width="1680" alt="screen shot 2018-04-17 at 7 19 17 pm" src="https://user-images.githubusercontent.com/6947753/38903735-6cf72ca6-4274-11e8-9c73-fca40ae66e1c.png">
(This is how larger sprites should behave)

### Actual Behavior

When you drag a sprite that is too big to appear fully in the stag

[2018-04-18 12:55] thisandagain commented on #1454
Moved to LLK/scratch-gui#1808

[2018-04-18 12:55] #1454 closed, assigned to nobody

[2018-04-18 12:57] thisandagain opened #1455 "Some alignment issues in Edge"
### Expected Behavior

In Microsoft Edge, the text in the blocks in the blocks list should be aligned correctly

### Actual Behavior

In Microsoft Edge, the text in the blocks in the blocks list is too far to the left, meaning that the text goes off the edge of the block.

This is sometimes, but not always, rectified when the block is dragged to the scripting area and clicked several times.

### S

[2018-04-18 12:58] thisandagain commented on #1455
Thanks for reporting @python-megapixel. This was resolved at one point and appears to be a regression.

[2018-04-18 13:03] thisandagain commented on #1455
@BryceLTaylor Can you verify / repro?

[2018-04-18 13:47] BryceLTaylor commented on #1455
Yes I can.  It appears to happen if you are zoomed in at all.
Reproduction Steps:
go to preview.scratch.mit.edu (or to develop) using Microsoft Edge
Click the Try It! button.
Zoom in by pressing ctrl-+
Note that the scroll bar for the category menu covers the left side of the blocks in the block pallete
Zoom back out by pressing ctrl--
Note that it looks like normal now

![blocktextedge041818](htt

[2018-04-18 13:59] BryceLTaylor commented on #1455
I take it back about Chrome on Mac.  At one of the zoom levels it covers the very edge of the blocks but none of the text.
![chromemacblocktext](https://user-images.githubusercontent.com/1088291/38936508-ef38e40a-42ee-11e8-9abe-0657b37581b5.png)

[2018-04-18 14:01] BryceLTaylor commented on #1455
@thisandagain says that this is a known issue and is documented in a number of other bugs related to being below the screen resolution threshold.

[2018-04-18 14:01] #1455 closed, assigned to nobody

[2018-04-18 14:52] BryceLTaylor commented on #1443
I am also seeing this.
Reproduction Steps
Drag a forever block to the workspace
drag a glide to random position block into the forever loop
Click the forever block
The glow appears around the block but it is cut flat on the top, bottom, left, and right sides.

If you drag the stack the highlight changes and matches what I see in other browsers.  The highlight also corrects itself if you change the

[2018-04-18 21:08] kyleplo commented on #1450
What about “come” instead of “go to”?

Ex. “come to [back]” or “come [forward] (1) layers”

[2018-04-18 21:30] ericrosenbaum opened #1456 "Add no-scroll property to category menu"
As part of the work to address the issues listed in https://github.com/LLK/scratch-blocks/issues/1417, we should prevent the blocks category menu from displaying a native scrollbar when it extends beyond the view.

[2018-04-18 21:38] joker314 commented on #1450
@kyleplo That would resolve the ambiguity, but I prefer thisandagain's idea because it also describes *what* the block does rather than just making it different

[2018-04-18 21:41] ericrosenbaum opened #1457 "Fix scrolling UI of category menu"
To fix the category menu scrolling behavior, in addition to preventing the native scroll bar from appearing (https://github.com/LLK/scratch-blocks/issues/1456) and auto-scrolling it when the flyout position updates (https://github.com/LLK/scratch-blocks/issues/1116), we need to make sure that scrolling gestures across all the expected situations will work correctly: trackpad scrolling, mouse scrol

[2018-04-18 21:54] ericrosenbaum commented on #1417
Thanks @rachel-fenichel! We now have all the relevant issues filed, so I'm going to close this one

[2018-04-18 21:54] #1417 closed, assigned to ericrosenbaum, thisandagain, carljbowman

[2018-04-19 10:57] kyleplo commented on #1450
@joker314 What about “come to [back] layer”?

[2018-04-19 15:42] joker314 commented on #1450
That works well, and I think both options work equally well. I would be fine with Scratvh using that terminology -- but I don't see it's superiority to "go"

[2018-04-19 18:37] #1450 closed, assigned to thisandagain

[2018-04-19 19:22] rachel-fenichel opened #1459 "Improve cleanup.sh"
TODOS from discussion on #1458:

[2018-04-19 21:07] ericrosenbaum opened #1460 "Option to mute sounds of block snapping and deleting"
Some users would like a way to mute the sounds that scratch-blocks plays when you snap blocks together or delete them.

[2018-04-20 17:59] fsih opened #1461 "Quality drops when scrolling toolbox in Firefox"
### Expected Behavior

blocks always look the same

### Actual Behavior

blocks are lower quality while scrolling

### Steps to Reproduce

Scroll the toolbox in firefox
![scrollquality](https://user-images.githubusercontent.com/2855464/39066358-c8894664-44a2-11e8-8317-da7da7c0874e.gif)

### Operating System and Browser

Firefox 59, Windows

[2018-04-20 18:06] fsih opened #1462 "Text size when editing is pretty different from text size in block"
### Expected Behavior

Text doesn't change when in edit mode

### Actual Behavior

Text shrinks in firefox
![blocktextsize](https://user-images.githubusercontent.com/2855464/39066696-ecdda9b4-44a3-11e8-83b6-94a2280afdb4.gif)

### Steps to Reproduce

Click on a text field in Firefox. The longer the text is, the more noticeable it is.
### Operating System and Browser
Firefox 59 Windows

[2018-04-20 19:05] towerofnix commented on #1462
This is interesting! I can reproduce this on Firefox on Linux, but to a *much* lesser degree. I think that, of the `<input>`'s font stack `"Helvetica Neue", Helvetica, sans-serif`, Helvetica is picked on my computer (instead of Helvetica Neue, since I don't have it installed).

[2018-04-23 08:06] jbmarco opened #1466 "Generate code (Python, Javascript etc.)"
Hello,

I would like to translate a program from scratch-blocks to Javascript or Python.
I have seen that there is the function :

`Blockly.JavaScript.workspaceToCode(workspace)`, but it doesn't work for me.

Is there a possibility to generate code ?

[2018-04-23 14:16] thisandagain commented on #1466
We do not support Blockly generators in Scratch Blocks.

[2018-04-23 14:16] #1466 closed, assigned to nobody

[2018-04-23 14:18] paulkaplan commented on #564
@BryceLTaylor I could use a hand reproducing this, I'm not exactly sure what is going on.

[2018-04-23 14:21] scratchyone commented on #564
I think this is fixed... I just tested and I’m no longer having that issue.

[2018-04-23 14:21] #564 closed, assigned to paulkaplan

[2018-04-23 14:30] ZenithRogue opened #1467 "No dropdown for number input in list blocks"
List blocks do not have a dropdown option in the item selector. This prevents users from easily using "last" and "random". However, they still appear to work if you use the join block to enter the text.

[2018-04-23 15:49] samelhusseini commented on #1352
Fix here is to use dominant-baseline instead of alignment-baseline here: https://github.com/LLK/scratch-blocks/blob/develop/core/flyout_button.js#L177

For Edge you'll have to use dx as they don't support any of the SVG alignment attributes.
Similar to how it was done https://github.com/LLK/scratch-blocks/pull/1340

If I get some time I'll create a PR

[2018-04-23 17:46] picklesrus commented on #564
@paulkaplan  This seems like the same issue as https://github.com/LLK/scratch-blocks/issues/1345?

If so, I can repro by opening up preview on chrome on Android and trying to change the value in any text block (e.g. the say block)

[2018-04-23 18:29] scratchyone commented on #564
Huh... I think it's a duplicate. Should I reopen this or should we use that one instead? Not happening on chrome on iOS 11.

[2018-04-23 18:35] paulkaplan commented on #564
@scratchyone sounds like it might be android only, we can track it over on that other issue.

[2018-04-24 02:35] Kenny2github commented on #1467
I recall there being an issue where @thisandagain said that 3.0 would be moving away from number/dropdown hybrids - is that still the case?

[2018-04-24 05:06] Mr-Dave2 opened #1470 "Repeat block treats its argument differently than in Scratch 2.0"
### Expected Behavior

The repeat block should follow the Scratch 2.0 repeat block behavior of rounding its argument.

### Actual Behavior

The repeat block appears to do a floor (int?) function on its argument.

### Steps to Reproduce

![repeat issue](https://user-images.githubusercontent.com/35544966/39166992-3ab61652-4752-11e8-9878-e324975c0981.png)

### Operating System and Browser

Windows 7