[2017-03-13 20:06] rachel-fenichel commented on #838
@paulkaplan that fix looks right, but it will also need to go into upstream blockly.

[2017-03-13 20:16] rachel-fenichel commented on #843
Possibly related to https://github.com/google/blockly/issues/973

[2017-03-13 20:27] rachel-fenichel commented on #843
Getting rid of the degree symbol entirely is easy, if that's the desired behaviour.  Just take out the appropriate code from FieldAngle:setText.

The "sometimes" on the degree symbol appearing is probably related to this bug: https://github.com/LLK/scratch-blocks/issues/581

![e3b3ab15-4e99-4900-b1c3-27cafc0c3ad7](https://cloud.githubusercontent.com/assets/13686399/23873743/4fa479a2-07f0-11e7-997f

[2017-03-14 20:49] navignaw commented on #841
Should the sound block:
"Change effect [pitch] by (10)"
also be changed to
"Change [pitch] effect by (10)" for consistency?

[2017-03-15 20:45] jwzimmer-zz opened #845 ""When timer > x" block does not activate script when it is clicked"
### Expected Behavior

In 2.0, clicking a stack with "When timer greater than 0" as the hat block activates the stack.

### Actual Behavior

In 3.0, clicking a stack with "When timer greater than 0" as the hat block does not activate the stack.
The stack will be activated on green flag (when timer conditional is true).

### Steps to Reproduce

- Compare behaviour in 2.0 & 3.0
- Put "when timer gre

[2017-03-15 21:49] TheBrokenRail commented on #749
I have a implementation for the sensing of block

[2017-03-16 03:18] zhlella commented on #826
Wow, it's good ! Thank you ！I saw it when I needed it！^_^

[2017-03-16 06:55] zhlella opened #846 "horizontal_playground.html reference javascript_compressed.js，"getFieldValue('NUM')" is null"
### Expected Behavior
xml:
`<block type="control_repeat"><value name="TIMES"><shadow type="math_whole_number"><field name="NUM">1</field></shadow></value></block>`
json:
      {
          "type": "input_value",
          "name": "TIMES",
          "check": "Number"
        }
I think generating Javascript Code  is "1"
### Actual Behavior

But result is " null"

### Operating System and Browser

win

[2017-03-16 12:16] thisandagain commented on #846
Hi @zhlella . We'll need more information to help. Can you please share a link to your code?

[2017-03-16 14:52] thisandagain commented on #828
@rachel-fenichel Is this a behavior you would want in Blockly as well?

[2017-03-16 18:08] rachel-fenichel commented on #828
Nope, there's no reason to change that UI for all of our developers and users downstream.

Implementing this will probably be much simpler after I finish cleaning up dragging.  (See the dragging branch on google/blockly for the start of that work.)

[2017-03-16 18:27] picklesrus commented on #835
No solutions yet, but it seems we've somehow made the composite layers phase take a very long time. I haven't optimized composite layers before, so I'll need to do some research to understand this fully.

Blockly's  performance degraded similarly. I did some comparisons with blockly's master and develop branches and found that we've made composite layers increase from .21ms to 41ms.

Scratch-block

[2017-03-16 18:51] thisandagain commented on #828
@rachel-fenichel Sounds good. I'll keep this in the backlog in the meantime. Would you mind dropping a note in here once you feel like the dragging changes upstream are ready for us to evaluate?

[2017-03-16 19:47] rachel-fenichel commented on #828
Will do.

On Thu, Mar 16, 2017 at 11:51 AM Andrew Sliwinski <notifications@github.com>
wrote:

[2017-03-16 22:32] ed-cooper commented on #841
"Change [pitch] effect by (10)" reads better imo

[2017-03-17 00:47] picklesrus commented on #826
I dug into this some more and there are a couple of approaches that could work.  As I mentioned above, the difference between the horizontal blocks and the vertical blocks is a call to re-render the field from the block's render().  So far the two solutions I can think of are:
1. Force the horizontal blocks to re-render text fields from block_render_horizontal's render function (see code snippet a

[2017-03-17 12:17] thisandagain commented on #826
Number two makes more sense to me as well. We re-render the whole block in some instances (like selecting a color or setting the motor speed) as we update the block icon, but if this is specific to the FieldTextInput then I can't think of a reason to isolate rendering to the field.

[2017-03-17 12:18] thisandagain commented on #841
Resolved in #847

[2017-03-17 12:18] #841 closed, assigned to nobody

[2017-03-17 14:29] rschamp commented on #833
@griffpatch It appears that the `install` part did complete successfully, so npm was attempting to do the post-install steps. This includes running `prepublish` if it exists.  The `&&` there should not be evaluated directly by Windows, since `npm` passes that through an intermediate process which parses it.  So I'm curious what happens if you run these commands individually? If you run `python bui

[2017-03-17 14:34] griffpatch commented on #833
This is what I get when running the python build.py:
[code]

[2017-03-17 19:01] navignaw opened #849 "Inconsistency in block input scrollbar styling"
### Expected Behavior

Scrollbar in a block input should resemble the styling of the workspace scrollbar, as seen in gif in [#532](https://github.com/LLK/scratch-blocks/issues/532#issuecomment-232843392).

### Actual Behavior

The scrollbar has default Chrome styling.

![scrollbar](https://cloud.githubusercontent.com/assets/4044514/24058711/6a5b531c-0b09-11e7-8542-0f8b1fbbd06b.png)

### Steps to R

[2017-03-17 20:58] rschamp commented on #833
Aha — on https://github.com/LLK/scratch-blocks/wiki we describe setting up a symlink from `../closure-library` to `./node_modules/google-closure-library`. This will make closure-library available from the directory above your scratch-blocks directory, which is where the build script looks for it. I believe the syntax for Windows would be `mklink /D ..\closure-library node_modules\google-closure-li

[2017-03-17 21:02] rachel-fenichel commented on #833
Hey @griffpatch, when you find the exact command to set this up on windows you should post it back here for other people to find.

[2017-03-17 21:08] rschamp commented on #833
Yes and we will also update the wiki with that. And maybe put setup instructions directly into our `README` :)

[2017-03-17 23:48] picklesrus commented on #835
I think the cursor causes the large composite layer times as it makes the following transitions during a drag out of the toolbox:
1. closed hand as you mouse down
2. hand with X (since the block is still over the toolbox)
3. closed hand as you cross the toolbox boundary

I haven't wrapped my head around what causes composite layers ... but deleting the entirety of setCursor in css.js does make the

[2017-03-18 09:33] zhlella commented on #846
Thank you !  Solved,when I get the Javascript code with the wrong syntax !

[2017-03-18 12:31] #846 closed, assigned to nobody

[2017-03-18 21:28] thisandagain commented on #835
Thanks for the update @picklesrus ! 😄

[2017-03-20 17:00] rachel-fenichel commented on #849
This is probably not worth fixing.

The scrollbar you see in that gif is a safari default scrollbar, not the blockly scrollbar.  We just happen to be copying that style for our scrollbars.

Blockly has our own scrollbars because we couldn't [force safari](https://www.confidant.ca/blog/2015/how-to-force-firefox-chrome-and-safari-for-mac-to-display-scrollbars/) to leave our scrollbars visible if the

[2017-03-20 18:24] thisandagain commented on #849
I think I'm ok to leave this open but push to the backlog. Thanks for the feedback @rachel-fenichel

[2017-03-21 00:04] TheBrokenRail commented on #749
Should I make a PR to fix the sensing of property menu.

[2017-03-21 06:43] zhlella opened #852 "horizontal's blocks "message0" implementation style?"
### Expected Behavior

![1](https://cloud.githubusercontent.com/assets/16182857/24134460/64625d28-0e3f-11e7-95fe-877dea5883a4.png)

### Actual Behavior

![3](https://cloud.githubusercontent.com/assets/16182857/24134585/4fc0656c-0e40-11e7-82db-2ec4a3e07d05.png)

### Steps to Reproduce

`"message0": "%1 Right",
      "args0": [
        {
          "type": "field_image",
          "src": Blockly.main

[2017-03-21 07:21] zhlella opened #853 "horizontal's dropdown generate javascript code"
### Expected Behavior

horizontal's dropdown generate javascript code

### Actual Behavior
![11](https://cloud.githubusercontent.com/assets/16182857/24136561/59d25de4-0e4a-11e7-94c6-0610464e7e16.png)

when generate javascript code, console show:

![12](https://cloud.githubusercontent.com/assets/16182857/24136570/656010d4-0e4a-11e7-8a05-92e0ffc67b0a.png)

### Steps to Reproduce
XML:
![13](https://c

[2017-03-21 11:31] #823 closed, assigned to rschamp

[2017-03-21 14:25] mrjacobbloom commented on #295
There were a bunch of changes to the build setup this morning (see LLK/scratch-gui#262 and related), now might be a convenient time to look back into this

[2017-03-21 16:41] ericrosenbaum opened #854 "Block detach distance threshold is too large"
### Expected Behavior

When two blocks are connected, and you drag the bottom one down to detach, I expect to be able to release the block after dragging it beyond the edge of the insertion marker.

### Actual Behavior

In order to detach the block, I have to drag past the ~~shadow~~ insertion marker, about twice its height. This gif shows dragging the block almost this far, and it still snaps bac

[2017-03-21 17:53] rachel-fenichel commented on #854
Code pointer:  https://github.com/LLK/scratch-blocks/blob/develop/core/block_svg.js#L1149

I would play around with this when the block is in the middle of a stack to make sure you want to change it.  I think it's protecting against jumping around as the blocks shift to accommodate the insertion marker*.

*not a shadow.  Shadow has a specific meaning in Blockly.

[2017-03-21 17:54] rachel-fenichel opened #855 "Scratch-blocks has two copies of BlockSvg:updateCursor_"
https://github.com/LLK/scratch-blocks/blob/develop/core/block_svg.js#L1401
https://github.com/LLK/scratch-blocks/blob/develop/core/block_svg.js#L1436

Probably a merge artifact.

[2017-03-21 18:02] rachel-fenichel commented on #852
In the horizontal playground that block is actually two blocks: one block with the icon (the red one) and one block with a text field (the white one that says "Right").  You'll want to set the text of the field on the white block.

Scratch-blocks is using shadow blocks to make it possible to create a project in horizontal mode and use it in vertical mode.  In vertical mode you want to either be ab

[2017-03-22 01:51] zhlella commented on #852
But shadow blocks are editable , is there  any way to make the shadow cannot be edited?

[2017-03-23 14:47] carljbowman commented on #262
Looks like we have the framework for this feature.

Closing this issue until we have a specific use case, possible something we can explore in the extensions model.

Palette concept sketches that highlight possible use cases:

<img width="179" alt="screen shot 2017-03-23 at 10 46 45 am" src="https://cloud.githubusercontent.com/assets/3409578/24253218/14641596-0fb6-11e7-9271-20342d2654ba.png">

![0

[2017-03-23 14:47] #262 closed

[2017-03-23 20:39] #826 closed, assigned to picklesrus

[2017-03-25 14:38] griffpatch commented on #833
Ok, I got further after installing closure ;) - But now I have a different
problem!

One of the errors is: Error: EMFILE: too many open files. But there are a
few others too.

See the log below:

$ npm install

C:\Users\Admin\Documents\GitHub\scratch-blocks

FAILED to create msg\js\constants.js
SUCCESS: msg\js\en.js
WARNING
Misplaced type annotation. Type annotations are not allowed here. Are you

[2017-03-27 17:39] rachel-fenichel commented on #833
Ignore this one:
[code]
and this one:
[code]
I think they're fixed in newer versions of scratch-blocks and blockly.

[2017-03-27 22:28] TheBrokenRail opened #856 "Compressed generators are not uploaded to NPM"
### Expected Behavior

_They are_

### Actual Behavior

_They are not_

### Steps to Reproduce

_NPM Install scratch-blocks and check the root folder_

[2017-03-28 06:51] griffpatch commented on #833
For the record, I was able to instal the closure library in windows using the instructions on the wiki `ln -s $(npm root)/google-closure-library ../closure-library` - whether this was because I ran it from the bash shell that comes with the  github client I'm not sure... But it worked.

However, I'm still unable to complete the `npm build` as I get the error:

[code]

I've read lots of reports of

[2017-03-28 20:29] TheBrokenRail commented on #856
The issue is that .npmignore is ignoring these files.

[2017-03-28 21:44] wattdave commented on #833
Or on Windows 10 I use an Ubuntu VM under Hyper-V.

[2017-03-29 15:04] MichaelZawadzki commented on #837
I see this was merged into develop, and indeed can verify it fixes the issue! What is the process for now closing this out? Is this something I should do (I do see a "close and comment" button below)?

[2017-03-29 15:37] tmickel commented on #854
Original issue with video: https://github.com/LLK/scratch-blocks/issues/290

you might be able to come up with a more clever solution :) e.g., maybe the size could be minimized depending on the size of the insertion marker (smaller for vertical than horizontal), or maybe you could only apply this rule when the insertion marker is in the middle of a stack

[2017-03-29 17:59] navignaw commented on #837
Oops, forgot to close it myself :) But yes, that's the button we want.

[2017-03-29 17:59] #837 closed, assigned to navignaw

[2017-04-03 17:15] TheBrokenRail opened #860 ""More Blocks Flyout" and procedure hat XML export are brokem"
### Expected Behavior

_The flyout just shows created procedures (until a way to add a procedure is implemented) and a hat can be exported and imported through XML without resetting._

### Actual Behavior

_The flyout shows a undefined procedure hat and nothing else and procedure hats cannot be exported properly._

### Steps to Reproduce

_Open up the VM and load a project with a custom block, che

[2017-04-03 17:21] TheBrokenRail commented on #833
Here is a suggestion that might simplify the process for instalkling closoure, why don't you use a NPM plugin to create the symlink from ./node_moduoles/google-closure-library to ../google-closure automaticly when it runs prepublish?

[2017-04-03 17:28] TheBrokenRail commented on #853
Make sure the compressed_javascript.js file is included in your website and if you are running this in node see #856

[2017-04-03 18:18] #855 closed, assigned to navignaw

[2017-04-03 19:59] rachel-fenichel commented on #795
Alrighty, I understand why this is happening, but there are decisions to make.

This code used to block the system menu in all of blockly: https://github.com/google/blockly/blob/master/core/inject.js#L283

[code]

but we changed the SVG structure so that the workspace's parent SVG is no longer the parent of the flyout SVG.  I can fix this with

[code]

That suppresses the browser context menu for

[2017-04-03 20:12] rachel-fenichel commented on #795
Another question: does right-clicking on any of those locations hide the widget div, if it's open, even if we don't show a context menu?

[2017-04-04 13:58] carljbowman opened #861 "Block text being selectable causes weird interactions"
### Expected Behavior
Block text not being selectable by default

### Actual Behavior
Easy to accidentally open macOS dictionary on text
![highlight-block-text](https://cloud.githubusercontent.com/assets/3409578/24659841/e24aa182-191b-11e7-97ce-6fd0eff4427d.gif)

Easy to right click and open the macOS context menu
![context-menu-select-text mov](https://cloud.githubusercontent.com/assets/3409578/2

[2017-04-04 16:47] picklesrus commented on #861
Nope, I don't think so.  I think it is just a bug. I can repro the context menu problem in blockly.
For text selection, I can only highlight blockly text if I start by highlighting text outside of the blockly div and draw inside of it. That's harder to prevent.  But it looks like you can just double click on text and it selects/shows the dictionary?  Come to think of it though, I've never seen the

[2017-04-04 17:28] rachel-fenichel commented on #861
Context menu: that's a bug.  See #795.  I figured out what's causing it yesterday but haven't patched it yet.

[2017-04-04 17:30] rachel-fenichel commented on #861
Block text shouldn't be selectable--that's probably a mistake in our css somewhere.  But I also can't get it just by clicking or double-clicking.  As a sanity check, do you see that in both the block palette and the workspace, or just in the block palette?

[2017-04-04 20:21] thisandagain commented on #535
Done enough to move forward with.

[2017-04-04 21:38] rachel-fenichel commented on #795
Fixed in https://github.com/google/blockly/pull/1018

[2017-04-04 22:21] rachel-fenichel commented on #861
Definitely a css thing.  In mainline blockly, text on blocks in the workspace have the following styles:
[code]

but text on blocks in the flyout have
[code]
As with the cursor problem, this is probably from when we restructured our DOM for performance reasons.  The main workspace svg has `.blocklySvg`, but the toolbox, flyout, and parent injection div don't.

[2017-04-05 00:23] rachel-fenichel commented on #861
For the block palette, this can probably be fixed by changing this part of css.js:
https://github.com/LLK/scratch-blocks/blob/develop/core/css.js#L472

[code]
to

[code]

and for the category menu, add `.blocklyToolboxDiv text`

but I haven't tested that.

[2017-04-06 13:31] thisandagain commented on #861
@paulkaplan do you want to take a look at this one next iteration? We've noticed this come up as an issue a few times during testing.

[2017-04-06 19:38] MichaelZawadzki commented on #774
Is this one that maybe you'd want to tag with "help wanted"? This is effecting us and we might have some time to look into it.

[2017-04-06 19:53] TheBrokenRail opened #863 "Add Copy & Paste"
### Why

_While you could use the backpack on the online versions, copy & paste would be useful for running scratch offline, or as a quick way to transfer a script._

[2017-04-06 19:55] TheBrokenRail opened #864 "Add a Search Bar for Blocks in the Toolbox"
### Why

_This would make it easier to quickly find a block you want without having to dig through categories._

[2017-04-06 20:13] towerofnix commented on #863
[Here's an old write-up/issue I made about copy/paste.](https://github.com/LLK/scratch-blocks/issues/455) It might be interesting to you.

[2017-04-06 20:18] mrjacobbloom commented on #864
There's some discussion of a search feature on https://github.com/LLK/scratch-blocks/issues/753#issuecomment-269032987

[2017-04-06 20:40] rachel-fenichel commented on #774
Can you attach a screenshot?

[2017-04-06 20:49] thisandagain commented on #774
Sure @MichaelZawadzki. We are happy to accept a PR on this if it helps you out. As @rachel-fenichel mentioned it would be great to see a screenshot or (better yet) a GIF of the behavior described.

[2017-04-06 21:00] CatsAreFluffy opened #865 "No visual confirmation when running commands"
Unlike is 2.0, where clicking on a block to run it would make it glow, that doesn't exist in 3.0.

[2017-04-06 21:08] thisandagain commented on #774
@MichaelZawadzki @ChuckDeng Actually, before you dig into the code I think it would be helpful to better describe the issue. I think @rachel-fenichel and I are still fairly unclear on the behavior you are experiencing.

[2017-04-07 18:13] rschamp commented on #796
Fixed in #858

[2017-04-07 18:13] #796 closed, assigned to nobody

[2017-04-07 20:48] MichaelZawadzki commented on #774
The issue is quite easy to reproduce on the vertical playground. It occurs only on the "Simple" toolbox and not on the "Categories" toolbox. This can be reproduced on either the vertical playground file inside the project, or even on the hosted version here: https://utils.asun.co/scratch-blocks/tests/vertical_playground.html

The steps are pretty much like Chuck described but let me try to be more

[2017-04-12 22:13] TheBrokenRail commented on #856
Should I make a PR to fix this?

[2017-04-17 19:37] rachel-fenichel commented on #774
Thanks for the details.

It looks like the flyout has the wrong z-index in the simple (always-open) case.  I've checked and that doesn't happen on upstream blockly.

Fixing that probably is a css change rather than a code change.  Go ahead and put together a fix for that one.

The second issue is the horizontal scrollbar in the simple case.  We're aware that it doesn't respect the flyout.  This is

[2017-04-18 20:14] msintov opened #870 "Horizontal playground: dragged block appears ~200 px to the left of cursor"
### Expected Behavior

Block should appear under cursor during drag.

### Actual Behavior

Block appears about ~200px to the left of cursor during drag.

### Steps to Reproduce

1. Edit scratch-blocks/tests/horizontal_playground.html to turn off scrollbars:
        scrollbars: false,

2. Open scratch-blocks/tests/horizontal playground html in browser

3. Move toolbox to the bottom by selecting "Bo

[2017-04-18 20:52] thisandagain commented on #870
@rachel-fenichel Do you have any thoughts on this?

[2017-04-18 20:54] thisandagain commented on #865
Can you please share a screenshot from the GUI? I am not able to reproduce:
https://llk.github.io/scratch-gui/

![image](https://cloud.githubusercontent.com/assets/747641/25152636/a0fee5ac-2457-11e7-97f1-77c8d311df6d.png)

[2017-04-18 20:54] #865 closed, assigned to nobody

[2017-04-18 20:54] rachel-fenichel commented on #870
Probably an issue in this function: https://github.com/LLK/scratch-blocks/blob/develop/core/flyout_horizontal.js#L389

[2017-04-19 00:30] rachel-fenichel commented on #843
Possibly fixed here: https://github.com/google/blockly/pull/1044

[2017-04-19 00:34] rachel-fenichel commented on #804
My new dragging code fixes this; it's a pain to fix with the current code.

[2017-04-19 00:34] rachel-fenichel commented on #798
@picklesrus Cursor madness!

[2017-04-19 00:36] rachel-fenichel commented on #433
I think this one got fixed by an upstream change.

[2017-04-19 00:39] rachel-fenichel commented on #693
Tracking bug in blockly: https://github.com/google/blockly/issues/1052

[2017-04-19 04:36] tmickel commented on #433
It still scrolls noticeably faster for me in FF, so that it basically jumps from top of the flyout to bottom of the flyout in a couple of frames. To be precise, it's with the trackpad scroll on a macbook pro using Firefox 52. It does have the same behavior in upstream, so either it's broken everywhere or maybe that's "how it's suppose to be" or could just be my laptop :)

this is what I suspected

[2017-04-19 17:42] thisandagain commented on #535
For playtest don't worry about the variable scope or cloud variables. We will get to that in a future iteration.

[2017-04-19 20:10] TheBrokenRail commented on #756
For output shapes Scratch-Blocks should store the output shape in xml so it can be imported properly inside blocks.

[2017-04-19 21:05] carljbowman commented on #459
## Round 1 - Note Picker
![r1_note-picker](https://cloud.githubusercontent.com/assets/3409578/25196049/68c4b16a-250d-11e7-9197-1010fe1ee099.png)

### Functionality
1. Click/Tap field on 'play note' block to gain focus of the field
2. Click/Tap on key to update the field. The last clicked/tapped key will occupy the field and remain highlighted in blue
3. User can navigate scales by using the arrows

[2017-04-19 21:12] rachel-fenichel commented on #870
Is this with categories or with a simple toolbox?

[2017-04-19 21:14] RoboErikG commented on #459
How do you know which which key is which note? For example, how would I do e d# e d# e b d c a if I don't know what e sounds like?

[2017-04-19 21:20] msintov commented on #870
Thanks for asking. It's with categories.

[2017-04-20 15:38] carljbowman commented on #459
@RoboErikG - Good question. @ericrosenbaum had some thoughts on how the field on the block might update to display this information in the field upon click/tap.

Alternatively we could do something similar to Scratch 2.0 and display this info within the menu. If we go this route, I would suggest not relying on hover to display the info, but rather display last clicked/tapped.

**2.0 Hover Example*

[2017-04-20 16:55] #524 closed, assigned to paulkaplan

[2017-04-20 17:58] picklesrus commented on #835
Sent out a PR for this upstream. See https://github.com/google/blockly/pull/1057 and context on solution here: https://github.com/google/blockly/issues/981

Once it is in, we can figure out if you want me to apply it to scratch-blocks for wait for the next merge.

[2017-04-20 20:35] rachel-fenichel commented on #459
I'm a fan of avoiding hover whenever possible.

[2017-04-21 19:02] MichaelZawadzki opened #873 "Scrolling toolbox upwards through dragging is broken"
### Expected Behavior

When dragging on the background of the toolbox, it is expected that the toolbox properly scrolls up and down.

### Actual Behavior

Scrolling down works fine. But once the toolbox is scrolled down, it can no longer be scrolled up (by dragging on the background). Additionally, the scrolling behavior gets wonky in general and its hard to navigate the toolbox by the user.

###

[2017-04-21 20:41] rachel-fenichel commented on #873
@bigeyex
@thisandagain I would recommend reverting that commit for now.

[2017-04-24 05:41] bigeyex commented on #873
Hmm, interesting. Sorry for introducing this bug.
I proposed another solution in [pr874](https://github.com/LLK/scratch-blocks/pull/874),
using the scrollTop instead of viewTop when calculating scrollbar position when dragging.
This will solve the "nudge a little when refreshing" without introducing new scroll problems.
How about that? Return what belongs to Caesar back to Caesar...

[2017-04-24 12:47] thisandagain commented on #873
Thanks for reporting @MichaelZawadzki and thanks for the quick turnaround on a patch @bigeyex.

@rschamp do you mind taking a look at this today? I am also able to reproduce the issue by attempting to scroll the blocks palette using two finger (drag) scroll on a MacBook Pro.

[2017-04-24 16:59] rschamp commented on #833
Hi @griffpatch do you continue to have issues with `npm run build` due to this `EMFILE` error?  @cwillisf Have you seen this before?

[2017-04-25 23:30] rachel-fenichel commented on #870
Probably related: https://github.com/google/blockly/issues/728

[2017-04-26 14:35] #535 closed, assigned to paulkaplan

[2017-05-02 15:18] CatsAreFluffy commented on #843
Is this bad though?

[2017-05-02 15:19] CleoQc commented on #843
I like the little degree symbol.

[2017-05-02 15:38] CatsAreFluffy opened #875 "Hacked blocks?"
Sometimes, you want a block combination that isn't possible in the Scratch editor, like detecting a variable keypress or making a custom block with a color input. This issue has been brought up a few times on the forums, but those threads do not seem to be read by the ST (correct me if I'm wrong). What I'm suggesting is allowing the creation of hacked blocks in 3.0. For no-block dropdowns, the sol

[2017-05-03 04:21] CatsAreFluffy commented on #843
Yeah, people who know radians but not programming might be confused, and I think the "low-floor" policy applies here :P

[2017-05-03 10:08] towerofnix commented on #843
Agreed, though, of course, the degree system has to *always* be visible in that case – regardless of whether the input is `0`, a typed in number, or a degree-picker number.

Also, the "set size to" block actually has this spec: `set size to %n%`. That displays as `set size to (number)%`. Note that even if you put a block inside of the input, the percent symbol will still be visible. Perhaps, for c

[2017-05-03 14:54] MegaApuTurkUltra opened #876 "Touch on Edge does not drag blocks"
### Expected Behavior

When I touch and drag blocks on Edge, the blocks should move.

### Actual Behavior

Edge triggers the "back" action - as if touch events don't call `preventDefault` or something.

### Steps to Reproduce

On a touchscreen device running Edge, attempt to drag blocks using touch

### Operating System and Browser

Windows 10 15063.138, Edge 40.15063.0.0

[2017-05-03 18:12] rachel-fenichel commented on #863
@thisandagain What's the scope of this issue?  Blockly implements copy and paste from right click menus and with keyboard shortcuts.

[2017-05-03 18:21] rachel-fenichel commented on #876
This is a Blockly issue, tracking here: https://github.com/google/blockly/issues/943

Edge uses pointer events instead of touch events and mouse events.  Blockly was originally built with mouse events, with touch event handling added on.  Safari will never support pointer events, so we can't move fully to them, but we should eventually be able to support them.

[2017-05-03 18:29] thisandagain commented on #863
Sorry @rachel-fenichel, while I was triaging this I think I saw this as being part of the GUI (which doesn't not yet support copy/paste). Closing.

[2017-05-03 18:34] thisandagain commented on #863
Because in Scratch blocks execute on click, we don't have a "selection state" which makes implementing something like copy/paste require some design effort. Leaving this open as a feature request, but it's likely not something we'll get to in the short term.

[2017-05-03 18:35] thisandagain commented on #863
Tracking in https://github.com/LLK/scratch-blocks/issues/455

[2017-05-03 18:35] #863 closed, assigned to nobody

[2017-05-03 19:59] towerofnix commented on #455
Quoting @thisandagain from [here](https://github.com/LLK/scratch-blocks/issues/863#issuecomment-298997564):

[2017-05-03 22:57] rachel-fenichel opened #877 "Clean up horizontal flyout code"
The horizontal flyout has residual code from when flyouts were monolithic.

@carljbowman Vertical flyouts are a fixed width, set by the toolbox width.  Will horizontal flyouts have a fixed height, or will they vary based on block height?

[2017-05-03 23:01] TheBrokenRail commented on #856
Fixed

[2017-05-03 23:01] #856 closed, assigned to nobody

[2017-05-03 23:06] TheBrokenRail opened #878 "Generators when imported in Node.js require ScratchBlocks be imported with the name Blockly"
### Expected Behavior

_This should work:_
[code]

### Actual Behavior

_I need to do this:_
[code]

### Steps to Reproduce

_Run above code in Node.js_

### Possible Fix

_As you can see in https://github.com/mo4islona/node-blockly they use a version of Blockly where javascript_compressed.js is a function that gets given the Blockly Object, you could build a javascript_compressed_node.js file tha

[2017-05-04 13:08] MegaApuTurkUltra commented on #876
Pointer events are objectively better than touch events. How do you think people are going to use their fancy styli in scratch 3 without pointer events?

[2017-05-04 14:14] thisandagain commented on #878
We don't formally support generators for `scratch-blocks`. We include them as a service to those who are interested in generators as an alternative to the VM, but we likely won't be making changes to packaging to make this easier.

[2017-05-04 14:14] #878 closed, assigned to nobody

[2017-05-04 14:15] thisandagain commented on #877
/cc @rschamp

[2017-05-04 18:41] rachel-fenichel commented on #876
Hey there,

Pointer events vs touch events is actually a really interesting space.

The specification for pointer events is a living [document](https://w3c.github.io/pointerevents/).  It's hosted on the w3c github, but it's in [active](https://github.com/w3c/pointerevents/pulse/monthly) development.  You can flip through the [issues](https://github.com/w3c/pointerevents/issues) there to get an ide

[2017-05-05 17:40] MegaApuTurkUltra commented on #876
Scratch with a stylus would be a use-case I'd really like to see happen. Unfortunately, without pointer events you can't detect stylus pressure, buttons, or upside down "erase mode"

Switch to pointer events and use touch events exclusively as a fallback on Safari.

[2017-05-05 18:15] rachel-fenichel commented on #876
It looks like you're responding to my comment from two days ago.  You should read my longer comment from yesterday so that you have context on this issue.

[2017-05-05 18:40] rachel-fenichel opened #879 "Performance: opening the toolbox"
Switching toolbox categories takes far longer than it ought to, given that we have a mostly static set of blocks.  This isn't really surprising since we've never tried to optimize that code.

Some ideas and potential low hanging fruit:
- Better caching of computed text length for strings
- Avoid spurious rerendering of fields
- For fully static categories, cache block coordinates instead of needin

[2017-05-05 19:48] rachel-fenichel commented on #804
Fixed by https://github.com/google/blockly/pull/1078

[2017-05-05 20:32] rachel-fenichel opened #880 "Dragging from flyout when zoomed all the way out"
### Expected Behavior

Block starts out approximately where the cursor is.

### Actual Behavior

Block is offset from the cursor by an amount that is related to the zoom level.

### Steps to Reproduce

Open llk.github.io/scratch-gui
Zoom out all the way
Drag a block from the flyout

### Operating System and Browser
Any and all

[2017-05-07 19:43] SCrolem commented on #5
Hi , i got a serious problem trying to put this working (the part of icons instead of text) :(, can someone say me if this is outdated and dont work anymore or what should i do to make this working? i just wanted too change categories text to icons but for some reason i can´t put it working.  thanks

[2017-05-07 20:47] ed-cooper commented on #797
I presume this was meant to be closed after the patch was merged

[2017-05-07 20:47] #797 closed, assigned to nobody

[2017-05-08 20:16] MegaApuTurkUltra opened #882 "Workspace panning is extremely slow"
### Expected Behavior

Workspace panning should be smooth.

### Actual Behavior

Workspace panning is about 2 fps.

### Steps to Reproduce

Open https://llk.github.io/scratch-gui/. Attempt to pan with mouse or touch.

### Operating System and Browser

Windows 10, Chrome 58. Quad core 2.6 ghz i7 with 16 gb ram

[2017-05-08 20:39] rachel-fenichel commented on #882
Panning performance on llk.github.io/scratch-gui isn't strictly indicative of scratch-blocks performance.  A better test is on https://llk.github.io/scratch-blocks/playgrounds/tests/vertical_playground.html, where performance is all right with an empty workspace.

[2017-05-08 20:39] #882 closed, assigned to nobody

[2017-05-09 02:36] MegaApuTurkUltra commented on #882
That pans better. Why is scratch-gui drastically different?

[2017-05-09 17:29] rachel-fenichel commented on #882
I would guess that scratch-vm and scratch-gui are not at all optimized at this point, since they're focusing on getting features in.  You can also look at scratch-vm to see a FPS meter: https://llk.github.io/scratch-vm/

If you're in Chrome you can open up developer tools and go to the "performance" or "timeline" tab (depending on your version) to get a timeline of what's happening as you drag.  O

[2017-05-10 17:53] rschamp commented on #882
Moved to LLK/scratch-gui#353

[2017-05-10 18:16] rachel-fenichel commented on #439
Have there been any recent thoughts on this?

[2017-05-10 18:37] ericrosenbaum opened #883 "Categories not cleared on dispose"
### Expected Behavior

The array containing block categories, Blockly.Toolbox.CategoryMenu.categories_, has a dispose function that should result in it becoming empty.

### Actual Behavior

The individual categories are disposed, but the array still contains them. Toolbox updates which are meant to replace categories end up adding new ones. The excess categories don't display, but an error is trig

[2017-05-11 14:10] thisandagain commented on #879
@rachel-fenichel and @picklesrus is this something you folks could help us with?

[2017-05-11 18:10] rachel-fenichel commented on #879
Yes, it's something that I'm thinking about but don't have any patches yet.

[2017-05-11 20:02] rachel-fenichel commented on #880
Probably not fixed by that merge.

[2017-05-11 20:25] rschamp commented on #873
Fixed in #874

[2017-05-11 20:25] #873 closed, assigned to rschamp

[2017-05-11 20:40] ericrosenbaum opened #885 "Reporter block with menu at the end does not render correctly"
### Expected Behavior

I should be able to create a reporter block with a menu following the text label that renders normally.

### Actual Behavior

If I include a character after the menu (here, a period), the block renders as usual:

<img width="135" alt="screen shot 2017-05-11 at 3 57 19 pm" src="https://cloud.githubusercontent.com/assets/567844/25969426/d41b7050-3662-11e7-8efd-9a66ca392228.png

[2017-05-12 00:00] picklesrus commented on #879
Yeah, as @rachel-fenichel mentioned, we haven't tried to optimize it and there is likely lots of low hanging fruit.  It might be a while til I could look at this in depth, but I'll try and keep it top of mind. Here's one thing I noticed while in the code today:

Flyout's getMetrics calls getBBox() on the block canvas which, iirc, causes a layout pass. We should be able to replace that with somethi

[2017-05-12 17:25] rachel-fenichel opened #887 "Performance: Creating blocks that refer to variables"
### Expected Behavior

DomToBlock on a block with a variable reference (FieldVariable or FieldVariableGetter) should not take much longer than creating a block with a FieldDropdown or FieldTextInput.

### Actual Behavior

Approximate benchmarking, by switching sprites in a project with lots of variables.  Here's a sample FieldTextInput.init call, taking 0.23ms:
![image](https://cloud.githubusercon

[2017-05-12 18:11] MichaelZawadzki commented on #873
Yup seems fixed now (even with that original offending line in there). So looks good from a quick test. We'll report if we see any issues as we use/test more with the latest version. Thanks!

[2017-05-12 19:36] rachel-fenichel opened #888 "Decompose Blockly.createDom_ in inject.js"
There are large chunks of code for the creation of filters, patterns, etc.  In both scratch-blocks and Blockly those chunks should be broken out into helper functions.

In this [file](https://github.com/LLK/scratch-blocks/blob/develop/core/inject.js#L168):

- lines 126-168 should become `Blockly.createBlockFilters_(defs)`
- lines 170-185 should become `options.disabledPatternId = Blockly.createDis

[2017-05-12 19:37] rachel-fenichel opened #889 "blocklyStackGlowFilter does not have a unique id"
https://github.com/LLK/scratch-blocks/blob/develop/core/inject.js#L118 states that

// Each filter/pattern needs a unique ID for the case of multiple Blockly
// instances on a page.  Browser behaviour becomes undefined otherwise.
// https://neil.fraser.name/news/2015/11/01/
// TODO (tmickel): Look into whether block highlighting still works.

but the stack glow filter and replacement glow filter d

[2017-05-12 19:42] rachel-fenichel commented on #888
Parallel issue in Blockly: https://github.com/google/blockly/issues/1100

[2017-05-12 21:04] msintov opened #890 "Blocks stop connecting after spamming the blocks in toolbox"
### Expected Behavior

Blocks dragged to the workspace should be able to connect to an existing script.

### Actual Behavior

After spamming two blocks in the toolbox a number of times, the next time you drag a block to the workspace, it will not connect to an existing script.

### Steps to Reproduce

1. Load horizontal_playground.html in iOS WebView on a device.
2. Drag the green flag to the work

[2017-05-14 16:28] #883 closed, assigned to ericrosenbaum

[2017-05-15 22:22] CatsAreFluffy commented on #843
I agree.

On Wed, May 3, 2017 at 3:08 AM, Liam <notifications@github.com> wrote:

[2017-05-16 15:55] ericrosenbaum commented on #885
any ideas @tmickel ?

[2017-05-17 04:15] tmickel commented on #885
Hey Eric!! happy to give a hint :P

Right now `Blocks.wedo2_dropdown_tilt` has an output, but it doesn't have an outputShape defined. Try adding this to the JSON definition (of wedo2_dropdown_tilt):

`outputShape: Blockly.OUTPUT_SHAPE_ROUND`

---

Why I suspect this might help:

First I inspected the block and saw this:
<img width="976" alt="screen shot 2017-05-16 at 11 45 10 pm" src="https://clou

[2017-05-17 16:15] brassaro opened #892 "Selected block not cleared after dragging a block"
### Expected Behavior

After dragging a block (either from the flyout or on the workspace), the 'selected' block (`Blockly.selected`) should be cleared. This means that clearing the 'selected' block should be done on mouse up.
Using this, every time a block is picked up on, an 'ui' event is created and can be acted upon.

### Actual Behavior

After dragging a block, the 'selected' block is not cle

[2017-05-17 17:56] fsih opened #893 "Focused block field appears after setting visibility to hidden"
Branched from https://github.com/LLK/scratch-gui/issues/358 (visible in gui when switching tabs)

Expected Behavior

Should not leave behind weird eyeball-like ghost-remnants of block input fields for .25 seconds after hiding the workspace

Actual Behavior

They do.

Steps to Reproduce

In vertical playground
Click on an input field in the flyout, e.g. 10 of 'move 10 steps'
Click hide.

[2017-05-17 18:14] rachel-fenichel commented on #893
Can I get a gif of this?  I'm struggling to reproduce it in the vertical playground.

At a guess, Blockly.hideChaff is missing something.

[2017-05-17 18:25] rachel-fenichel commented on #893
No gif needed, actually--I think I understand it now.

[2017-05-17 18:28] fsih commented on #893
This will be fixed by https://github.com/LLK/scratch-blocks/pull/891/files#diff-5b6a36b94fcf664e4f8481d6a12eee63R279

[2017-05-17 18:30] ericrosenbaum opened #894 "Toolbox separator tag should add gap between blocks"
### Expected Behavior

In Blockly, the toolbox XML spec includes a convenient tag for adding [separators](https://developers.google.com/blockly/guides/configure/web/toolbox#separators).  We are likely to want to use this feature.

### Actual Behavior

The separators tag does not currently work. It looks like it was removed from the scratch-blocks code for laying out the toolbox.

### Steps to Repr

[2017-05-17 18:48] rachel-fenichel commented on #894
Do you want separators, or just gaps?  Separators are styleable elements in the toolbox (in the example, it's a little white line).

[2017-05-17 18:50] rachel-fenichel commented on #894
Sorry--that's not quite right.

Separator tags can go between categories, in which case they make those little white lines, or between blocks, in which case they add gaps.

[2017-05-17 19:02] rachel-fenichel commented on #894
Aha, this works in the simple flyout but not the toolbox with categories, but it's a super simple fix.

https://github.com/LLK/scratch-blocks/blob/develop/core/toolbox.js#L520

This isn't passing through 'SEP' tags.    Just add `case 'SEP':` after line 519 and you should be good to go.

[2017-05-18 14:59] MichaelZawadzki opened #895 "Blocks become slightly transparent when dragged"
### Expected Behavior

When dragging blocks their visual appearance should not change.

### Actual Behavior

As soon as you drag a block (from the toolbox or the workspace) it gets slightly transparent.

### Steps to Reproduce

Fire up the vertical playground and drag some blocks around. Notice they are slightly transparent. It is easiest to notice this when dragging over some features... like the

[2017-05-18 17:21] rachel-fenichel commented on #895
@carljbowman to confirm expected behaviour.

This is probably just a CSS change.

[2017-05-18 17:50] carljbowman commented on #895
@MichaelZawadzki - Thanks for calling this out.

We noticed this behavior after the recent merge and were a bit caught off guard too. That said we'd like to explore some of the benefits from this adjustment: better visibility when attaching blocks and when copying blocks across sprites (by dragging a stack over a sprite).

We'd like to keep the transparency while dragging for now. We'll keep our e

[2017-05-18 18:50] ericrosenbaum commented on #885
Thanks @tmickel !!! That totally wins the prize for simple fix with thorough explanation :) Much appreciated!

As far as handling this situation in the future, my hope is that we can totally prevent it with our new extension system (proposal in progress [here](https://github.com/LLK/scratch-vm/wiki/Extensions-Proposal)). That includes a much more compact way of defining blocks that we'll use to ge

[2017-05-22 20:21] rachel-fenichel commented on #828
I just landed the dragging refactor.  I'll take another look at this.

[2017-05-22 20:28] #893 closed, assigned to fsih

[2017-05-22 21:07] #894 closed, assigned to nobody

[2017-05-23 00:07] rachel-fenichel commented on #804
Fixed in scratch-blocks by #891

[2017-05-23 00:07] #804 closed, assigned to rachel-fenichel

[2017-05-23 21:52] ericrosenbaum opened #899 "Angle bracket character in block menu gets converted to HTML entity"
(Not sure if I am putting this issue in the correct repo)

### Expected Behavior

Characters in menu blocks should not change to HTML entities.

### Actual Behavior

In Lego Wedo extension, there is a hat block like this:

"When distance [<, >] [50]"

Where the less than and greater than symbols are choices in a menu (block definition is [here](https://github.com/LLK/scratch-gui/blob/556b665e41209

[2017-05-24 02:15] neurosie commented on #845
It looks like this is caused because the greater than hats are [edge-activated](https://github.com/LLK/scratch-vm/blob/develop/src/engine/runtime.js#L679), so they already have a thread running when the stack click tries to [toggle them](https://github.com/LLK/scratch-vm/blob/develop/src/engine/blocks.js#L197).

[2017-05-24 20:58] brassaro opened #900 "Blocks 'getConnections_' function sometimes returns incorrect values"
### Expected Behavior

When dragging a block around and holding it close to other blocks so that the connection preview shows, getConnections_ should return the same in all situations.

### Actual Behavior

When dragging a block around and holding it close to other blocks so that the connection preview shows, getConnections_ returns different values depending on the situations. An exception is thr

[2017-05-24 21:04] ericrosenbaum opened #901 "Block menu opens and immediately closes on click"
### Expected Behavior

Clicking on the menu in a block in the workspace should cause it to open (and stay open).

### Actual Behavior

The menu immediately closes again.

Note that this occurs only in the workspace, not in the toolbox.

![menu-bug](https://cloud.githubusercontent.com/assets/567844/26425495/f52a8c32-40a2-11e7-80cd-55c3e5f104c5.gif)

Weirdly, clicking for a longer time (maybe half a

[2017-05-24 21:07] rachel-fenichel commented on #901
Probably mine

[2017-05-24 21:22] rachel-fenichel commented on #900
Also probably mine.

The error comes from [here](https://github.com/LLK/scratch-blocks/blob/develop/core/block.js#L667), which is being called from [here](https://github.com/LLK/scratch-blocks/blob/develop/core/insertion_marker_manager.js#L625).

[2017-05-24 22:23] rachel-fenichel commented on #901
We're probably calling hide() on the dropdown div at the beginning of a gesture, but it's waiting to animate out.  So the dropdown div is shown on mouse up and then the timer fires and it's hidden again.  Waiting longer before the mouse up would exceed the timer.

[2017-05-24 22:42] rachel-fenichel commented on #900
@brassaro can I get a video/gif/screen capture of this?  I tried to replicate and didn't have any problems:
![22fbc4fe-2f3c-42bb-80aa-39ce443524e3](https://cloud.githubusercontent.com/assets/13686399/26428592/6d05f8ce-4097-11e7-993a-caa978b0e7c6.gif)

I think I'm replicating your test case correctly.  Let me know if I'm not.  And thanks for the detailed steps to reproduce it.

[2017-05-25 14:19] chrisgarrity commented on #899
Moved to LLK/scratch-vm#580

[2017-05-25 14:19] #899 closed, assigned to nobody

[2017-05-25 14:34] chrisgarrity commented on #892
@rachel-fenichel is this due to the dragging refactor?

[2017-05-25 15:51] brassaro commented on #900
@rachel-fenichel mistake on my end: our project was not using scratch-blocks' most recent updates.
The bug I posted DOES NOT occur in latest versions. It was fixed with commit '6275e11' on May 22nd 2017 4:08pm.
Thanks for the quick reply!

[2017-05-25 15:55] jwzimmer-zz commented on #900
Closing since this bug no longer occurs, thanks @brassaro & @rachel-fenichel

[2017-05-25 15:55] #900 closed, assigned to rachel-fenichel

[2017-05-25 17:32] rachel-fenichel commented on #892
No, this is deliberate.  The most recently touched block remains selected after you finish dragging it.  Changing that would need to be an explicit decision by scratch team.

[2017-05-25 18:06] #901 closed, assigned to rachel-fenichel

[2017-05-25 18:51] MichaelZawadzki commented on #892
May I ask what is the logic behind this? Curious since it seems a little strange conceptually.

Also, we patched this on our end by unselecting the block on release. Can you think of any dangers this may introduce if the code relies on this? Note we haven't pulled in the large drag-n-drop changes but will be doing this soon (next week).

[2017-05-25 19:51] rachel-fenichel commented on #892
It's the same behaviour as you get when you drag files around on your desktop or in a file explorer generally.  Clicking on an item selects it and it stays selected until something else is selected or the selection is explicitly removed (by clicking on the background, for instance).  Dragging does the same thing.

I'm not sure what to say about the conceptual strangeness--to me it feels completely

[2017-05-26 03:07] greenSnot opened #904 "Suggestion: Dynamic procedures block in toolbox"
![image](https://cloud.githubusercontent.com/assets/11901882/26479076/3e8154d6-4203-11e7-889d-fb2742f6e45a.png)

[2017-05-26 04:15] luxaritas commented on #904
Out of curiosity, where is the screenshot from? There's some neat UI decisions.

[2017-05-26 05:50] greenSnot commented on #904
@LFP6  box.game/#219563

[2017-05-26 21:34] msintov opened #905 "Blockly.Flyout.createBlockFunc_ not found from core/flyout_base.js Blockly.Flyout.prototype.addBlockListeners_"
### Expected Behavior

core/flyout_base.js Blockly.Flyout.prototype.addBlockListeners_ should find method Blockly.Flyout.createBlockFunc_.

### Actual Behavior

core/flyout_base.js method Blockly.Flyout.prototype.addBlockListeners_ cannot find method Blockly.Flyout.createBlockFunc_. (But I see prototype.createBlockFunc_ in gh-pages/playgrounds/core/flyout_base.js.)

### Steps to Reproduce

I have

[2017-05-26 21:38] rachel-fenichel commented on #905
https://github.com/LLK/scratch-blocks/blob/develop/core/flyout_base.js#L538

[code]

[2017-05-29 12:11] griffpatch commented on #890
This bug is also manifest in another way, again it requires you to drag two or more connected blocks.
Grab two connected blocks and drag them over and up and down another stack of scripts. The blocks begin by appearing to accept the drag, but after doing this once the blocks under the drag stop accepting the drag. If you then drop the dragged blocks elsewhere you will find that the stack of blocks

[2017-05-29 23:23] msintov opened #906 "Sound doesn't play when connecting blocks in the workspace"
### Expected Behavior

When blocks connect in the workspace, the connect sound should play.

### Actual Behavior

No sound plays when blocks are connected in the workspace.

### Steps to Reproduce

In horizontal_playground.html or vertical_playground, connect blocks on the workspace.

Note that the dispose sound plays when throwing a block/script in the trashcan.

### Operating System and Browser

[2017-05-30 03:02] msintov opened #907 "Hit area of dropdown button under horizontal blocks is smaller than before"
### Expected Behavior

In horizontal_playground.html, when the user taps any part of the dropdown button under the envelope blocks, the dropdown should display.

### Actual Behavior

If the user taps on the white down arrow in the middle of the dropdown button under the envelope blocks, the dropdown displays. If the user taps anywhere else on the button, the dropdown does not display.

This new be

[2017-05-30 16:26] MichaelZawadzki commented on #892
Thanks for the explanation!

I had to play with my desktop for a second but I totally see what you mean, and indeed in this context it makes perfect sense ;)

In scratch + scratch-blocks once the block is released there is no special visual indication that it is still selected. This makes sense since there is no special action you can take on it (while on your desktop some hotkeys can allow you to

[2017-05-31 01:09] mrjacobbloom commented on #904
Pretty sure this was closed unintentionally by the merge

[2017-05-31 01:20] mrjacobbloom commented on #880
Closed by the merge again

[2017-05-31 02:43] greenSnot commented on #904
@mrjacobbloom Yeah, I didn't see any codes related to so.
@paulkaplan Can you reopen it?

[2017-05-31 11:28] paulkaplan opened #910 "Broadcast variable create/rename/delete events"
These events need to be broadcast so that the VM can stay up-to-date with scratch-blocks about variables. Right now we are hijacking the `prompt` naming flow for creating variables, but that doesn't work for renaming and deleting doesn't work at all.

[2017-05-31 11:29] paulkaplan opened #911 "Variables should be monitored by default when created"
When a variable is created, it should be monitored by default (the little blue checkbox).

[2017-05-31 16:23] paulkaplan commented on #890
Sorry I'm trying to reproduce this, but I can't seem to. @griffpatch are you saying you can reproduce on a desktop device or is that still only on mobile? Is it possible to make a screen recording or similar?

[2017-05-31 17:45] rschamp commented on #835
@picklesrus Did the fix for this come in with the last merge?

[2017-05-31 18:06] msintov commented on #890
@paulkaplan Now that I've tested with the latest code, I don't reproduce my issue anymore. Hurrah! I suspect it was fixed by Rachel's "New dragging!" merge from Google on May 22, 2017.

[2017-05-31 18:09] #890 closed, assigned to paulkaplan

[2017-05-31 20:10] rachel-fenichel commented on #890
Huh, apparently rewriting all of dragging was good for something.  Let us know if this recurs.  (@griffpatch)

[2017-05-31 20:15] thisandagain opened #912 "Can't delete blocks"
### Expected Behavior

- Dragging a block into the palette will cause it to be deleted

### Actual Behavior

- Occasionally, dragging a block into the palette will result in it being placed behind the pallete

### Steps to Reproduce

- I haven't been able to find a reproducible case yet. Both @ericrosenbaum and I have seen it over the past few days

### Operating System and Browser

MacOS 10.12.4

[2017-05-31 20:17] rachel-fenichel commented on #912
You are probably grabbing the block on the right side of the block and dragging it so that the origin of the block is over the flyout, but the cursor isn't.  The deletion state depends on the position of the cursor.

We can change that if you want, but it needs to be an explicit change.

If that's not the cause of the bug, let me know and I can debug further.

[2017-05-31 20:19] rachel-fenichel commented on #880
Nope, almost certainly not closed.  @mrjacobbloom why do you think this is closed?

[2017-05-31 20:20] thisandagain commented on #912
Nope. I've certainly seen it when both the cursor and the entire block are over the palette.

[2017-05-31 20:21] rachel-fenichel commented on #912
:+1: I'll take a look.

[2017-05-31 20:35] rachel-fenichel commented on #907
Nope, that's not intentional.  Thanks for noting which commit it came in on.  I'll take a look.

[2017-06-01 07:09] mrjacobbloom commented on #880
It was closed at the time I said it (not sure if you're joking)

[2017-06-01 08:03] rachel-fenichel commented on #880
Ah, I thought that you were stating that the merge had fixed it, not that the merge had erroneously closed it.

Cheers,
Rachel

[2017-06-01 11:43] towerofnix commented on #912
I've noticed this as well.

I think the most reproducible cause of this is to go into a separate editor tab (e.g. "costumes" or "sounds") and then go back into "scripts". Blocks will no longer be able to be deleted (even ones newly dragged out from the palette, that haven't even been dropped into the workspace – i.e. grab a new block from the palette, then release it while over the palette - it wo

[2017-06-01 12:29] paulkaplan commented on #912
@liam4 Yup that looks like it works to reproduce.

1. Load https://llk.github.io/scratch-gui/ fresh
2. Drag a block out onto the workspace.
3. Click "Costumes"
4. Click "Scripts"
5. Try to drag the block back into the toolbox, but it cannot be deleted

---

Update 1: Investigating a bit further, here are a few things that **do not** cause this to happen:
 - changing from sprite to background (whic

[2017-06-01 14:08] rschamp opened #913 "Field textinput does not resize properly"
A textinput does not resize properly when used just as a "field" (as opposed to being use as an "input"). When the field gets the focus, the editable field resizes the size of the block, rather than the size of field you are editing.

---
Moved from LLK/scratch-www#1328
/cc @paulabonta

[2017-06-01 14:09] rschamp opened #914 "Categories Layout: hardcoded 2 categories per row"
Toolbox.js hard-codes the two categories per row layout. Make it so a CSS file can override the categories panel layout to 1 column.

---
Moved from LLK/scratch-www#1327
/cc @paulabonta

[2017-06-01 14:23] rschamp commented on #905
@rachel-fenichel @paulkaplan Is this due to a bad merge?

[2017-06-01 14:27] rschamp commented on #904
Thanks for the suggestion — would you mind dropping this into where we're tracking custom reporters? https://github.com/LLK/scratch-vm/issues/79

[2017-06-01 14:27] #904 closed, assigned to nobody

[2017-06-01 15:08] rachel-fenichel commented on #905
No, I think I just missed a spot while updating dragging--it probably also happens in blockly as well.  I will not get to it this week, but I'll take a look next week.

[2017-06-01 15:10] rachel-fenichel commented on #912
This looks like a missing call to workspace.recordDeleteAreas, which is only exposed by the correct combination of calls.  Thanks @liam4 and @paulkaplan for the detailed repro steps.

[2017-06-01 15:12] rachel-fenichel commented on #914
How important (1-10) is it that this configuration be in CSS?

[2017-06-01 15:17] rachel-fenichel commented on #913
Do you mean when it's used as a field on the main block, rather than as a field on a shadow block?  If so, my first thought is that the developer may actually want to use a shadow block with a single textinput field.

Are there any cases in the core block set where we have editable text fields that are not on shadows?  Using a field like that means that you cannot replace it by dragging another bl

[2017-06-01 15:40] rschamp commented on #913
@paulabonta Did you look into using a shadow block for this?

[2017-06-01 20:14] paulabonta commented on #913
I believe I did long time ago and it did not work as expected. My only option was to use it as a textfield - but that has the resize bug.

PB

[2017-06-01 21:04] msintov commented on #907
This issue also applies to other dropdowns such as those containing a number with numpad dropdown.

[2017-06-01 22:03] paulabonta commented on #913
I just try it with a version I pull a couple of weeks ago, just with shadow and behaving as described in the bug report.
See more info below.

Paula

Definition:
     '<block type="motion_say">'+
        '<shadow type="text">'+
          '<field name="TEXT">yes</field>'+
        '</shadow>'+
    '</block>'+

[2017-06-01 22:32] paulabonta commented on #913
I forgot to include the block definition…

Blockly.Blocks['motion_say'] = {
  /**
   * Block to move steps.
   * @this Blockly.Block
   */
  init: function() {
    this.jsonInit({
      "message0": "say %1 steps",
      "args0": [
        {
          "type": "field_input",
          "name": "WORD"
        }
      ],
      "inputsInline": true,
      "previousStatement": null,
      "nextStatement"

[2017-06-01 22:36] RoboErikG commented on #913
replace "field_input" with "input_value" to make it an input for a block instead of a text field and the shadow should work. Sorry about the confusing naming between fields and inputs.

Your xml will also need to be:
     '\<block type="motion_say">'+
        '\<value name="WORD">' +
        '\<shadow type="text">'+
          '\<field name="TEXT">yes</field>'+
        '\</shadow>'+
        '\</val

[2017-06-01 23:37] paulabonta commented on #913
The issue that it is not an input (nothing should be dropped in that field). Basically the behaviour is as follows:
http://www.playfulinvention.com/demos/chibi/chibiblocks/editor.html <http://www.playfulinvention.com/demos/chibi/chibiblocks/editor.html>

Tap in My Blocks - see the Define block

The Define  field “should never” accept any reporters (i.e. a block like “box1”  as in the example above

[2017-06-02 07:53] greenSnot opened #915 "How to generate empty input value with shadow?"
![image](https://cloud.githubusercontent.com/assets/11901882/26715766/7dec5048-47a9-11e7-8a60-d04b97a85200.png)

I am going to implement this feature https://github.com/LLK/scratch-blocks/issues/904, The problem is
[code]
 shows nothing but I expect to be rounded shadow (empty input)
![image](https://cloud.githubusercontent.com/assets/11901882/26716313/827c0c00-47ab-11e7-93b5-59529950a266.png)

[c

[2017-06-02 11:55] griffpatch commented on #890
Here's a screen capture of me showing the behavior of dragging two blocks over a stack in a chrome browser. Notice how 'all' blocks are detached once the drag is complete even though I didn't release the drag over the stack? This is happening on https://llk.github.io/scratch-gui/ has this page got the latest changes from github?

![scratch_example](https://cloud.githubusercontent.com/assets/673734

[2017-06-02 15:48] #911 closed, assigned to paulkaplan

[2017-06-02 19:57] MichaelZawadzki opened #918 "Using domToText output produces an error when trying to deserialize"
### Expected Behavior

Calling: Blockly.Xml.domToText(xml) should produce text that is valid, meaning that later it can be deserialized using:
[code]

### Actual Behavior

Currently is serialization is done through domToText (meaning the XML is not-pretty, aka on a single line), then the matching deserialization, specifically domToWorkspace will throw an error:
[code]
### Steps to Reproduce

There

[2017-06-02 21:09] TheBrokenRail opened #919 "Top half of block cut off when using a statement input inside a square reporter"
### Expected Behavior

_You see the whole block_

### Actual Behavior

_The top half is cut off, statements offset, and bottom has no padding_

### Steps to Reproduce

_Add my code to blocks_vertical/motion.js and and create the block_

### My Code

[code]

### Screenshot
![block](https://cloud.githubusercontent.com/assets/17478432/26744900/1c4d6284-47b6-11e7-9313-5b3b43177714.PNG)

### Operating

[2017-06-05 12:37] thisandagain opened #920 "Field selection targets are too small"
### Expected Behavior

- Clicking anywhere on a selection field should trigger the drop-down

### Actual Behavior

- Only clicking in the very center of the field will produce the drop-down

### Steps to Reproduce

![untitled](https://cloud.githubusercontent.com/assets/747641/26784161/1244e3b4-49ca-11e7-8159-81562d4ad6ce.gif)

### Operating System and Browser

MacOS 10.12.4 | Chrome Version 58.0.3

[2017-06-05 12:40] thisandagain commented on #915
Tracking feature request in https://github.com/LLK/scratch-vm/issues/79

[2017-06-05 12:41] paulkaplan commented on #920
Field selection issues came up for many people during our most recent playtest. I'm not sure if this has the same root cause, but sounds very similar. Here are some example quotes.

[2017-06-05 12:41] thisandagain commented on #914
@rachel-fenichel @rschamp Not super important that it be in CSS (I'd say a 3?).

[2017-06-05 13:03] thisandagain commented on #920
Interesting. I'm guessing it's the same issue (I would also guess it's a recent regression). Thanks for the context @paulkaplan. I'll expand the scope here.

[2017-06-05 13:03] thisandagain commented on #920
/cc @rachel-fenichel @picklesrus

[2017-06-05 13:05] thisandagain commented on #920
@rschamp @carljbowman This feels like a blocker for the next play test. Assigning to @paulkaplan for this iteration.

[2017-06-05 13:26] picklesrus commented on #920
@paulkaplan Do you happen to know if the play test you're referring to was before or after @rachel-fenichel's rewrite of the drag code?

[2017-06-05 13:29] thisandagain commented on #920
@picklesrus After. The internal play test was on Friday 6/2.

[2017-06-05 13:42] picklesrus commented on #920
Cool. Thanks! Then it is probably related to #907.

[2017-06-05 13:45] jwzimmer-zz opened #921 "Block edge & block dropdown menu too close together"
### Expected Behavior

More space in between the edges of the blocks & block parts.

### Actual Behavior

Saskia, Shruti and I independently noticed during the Catch Game internal playtest (6/2/17) that the spacing between the blocks & the dropdown menu border looked strange.

<img width="330" alt="screen shot 2017-06-05 at 9 42 19 am" src="https://cloud.githubusercontent.com/assets/1320456/267861

[2017-06-05 13:45] picklesrus commented on #914
Is this for smaller screens?  Theoretically we should be able to make it responsive, though I don't know how much work that would be... Or is it really just something you'd want to explicitly set?

[2017-06-05 13:47] thisandagain commented on #914
Not so much for smaller screens but rather for microworlds or other experiences where we have a small number of categories.

[2017-06-05 13:59] picklesrus commented on #914
Makes sense. You can just close up that can of worms I tried to open.  Not really sure where that Monday morning optimism came from :)

[2017-06-05 14:00] jwzimmer-zz commented on #682
During the Catch Game internal playtest (6/2/17), Shruti reported:

In 2.0, the block shows up as When Stage Clicked, but in 3.0, it will still say "sprite". (It does seem to work, though.)

[2017-06-05 14:05] thisandagain commented on #914
LOL. It never happened.

![x-all-the-things-template jpg](https://cloud.githubusercontent.com/assets/747641/26787005/7301fe1a-49d6-11e7-9c6e-4872af41c0fc.png)

[2017-06-05 14:20] picklesrus commented on #835
I think 2 merges ago?  IIRC, it was part of the merge finished the week after scratch day. I haven't verified the perf changes in scratch-blocks though. Are you still noticing that things are slow?

[2017-06-05 14:39] greenSnot commented on #915
@thisandagain they are different issues. This seems like a bug? I am not sure, I just want to make a empty input.

[2017-06-05 19:26] griffpatch commented on #890
Does this need re-opening or a new issue raising for it?

[2017-06-05 19:27] msintov commented on #890
@griffpatch Since I believe my issue is fixed, I think it makes sense to open a new issue for yours.

[2017-06-05 19:36] griffpatch opened #922 "Dragging stacks of blocks over other stacks disconnects them"
### Expected Behavior

Dragging a stack of blocks around the screen has no lasting impact on other blocks / scripts that are not part of the drag source or target.

### Actual Behavior

As a stack of two or more blocks is dragged over other block stacks, the other stacks become disconnected (although they stay positioned as if they were still connected).

### Steps to Reproduce

Here's a screen ca

[2017-06-05 19:37] griffpatch commented on #890
New issue raised: #922

[2017-06-05 20:16] navignaw opened #923 ""Collapse blocks" causes "Operator" text to disappear"
### Expected Behavior

Selecting "Collapse blocks" from the right-click context menu should not hide any text.

### Actual Behavior

All "Operator" blocks (green) lose their text when "Collapse blocks" is selected:
![operators](https://cloud.githubusercontent.com/assets/4044514/26801190/e79233ac-49f0-11e7-9545-c7a2fd2a6fed.png)
Newly dragged blocks (e.g. "join (hello) (world)") are not affected, a

[2017-06-05 22:00] marisaleung commented on #918
Bug is fixed here!
https://github.com/google/blockly/commit/f7f664063b4358fd9df985fc66f6fd8679a54efa

[2017-06-05 23:53] rachel-fenichel commented on #919
Long shot: @tmickel do you know what's going on here?

[2017-06-05 23:54] rachel-fenichel commented on #915
@greenSnot in your XML, add a shadow block to it and see if it renders correctly.

[2017-06-06 00:26] rachel-fenichel commented on #920
It looks like previously all touches on a single-field shadow block were treated as touches on that field.  The fields themselves aren't the full size of the block, so clicks on the actual fields are showing the editors but clicks on the background of the shadow block are treated as block clicks.

I can fix this, but I think it's a scratch-blocks specific bit of behaviour.

[2017-06-06 01:03] greenSnot commented on #915
@rachel-fenichel , I want to append an empty input after Block.jsonInit. Is that possible?

[2017-06-06 01:21] greenSnot commented on #915
@rachel-fenichel Oh, and If I define procedure block "MethodA with parameter x" and  "MethodB with parameter x,y,z" they are both "procedure_call" type but different number of input value. So I can't do it in its xml & args0 before jsonInit.

[2017-06-06 04:17] tmickel commented on #919
Hmmm... well...not precisely...but I think it is safe to say we did the rendering code for blocks with outputs (i.e. reporters) assuming that the shape would be a single row.

To start imagining reporters with multiple rows is a lot of work. It might be intuitive for a "square"-shaped reporter like the one above (just don't render notches?) but for rounded ones and "hexagonal" boolean ones, it's v

[2017-06-06 20:38] paulkaplan opened #926 "Duplicating blocks with shadows keep the same shadow id"
When you create two of the same block by dragging them out of the toolbox twice, you get different IDs for all the blocks (including the shadow)

![different-ids](https://user-images.githubusercontent.com/654102/26850635-40f1c4a4-4ad6-11e7-8ffa-cc148bf0be45.png)

However, when you right-click and duplicate, you get a block with a different ID but the shadow has the same ID.

![same-id](https://use

[2017-06-06 20:48] RoboErikG commented on #926
That only happens when you duplicate a block where the shadow is hidden by another block. This is because the shadow is serialized to xml and not present in the model when it's replaced by another block, and duplicating it doesn't touch the serialized shadow xml.

When you remove the x position blocks the shadows should be loaded from xml back into the model and the second one will get a new id.

[2017-06-06 23:44] rachel-fenichel commented on #922
This line is probably the culprit: https://github.com/LLK/scratch-blocks/blob/develop/core/connection.js#L376

[2017-06-07 02:08] rachel-fenichel commented on #854
Related: this transitions almost* directly from before the stack to wrapping the second block in the stack.

*almost because when it does wrap the whole stack, it does it for a frame or two and it's a pretty nasty flicker, but finding that space intentionally is almost impossible at normal zoom.

![63e22b70-ac8c-473f-a9b2-f28165ac3b43](https://user-images.githubusercontent.com/13686399/26859267-65

[2017-06-07 12:52] paulkaplan commented on #926
Ok interesting. I can't seem to find where in the code that is happening. What would be the easiest way to fix this problem?

For more context, you can see https://github.com/LLK/scratch-vm/issues/589, where the TL;DR is "it isn't safe to delete blocks if there are duplicate IDs."

[2017-06-07 16:05] fsih opened #929 "Overlapping field text"
Branched from https://github.com/LLK/scratch-gui/issues/413

In the vertical playground:
- Add the "touching mouse-pointer" block.
- Click "Export to XML"
- Remove that block so it is empty.
- Click "Hide"
- Click "Import from XML"
- Click "Show"

### Expected Behavior
Text in the blocks should not overlap.

### Actual Behavior
Field text overlaps block

![image](https://user-images.githubusercont

[2017-06-07 16:08] fsih commented on #929
Summarizing the comments from the old issue:

"The reason this is happening is because blockly fields are initialized with isVisible set to true, which means that when we create them while the workspace is not visible they try to render themselves and cache their width incorrectly. We need to cause a re-render of the workspace when you come back to [visible]. We might also want a way for the works

[2017-06-07 17:27] paulkaplan commented on #926
It looks like one fix would be to use the `opt_noId` option in `blockToDom` while copying the XML.

[2017-06-07 17:35] RoboErikG commented on #926
I think your VM is missing a step when a shadow block is replaced by a normal block. In the [connection code](https://github.com/google/blockly/blob/06ebf52dd11da90e7407082ed241558b2a91fd86/core/connection.js#L136) the shadow gets serialized and then the model object is disposed. I'm guessing your VM doesn't dispose of the shadow object and this leads to having two copies of it when you try to del

[2017-06-07 18:10] #920 closed, assigned to rachel-fenichel

[2017-06-07 20:43] #922 closed, assigned to rachel-fenichel

[2017-06-07 20:44] rachel-fenichel commented on #923
@carljbowman @thisandagain I think this is really a question about what collapsed blocks look like.  Obviously the current behaviour is wrong, but I don't know what the desired behaviour is.

[2017-06-07 20:48] rachel-fenichel commented on #907
Fixed by #927

[2017-06-07 20:48] #907 closed, assigned to paulkaplan, rachel-fenichel

[2017-06-08 00:21] rachel-fenichel commented on #915
I see.  Then this is a design question, about what block shapes are valid, so I'll defer to the scratch team.

[2017-06-08 00:23] #912 closed, assigned to rachel-fenichel

[2017-06-08 00:27] rachel-fenichel commented on #906
On Blockly: https://github.com/google/blockly/issues/1160

[2017-06-08 00:48] greenSnot commented on #915
Solved:)
@rachel-fenichel you might need this in core/block.js
[code]

[2017-06-08 00:48] #915 closed, assigned to nobody

[2017-06-08 11:58] paulkaplan commented on #926
My knowledge of this area of the VM is still very limited, so /cc @thisandagain and @rschamp who might have more context?

I believe if we remove the shadow block when another block is attached then we would lose a complete picture of the workspace (i.e. we would not be able to serialize/deserialize the workspace properly). We would have to maintain a "present but not really present" list of obscu

[2017-06-08 14:50] towerofnix opened #932 "Block category colour-circles aren't perfectly vertically centered"
### Expected Behavior

The colour-circles placed beside category labels are perfectly vertically centered, so the center of the circle crosses the center of the text.

These two imaginary lines should cross over each other:

![Annotated screenshot – horizontal lines across centers of colour-circle and label](https://cloud.githubusercontent.com/assets/9948030/26828626/bd03611c-4a98-11e7-89c5-6d9f2e

[2017-06-08 15:16] rschamp commented on #835
It looks fixed to me, @thisandagain please re-open if you disagree.

[2017-06-08 15:16] #835 closed, assigned to picklesrus

[2017-06-08 15:55] greenSnot opened #933 "Wrong shape & colour in math_number"
### Expected Behavior
![image](https://user-images.githubusercontent.com/11901882/26936529-88e4791a-4ca1-11e7-927d-c6a364d0c2cc.png)

### Actual Behavior
![image](https://user-images.githubusercontent.com/11901882/26936498-6f7f329e-4ca1-11e7-8d5c-f0c1ab17e4a2.png)

Wrong shape in math_number, wrong block colour and text colour when it's shadow block but its shape is correct.

### Steps to Reproduc

[2017-06-08 17:33] MichaelZawadzki opened #934 "Undo/Redo functionality is broken"
### Expected Behavior

Using undo should undo 1 user action. Pressing redo should redo the last undo action.

### Actual Behavior

Lots of strange things are happening. In the simplest example of just placing some blocks pressing undo removes some of the inner shadow blocks, and also places blocks in the upper-left.

### Steps to Reproduce

1) Launch the playground from current sources
2) Drag sev

[2017-06-08 17:48] rachel-fenichel commented on #934
At first glance this looks like a problem with event grouping.  Hopefully onlt during drags, possibly in other places.

[2017-06-08 21:27] rachel-fenichel opened #935 "Create and delete events are being fired for insertion markers"
### Expected Behavior

No events for insertion markers.

### Actual Behavior

A create event is fired when the block is picked up, and a delete event when it is dropped.
### Steps to Reproduce

- Open the vertical playground and turn on log events.
- Put one block on the screen.
- Clear the console (optional).
- Pick up the block, drag it, and drop it.
- You should see a create, a move, and a dele

[2017-06-08 22:06] rachel-fenichel commented on #926
As discussed offline:
- scratch-blocks is emitting the correct events (plus a few extra right now, which makes debugging annoying: #935)
- scratch-vm is explicitly ignoring events related to shadow blocks
- you can debug events by turning on "log events" in the vertical playground, or in the blockly playground
- scratch-vm needs to add the concept of an occluded shadow block that it manages

[2017-06-08 22:06] #926 closed, assigned to paulkaplan

[2017-06-08 22:25] tmickel commented on #926
scratch-vm definitely has the concept of occluded shadow blocks... it might be broken, though :)

[2017-06-09 11:48] paulkaplan commented on #934
I just noticed this also, here is a really simple one:

1. Connect a block to an input
2. Undo

![undo-shadow-broken](https://user-images.githubusercontent.com/654102/26974110-d85de7f6-4ce7-11e7-899f-a017be19af9a.gif)

@rachel-fenichel I noticed this while trying to debug the issue with shadow blocks we discussed. Does my example have something to do with that?

[2017-06-09 12:48] carljbowman commented on #923
@rachel-fenichel - Thanks for following up on this. The collapse feature is not something that we would like to expose in Scratch Blocks.

While I can understand why this is a feature within the Blocky library, it is one that contradicts our tinkering design philosophy. All blocks and their fields should be editable at all times. We also want to insure that blocks containing blocks can be visually

[2017-06-09 18:20] rachel-fenichel commented on #923
@carljbowman okay, so the action items here are
1) remove collapse from the context menu
2) remove collapse from the whole library

?

[2017-06-09 18:22] rachel-fenichel commented on #934
@paulkaplan this is a problem with event grouping during drags.  You're seeing it undo one event at a time instead of undoing multiple events as a group.  You can see this by turning on event logging in the playground.

[2017-06-09 20:53] rachel-fenichel opened #937 "Dragging to connect to the end of a stack doesn't bring that stack to the front"
### Expected Behavior

The just-edited stack should be at the front.

### Actual Behavior

The just-edited stack ends up behind other blocks.
Dragging to the top of a stack does bring the stack to the front.

### Steps to Reproduce
![3410d9cf-6619-45ae-a105-c8af17b584a8](https://user-images.githubusercontent.com/13686399/26994084-eb5746f8-4d1a-11e7-8cf2-57424f9230e6.gif)

### Operating System and

[2017-06-09 21:40] rachel-fenichel commented on #937
This may be an upstream issue.

[2017-06-10 00:19] navignaw commented on #932
Changing both the circle and text to spans and adding
[code]
seem to fix it. However this only works if we remove `float: left/right` which is conditionally applied depending on RTL. Will the order of spans be inverted automatically for RTL?

The alternative is to just fake centering with a `margin-top: 1px`, but it doesn't feel very clean.

[2017-06-12 17:44] rachel-fenichel opened #939 "Do blocks need to know what category they belong to?"
Block category is set in jsonInit, but I don't see it being used anywhere.  Is it just a legacy?

[2017-06-12 18:18] jwzimmer-zz opened #940 "What should behaviour be when a block is very long?"
### Expected Behavior

However large my block is, should I be able to somehow see all of it when I drag it, either by scrolling or some other approach?

Should there be a max length/ max size? I would guess not, because it's easy to imagine that if you're using e.g. operators or custom blocks you could get some very long blocks.

### Actual Behavior

When the block is long enough that it's wider t

[2017-06-12 18:24] rachel-fenichel commented on #940
Are you testing this on llk.github.io/scratch-gui?

[2017-06-12 18:26] rachel-fenichel commented on #940
If so, is the screenshot above mid-block-drag?

[2017-06-12 18:34] ericrosenbaum commented on #940
Another example:

![big-move](https://user-images.githubusercontent.com/567844/27049102-4540ac00-4f7c-11e7-8645-7f09d696cde8.gif)

[2017-06-12 18:37] rachel-fenichel commented on #940
@ericrosenbaum that doesn't seem like the same bug.  That's #430.

My question is about "When the block is long enough that it's wider than my computer screen, I can't scroll or drag or anything in order to see the rest of the block.",

because I'm able to scroll the workspace to see all parts of the block.  I'm trying to understand whether @jwzimmer is unable to scroll the workspace when there's

[2017-06-12 18:46] jwzimmer-zz commented on #940
@rachel-fenichel, yes, this is mid-drag & on https://llk.github.io/scratch-gui/ - I was trying to move the block in such a way that I could see the ends of the block (not necessarily all at once, probably by scrolling). I was thinking of how in Scratch 2.0, if you drag a block to the edge of the scripting area, the scripting area will automatically scroll for you - I was thinking of something like

[2017-06-12 19:54] jwzimmer-zz commented on #934
This came up during Catch Game internal playtest II (6/12/17):
I noticed undo delete gives me each block in a stack one at a time, not the entire stack.

[2017-06-12 20:53] rachel-fenichel commented on #940
Okay, so the question is whether dragging a block to the edge of the workspace bumps the workspace to make it scroll in the direction of your drag?

If that's the question, cool, I'll leave it up to Scratch-team to make the decision.  I was concerned that you meant that scrolling and dragging was broken if you had a single block with a very long input.

[2017-06-12 21:42] mrjacobbloom commented on #939
It's for CSS styling, see #638

[2017-06-12 21:50] rachel-fenichel commented on #939
Right--I can see that it's adding to the styles on the blocks, but I haven't found any definitions of those styles in the scratch-blocks CSS.  Are they for use by people who are styling scratch-blocks above and beyond what's contained in the core library?

[2017-06-12 22:03] mrjacobbloom commented on #939
Yeah that's the idea, for users to theme the blocks themselves

[2017-06-12 22:52] #939 closed, assigned to nobody

[2017-06-12 22:53] rachel-fenichel commented on #934
Last time I checked in, fixing this was not a requirement for the play test.  Let me know if that changes.

[2017-06-13 00:11] rachel-fenichel opened #941 ""Create variable" button click is only on the button text, not the button rect"
### Expected Behavior

Clicking anywhere on the "create variable" button makes the modal appear.

### Actual Behavior

Only clicking on the text makes the modal appear.

### Steps to Reproduce

Open the vertical playground
Go to the "Data" category
Click on the background of the "create variable" button

### Operating System and Browser

Ubuntu, Chrome

[2017-06-13 13:51] jwzimmer-zz commented on #940
Yes, @rachel-fenichel, that's the question - scrolling and dragging are not broken for the long block, as far as I noticed. 👍

[2017-06-13 17:38] marisaleung opened #942 "Field Variable Dropdowns are shadows"
### Expected Behavior

Variable dropdown should be a field of the main block, it should not be a shadow.

### Actual Behavior

When I drag a block into the variable dropdown, it replaces the variable dropdown.
This is a problem because when I try to delete the variable in this state, the variable is recreated when the operator is removed because the main block recreates the shadow and its variable

[2017-06-13 17:39] marisaleung commented on #942
Related: Shadow blocks confuse users.
https://scratch.mit.edu/discuss/topic/199574/?page=135#post-2674522

[2017-06-13 17:40] marisaleung commented on #942
@rschamp

[2017-06-13 21:04] jwzimmer-zz opened #943 "Should the green flag hat block be more prominent at the top of a stack?"
- Green flag block is smaller in 3.0 than 2.0
- Colors of Events blocks stand out less in 3.0 than 2.0
- Colors of Events/ Control are closer to each other in 3.0 than 2.0

Split-off from https://github.com/LLK/scratch-gui/issues/409:
@jwzimmer reported: "Width of green flag hat block being so small compared to other blocks makes it hard to read"
If you compare the width of the hat block in 3.0 ve

[2017-06-13 21:47] rachel-fenichel opened #944 "Should all blocks with the Operator colour scheme also have the Operator category?"
Based on #939 the "category" tag is for user styles.  Does it directly correlate with the colour scheme of the block?  If so, I can make the "colours_operators" extension also set the category.

The same question applies for all other categories.

Not every block has a "category" set (e.g. `sensing_touchingobjectmenu`).  Should every block have a category?  If so, that makes adding it to the colou

[2017-06-14 00:44] samelhusseini opened #946 "Insertion marker disconnects C shaped blocks when dragging with a block that has no prev or next statements"
### Expected Behavior

Insertion marker shouldn't disconnect blocks when a block with no previous or next statement hovers over a number of nested C shaped blocks.

### Actual Behavior

Insertion marker disconnects the C shaped blocks

### Steps to Reproduce

Easiest repro is to
go to https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/control.js#L60
control_forever, and remove "pre

[2017-06-14 02:51] mrjacobbloom commented on #944
Generally the category should correlate to the color of the block, I intended it to line up with whichever palette the block is in (it's not a perfect system, for example I think list blocks should probably have a separate category tag).

Anyway, I believe I skipped menus/shadows when adding categories to blocks since they didn't seem necessary, but I see no reason not to add them if it'd simplify

[2017-06-14 20:48] rachel-fenichel opened #949 "Update comments in variables.js to reflect correct XML"
The comments are starting to get out of sync with the actual code.  In this example the variable type and model are missing.  All of the commented XML here and in upstream blockly should be checked for correctness.

[code]

[2017-06-14 20:49] rachel-fenichel commented on #949
@marisaleung

[2017-06-14 20:56] paulkaplan commented on #949
It looks like upstream it changed to writing xml directly as a string, obviating the need for the code comments. we should probably move to that as well.

[2017-06-14 21:08] luxaritas commented on #923
@carljbowman (and others): I'd strongly ask you to reconsider this. See https://github.com/LLK/scratch-blocks/issues/391

Once you start building programs of any complexity (or more specifically, length), they become EXTREMELY unreadable. I'd argue that if you have no capability of even starting to understand the control flow of a program, most of the potential benefits of tinkering are essentiall

[2017-06-14 23:20] mrjacobbloom commented on #923
I don't know if this helps either way, but here's some collapsing code I threw together a while back (I have no idea whether it still works): https://scratch.mit.edu/discuss/topic/206779/ ... an option like that could make code a little more readable

[2017-06-15 14:02] #942 closed, assigned to paulkaplan

[2017-06-15 14:13] thisandagain commented on #933
Hi @greenSnot we can't really understand what you are trying to do here. Can you please provide more context and a description of exactly what you are trying to do?

[2017-06-15 14:28] thisandagain commented on #941
Can't repro on MacOS, Chrome (latest) but we should try to repro on Ubuntu.

[2017-06-15 14:39] paulkaplan commented on #941
There is some funky behavior on that button. Sometimes clicking the whole button works, but sometimes it doesn't. Here is a gif of what I saw. Note that cursor style correlates directly with clickability, so any time you see the hand it was possible to click.

![funky-click-behavior](https://user-images.githubusercontent.com/654102/27186634-f1c84c30-51b6-11e7-8218-790877301b52.gif)

[2017-06-15 15:48] greenSnot commented on #933
@thisandagain Well, I am trying to apply single math_num, empty_array, logic_bool, empty_string block into toolbox.  Your examples seem lack of them.

[2017-06-15 19:24] jwzimmer-zz opened #952 "Dropdown menus should not be droppable"
### Expected Behavior

I think the menu should not be droppable (right, @carljbowman?)

### Actual Behavior

Current 3.0 behaviour when combining unexpected inputs/ blocks - @ericrosenbaum & I were trying out the speech & wedo extensions and noticed that currently we can drop the reporter "speech"  into the dropdown menu of "set voice to" and that we could drop "tilt angle [up]" into the "tilt ang

[2017-06-15 19:46] RoboErikG commented on #952
@paulkaplan similar to the variable dropdown issue you just fixed.

[2017-06-15 22:34] marisaleung opened #953 "Toolbox does not reflect variable deletion."
### Expected Behavior

When a variable is deleted in the workspace, the toolbox should reflect this change and the variable should no longer be there.

### Actual Behavior

When a variable is deleted in the workspace, only the block in the workspace is removed. The blocks in the toolbox remain.

### Steps to Reproduce

1. Create a variable named 'a.'
2. Drag the setter block for variable 'a' onto

[2017-06-16 02:11] rachel-fenichel commented on #941
@paulkaplan that matches what I was seeing.  It seems like once you hit the text it becomes clickable, and then stays clickable to the edge of the button, but I'm not sure.

I quickly checked the Blockly playground and couldn't repro, but that button is styled pretty differently.

[2017-06-16 02:20] rachel-fenichel commented on #952
Some dropdowns can accept blocks, and some can't.

![image](https://user-images.githubusercontent.com/13686399/27209279-b1b2ce38-51ff-11e7-8bdb-d38f9be0088d.png)
The first block in this screenshot can accept a block, but the second one can't.

A dropdown that can be overridden by a dragged block should be implemented as an input with a shadow block (in the toolbox).

A dropdown that cannot be over

[2017-06-16 13:14] paulkaplan commented on #952
Yup, those probably shouldn't be droppable. @ericrosenbaum I can help you fix this on your extensions branch, but I'm going to close this issue here because it can't be fixed on scratch-blocks repo right now.

[2017-06-16 13:14] #952 closed, assigned to nobody

[2017-06-16 15:40] jwzimmer-zz opened #955 "Block stack layering - dragging a sub-stack into a stack doesn't bring it to the front"
### Expected Behavior

If you have two stacks next to each other, and drag a long block into the leftmost stack, I would expect the stack you have most recently interacted with to be the top layer stack, but it is not.

### Actual Behavior

If you drop the stack you are dragging on top of another stack, the dragged block will be the top layer (over the other stack). But if you drop the stack you'r

[2017-06-16 17:44] marisaleung opened #956 "Checkbox remains when variable is deleted in toolbox"
### Expected Behavior

If there is only one variable in the toolbox, when it is deleted, the set block, change block, and get block should be deleted.
### Actual Behavior

The set block and change block are deleted. The get block is deleted but the check mark next to it remains.
### Steps to Reproduce
1. Create a new variable named 'a.'
2. In the toolbox, click the dropdown of the block that says

[2017-06-16 17:44] marisaleung commented on #956
Noticed in this pull request https://github.com/LLK/scratch-blocks/pull/954

[2017-06-16 17:45] marisaleung commented on #953
Fixed in pull request https://github.com/LLK/scratch-blocks/pull/954

[2017-06-16 21:43] TheBrokenRail opened #957 "Hacky %m.(thing) not implemented"
### Expected Behavior

_It is implemented and shows a custom menu_

### Actual Behavior

_It just shows text_

### Steps to Reproduce

_Create a hacked custom block and add a % (List found here https://docs.google.com/spreadsheets/d/1uT1vHi6IUUaUix5y3k4p28p2No6pvLNKF_yrtrajEY4/edit#gid=0)_

[2017-06-16 22:32] marisaleung opened #958 "FieldToDom searching flyout workspace instead of main workspace"
### Expected Behavior

When Blockly.Xml.blockToDom's fieldToDom is called on a block with a FieldVariable inside, the variable's id and type should be included in the dom.
### Actual Behavior

The variable is not found, because block.workspace.getVariable() searched the flyout workspace instead of the main workspace.
### Steps to Reproduce

1. Open vertical playground.
2. Put a break point in Bloc

[2017-06-16 22:36] marisaleung opened #959 "FieldToDom doesn't include id and type for FieldVariableGetter"
### Expected Behavior

When Blockly.Xml.blockToDom's fieldToDom is called on a block with a FieldVariableGetter inside, the variable's id and type should be included in the dom.
### Actual Behavior

The id and the type are not included, because the variable isn't even searched for.
### Steps to Reproduce

1. Open vertical playground.
2. Put a break point L110 at the very beginning of Blockly.Xml.b

[2017-06-17 14:27] rachel-fenichel commented on #955
Dupe of #937

[2017-06-19 13:44] rschamp commented on #923
@rachel-fenichel @carljbowman I would vote for option 2, so that we don't leave behind dead code paths (unless this will make merges more difficult?). If we do re-introduce the feature down the line, we can pull it in from Blockly then.

@LFP6 @mrjacobbloom Thanks for linking to the issue for this feature request — that is really helpful. But in general would you please keep discussion about featu

[2017-06-19 17:13] ericrosenbaum commented on #885
Fixed by https://github.com/LLK/scratch-gui/commit/e8f4dadf5f6251ddee7130ba14e14e9f49ae70bd

[2017-06-19 17:13] #885 closed, assigned to ericrosenbaum

[2017-06-19 17:41] MichaelZawadzki opened #961 "Variable Blocks no longer include a dropdown"
### Expected Behavior

When making a new variable, which creates a variable block, that variable block should have a dropdown in order to be able to select different existing variables.

### Actual Behavior

The variable block that is created has no dropdown.

### Steps to Reproduce

Create 2 variables. Notice when making the 2nd one there is no way to switch it to the 1st one.

### Operating Syst

[2017-06-19 17:48] rachel-fenichel opened #963 "Value reporter doesn't change size with zoom level."
### Expected Behavior

When you click on a block to see its value, the resulting popup should be at the same zoom level as the blocks.

### Actual Behavior

![image](https://user-images.githubusercontent.com/13686399/27298229-b4fbd596-54dc-11e7-9fe0-9d32486d729b.png)

### Steps to Reproduce

Drag a reporter block into the workspace
Zoom
Click on the block

### Operating System and Browser

Chrome

[2017-06-19 17:49] rachel-fenichel opened #964 "Right-click on variable blocks is broken"
### Expected Behavior

Right-clicking on a variable getter should show a menu with all of the other variable names in the workspace.

### Actual Behavior

Right-clicking does nothing.

### Steps to Reproduce

Create two variables.
Drag a variable getter block into the workspace.
Right-click on the variable getter block.

### Operating System and Browser

Chrome on Ubuntu.

[2017-06-19 17:58] rachel-fenichel commented on #961
![image](https://user-images.githubusercontent.com/13686399/27298085-2ffa519c-54dc-11e7-8e93-d1ac0b54f60c.png)

I assume you're talking about the fact that there's no dropdown on the "foo" and "bar" reporter blocks above, even though there's a dropdown on the "bar" in the variable setter block.

Scratch lets you click on a block to see its value at runtime:
![image](https://user-images.githubuserc

[2017-06-19 18:07] MichaelZawadzki commented on #961
That makes sense now! Thanks for the explanation :)

I know we certainly want to have features that expose the runtime value of variables but I don't think we've gotten to designing that part yet. Good to know this is closely related to this question of variable drop downs.

[2017-06-19 18:24] MichaelZawadzki commented on #961
One quick question: why not make the set (and changeBy) blocks follow that design? Meaning when the variable shows in these blocks... have no dropdown by default? Is that in these cases it's more common to change the variable name and less common to inspect the value?

[2017-06-19 18:28] rachel-fenichel commented on #961
Clicking on a set variable block runs the block (in scratch) if you clicked anywhere other than an editable field, and edits the field if you clicked on an editable field.  Clicking on a block doesn't display its value if it's a statement block.

Since there's so much more space to be touch targets, and since the block and its field are clearly delineated, it's much easier to discern intent.  As a

[2017-06-19 18:45] MichaelZawadzki commented on #961
Got it, thanks for the explanation!

[2017-06-19 21:54] rachel-fenichel opened #968 "Text fields are the wrong colour"
Left: actual behaviour.  Right: expected behaviour.
![image](https://user-images.githubusercontent.com/13686399/27307402-6b335c00-54fe-11e7-8700-fa0a2d06c06c.png)

Directly caused by #962
If a block doesn't have secondary and tertiary colours defined we darken the primary colour.  Blocks that use `Blockly.Colours.textField` seem to mostly just have a single colour defined, but are used as shadows.

[2017-06-19 23:26] marisaleung opened #969 "WorkspaceSvg CreateVariable() doesn't include type and id"
### Expected Behavior

The created variable will have the id and type that is passed into it.

### Actual Behavior

When workspaceSvg.createVariable() is called with a name, type, and id, only the name is used to created the variable. The id and type are ignored.

### Steps to Reproduce

You can just look at the function workspaceSvg.createVariable and see that the id and type are not parameters t

[2017-06-19 23:46] rachel-fenichel opened #971 "Broadcast <message> blocks should not accept dropped blocks"
![image](https://user-images.githubusercontent.com/13686399/27310378-b72d860c-550e-11e7-87b5-8952290da7e6.png)

The bottom two blocks should look like the first block (square, non-shadowed field instead of rounded input with a shadow block).

[2017-06-20 07:04] lixiaocheng18 opened #973 "How can i define a function block!"
Hello!
        How can i define a function block, like blockly, thanks!

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2017-06-20 09:31] towerofnix commented on #971
This would be a step back from 2.0 – and even 1.4 – which both have support for dropping blocks in the "broadcast" and "broadcast and wait" blocks; it would undoubtedly break some projects (in fact, I've used reporters in broadcasts myself).

[2017-06-20 09:43] towerofnix commented on #961
Note that when you have a dropdown, it's technically possible to drop a block inside that dropdown (though that may be disabled via UI) and get the value of a variable by its name "dynamically" ([example](https://user-images.githubusercontent.com/9948030/27327026-9c4a75f0-5583-11e7-8afb-48e5404874be.png)). Similar capability is discussed [here](https://github.com/LLK/scratch-flash/pull/1246) and [

[2017-06-20 14:19] #929 closed, assigned to fsih, rachel-fenichel

[2017-06-20 19:31] rachel-fenichel commented on #971
@liam4 I didn't realize that was in 2.0.  Not an issue here then.

[2017-06-20 19:31] #971 closed, assigned to nobody

[2017-06-20 20:19] #953 closed, assigned to marisaleung

[2017-06-20 22:08] #969 closed, assigned to marisaleung

[2017-06-20 23:47] marisaleung opened #975 "Variable Deletion Spec"
There are two options for when variables should come back that we are discussing and would like your input or specification.

1. Letting it come back next time the toolbox is refreshed.

2. Explicitly comes back when a block with that variable runs.

I understand the second one is how scratch 2 works. The first option is  easier to implement since we can just do a light version of delete by just r

[2017-06-21 05:02] mrjacobbloom commented on #975
Potentially relevant: https://github.com/LLK/scratch-blocks/issues/372#issuecomment-227532505

[2017-06-21 15:50] RoboErikG commented on #975
The Scratch team has been revisiting that discussion. We're waiting for confirmation from Carl on the exact behavior they want to move forward with.

[2017-06-21 22:00] rachel-fenichel commented on #946
The blocks being connected to don't even need to be c-blocks for this bug to happen.

![a4af5cb0-bc55-4539-887c-59a098784f99](https://user-images.githubusercontent.com/13686399/27408511-eea4e36c-5691-11e7-947b-d5381c042598.gif)

The problem is when you have a block with a statement input but no previous connection.

I think the desired behaviour is to allow inserting around the entire stack, but n

[2017-06-21 22:48] RoboErikG commented on #440
Btw, is the plan to target all the Scratch components to the max of required versions or would you consider keeping scratch-blocks targeted to IE10 so it's compatible for anyone using Blockly?

[2017-06-22 14:30] rschamp opened #978 "Confirmation dialog for deleting blocks is inconsistent with right-click menu."
### Expected Behavior

When you right click and choose "Delete X blocks", the confirmation dialog should say "Delete all X blocks?"

### Actual Behavior

_Well_, it instead adds one to the number, it seems:
![scratch-gui bug](https://user-images.githubusercontent.com/28599280/27383110-174c8458-56bc-11e7-97d9-574a810213cc.PNG)

### Steps to Reproduce

Have 3 or more blocks in the editor, right clic

[2017-06-22 14:37] carljbowman commented on #973
@lixiaocheng18 - Could you be a little more specific with what you are attempting to do?

If you are trying to create a 'Custom Block' like in 2.0, we have not implemented that feature yet.

[2017-06-22 14:40] carljbowman commented on #964
@rachel-fenichel - We should take a look at this as apart of the Variable spec.

[2017-06-22 14:43] carljbowman commented on #961
@MichaelZawadzki - Thanks for bringing this up.

@rachel-fenichel @liam4 - Thanks for explaining and pointing at previous discussions.

[2017-06-22 14:43] #961 closed, assigned to nobody

[2017-06-22 14:51] #955 closed, assigned to nobody

[2017-06-22 14:55] carljbowman commented on #845
This is a dupe of https://github.com/LLK/scratch-vm/issues/153

[2017-06-22 15:05] rschamp commented on #946
@rachel-fenichel That sounds right to me!

[2017-06-22 16:53] RoboErikG commented on #973
@lixiaocheng18 Here's the issue tracking 'Custom Blocks' https://github.com/LLK/scratch-blocks/issues/607 . Is that what you're looking for?

[2017-06-22 17:47] #934 closed, assigned to rachel-fenichel

[2017-06-22 17:53] rachel-fenichel commented on #964
Okay.  It used to do what Scratch 2.0 did, and the change that broke it is straightforward.

[2017-06-22 21:35] rachel-fenichel opened #980 "Should scratch-blocks extensions be shared between vertical and horizontal blocks?"
See #972

I originally added extensions in blocks_vertical/vertical_extensions.js  It turns out that some (maybe all?) of the current extensions also apply to horizontal blocks, and some are used by the common blocks in blocks_common/text.js and blocks_common/math.js.  It might make sense to move that to blocks_common/extensions.js.

In that case what would the namespace be?  `Blockly.ScratchBlock

[2017-06-22 21:42] #968 closed, assigned to rachel-fenichel

[2017-06-22 21:43] rachel-fenichel opened #981 "Basic extension names in scratch-blocks"
Current names are
[code]

These don't have to be the permanent names.  In particular, we probably want to spell color the American way.

[2017-06-23 18:17] MichaelZawadzki commented on #607
Is there any info on the timeline around this feature?

[2017-06-23 18:37] rschamp commented on #607
@MichaelZawadzki Yes, currently this is scheduled for the end of the year. Of course we have a lot of plates in the air, so that could change.

[2017-06-23 19:45] paulkaplan opened #982 "Variable dropdown contains wrong names after renaming"
### Expected Behavior

_Please describe what should happen_
Variable dropdown should contain only current variable names

### Actual Behavior

_Describe what actually happens_
It contains the previous variable names as well.

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_
Create a variable. Rename it. Click the variable dropdo

[2017-06-23 20:10] paulkaplan opened #983 "Min spacing not being respected for short blocks with dropdowns"
![image](https://user-images.githubusercontent.com/654102/27498662-1fef1990-582e-11e7-9b7c-16f7d12a24d8.png)

Carl mentioned that there should be a minimum length that forces things to come after the notch, per this diagram:
![image](https://user-images.githubusercontent.com/654102/27498679-378115f4-582e-11e7-978d-838f9331ecdb.png)

It looks like the relevant variable is `Blockly.BlockSvg.NO_PREVI

[2017-06-23 21:23] rachel-fenichel commented on #983
Not quite.  It's being used only for inputs where you can drop a block.

![image](https://user-images.githubusercontent.com/13686399/27500960-8fd87760-581f-11e7-8c8b-3e5d3aa4f000.png)

[2017-06-23 21:25] rachel-fenichel commented on #983
The difference is that where you can drop a block there's a Blockly.Input with a block attached, and that block has a dropdown field inside it.  Where you can't drop a block it's just a Blockly.Field.  So it's hitting different code paths.

[2017-06-23 23:07] marisaleung opened #984 "Design List Block"
A “List” is simply a variable model with type “list.” So most of the behavior is similar to the variable design here: https://github.com/LLK/scratch-blocks/issues/372.

- Clicking on the list block (it's a reporter) evaluates it and pops up the current value.
- Right clicking brings up a context menu that includes the names of all of the other lists, delete, and rename.
- A block with a list field

[2017-06-23 23:14] towerofnix commented on #984
A quick note on this, though technically it's more relevant to the VM (and may already be implemented)..

* Scratch reports lists as strings.

* **If a list contains any items with two or more characters, or any items with zero characters,** the items are separated by strings. E.g. [foo, bar, kaz] -> "foo bar kaz"

* **If a list only contains items with one character,** the items are joined togeth

[2017-06-23 23:35] rachel-fenichel opened #985 "Right-click on variable getter in palette should show rename, delete, and help."
### Expected Behavior

Right-clicking on the variable getter in the palette should show "rename", "delete", and "help."

### Actual Behavior

It only shows "Help."

### Steps to Reproduce

1. Create a variable 'a'.
2. Right click the getter in the palette.

### Operating System and Browser

All

[2017-06-23 23:39] rachel-fenichel commented on #978
Not adding one to the number--it's counting all of the blocks, including shadow blocks.

[2017-06-23 23:54] marisaleung commented on #978
Is the current plan to reintegrate shadow blocks?
With this fix this shouldn't be a problem https://github.com/LLK/scratch-blocks/pull/948

[2017-06-23 23:56] rachel-fenichel commented on #978
There are plenty of uses of shadow blocks outside of variables.  Those will continue to exist.  In the example above the "10" block is a shadow block, which is why it's adding 1.

[2017-06-23 23:57] RoboErikG commented on #978
We could probably not count shadow blocks in Blockly as well.

[2017-06-23 23:58] rachel-fenichel commented on #978
In Blockly they are clearly blocks.  In scratch-blocks they look like fields instead of blocks, so the user shouldn't know about them.  I think Blockly should keep the current behaviour.

[2017-06-24 00:23] towerofnix commented on #985
(..I accidentally interpreted this title as "variable getters in the palette" "should only show delete option" 🙃 ..)

[2017-06-24 00:30] rachel-fenichel commented on #978
To fix, just replace `deleteList.length` with `String(deleteCount)` on line 1374 of `workspace_svg.js`
https://github.com/LLK/scratch-blocks/blob/develop/core/workspace_svg.js#L1374

Then it will match line 1364.

[2017-06-26 07:46] xmeow opened #986 "The color picker didn't set to the color selected"
### Expected Behavior

The color picker 'set pen color to ' block in pen catalog didn't reponse to the color selected

### Actual Behavior

It should, but the rounded color picker just keep red. It is interesting that argValues give the correct color value.

### Steps to Reproduce
Take a try at pen catalog from vertical playground.
http://llk.github.io/scratch-blocks/playgrounds/tests/vertical_pla

[2017-06-26 12:31] paulkaplan commented on #983
Ah good example, thanks for the clarification. I think I see that code path now, [here](https://github.com/LLK/scratch-blocks/blob/develop/core/block_render_svg_vertical.js#L1130-L1135).

[2017-06-26 15:31] rschamp commented on #986
@rachel-fenichel Do you think this is related to the bug that affected click targets for other fields?

[2017-06-26 17:31] msintov opened #987 "Data category "Create variable" button doesn't bring up text entry or keyboard on mobile"
### Expected Behavior

Pressing "Create Variable..." button in vertical_playground.html should bring up a text entry area and keyboard on iOS.

### Actual Behavior

No text area or keyboard displays.

After pressing "Create Variable...", the code ends up calling `Blockly.prompt`:

/**
 * Wrapper to window.prompt() that app developers may override to provide
 * alternatives to the modal browser win

[2017-06-26 19:19] rachel-fenichel commented on #986
If it's storing the correct value but not changing the block, no, it's not the same bug.

[2017-06-26 19:21] rachel-fenichel commented on #987
Interesting.  The current Blockly playground doesn't have this problem on Android in a web view.  Nor does llk.github.io/scratch-gui in a webview on iOS*

My first thought is that you should try it on a different device.  On some devices you have the option of disabling all popups if the web page is showing too many of them, and then you never see prompts again.

*though it has a different problem

[2017-06-26 20:08] msintov commented on #987
Actually I do see it working on Android (tested Android 6.0). A dialog box is displayed with title "The page at file:// says:" at the top, followed by "New variable name:"  and then the prompt for the variable name below.

[2017-06-26 21:55] rachel-fenichel commented on #987
Interesting.  Does that mean that it's only an issue on iOS, or only on a specific device?

[2017-06-26 22:07] msintov commented on #987
We find that it is an issue on iOS in general, at least with WKWebView. Clicking the button seems to do nothing.

[2017-06-27 05:30] msintov commented on #987
Actually the solution for iOS WKWebView is to do something like the following, where the WKUIDelegate is set and can respond to the window.prompt request from JavaScript with a UIAlertController containing a text field for entry:

https://gist.github.com/davbeck/8613f2e74e8fc335c14d

[2017-06-27 23:59] #958 closed, assigned to nobody

[2017-06-27 23:59] #959 closed, assigned to nobody

[2017-06-28 00:05] marisaleung commented on #985
Quick note: When right clicking a variable in the getter block in the palette, nothing shows up in the context menu.

[2017-06-28 00:22] marisaleung commented on #985
Update: Rename Variable currently is not an option for either of these context menus.

[2017-06-28 16:10] #910 closed, assigned to paulkaplan

[2017-06-28 17:36] chrisgarrity opened #988 "Translation implementation/process for extensions"
New extension proposal:

How are translations passed

What is the tool chain to generate resources for Transifex/get translations for build.

[2017-06-28 17:53] thisandagain commented on #906
Tracking in google/blockly#1160

[2017-06-29 14:57] #973 closed, assigned to nobody

[2017-06-29 15:00] rschamp commented on #957
We won't be explicitly supporting 2.0-style hacked blocks. But this kind of thing should be possible with extensions once they're implemented.

[2017-06-29 15:00] #957 closed, assigned to nobody

[2017-06-29 16:06] RoboErikG commented on #975
Per in person discussion, we'll move forward with 1. which is easier to implement and try it out. If we don't like the behavior we can move to a more involved solution.

[2017-06-29 19:34] towerofnix commented on #957
@rschamp It may be best to consider implementing support for rendering those blocks correctly (when custom blocks themselves are implemented), though. I can't imagine it would be good if a bunch of old 2.0 projects' scripts (visually) broke, even though they're technically using hacks.

[2017-06-29 23:25] rachel-fenichel commented on #906
Fixed upstream.

[2017-06-30 00:35] msintov commented on #906
Thanks @rachel-fenichel !

I believe that in scratch-blocks, the same fix that was applied upstream to dragged_connection_manager.js also needs to be applied to insertion_marker_manager.js Blockly.InsertionMarkerManager.prototype.applyConnections.

[2017-06-30 12:30] towerofnix commented on #880
edit: it looks like this one has already been automatically (and mistakenly) closed by a commit earlier, too.. :)

[2017-06-30 17:58] msintov commented on #906
@paulkaplan Please see my note above about this also needing to be applied to insertion_marker_manager.js Blockly.InsertionMarkerManager.prototype.applyConnections. Does that sound right?

[2017-06-30 18:04] rachel-fenichel commented on #906
Yes, that sounds right.

[2017-06-30 18:45] #906 closed, assigned to nobody

[2017-07-03 02:46] niujingqian opened #992 "'To JavaScript' does not work"
When I open the page('vertical_playground.html'),
Click the button('To JavaScript'),
I got the error:
"
vertical_playground.html:133 Uncaught TypeError: Cannot read property 'workspaceToCode' of undefined
at toCode (vertical_playground.html:133)
at HTMLInputElement.onclick (vertical_playground.html:547)

"
### Operating System and Browser

Window 7 and Google Chrome(59.0.3071.86)

[2017-07-04 13:06] callblueday opened #993 "will scratch3.0 supports block to code?"
Is there a plan to support block to code in scratch3.0?

[2017-07-05 08:16] OOOOOldZhu opened #994 "i think this repository need to suport chinese launguage and other launguage . thx"
i think this repository need to suport chinese launguage and other launguage . thx

[2017-07-06 14:13] carljbowman commented on #994
Tracking in #477

[2017-07-06 14:13] #994 closed, assigned to nobody

[2017-07-06 14:21] carljbowman commented on #987
@msintov Does that resolve the issue for you or is there something we should plan to support within `scratch-blocks`?

[2017-07-06 15:00] ericrosenbaum opened #995 "Category color confusion"
In play tests, we often see kids searching for blocks by color, when are they copying a stack from a Scratch Activity Card. They will for example look for sound blocks in the looks category, or vice versa, because they are similar colors. The clusters that get confused seem to be:

- Looks and Sound
- Control, Events and Data
- Operators and Pen
- Motion and Sensing

<img width="222" alt="screen s

[2017-07-06 15:31] ericrosenbaum opened #996 "Custom menu widgets for numeric input fields"
We currently have a few custom menu widgets for fields like the color and angle pickers. We should consider adding custom menu widgets with sliders for all or almost all blocks that that have numeric inputs, because:

- Having the option to move a slider rather than typing a number can be convenient and more child-friendly
- This would help kids who do not know about negative numbers or about typi

[2017-07-06 16:13] mrjacobbloom commented on #996
regarding size clamping: the same goes for minimum size. For example: setting the scratch cat's size to 0, then running the "size" reporter returns a value of 5

[2017-07-06 18:04] msintov commented on #987
@carljbowman Yes, the issue is resolved for me. Thank you!

[2017-07-06 21:07] ericrosenbaum opened #999 "New hat block: When [sound] reaches [time]"
I'm proposing a block for helping kids create animations where events are synchronized to specific times in a song or soundtrack. It would trigger when the sound selected in the menu has played for the amount of time specified on the block. When you click to edit the time field, it would open a custom numeric field widget that shows the waveform of the sound, and a marker at the selected time. The

[2017-07-07 18:02] rschamp commented on #993
There is no plan for implementing generators for 3.0, since the functionality of 3.0 depends on using the VM as an interpreter.  We have left the generators in the scratch-blocks repository as an example for those who would like to use generators for their own purposes.

[2017-07-07 18:02] #993 closed, assigned to nobody

[2017-07-07 18:45] #987 closed, assigned to rschamp, rachel-fenichel

[2017-07-07 20:55] #880 closed, assigned to rachel-fenichel

[2017-07-10 20:52] #982 closed, assigned to paulkaplan

[2017-07-11 04:26] christan1029 commented on #995
I agree with the suggestion. The difference between the colors for Data and Control, for example, is too subtle for no real reason. This issue could also be a hindrance to colorblind users; they commonly confuse different types of blue and purple hues. Differentiating between Motion, Looks, Sound, and Sensing would be difficult for them.

A change such as this decreases ambiguity-

![image](https:

[2017-07-11 07:33] mrjacobbloom commented on #995
There was also some exploration of using icons for the categories in the palette, that might help to clear up the confusion: https://github.com/LLK/scratch-blocks/issues/262#issuecomment-288742696

Plus those icons are just really cool, kudos to carl for throwing them together just for the mockup

[2017-07-11 12:52] carljbowman commented on #995
We plan to continue refining colors along with exploring addtional ways of clarifying categories. As @mrjacobbloom called out, we will experiment with iconography for the categories as a direction. That said, the sketches referenced above are purely to demonstrate the concept. The exact icons should not be taken literally.

This type of work will also have implications on the horizontal grammar. W

[2017-07-11 17:20] #38 closed

[2017-07-11 17:20] #36 closed

[2017-07-11 17:25] thisandagain commented on #921
Blocks should be implemented to spec
/cc @carljbowman

[2017-07-11 17:33] thisandagain commented on #706
Tracking in scratch-vm. Current direction documented here:
https://github.com/LLK/scratch-vm/wiki/Extensions-Proposal

[2017-07-11 17:33] #706 closed, assigned to nobody

[2017-07-11 17:35] thisandagain commented on #696
In the case of numeric inputs this should act the same as the sprite info area: clicking outside of the block or confirming via "enter" should transform the empty value to the default value. We aren't sure if "default value" is correct or if it should be "0" but we'll try this for now.

/cc @carljbowman

[2017-07-11 20:01] #946 closed, assigned to rachel-fenichel

[2017-07-12 15:26] fsih commented on #845
There are 2 issues contributing here
- The one found by neurosie, where clicking on the stack toggles the script, and since the script is running every frame, toggling it which should turn it on turns it off
- The one mentioned by Tim in LLK/scratch-vm#153 , where we don't run the code under the hat block because it's a "when" block, which guards that it's only supposed to run once, when the boole

[2017-07-12 21:11] rachel-fenichel opened #1004 "Investigate field caching"
Tracking issue for exploration/discussion of performance problems around text length caching.
This is also a performance issue in upstream blockly.

### Expected Behavior

Measuring text labels on blocks should not take a long time, since so many of them are duplicated.

### Actual Behavior

There is a field cache that stores widths of text, but it's cleared between render passes.

### Steps to Re

[2017-07-12 21:41] rachel-fenichel commented on #1004
My current theory is that better caching is definitely a good idea, and the fact that we clear the cache so regularly means that there was a bug at some point in the past that was solved by being more aggressive with cache clearing.

My plan is to turn on aggressive caching and then try to break everything.

One clear failure mode is using mixed fonts.  We're caching based on the text of the field

[2017-07-12 23:03] rachel-fenichel commented on #1004
These behaviours don't cause `getComputedTextLength` to change in Chrome:
- zooming the page
- zooming the Blockly workspace
- disabling a block
- enabling a block
- collapsing a block
- expanding a block

Measuring the length of a text field the first time (during field init) returns 0, but that's not a problem because we'll retry on the next render if the contents of `Blockly.Field.cacheWidths_`

[2017-07-12 23:10] rachel-fenichel opened #1005 "Dedupe code for block duplication and dragging out of the flyout"
After #1001 lands there will be shared code that can be factored out.

[2017-07-12 23:12] rachel-fenichel opened #1006 "Duplicated block is placed at the upper left corner of the initial block, instead of at the mouse location."
### Expected Behavior

Duplicated blocks that attach to the mouse pointer should have the mouse pointer placed correctly relative to the upper left corner of the block.

### Actual Behavior

The block is positioned according to the upper left corner of the block that was duplicated, and then there's a jump the first time the mouse moves.

(After #1001 lands)

### Steps to Reproduce

Create a block

[2017-07-14 09:07] Micircle opened #1007 "Because of 'insertionMarker' block, function 'workspaceToCode' has some bug"
### Expected Behavior

workspceToCode can be right.

### Actual Behavior

Because of ''insertionMarker', workspace.getTopBlocks() contains an extra block.

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_ and Chrome

[2017-07-14 09:23] Micircle commented on #1007
[code]
Is this the best way ? Hope to get your answer. Thanks very much.

[2017-07-14 20:03] rachel-fenichel commented on #1007
Yes, that looks like a good solution.

Blockly.Xml.WorkspaceToXml probably needs a similar check.

[2017-07-14 22:54] rachel-fenichel commented on #1004
Note that airstrike is representative of dragging a ton of blocks out of the flyout in a row, but not representative for how long it takes to load a saved workspace, because that already had aggressive caching enabled.

[2017-07-15 14:05] zyctinker opened #1008 "How can I build a new block?"
### Question:How can I build a new block?
Hi everyone,
I'm trying to build a new block for scratch block to get message from serial port. But it seems that scratch-block doesn't translate block to programming language codes as other programs built in blockly usually do. So How can I add some JavaScript codes to a block? Or Are there any other way for scratch-block to translate block to programming

[2017-07-16 04:03] zyctinker opened #1009 "Endpoint used by build.py blocked in mainland China"
### Expected Behavior

generate compressed files by py -2 build.py

### Actual Behavior
`$ py -2 build.py
Warning: No description for CONTROLS_FOREVER
Created file: .\msg/json/\en.json
Created file: .\msg/json/\qqq.json
SUCCESS: msg\js\en.js
SUCCESS: blockly_uncompressed_horizontal.js
SUCCESS: blockly_uncompressed_vertical.js
Exception in thread Thread-3:
Traceback (most recent call last):
  File

[2017-07-16 05:40] Kenny2github opened #1010 "New stack blocks: Play [sound] from (time) secs and Stop [sound]"
Referring to #999, if there is a hat block that detects when a sound reaches a time, I think there should also be a corresponding block: `play [sound v] from (time)`. To complement it, another block would be useful: `stop [sound v]`.

Both of these sounds are pretty self-explanatory - `play [sound v] from (time)` would play the desired sound from a certain time (maybe in seconds?) and `stop [sound

[2017-07-17 02:02] Micircle commented on #1007
Yes, Blockly.Xml.workspaceToDom has the same problem.
Thanks very much for your help !
And I wonder to know will you change this problem in the source code ?

[2017-07-17 14:30] #861 closed, assigned to paulkaplan

[2017-07-17 17:26] #985 closed, assigned to marisaleung

[2017-07-17 17:45] rachel-fenichel commented on #1010
What happens if you do
`play sound 1`
`play sound 1`
`play sound 1`
`stop sound 1`
?

Does it stop all of them?

[2017-07-17 18:27] rachel-fenichel commented on #1009
Have you had this problem repeatedly, or just the one time?

It looks like a problem with connecting to the server that runs compilation, so it might be transient.

For context, here are the docs on the closure compiler service: https://developers.google.com/closure/compiler/docs/api-tutorial1

[2017-07-17 21:21] ed-cooper commented on #1010
Stopping all of them seems the most intuitive result, and I can't think of any logical alternatives for what it could do otherwise

[2017-07-17 21:42] ericrosenbaum commented on #1010
Sprites can only play a single instance of a particular sound (successive calls to "play sound" restart the sound), so a "stop [sound v]" block would work fine.

I should clarify that #999 etc. are just proposals we're thinking about, and we'll hopefully prototype them at some point, but no guarantees. We're very careful about adding new blocks. That said we appreciate the thoughtful ideas!

[2017-07-17 23:04] ed-cooper commented on #1010
Okay, but a decision would still need to be reached on when multiple sprites are playing the same sound

[2017-07-17 23:12] towerofnix commented on #1010
@chooper100 But that's not possible? Sounds are local to sprites/stages. Each sprite has its own array of sound objects, and its own "sound manager" (e.g. deleting a clone kills only the sounds it started via a "play sound"-like block; each sprites has its own volume value; etc).

If you want to stop a sound in another sprite, a broadcast could be used:

[code]

[2017-07-17 23:27] ed-cooper commented on #1010
Fair point

[2017-07-18 00:09] SCrolem opened #1013 "Question - Two images in horizontal block grammar"
Hi, i wanna know if it's possibel to have 2 images field on one motion block ? if yes, someone can give me some steps to get it working ? :) I was trying to make changes on block_render_svg_horizontal but although the idea is simple, it is confusing to me for make it work. like that
![motion_block](https://user-images.githubusercontent.com/15913751/28295029-b5bebf40-6b55-11e7-94dc-7849ce4dfd76.png

[2017-07-18 02:58] Kenny2github commented on #1010
An example of how this could be used (for pausing music):
[code]
Then you would broadcast "pause music" to pause and "start music" to start again.

[2017-07-19 03:09] Micircle opened #1014 "field_textdropdown.js may have some errors"
[code]
text color and arrow image also have problem.

[2017-07-19 08:30] xmeow commented on #986
It seems like that  `this.isShadow()` in
[code]
always return ture and ColourSecondary(#FF0000) is used for color picker background.
The code block locate at core/block_render_svg_vertical.js

[2017-07-19 12:16] paulkaplan commented on #986
@xmeow thanks for looking into that! That line was added here https://github.com/LLK/scratch-blocks/pull/945 I guess we overlooked the color block being a shadow that changes color.

@rachel-fenichel thoughts on the best way to fix this? Does the `FieldColour` need secondary and tertiary colors? We might be able to just change the `setValue` function to set the primary, secondary and tertiary to t

[2017-07-19 15:45] rschamp commented on #1014
@Micircle could you add some information about why you think this is an error? What behavior is affected?

[2017-07-19 15:54] Micircle commented on #1014
'getOptions_' is not the function of FieldDropdown, It is 'getOptions' .

[2017-07-19 16:03] Micircle commented on #1014
When I clicked field_numberdropdown and filed_textdropdown's items, there would be a JS error that filed_textdropdown onItemSelected was not a function.

[2017-07-19 17:29] rachel-fenichel commented on #986
@paulkaplan I like that solution.

[2017-07-19 20:37] #986 closed, assigned to paulkaplan

[2017-07-20 17:19] ateesdalejr commented on #984
@liam4 You are correct on the single character concatenation quirk. They will need to keep this in order to stop a few cloud projects from breaking.

[2017-07-20 17:58] TheInitializer opened #1017 "Empty space appears at bottom of page when context menu is visible"
### Expected Behavior

When right-clicking to bring up the context menu, nothing should happen to the rest of the page.

### Actual Behavior

A large blank space appears below the editor, causing a scrollbar to appear.

### Steps to Reproduce

Right-click in the scripts pane.

### Operating System and Browser

Windows 10, Firefox Nightly 56

[2017-07-20 17:58] towerofnix commented on #984
@ateesdalejr I've also used it many times for substring procedures:

![Scratchblocks](https://user-images.githubusercontent.com/9948030/28431785-e289f334-6d5b-11e7-80b1-72512543e6a7.png)

[2017-07-21 12:12] paulkaplan opened #1019 "Hidden workspace still responds to keyboard events"
### Expected Behavior

_Please describe what should happen_

A hidden workspace should not respond to keyboard undo/redo.

### Actual Behavior

_Describe what actually happens_

After a call to `workspace.setVisible(false)`, you can still undo/redo using the keyboard.

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

1. Open th

[2017-07-21 12:14] paulkaplan commented on #1019
@rachel-fenichel  is there any legit use case for keeping that behavior? If not, should this be filed as a bug upstream on blockly?

[2017-07-21 12:27] paulkaplan commented on #1019
_update: submitted the following as https://github.com/LLK/scratch-blocks/pull/1020_

First impression fix would be to add a third short-circuit condition to `Blockly.onKeyDown_`, changing
[code]
to
[code]

But it doesn't seem that `workspace.setVisible` sets the `rendered` property to false. Is that by design? Is there a different visibility check I could do? Or should I added `this.rendered = is

[2017-07-21 13:46] Kenny2github commented on #1017
May I refer you to [#548](https://github.com/LLK/scratch-gui/issues/548)

[2017-07-21 15:11] rschamp commented on #1017
Tracking in https://github.com/LLK/scratch-gui/issues/548

[2017-07-21 15:11] #1017 closed, assigned to nobody

[2017-07-21 18:25] rachel-fenichel commented on #1017
Why is it being tracked in scratch-gui?  I'm pretty sure this is a scratch-blocks bug, and possibly just a blockly bug.  Does right-clicking anywhere other than the workspace cause the same problem?

[2017-07-21 18:33] rachel-fenichel commented on #1019
I need to check whether that's a valid use of `rendered`.  The comment on it says
[code]
but I'm not convinced that hidden rendered workspaces are the same as non-rendered workspaces at this point.  I'd rather have a `visible` attribute and have `rendered` only cover the difference between a `workspace` and a `workspaceSvg`.

[2017-07-21 19:25] TheInitializer commented on #1017
@rachel-fenichel I tried right clicking in other places, and the bug didn't seem to appear, so it seems like it's just in the workspace.

Is the context menu not part of scratch-blocks? It seemed specific to the blocks to me. I could be wrong though.

[2017-07-21 21:31] rschamp commented on #1017
@rachel-fenichel Because that issue was filed already, contains more information, and we haven't investigated to know whether it's actually in scratch-blocks or in the scratch-gui css. When it gets investigated and turns out to be due to scratch-blocks itself, then we can move it, but I wanted to keep that bug as the single place for conversation about it since it already exists.

If you're sure i

[2017-07-21 21:35] rachel-fenichel commented on #1017
I'm 90% certain it's a scratch-blocks or blockly issue, but don't currently have time to investigate, so I'm fine with you leaving it in scratch-gui.

[2017-07-24 06:58] Kenny2github commented on #833
Any further info on this?

[2017-07-24 07:46] griffpatch commented on #833
Sorry, I've not had time to look at Scratch 3 for a while. I did get things
building, but I ran into issues with trying to build the blocks module.

On 24 July 2017 at 07:59, Ken <notifications@github.com> wrote:

[2017-07-24 13:21] paulkaplan opened #1023 "WidgetDiv height causes the page to scroll"
### Expected Behavior

_Please describe what should happen_

The widget div used for the color menu should not be tall enough to cause the page to scroll. This only happens in the GUI (not the vertical playground) because of css that is preventing it, but you can still see that the widget div height is very tall.

### Actual Behavior

_Describe what actually happens_

the widget div seems to get a

[2017-07-24 15:56] paulkaplan opened #1024 "Duplicate ID problem still exists when using "Duplicate" action"
A while ago we dealt with this issue https://github.com/LLK/scratch-blocks/issues/926 which we solved by manually reassigning IDs when blocks were pasted.

The same problem still exists when you right-click => Duplicate, because that takes a different code path from the "paste" code path which was fixed by https://github.com/LLK/scratch-blocks/pull/936.

We will need to implement a similar fix for

[2017-07-24 18:29] mrjacobbloom commented on #978
This should be resolved now

[2017-07-24 18:36] #978 closed, assigned to nobody

[2017-07-26 04:21] Kenny2github opened #1027 "[Design] When hovering sticky duplicated blocks over other blocks the gray shadow only shows one block instead of all of them"
### Expected Behavior

After duplicating blocks, as the blocks follow the mouse, when you hover the blocks over other blocks the gray shadow that indicates where they're going to go should show all of the blocks, instead of just one block.

### Actual Behavior

Only one block appears

### Steps to Reproduce

![only one block](https://user-images.githubusercontent.com/28599280/28604357-b0db3046-71f

[2017-07-26 12:00] thisandagain commented on #1027
That happens in all instances of multiple blocks (a stack) being dragged into another stack. This was a conscious design decision to avoid issues where the stack being inserted can cause the target stack to move great distances on mouse over making it difficult to insert.

[2017-07-26 12:00] #1027 closed, assigned to nobody

[2017-07-26 12:11] #526 closed, assigned to nobody

[2017-07-26 17:38] thisandagain commented on #937
@rachel-fenichel Any further thoughts on if this is upstream?

[2017-07-26 18:09] paulkaplan commented on #842
I'm going to close this in favor of tracking https://github.com/LLK/scratch-blocks/issues/1024

[2017-07-26 19:12] #842 closed, assigned to paulkaplan

[2017-07-26 20:32] #983 closed, assigned to nobody

[2017-07-26 20:38] paulkaplan commented on #1023
@rachel-fenichel It looks like the `WidgetDiv` component always uses the windowSize that is passed to it to set the height: https://github.com/LLK/scratch-blocks/blob/develop/core/widgetdiv.js#L221

The color menu knows the actual menu width/height, so we could allow those to be passed to WidgetDiv#position as well?

I'm pretty suspicious of that line in general, git-blame shows it was added for a

[2017-07-27 02:24] tjvr commented on #995
Sorry to ping you but

Those are some pretty icons you've made there :-)

[2017-07-27 04:42] Kenny2github commented on #995
OKAY WHAT HOW DID I MISS THIS

YES! *I* am colorblind - in the 2.0 editor I can never use any Looks or Motion blocks without clicking the palettes twice! If the blocks themselves could have a change in colors, I would be forever grateful - as would any other colorblind users!
Please seriously consider this change - I have actually had the working time for motion-heavy projects DOUBLED because I ha

[2017-07-27 14:18] fsih commented on #1019
I was pretty confused about the difference between rendered and isVisible when I was in this code before. When is a hidden rendered workspace supposed to exist?

[2017-07-28 17:47] ericrosenbaum commented on #1013
Sorry- this specific thing, displaying two images in one horizontal block, is not supported. The rendering code for horizontal blocks is designed to show a single icon.

Maybe you could display a single image that has two icons in it?

Can you say more about what you want to make?

[2017-07-28 18:12] ericrosenbaum commented on #1008
The Scratch Team uses Scratch-Blocks with the [Scratch Virtual Machine](https://github.com/llk/scratch-vm), which executes the blocks. This is because the VM lets people tinker with code: click on a block to run it, see a stack of blocks highlight while it's running, modify a stack while it's running, run several stacks in parallel, etc.

Sorry we don't have better documentation for the Scratch VM

[2017-07-28 18:12] #1008 closed, assigned to ericrosenbaum

[2017-07-29 04:52] ateesdalejr commented on #941
@paulkaplan I'm seeing this behavior as well.

[2017-07-31 08:20] Micircle opened #1031 "Toolbox lablels can cause flyout exception"
![2017-07-31 16 02 26](https://user-images.githubusercontent.com/13041273/28768467-4d0d30d4-760a-11e7-8f69-bbf1dd51a116.png)
![2017-07-31 16 02 45](https://user-images.githubusercontent.com/13041273/28768468-4d3d372a-760a-11e7-9d8d-024984db24fb.png)
![2017-07-31 16 13 32](https://user-images.githubusercontent.com/13041273/28768709-3fee08fa-760b-11e7-97ed-e90ebd1ea49e.png)

When I use the label in

[2017-07-31 08:36] #1031 closed, assigned to nobody

[2017-07-31 10:15] Kenny2github commented on #1031
...why'd you immediately close this issue?

[2017-07-31 11:09] Kenny2github opened #1032 "Block colors are no good for color-blind people"
### Context

I'm color blind - I'm a strong deutan - blues/purples and reds/greens/yellows are harder to distinguish

### Expected Behavior

I should be able to tell the differences between all the different block categories

### Actual Behavior

Motion, Looks, Sound look identical; so do Control, Events.

[2017-07-31 11:46] towerofnix commented on #1032
Maybe it would be best to keep discussion in #995?

[2017-07-31 12:12] Micircle commented on #1031
I saw that the code had changed a lot.
I am not sure whether the problem still exists.

[2017-07-31 12:28] thisandagain commented on #1032
Thanks for filing this @Kenny2github. This feels related but is a distinct issue from #995. A solution to one may solve the other, but this (and many other accessibility issues) is something we should be tracking more closely.

[2017-07-31 12:43] gengshenghong opened #1033 "Question: how to shim generator javascript file"
This is a question instead of an issue. can someone help to point out how I can shim a new javascript file (example: javascript_compressed.js)? I've tried a long time and lost myself, I am not familiar with the shim logic. :(
Appreciate if anyone can give an example to try.

I've read https://github.com/webpack/docs/wiki/shimming-modules but I failed to understand it.

What I've done:
shim/blocks_

[2017-07-31 12:46] thisandagain commented on #1033
@rschamp any thoughts?

[2017-07-31 13:22] Kenny2github commented on #1032
As I did mention in #995, the reason this is an issue is because when I'm looking for blocks in one category, I frequently look in the wrong category - effectively doubling or even tripling my work times. And now there's three extra categories to confuse - so the colors need a change if colorblind people want to have normal work times

[2017-07-31 13:59] rschamp commented on #1033
@gengshenghong I think you're on the right track.  One important part to understand is that these shims are only necessary if you're going to be importing `scratch-blocks` like we do in `scratch-gui`: https://github.com/LLK/scratch-gui/blob/b3d4716414546e91ebf17c185c70005268a174f0/src/lib/blocks.js#L1

Next, you should know that there is an order to the build, so you will need to either run `npm r

[2017-08-01 04:00] gengshenghong commented on #1033
@rschamp Thank you for the detailed information. You are correct I am on the right track, but make a really minor mistake....I've changed it to vertical and it works correctly. And it is helpful to know that I need to use it by importing scratch-blocks to access the Blockly variable (instead of access it using "Blockly" in global context directly when using it in scratch-gui).

I'll close it as it

[2017-08-01 04:00] #1033 closed, assigned to rschamp

[2017-08-01 20:28] #815 closed, assigned to paulkaplan

[2017-08-01 21:32] rachel-fenichel commented on #1019
If you open the blockly playground and then click "hide", you have a hidden rendered workspace.

[2017-08-02 16:07] TheBrokenRail opened #1036 "When dragging translucent blocks they become opaque"
### Expected Behavior

_The blocks stay transparent._

### Actual Behavior

_The blocks become opaque._

### Cause

_This is caused in [css.js](https://github.com/LLK/scratch-blocks/blob/11367eeafd6f0e70ee23e4755577a14c1d8a29b6/core/css.js#L415)_

### Screenshot

#### Normal
![normal](https://user-images.githubusercontent.com/17478432/28883045-1b4651bc-777b-11e7-91bf-4182e125d618.PNG)

#### Draggi

[2017-08-03 11:17] zyctinker commented on #1009
I had this problem repeatedly. I have tried reinstall python 2.7 and scratch-block, but it didn't work

[2017-08-03 11:24] xmeow commented on #1009
@zyctinker , All you need is a VPN, the appspot got block in china mainland~

[2017-08-03 14:37] TheBrokenRail opened #1037 "Colors are broken on MS Edge"
### Expected Behavior

_the workspace background should be light grey._

### Actual Behavior

_It is black._

### Steps to Reproduce

_Go to the scratch-blocks playground on MS Edge_

### Operating System and Browser

_Windows 10 Build 16251 MS Edge_

### Screenshot
![edge](https://user-images.githubusercontent.com/17478432/28927119-ba577742-7837-11e7-9842-bf624378bf55.PNG)

[2017-08-03 17:48] rschamp opened #1038 "Toolbox layouts "top" and "bottom" are broken in toolboxes with categories"
### Expected Behavior

_Please describe what should happen_
The blocks in the toolbox should be laid out when using "top" or "bottom" toolbox layouts with categories.

### Actual Behavior

_Describe what actually happens_
All of the blocks are rendered at the same coordinates, and are covered by the categories menu.

### Steps to Reproduce

_Explain what someone needs to do in order to see what's

[2017-08-03 17:48] rschamp commented on #1038
@paulkaplan @rachel-fenichel Any hunches on when this broke?

[2017-08-03 17:53] rachel-fenichel commented on #1038
Probably when I implemented the two-column toolbox.

[2017-08-03 18:00] RoboErikG commented on #1038
Related, your multi-playground demo is completely broken...https://llk.github.io/scratch-blocks/playgrounds/tests/multi_playground.html

[2017-08-03 18:10] rachel-fenichel commented on #1037
@TheBrokenRail please explain what you mean by "right" and "broken" (for instance, "the workspace background should be light grey" and "the workspace background is black").

[2017-08-03 18:56] TheBrokenRail commented on #1037
Updated

[2017-08-03 19:05] rschamp commented on #1038
Thanks @RoboErikG — that's logged at https://github.com/LLK/scratch-blocks/issues/764

[2017-08-03 21:21] paulkaplan commented on #170
Not fixed, still doesn't work with c blocks. See discussion https://github.com/LLK/scratch-blocks/pull/1030

[2017-08-03 21:26] ericrosenbaum opened #1039 "Vertical category menu"
We are shifting to a new design for the blocks palette, with a vertical category menu.

Steps for implementing:

- [x] Put all the categories into a single column (like [this](https://github.com/ericrosenbaum/scratch-blocks/commit/7a5b9467a7a31441a4b8138fe7bba11b474bcf43))
- [x] Styling (like [this](https://github.com/ericrosenbaum/scratch-blocks/commit/258a20d59cd47e06377e1a553ceff2ac2ad2c8f5)).

[2017-08-03 21:38] #845 closed, assigned to fsih

[2017-08-03 21:58] ericrosenbaum opened #1040 "Blocks menu with all the blocks in one flyout"
The new design for the blocks palette includes a single vertical scrolling flyout containing the blocks from all the categories, with labels and separators. This design works well with the vertical category menu (https://github.com/LLK/scratch-blocks/issues/1039).

Here's a [prototype](https://ericrosenbaum.github.io/scratch-gui/extension-categories/) version that includes both the vertical catego

[2017-08-04 16:54] jwzimmer-zz opened #1041 "What should happen when a drum/ sound is played for 0 beats?"
### Expected Behavior

I'm not sure what the expected behaviour is. I see two questions here about what the behaviour should be:
- If you clear out the value from the beats part of the block, should it be filled in with whatever the default is when the value has been deleted? (This question has come up with other blocks as well.)
  - Right now, the behaviour for no value & value of 0 is the same
-

[2017-08-04 23:34] ed-cooper commented on #995
Input from the discussion forums on a new set of category colours:
https://scratch.mit.edu/discuss/post/2761039/

[2017-08-07 00:15] christan1029 commented on #1041
There is an inconsistency between the logic for playing a drum and for playing a note.

![image](https://user-images.githubusercontent.com/29719007/29008348-65151826-7ae3-11e7-8b3b-d9fc7fb5e15d.png)

For some reason, the code defaults to playing the entire drum sample regardless of the amount of seconds (not the case in the play note function).

I can work on this if we want to make this change (p

[2017-08-07 01:17] mrjacobbloom commented on #1041
That seems like the correct functionality to me -- a note on an instrument plays for a specific duration, but a real drum doesn't play for a duration, it just makes a specific sound.

[2017-08-07 19:17] rachel-fenichel commented on #1023
I'm looking at this and https://github.com/google/blockly/issues/1242 because I think they're related.

[2017-08-08 03:03] christan1029 commented on #1041
Yes, so one possible solution would be to make an exception when the beat value is equal to 0.

[2017-08-09 13:33] #1024 closed, assigned to paulkaplan

[2017-08-10 01:01] thisandagain commented on #1041
@ericrosenbaum would you mind weighing in on this?

[2017-08-10 09:03] Micircle opened #1043 "Dropping a duplicated block directly in the delete area will be error"
![2017-08-10 16 54 47](https://user-images.githubusercontent.com/13041273/29162751-e8e34784-7dec-11e7-8b6c-da93de94938f.png)

### Operating System and Browser

_e.g. Mac OS 10.11.6 Chrome

@rachel-fenichel

[2017-08-10 11:09] Kenny2github commented on #607
I’m don’t really like the fact that number and text inputs are combined - it adds ambiguity to which input type the block shows up as (is it number or string?) and removes the ability to ensure a number for inputs that should be numbers.

[2017-08-10 19:53] ericrosenbaum commented on #1041
The current timing behavior of the "play drum" block in 3.0 matches the behavior in 2.0, as far as I know. As was mentioned above, it always plays the full length of the drum sample (which generally makes sense, for drum sounds), but the block waits for a duration in beats, defaulting to zero if no value is set.

It's helpful for us to see that kids may be confused by the timing behavior. We're co

[2017-08-10 22:45] samelhusseini commented on #879
We took a brief look into the "spurious rerendering of fields". It looks like field::init, the size calculations are causing the field render_ function to be called three times (once in getSize, once in render(), and once because the width is set to zero).

Although, this all looks intentional..

[2017-08-11 12:48] #782 closed, assigned to nobody

[2017-08-13 16:28] SCrolem commented on #1013
thanks, and sorry taking so much time to answer it. I just wanted to know
if it was prepared to easly put one other img with the same dimensions ,
making that way 1 block with 2 imgs one only img and the other one with a
dropdown menu. The objective was to get 1 img static and the other one
changing with what was selected on the dropdown, In xml the objective was
to have the array arg0 for img 1 a

[2017-08-14 21:10] paulkaplan commented on #458
@carljbowman

bump

[2017-08-14 21:25] ericrosenbaum commented on #1013
In case you haven't looked at it, the "horizontal playground" example includes blocks that have an image on the block, and a dropdown menu. One of these is the "broadcast" block, which has a menu that lets you select a colored envelope. When you select one, the image on the block changes to that color. I guess this is similar to but not exactly the same as what you would like to do. I hope you can

[2017-08-14 21:25] #1013 closed, assigned to ericrosenbaum

[2017-08-15 00:47] CatsAreFluffy commented on #262
Why is Operators a stamp?

[2017-08-15 13:21] carljbowman commented on #262
@CatsAreFluffy - I should have clarified. Those icons were placeholders and the exact icons should not be taken literally. While sketching I used random icons just to get a sense of if the icons created a overwhelming visual complexity. That way I did not have to think about the specific iconography and could sketch quickly.

[2017-08-15 13:52] carljbowman commented on #458
@paulkaplan - Here is the arrow icon: [arrow.svg.zip](https://github.com/LLK/scratch-blocks/files/1225212/arrow.svg.zip)

[2017-08-17 03:17] youngonlyforyou opened #1049 "how i can change the all the block 's language to other language ? Team should give many plan"
how i can change the all the block 's language to other language ? Team should give many plan

[2017-08-17 04:07] DIYOSEPP commented on #1043
duplicateAndDrag violates the Gesture mechanism
whatever
This modification keeps the system working
https://github.com/DIYOSEPP/oseppBlock/commit/c5a567c182f749a702f08fa981174dc018db7a82

[2017-08-17 06:34] thisandagain commented on #1049
https://github.com/LLK/scratch-www/issues/1467

[2017-08-17 06:34] #1049 closed, assigned to nobody

[2017-08-17 15:51] #458 closed, assigned to paulkaplan

[2017-08-18 17:44] rachel-fenichel commented on #937
The root cause is:
[code]
(from Blockly.BlockSvg.prototype.bringToFront)

We're never explicitly calling bringToFront during a drag, but adding at the top level of the workspace effectively brings it to the front, while adding a block connected to another one doesn't bring it to the front.

The solution is to find the top block in the stack and bring it to the front.
Calling bringToFront on the dr

[2017-08-21 14:59] #1041 closed, assigned to ericrosenbaum

[2017-08-22 17:38] Saskitan commented on #1032
perhaps you could put symbals for each category

[2017-08-23 00:11] Kenny2github commented on #1032
@Saskitan that’s a good idea, actually, but the main problem is the color of the blocks when they’re in use - motion, looks and sound blocks, if stacked on top of each other, have no difference between them; same goes for control and events for 3.0

[2017-08-23 04:52] mrjacobbloom commented on #1032
#1051 talks about using icons in blocks to differentiate extensions--maybe that could apply to the default categories as well?

[2017-08-23 12:12] paulkaplan opened #1053 "Time for an upstream merge!"
There are some performance improvements sitting upstream that we want, so time for a merge! @picklesrus pointed out a couple commits to be careful about because they involve field refactoring: https://github.com/google/blockly/pull/1284 & https://github.com/google/blockly/pull/1285

[2017-08-23 12:25] #956 closed, assigned to marisaleung

[2017-08-23 13:25] thisandagain commented on #921
Resolved in https://github.com/LLK/scratch-blocks/pull/1018

[2017-08-23 13:25] #921 closed, assigned to nobody

[2017-08-23 14:17] carljbowman commented on #530
Here is a more robust spec for the generic menu, which includes the separator
![r1_generic-menu](https://user-images.githubusercontent.com/3409578/29620459-f3ea4426-87eb-11e7-9b40-3cfc135f9dad.png)

Menus in general have some addtional horizontal padding as a result of using the generic Horizontal menu as a basis. We should consider removing that from the generic Vertical menu and add it back as n

[2017-08-23 19:02] CatsAreFluffy commented on #573
RIP fun times

On Tue, Feb 28, 2017 at 3:20 PM, Rachel Fenichel <notifications@github.com>
wrote:

[2017-08-23 20:55] thisandagain commented on #825
Related to: https://github.com/google/blockly/pull/1230

[2017-08-24 03:46] towerofnix commented on #828
Merged PR #1001 resolves this issue. Should this be closed?

[2017-08-24 14:57] rschamp commented on #828
Yep, thanks @towerofnix!

[2017-08-24 14:57] #828 closed, assigned to rachel-fenichel

[2017-08-24 15:51] chrisgarrity commented on #943
Moved to LLK/observations#29

[2017-08-24 15:51] #943 closed, assigned to nobody

[2017-08-24 15:53] chrisgarrity commented on #400
Moved to LLK/observations#34

[2017-08-24 15:53] #400 closed, assigned to nobody

[2017-08-24 21:44] ericrosenbaum opened #1054 "Text and input fields are offset on Edge & IE11"
### Expected Behavior

Text and input fields on blocks should look the same across browsers.

### Actual Behavior

On Windows Edge, text on the blocks is slightly offset. This looks like several closely related text layout bugs:

- Text in labels and input fields is slightly too high
- On some blocks (such as 'move') the first label starts too far to the left
- On other blocks (such as 'point in d

[2017-08-28 12:23] #1038 closed, assigned to nobody

[2017-08-28 17:53] paulkaplan opened #1057 "Eyedropper callback hooks for color editor"
We want to create a way to add an external "eyedropper" tool for the color picker. For Scratch 3, the use-case would be to add a way to pick colors from the stage. I imagine what we need is to define a callback, like `Blockly.activateEyedropper`, that is `null` in scratch-blocks but could be defined as a function externally. Then in the `field_colour#showEditor` function, we could check if `activa

[2017-08-28 17:54] paulkaplan commented on #460
So let's use this issue just to track the actual color editor, the eyedropper part of this will be handled by the GUI. We'll need hooks to activate it from scratch-blocks, but I'm tracking that here: https://github.com/LLK/scratch-blocks/issues/1057

[2017-08-28 18:54] #1039 closed, assigned to ericrosenbaum

[2017-08-28 18:59] ericrosenbaum opened #1058 "Can't scroll vertical category menu on touch devices"
### Expected Behavior

The vertical category menu itself should be scrollable when it extends below the screen (i.e. when the screen is short or the list of categories is long).

### Actual Behavior

On iOS and Android, the vertical category menu is not scrollable.

This seems to be because of Blockly.bindEvent (which calls preventDefault on the event) on the categories.

### Steps to Reproduce

L

[2017-08-28 19:32] ericrosenbaum opened #1060 "Flyout buttons and labels not correctly aligned for RTL"
### Expected Behavior

In the right-to-left language layout, elements are generally aligned to the right rather than the left.

### Actual Behavior

Buttons and labels in the flyout are still aligned left. For example, the "create variable" button here should be aligned to the right:

<img width="319" alt="screen shot 2017-08-28 at 3 24 45 pm" src="https://user-images.githubusercontent.com/567844/

[2017-08-28 21:53] rachel-fenichel commented on #1060
Probably also an upstream issue.

[2017-08-28 21:54] rachel-fenichel commented on #1060
https://github.com/google/blockly/issues/1208

[2017-08-28 21:57] rachel-fenichel commented on #1058
Is that the same as https://github.com/google/blockly/issues/1174?

[2017-08-28 23:42] ed-cooper opened #1061 "Vertical category menu order is non-intuitive"
### Current order

- Motion
- Looks
- Sound
- Pen
- Data
- Events
- Control
- Sensing
- Operators

### Proposed new order

- Events
- Control
- Motion
- Looks
- Sound
- Pen
- Sensing
- Operators
- Data

### Justification

Events are logically the first blocks you are going to need - they go at the top every script. Therefore they deserve to be at the top of the palette.
Then, I'd say control shoul

[2017-08-29 01:40] tmickel commented on #1054
partially my fault, although I actually blame it on IE/Edge :)

Their SVG implementation doesn't support `dominant-baseline` (vertical positioning) or `text-anchor` (horizontal positioning) (last I checked). Luckily this is pretty easily fixed - you can calculate where the text is supposed to be in JS and strip out those properties. I had a branch for this a long time ago, but have since lost it.

[2017-08-29 05:24] Kenny2github commented on #1061
The current order seems to be just going down the two previous colums - how about an order going across the rows?
* Motion
* Events
* Looks
* Control
* Pen
* Operators
* Data
* More?

[2017-08-29 12:00] paulkaplan commented on #1058
Yes that is the same. I've marked it as blocked on the upstream issue. Looks like the category menu needs a gesture recognizer? Or just to not preventDefault?

[2017-08-29 21:28] ericrosenbaum opened #1063 "What order should the categories be in?"
Since we switched to the vertical category menu, we now have a new organization for the blocks categories. We should make sure the order of these categories makes sense.

[2017-08-29 21:33] ericrosenbaum commented on #1061
I made a PR for a temporary fix (not the final ordering, just an improvement): https://github.com/LLK/scratch-blocks/pull/1064

We'll track the design discussion in the future here: https://github.com/LLK/scratch-blocks/issues/1063

[2017-08-29 21:33] #1061 closed, assigned to ericrosenbaum

[2017-08-29 21:35] msintov opened #1065 ""Duplicate" option on mobile doesn't work as expected"
### Expected Behavior

On mobile, the "Duplicate" option on a block should result in the block being duplicated and draggable in an intuitive way.

### Actual Behavior

After clicking "Duplicate", a shadow in the shape of a block appears above the workspace but it's not obvious was gesture the user should do next. Clicking certain areas of the screen result in the new block being drawn (like click

[2017-08-29 22:21] picklesrus commented on #887
Another, not fully fleshed out, idea to throw out there:
What if we always kicked the refresh of the toolbox to the end of the frame? Even when we're just creating one variable via the flyout button.  I have some hope (thanks afternoon cup of coffee!) that the model and view might be disconnected enough for this to be a viable option.
If we designed the mechanism right, perhaps we could use it for

[2017-08-30 01:21] picklesrus commented on #879
Minor update

Not calling getComputedTextLength all.the.time. is still the biggest win we can get. Plus it is applicable across almost every block/field.

Despite that, I dove down some other rabbit holes anyway so here are some notes:

I tested out the previously mentioned BBox change with #1059  patched in and it does remove a re-calculate style on every animation frame when choosing a new categ

[2017-08-30 03:42] Kenny2github commented on #1063
I'll re-suggest the order I suggested in #1061:
1. Motion
2. Events
3. Looks
4. Control
5. Sound
6. Pen
7. Sensing
8. Operators
9. Data
10. More Blocks (once it's implemented)

[2017-08-30 08:35] Micircle opened #1066 "Duplicate variable monitors are created when switching to/from the Data category"
![img](https://user-images.githubusercontent.com/13041273/29862962-c48d028a-8da0-11e7-9232-144be9d4c3f2.png)

[2017-08-30 08:44] Kenny2github commented on #1066
I was able to reproduce this:
1. Switch to the Data category.
2. Create a variable
3. Check the box to show it on the Stage.
4. Switch to a different category then switch back.
5. *The checkbox will be unchecked* and if you check it a *second watcher will appear* on the Stage.
6. Repeat 3-5 n times and n copies of the same watcher will show up on the Stage.
Interestingly, if you set the variable's

[2017-08-30 08:49] Kenny2github commented on #1065
Furthermore, on laptops with touchscreens:
1. Press and hold a block in the workspace.
2. Select "Duplicate".
3. Tap anywhere on the screen - the block will go there but *will not be placed* - only a mouse click will place it, *not* a touchscreen tap.
OS&B:
Raspbian Pixel Desktop Chrome 57

[2017-08-30 08:52] Kenny2github commented on #1066
0.0 Furthermore, if you do it enough the monitors *leak outside the stage*??
![what](https://user-images.githubusercontent.com/28599280/29863877-8baaefd8-8da3-11e7-83e4-cc9d85d7fb59.png)
It also seems like creating a variable has the same effect as switching categories - and if you create more than 13-14 variables the watchers leak if you show them all:
![what](https://user-images.githubuserconten

[2017-08-30 14:01] carljbowman commented on #1063
Here is the order that we've been discussing and exploring. We should move forward with this for now, but as we build out Extensions we can continue to iterate.

![desktop - 1280x720](https://user-images.githubusercontent.com/3409578/29875577-7409266e-8d68-11e7-9cb6-826e74ff2259.png)

1. Motion
2. Looks
3. Sounds
4. Events
5. Control
6. Sensing
7. Pen
8. Operators
9. Data
10. More Blocks
11. and u

[2017-08-30 17:26] msintov commented on #1058
@paulkaplan Did you find what the fix to this issue will be? Thank you!

[2017-08-30 18:03] paulkaplan commented on #1058
Not yet unfortunately. I think the answer will be to use a gesture recognizer instead of binding events directly to the categories? Similar to the way the gesture recognizer can tell the difference between mouse down-ing on a block vs. scrolling the flyout?

[2017-08-30 19:46] rachel-fenichel commented on #1065
Laptops with touchscreens and mobile devices are treated the same.

It looks like I missed adding an event listener for touch events when faking a gesture start for duplication.  That's not that surprising, since sticking to the mouse pointer on duplicate breaks the idea that a drag always starts with a mouse down/touch start on a block.

Here's the function that forces a drag to start: https://gi

[2017-08-30 21:08] rschamp commented on #1066
@Kenny2github The monitor overflow issue is being tracked in https://github.com/LLK/scratch-gui/issues/463

[2017-08-30 21:09] rschamp commented on #1066
Moved to LLK/scratch-gui#658

[2017-08-30 21:09] #1066 closed, assigned to nobody

[2017-08-30 21:29] msintov opened #1067 "After autoclosing flyout in vertical grammar, flyout area still is detected as delete area"
### Expected Behavior

After flyout autocloses, the area under the flyout should be a workspace area, not a delete area. That is, dragging a block onto the area where the flyout used to be should not result in the block being deleted. The horizontal workspace scrollbar should stretch to the left all the way to the categories, at least when the flyout is closed.

### Actual Behavior

After autoclos

[2017-08-31 14:09] Kenny2github opened #1068 "() contains () (the operators block) is easily confused with () contains ()? (the list block)"
I was writing the wiki article for the () contains () block and I found that one of the titles I searched for that happened to be the list block, <(list) contains (thing)?>.

So I'm worried that users might confuse () contains () with () contains ()?.

[2017-08-31 14:20] towerofnix commented on #1068
Slightly relatedly, I imagine `() contains ()` should actually be `() contains () ?`; most boolean blocks that read with literal english words (e.g. "is touching [sprite] ?") end with a question mark.

Also, this issue is definitely comparable with the two "length of" blocks; one for lists, one for strings.

[2017-09-01 05:52] Kenny2github commented on #1068
@towerofnix actually all the Operators boolean blocks don't have a question mark, e.g. `() = ()`.

I didn't think of the two length blocks, but yes, they could easily be confused too.

[2017-09-01 15:56] ericrosenbaum opened #1069 "Update blocks menu contents without re-rendering the whole thing"
### Expected Behavior

We should be able to change the set of blocks in the flyout (containing all of the blocks - PR [here](https://github.com/LLK/scratch-blocks/pull/1059)) without re-rendering the entire flyout (otherwise, the update will be very slow). The cases include:

- Switching to or from the stage (which excludes some blocks, and adds others)
- Creating a variable
- Switching sprites, t

[2017-09-01 16:28] towerofnix commented on #1069
Would keeping track of the scroll offset past the selected category work better? That way if you're scrolled part way down a long category (e.g. Control, or an extension with many blocks), you'll still be scrolled the same distance down it.

[2017-09-01 18:33] ericrosenbaum opened #1070 "Update category menu selection when dragging flyout or scrollbar"
### Expected Behavior

In the auto-scrolling flyout with all the blocks ([PR](https://github.com/LLK/scratch-blocks/pull/1059)), the selected category should update when you scroll the flyout in any way.

### Actual Behavior

Currently, the category selection is only updated on a "wheel" scroll event (via mouse wheel or trackpad scrolling gesture). It does not update when you scroll it by dragging

[2017-09-01 18:38] ericrosenbaum opened #1071 "Add a separator line below the category label in the flyout?"
Should we add a thin gray separator line below each category name label in the flyout?

[2017-09-01 22:33] Saskitan commented on #1032
perhaps you could put symbals for each category on the blocks

[2017-09-01 22:33] Saskitan commented on #1032
not just the category windows

[2017-09-01 23:19] picklesrus commented on #879
FYI: the flyout bbox thing isn't quite as easy as the afternoon PR I hoped it would be, but it is still pretty straightforward.  Filed https://github.com/google/blockly/issues/1303 upstream to track progress.

[2017-09-03 13:23] joseeph opened #1072 "text field in blocks just don't update after typed in a new number in example(need vm?)"
Hi everyone,

I very new to blocky&scratch blocks's development, so if I said something silly, you guys could just ignore it.

I just compiled and running example('horizontal_playground.html'), anything is fine except for some blocks which got a text input field, it just don't update after typed in a new number.

This doesn't happen in pure blockly, do I need to include the 'VM' module?

best,
Jos

[2017-09-03 22:43] thisandagain commented on #1065
/cc @paulkaplan @rschamp

[2017-09-03 22:44] thisandagain commented on #1072
Hi @joseeph I think this may be a bug with inputs in the horizontal grammar.

/cc @paulkaplan @rachel-fenichel @rschamp

[2017-09-04 06:56] joseeph commented on #1072
Hi @thisandagain, thank you for helping, if there is anything I could help, could you give me more details about how to fix it, I would like to share my effort. :p

[2017-09-05 10:27] kyleplo commented on #1040
I think this would be annoying and hard for new scratchers to use. See https://scratch.mit.edu/projects/172320061/

[2017-09-05 16:47] thisandagain opened #1073 "Moving into "Create Variable" button a certain way makes it unclickable"
### Expected Behavior

When you place your mouse pointer outside the "Create Variable" button, just below the right padding, and quickly move it into the button, into the right padding, then the cursor should become "pointer" and the button should be clickable

### Actual Behavior

The button isn't clickable and the pointer remains on the default. It only switches cursor and becomes clickable when

[2017-09-06 02:14] joseeph commented on #1009
indeed facing the same issue, couldn't get the compressed library build, even though vpn is on

[2017-09-06 08:17] joseeph commented on #846
@zhlella I still getting "null" by implementing "getFieldValue" method, could you show your code in detail so I could reference it, thank you :P

[2017-09-06 14:09] Kenny2github opened #1074 "Suggestion: Merge comparison booleans into a single dropdown-ed block"
[^^](https://scratch.mit.edu/discuss/post/2815060/) i.e. from
[code]
to
[code]
If concerned about backwards compatibility, the current blocks would be converted into their corresponding dropdown-ed state:
[code]
I don't really know how difficult this might be, but if it can be done, I believe it might be worth doing.

(this would also enable ≥ and ≤ - it would just be added to the dropdown and han

[2017-09-06 14:45] paulkaplan commented on #1004
@rachel-fenichel   @picklesrus should I submit a PR for just starting the cache and leaving it open? I was going to do it in `inject` with a comment about why?

[2017-09-06 21:56] kyleplo commented on #1023
Use `html, body {overflow: hidden}`

[2017-09-07 01:45] towerofnix commented on #1023
@kyleplo That would just be obscuring the problem, not solving it. And then it would be impossible to scroll on pages where Scratch 3.0 is embedded (e.g. microworlds).

[2017-09-07 06:46] mrjacobbloom commented on #1074
If nothing else, implement the special context menus on these kinds of blocks (which I use all the time) -- it might just be a matter of making those context menu options more discoverable

[2017-09-07 14:44] weishiji opened #1076 "watch file changed and execute build.py"
How can execute `python build.py` when the javascript file in blocks_vertical folder changed

[2017-09-07 14:58] fsih commented on #1076
There's no script to automate it currently. You have to run `npm run prepublish` after every change.

[2017-09-07 21:04] ericrosenbaum opened #1077 "In RTL, flyout labels and buttons should be right-aligned"
### Expected Behavior

In the right-to-left (RTL) language layout, the labels and buttons in the flyout should be right aligned, so that they mirror the style of the LTR flyout.

### Actual Behavior

They remain left-aligned:

<img width="311" alt="screen shot 2017-09-07 at 5 00 49 pm" src="https://user-images.githubusercontent.com/567844/30185107-27cf827a-93ee-11e7-8d4a-40cefacae297.png">

### St

[2017-09-07 21:12] ericrosenbaum opened #1078 "Category menu in horizontal mode in RTL should be in reverse order and right-aligned"
### Expected Behavior

In right-to-left (RTL) layout, the horizontal category menu should show the categories in reverse order, and right-aligned.

### Actual Behavior

The category menu stays the same as in LTR mode.

### Steps to Reproduce

Vist the [blocks playground](http://llk.github.io/scratch-blocks/playgrounds/tests/vertical_playground.html?dir=rtl&toolbox=categories&side=top) in horizonta

[2017-09-07 21:18] ericrosenbaum opened #1079 "Category menu in horizontal mode should not wrap onto multiple lines"
### Expected Behavior

If the category menu is too long to display, it should become scrollable (related [issue](https://github.com/LLK/scratch-blocks/issues/1058)).

### Actual Behavior

The category menu in horizontal mode wraps onto multiple lines:

<img width="270" alt="screen shot 2017-09-07 at 5 16 28 pm" src="https://user-images.githubusercontent.com/567844/30185630-51c911fc-93f0-11e7-91b5-

[2017-09-07 21:37] ericrosenbaum opened #1080 "In RTL In horizontal mode, category flyout scroll positions should be right aligned"
### Expected Behavior

The category scroll positions are the top left corner of each category label inside the flyout. They're used to auto-scroll the flyout when you select a category by clicking on it in the category menu. They're also used to auto-select that category when you manually scroll the flyout (in [this PR](https://github.com/LLK/scratch-blocks/pull/1059)).

These positions need to be

[2017-09-08 03:40] weishiji commented on #1076
but when i Frequently execute this command ,the server side tell me Compile failed

[2017-09-08 09:59] gengshenghong opened #1082 "inconsistent media path slash across the code"
### Expected Behavior

All 'src' media path should just be consistent.

### Actual Behavior

inconsistent in current code

### Steps to Reproduce

Open source code "blocks_vertical/control.js" and "blocks_vertical/motion.js" and check below code:
[code]

[code]

Regarding the "src" option, one is using slash while one is not. There are lots of other places which are not consistent. This do work as

[2017-09-08 10:58] gengshenghong commented on #1082
I've checked and only 3 places (for the same image repeat.svg) are inconsistent in control.js. Submitted the PR for your reference.

Thanks,
Shenghong

[2017-09-10 01:50] agurtovoy opened #1084 "Horizontal Grammar status/roadmap?"
Hi!

Could someone please share/clarify the status of the horizontal grammar? I *think* I saw somewhere that it's currently on hold, but I might be imagining it. If it's still on the roadmap, is there interest in accepting (significant) external contributions on this? TIA!

[2017-09-10 14:14] smaameri opened #1085 "No Generators for Blocks"
Is there a reasons there are no generators for the different blocks that have been built?

As in for all the different block types there are no generators, so for example in the verital_playground.html, if you want to convert the blocks to Javascript, you get the error:

`goog.asserts.AssertionError {message: "Assertion failed: Language "JavaScript" does not k…to generate code for block type "cont

[2017-09-10 15:42] thisandagain commented on #1085
Scratch does not use generators but rather an interpreter called 'scratch-vm' to execute blocks which has many advantages. I recommend you take a look at the VM codebase here:
https://github.com/llk/scratch-vm

Generators are still supported, but you would need to implement them yourself.

[2017-09-10 15:42] #1085 closed, assigned to nobody

[2017-09-10 15:47] thisandagain commented on #1084
Hello! We are very much still interested in and supporting the horizontal grammar, but have been focusing on the vertical grammar for a little while as we prepare to release Scratch 3.0. That said, many organizations such as Anki and Google have shipped products with the horizontal grammar. The Scratch team will be focusing on the horizontal grammar again later next year.

We are always happy to a

[2017-09-10 15:47] #1084 closed, assigned to thisandagain

[2017-09-10 20:19] agurtovoy commented on #1084
Hi Andrew! Thanks for the quick response. I'm considering a Scratch Blocks-based group project for my 4-year CS students and was thinking about making the horizontal grammar a part of the requirements.

I'm still mulling this over and even if I go in this direction, it's a big question whether the outcome of our experiment would be worth anything to you guys, but I at least wanted to make sure tha

[2017-09-10 23:25] thisandagain commented on #1084
That's great! Please keep us in the loop. 😄

[2017-09-10 23:32] thisandagain commented on #1076
@weishiji Unfortunately the Closure Compiler that is hosted by Google is rate limited. Sorry about that. We are hoping to swap out the build system with something that does not require a network connection in the future.

[2017-09-10 23:33] #1076 closed, assigned to nobody

[2017-09-11 12:53] smaameri opened #1086 "How to get block input_value's for generators"
How can we access the blocks input values in a generator?

Here is the Motion - Move Steps block definition:

`Blockly.Blocks['motion_movesteps'] = {
  init: function() {
    this.jsonInit({
      "message0": "move %1 steps",
      "args0": [
        {
          "type": "input_value",
          "name": "STEPS"
        }
      ],
      "category": Blockly.Categories.motion,
      "extensions": ["co

[2017-09-11 13:18] smaameri commented on #1086
Sorry, have solved this.

Was using getFieldValue instead of valueToCode.

Changing to valueToCode in the  generator has solved the problem. Final line to get input value looks like:

`  var duration = Blockly.Python.valueToCode(block, 'STEPS', Blockly.JavaScript.ORDER_ATOMIC) || '0'
`

[2017-09-11 13:18] #1086 closed, assigned to nobody

[2017-09-11 13:57] smaameri commented on #1072
Hello,

Experiencing this problem also. Happens in the horizontal playground. If you update an input, and remove focus from it, the input goes back to the original value. But then if you focus on it again, it shows you the value you put in.

Also if you generate the XML for the block, the input value in the XML shows the actual value that you have entered, not the original which is still being sho

[2017-09-11 18:12] rachel-fenichel commented on #1073
Possible dupe of https://github.com/LLK/scratch-blocks/issues/941

[2017-09-11 18:18] rachel-fenichel commented on #1004
Sure, go for it.  As I said above, I expect that something will break but don't know what.  I've asked around and we don't know what problems aggressive caching has caused in the past.

[2017-09-11 19:52] rachel-fenichel commented on #1077
Is this an upstream issue?

[2017-09-11 23:15] Kenny2github commented on #1073
@rachel-fenichel yeah, I’m pretty sure this is a duplicate.

[2017-09-12 01:55] joseeph commented on #1086
Hi @smaameri, did you implement shadow blocks in your app?  could you please share your xml configuration to me, I've been stuck in this issue for quite a while, thank you.

[2017-09-12 01:59] joseeph commented on #1072
@smaameri once you changed the input value, could you get the updated value with generator?

[2017-09-12 06:19] smaameri commented on #1072
@joseeph yes the new input value is loaded in the generator

[2017-09-12 06:27] joseeph commented on #1072
@smaameri I couldn't get value from the generator, it shows error on the console, could you help to solve it? you could give more detail of how to implement generator under [#1086](https://github.com/LLK/scratch-blocks/issues/1086)

[2017-09-12 06:28] smaameri commented on #1086
@joseeph not sure what you mean by implementing shadow blocks. The shodow tags are automatically generated for certain blocks. Here is the XML for the Motion - Move Steps block, with an input value of 5.

`<xml xmlns="http://www.w3.org/1999/xhtml">
  <variables></variables>
  <block type="motion_movesteps" id=";+k0SY_Vj-joLAFff4" x="235" y="203">
    <value name="STEPS">
      <shadow type="math_n

[2017-09-12 06:36] joseeph commented on #1086
@smaameri sorry, I'm still couldn't understand quite well.
a block in scratch's configuration looks like this
[code]
should I just go like this?

`Blockly.Python['control_repeat'] = function(block) { var duration = Blockly.Python.valueToCode(block, 'TIMES', Blockly.JavaScript.ORDER_ATOMIC) || '0' return duration + '\n'; };`

[2017-09-12 06:47] smaameri commented on #1086
No, the control repeat is a statementToCode type, and needs a [different kind of generator](https://developers.google.com/blockly/guides/create-custom-blocks/generating-code), which is already written in the [blockly source](https://github.com/google/blockly/blob/master/generators/python/loops.js) code.

If you are not so familiar with that I suggest going through the entire [blockly guide](https:

[2017-09-13 02:26] joseeph commented on #1086
@smaameri thank you so much for detailed explanation, in my case I just wanna define a common block with a text input field in horizontal mode, then get the input value.

[2017-09-13 03:47] joseeph commented on #1085
@smaameri could you teach me how you solve this issue, I'm facing the same issue.

[2017-09-13 08:29] joseeph commented on #1072
@smaameri try this, see how magic happen.  seems like this issue has been solved [#826](https://github.com/LLK/scratch-blocks/issues/826)

[2017-09-13 08:30] #1072 closed, assigned to nobody

[2017-09-13 17:47] ttseng opened #1088 "Scripting Area + Blocks Palette overlapping on window resize"
![resize_browser](https://user-images.githubusercontent.com/519336/30392196-f0c7263e-9870-11e7-8634-239aaae54a9b.gif)

### Expected Behavior

Expect the scripting area bounding area to resize based on browser window resize

### Actual Behavior

The scripting area starts to overflow into the blocks palette on window resize.

### Steps to Reproduce

Resize browser window and scroll the scripting are

[2017-09-13 22:58] rachel-fenichel commented on #905
Fixed by https://github.com/LLK/scratch-blocks/pull/1056

[2017-09-13 22:58] #905 closed, assigned to rachel-fenichel

[2017-09-13 23:01] rachel-fenichel commented on #1067
@ericrosenbaum Does the new flyout still support auto-closing?  I saw that you set it to false by default.

[2017-09-13 23:10] rachel-fenichel commented on #1065
Actually, per https://github.com/LLK/scratch-blocks/issues/828, it looks like the plan was to not have a context menu on touch screens.  @thisandagain is that still the plan?

[2017-09-13 23:36] rachel-fenichel commented on #1009
You can also use the offline closure compiler if you're frequently rebuilding.

[2017-09-13 23:37] rachel-fenichel commented on #1058
What's the plan for making it clear that the category menu is scrollable, now that it's much more likely to exceed the screen height?

![image](https://user-images.githubusercontent.com/13686399/30405619-c4171384-98a1-11e7-82b1-9dc9be325e46.png)

This is what I see on Chrome (when I made the window small for debugging).

[2017-09-14 00:01] rachel-fenichel opened #1089 "Dragging duplicated blocks onto the vertical category menu breaks dragging"
### Expected Behavior

Dragging a duplicated block over the category menu and clicking should delete the block and not select the category.

### Actual Behavior

The block is not deleted and the category menu changes.  The Gesture is left in a bad state.

After that, clicking on the workspace drops the block on the workspace.  I can't start new Gestures.

![87358817-f4ea-464b-9917-5113b80fcf5c](ht

[2017-09-14 05:00] gengshenghong commented on #1082
I'll close it as it is already fixed by my PR (which is approved and merged).

[2017-09-14 05:00] #1082 closed, assigned to nobody

[2017-09-14 18:09] rachel-fenichel commented on #1043
Fixed by #1090

[2017-09-14 18:22] #1043 closed, assigned to paulkaplan, rachel-fenichel

[2017-09-14 19:24] ericrosenbaum commented on #1070
Any pointers on this one @picklesrus or @rachel-fenichel?

[2017-09-14 23:28] rachel-fenichel commented on #1070
Flyout's `setMetrics` is called when it's being scrolled ([vertical](https://github.com/LLK/scratch-blocks/blob/develop/core/flyout_vertical.js#L228) and [horizontal](https://github.com/LLK/scratch-blocks/blob/develop/core/flyout_horizontal.js#L123)).

That's because scrollbar's `set` calls `onScroll_`, which calls `setMetrics` on the relevant workspace:

[code]

`wheel_` also calls `scrollbar.set

[2017-09-18 17:51] #1057 closed, assigned to paulkaplan

[2017-09-19 01:24] samelhusseini commented on #1054
As @tmickel mentioned the positioning of the text being off is due to the use of text-anchor and dominant-baseline, which aren't supported on <= Edge 14. Although it is supported on IE 11..

The other issue you see here is the mid-drag rendering issue. The reason you're seeing this is because Blockly does re-renders only for Edge and IE to get around an issue with getComputedTextLength. (outlined

[2017-09-19 13:52] paulkaplan commented on #1058
@carljbowman ^

[2017-09-19 17:05] rachel-fenichel commented on #1058
I've just fixed the upstream issue.  It should be a similar fix here, though the scratch-style toolbox isn't built on the closure tree.

[2017-09-19 20:49] rachel-fenichel commented on #1009
Instructions for using the offline compiler are now live: https://developers.google.com/blockly/guides/modify/web/advanced

[2017-09-20 19:31] thisandagain opened #1091 "Changes to pen color command blocks"
With the new color picker we would like to modify the pen command blocks to collapse the color controls into two new blocks that include "hue", "saturation", "brightness", and "transparency":

![image](https://user-images.githubusercontent.com/747641/30663344-57a1a90e-9e18-11e7-91d8-70f6ee0eb1d0.png)

[2017-09-21 21:10] rachel-fenichel commented on #1088
Not a bug.  The blocks in the workspace go under the palette as you scroll.  It's part of having an infinite workspace.

Let `w` be the width of the visible workspace.
Let `boundingBox` be the bounding box of the blocks currently on the workspace.

You can always scroll to `boundingBox.left - w/2` and `boundingBox.right + w/2`.

Similarly, you can scroll up an extra .5 * screen height above the hi

[2017-09-21 21:10] #1088 closed, assigned to paulkaplan

[2017-09-21 21:32] #795 closed, assigned to nobody

[2017-09-22 01:38] maxiostro commented on #1040
Perfect!

[2017-09-22 11:32] towerofnix commented on #811
Looks like this is fixed, now?

![Screenshot of "start sound" block in "Guitar-Bass" sprite](https://user-images.githubusercontent.com/9948030/30742639-5f44982a-9f70-11e7-80b7-dfb6c759de36.png)

I'm using Firefox 52.3.0 (on Debian Testing).

Still maybe worth it to bring up this (from top post), though:

[2017-09-22 18:02] rachel-fenichel opened #1092 "Duplicate-on-drag for custom procedure arguments"
### Expected Behavior
![39e68b4f-03bb-4395-a5a3-fa763ab5bf86](https://user-images.githubusercontent.com/13686399/30757933-416f1a22-9f85-11e7-9ee8-b33a05f661f2.gif)

### Actual Behavior

Not yet implemented

### Steps to Reproduce

Create a custom block with arguments.  Drag one of the inputs out of the custom block definition.

### Operating System and Browser
Any

[2017-09-22 19:14] ericrosenbaum commented on #811
Thanks @towerofnix- it does seem to be fixed. Looks like we will not need the Prefix/Suffix Matching feature.

[2017-09-22 19:14] #811 closed, assigned to nobody

[2017-09-22 23:29] rachel-fenichel commented on #1023
Fixed upstream.

[2017-09-25 06:27] Kenny2github opened #1094 "Suggestion from community: A "(string) is exactly (string)" block"
### The Block
[code]
An operators block, equivalent for the `<[] = []>` block, but it does case-sensitive comparisons and only string comparison - i.e. 01 is different from 1.
### Example Results
(asdf) is exactly (ASDF): false
(asdf) is exactly (asdf): true
(01) is exactly (1): false
(1) is exactly (1): true
(I) is exactly (l): false
### The Post
https://scratch.mit.edu/discuss/topic/126276/

[2017-09-25 16:25] #460 closed, assigned to paulkaplan, carljbowman

[2017-09-25 21:53] rachel-fenichel opened #1095 "Support `flipRtl` as well as `flip_rtl` in block json"
Scratch-blocks has `flip_rtl` as an option on image fields.

Blockly will be supporting this option but it will be named `flipRtl` to keep consistency with other JSON properties: https://github.com/google/blockly/issues/1339

Scratch-blocks should check the block definition for `flip_rtl` and `flipRtl`, to keep compatibility with current projects while using camelcase going forward.

[2017-09-26 17:17] #418 closed, assigned to nobody

[2017-09-26 17:48] #988 closed, assigned to chrisgarrity

[2017-09-26 18:52] msucharski opened #1097 "Blockly.FieldNumber constructor ignores 'opt_max'"
### Expected Behavior

When this constructor is called:
Blockly.FieldNumber = function(opt_value, opt_min, opt_max, opt_precision, opt_validator)
the opt_max should actually restrict the values entered into the FieldNumber input.

### Actual Behavior

opt_max is totally ignored

### Steps to Reproduce

Define a block with arguments such as:
"args0": [
        {
          "type": "field_number",

[2017-09-27 13:36] Kenny2github opened #1099 ""Point in direction" and "Point towards" don't have enough left padding"
### Expected Behavior

`point in direction (num)` and `point towards [dropdown]` should have the same amount of padding as other blocks.

### Actual Behavior

They both don't have enough left padding:
![padding](https://user-images.githubusercontent.com/28599280/30916260-9226a918-a3cb-11e7-827b-b017bc2bd047.png)

### Steps to Reproduce

1. Open https://llk.github.io/scratch-gui/develop
2. Drag out

[2017-09-27 17:59] rachel-fenichel opened #1100 "Text fields that are part of a statement input are placed too high"
### Expected Behavior

In the Blockly screenshot below, the "do" text is vertically centered within the statement input row, if the statement input is empty (left).  If the statement input has blocks attached (right) the "do" text stays where it was in the empty case.

![image](https://user-images.githubusercontent.com/13686399/30928972-f3fe49f2-a371-11e7-8c91-503d239e65c8.png)

### Actual Behavio

[2017-09-27 20:37] rachel-fenichel commented on #1100
To fix we can update `Blockly.BlockSvg.prototype.renderDrawRight_`:

[code]

Now it looks reasonable if there are no blocks in the input:

![image](https://user-images.githubusercontent.com/13686399/30934918-f0e697d0-a383-11e7-962b-c3ffbd5d03e2.png)

But if there are blocks there, it's a little bit high:
![image](https://user-images.githubusercontent.com/13686399/30935014-3635bb86-a384-11e7-9e89-0

[2017-09-27 22:02] RoboErikG opened #1101 "Horizontal block inputs are centered instead of aligned with icons"
### Expected Behavior

From [the spec](https://github.com/LLK/scratch-blocks/wiki/Design) it looks like the icon and dropdown should be 4 units (16 pixels) from the left edge and 2 units (8 pixels) from the right edge of the block. The spec doesn't give the dropdown position explicitly, so Carl will need to confirm.

### Actual Behavior

Currently, the dropdown/input is centered with 3 units on ei

[2017-10-02 15:35] rschamp opened #1102 "Implement "Define" blocks"
The Define block should look like this:
![image](https://user-images.githubusercontent.com/1512021/31085338-d3a1cfb6-a764-11e7-94b0-d38abfa8852d.png)

Behavior reference from Scratch 2.0 procedures (unless otherwise noted, 3.0 behavior should match 2.0):

Procedure with no arguments:
![image](https://user-images.githubusercontent.com/1512021/31085418-0be8a5ca-a765-11e7-8582-06d02fff0609.png)

Proc

[2017-10-02 16:26] rschamp opened #1103 "Custom fields for use within custom procedure definition workspace"
Within the custom procedure definition workspace, we will need a couple of new fields to support the behavior below.

## Field label field
![image](https://user-images.githubusercontent.com/1512021/31087750-3681adde-a76c-11e7-8e82-1b7aed7c6407.png)

## Boolean input field
![image](https://user-images.githubusercontent.com/1512021/31087770-4dac40f0-a76c-11e7-9ad1-b117e839beb2.png)

## Text input fi

[2017-10-02 16:27] rschamp opened #1104 "Single block workspace mode"
This is needed for the custom procedure definition modal

If possible already through existing configuration please close with explanation of how to accomplish.

* Right clicking on the block in this workspace does nothing
* Horizontal scrolling only
* Single editable block on workspace
* Allow exporting the block definition
* Allow re-rendering based on a new block definition

The single block mo

[2017-10-02 16:49] rachel-fenichel commented on #1104
Just don't provide any ways to create new blocks (no toolbox or flyout).
You may also need to ignore keyboard copy/paste.
You probably also want to make the root block immovable and undeletable.

If defining your blocks with JSON, use:
  "enableContextMenu": false
Example: [text_create_join_item](https://github.com/google/blockly/blob/master/blocks/text.js#L92) block.

If defining it with JavaScri

[2017-10-02 18:30] rachel-fenichel commented on #1102
The "define" text is vertically aligned with the text and fields on the inner block, correct?

Are there types of inner blocks that would be taller than the one rendered above?

[2017-10-03 12:51] towerofnix commented on #1103
Probably related - should these fields be draggable/reorderable, somehow? Reordering inputs and labels in a custom block definition is a bit of a pain right now. (For example, if you want to add a label or input at some spot in the block, you have to delete all labels and inputs positioned after the place you want the new one to be.)

[2017-10-03 13:03] towerofnix commented on #1103
Also, I believe it makes sense for there to be a way to add default values to inputs. Such default values would show up in the block palette.

Default values for custom block arguments is already a feature in Scratch 2.0, but there's no UI in the editor for it.

Since having default values is *very* useful for documentation, I think that there should be a way to add them into user-defined custom b

[2017-10-03 13:36] carljbowman commented on #1101
@RoboErikG - Always good to check on this stuff. It looks like the input is rendering correctly in that screenshot.

We chose to optically align some of the elements within the horizontal grammar. Icon is offset slightly (optically aligned) to allow the notches to stand out and the icon to have some space allowing the eye to parse it.

The input is aligned with the block rather than the icon. We d

[2017-10-03 14:43] sbgp-review commented on #1101
Thanks for the clarification, Carl. Could you add that image to the design
page so it's easy to find?

https://github.com/LLK/scratch-blocks/wiki/Design

On Oct 3, 2017 6:36 AM, "carljbowman" <notifications@github.com> wrote:

[2017-10-04 12:37] thisandagain commented on #1099
This appears to be specific to Chromium 57 or Raspbian. Cannot reproduce in Chrome on MacOS or Windows.

[2017-10-04 16:09] rachel-fenichel commented on #1099
It also could be related to the font that is in use.

I've been looking at rendering code recently and I really don't know where this problem could have come from, but I'll keep an eye out for it.

[2017-10-04 22:00] rachel-fenichel opened #1110 "Implement argument reporters for custom block definition"
![image](https://user-images.githubusercontent.com/13686399/31201410-70729c80-a913-11e7-8251-bbc45eb7a9ed.png)

"number1", "string1", and "boolean1" above, in Scratch 2.0

Scratch 3.0 define block example has "x" as an argument reporter:
![image](https://user-images.githubusercontent.com/13686399/31201463-9c423370-a913-11e7-9f98-959a2745f355.png)

With the current implementation of the define bloc

[2017-10-04 22:10] rachel-fenichel commented on #1110
Actually, we get this for free by having them as shadow blocks inside other shadow blocks.  It's not possible to replace them with non-shadow blocks, because shadow blocks cannot have normal blocks as children.

[2017-10-05 00:45] rachel-fenichel opened #1111 "Shadow blocks with only labels are too small"
### Expected Behavior
The first boolean1 block should be the same height as the second boolean1 block:
![image](https://user-images.githubusercontent.com/13686399/31206222-49471cfe-a92b-11e7-8064-eeee410a0e76.png)

Same for these two string1 blocks:
![image](https://user-images.githubusercontent.com/13686399/31206275-ab5624ee-a92b-11e7-8135-7915287bcaa2.png)

### Actual Behavior

The first block i

[2017-10-05 07:55] Kenny2github commented on #1099
@thisandagain yes, I can't reproduce on Chrome 61 on Windows.
@rachel-fenichel that's probably it - Raspbian has severely limited fonts.

[2017-10-05 17:46] rachel-fenichel commented on #1099
@Kenny2github if you want to keep trying to repro you could figure out what font it's using on Raspbian, then force the Chrome on windows version to use that specific font and see what happens.

[2017-10-05 19:53] #1070 closed, assigned to ericrosenbaum

[2017-10-06 10:52] Kenny2github commented on #1099
@rachel-fenichel Hm, it seems like it doesn't have to do with the Raspbian font - it uses [the Ubuntu font](http://font.ubuntu.com/) and forcing that font with Inspect Element doesn't seem to have this effect:
![image](https://user-images.githubusercontent.com/28599280/31274835-48158e40-aac7-11e7-9107-0ec228f35fa8.png)
It might specifically be an issue with Chromium vs Chrome; or maybe Chrome/Chro

[2017-10-06 15:22] ericrosenbaum commented on #1040
Closing this because the changes were merged and the performance-related issues are tracked in https://github.com/LLK/scratch-blocks/issues/1069

[2017-10-06 15:22] #1040 closed, assigned to ericrosenbaum

[2017-10-06 15:41] ericrosenbaum opened #1116 "Auto-scroll category menu to prevent selected category from being hidden"
### Expected Behavior

When the category menu is long enough to extend beyond the view, it should automatically scroll itself to make sure the currently selected category is visible. This should occur anytime the blocks flyout scrolls or auto-scrolls, including wheel/drag/scrollbar events, clicking a category menu button (such as one that is part-way off screen), or when an extension category is a

[2017-10-06 17:49] #1092 closed, assigned to rachel-fenichel

[2017-10-06 21:04] rachel-fenichel opened #1118 "Context menu for define blocks"
This is necessary for https://github.com/LLK/scratch-blocks/issues/1102

The context menu for the `define` block and the internally rendered custom command block has the following options:

![image](https://user-images.githubusercontent.com/13686399/31298505-45374ae2-aa9f-11e7-8b53-2af0ac6e75a6.png)

delete
add comment
help
edit

There is no duplicate option.

The edit option opens the custom bloc

[2017-10-07 03:23] Kenny2github opened #1119 "Category menu shows default scrollbar"
### Expected Behavior

The category menu should have no scrollbar, except one that stays invisible until scrolling actually happens.

### Actual Behavior

The default scrollbar appears:
![image](https://user-images.githubusercontent.com/28599280/31304333-e1cd48e0-ab51-11e7-9654-dd8fd2051423.png)

### Steps to Reproduce

Open https://llk.github.io/scratch-gui/develop

### Operating System and Brows

[2017-10-08 14:18] thisandagain commented on #1100
Thanks @rachel-fenichel. I think there is a question of if this is something we would like to support. Adding the "needs discussion" label and assigning to @carljbowman and myself for discussion.

[2017-10-08 17:59] rachel-fenichel commented on #1100
We discussed this in our meeting on Tuesday.  At a minimum we need to have the alignment be correct for the define block, even if we don't extend it to manage larger stacks.

[2017-10-09 16:40] rachel-fenichel opened #1120 "Comments"
Users should be able to add comments on blocks and on the workspace.

Scratch 2.0 comments:
- Can be dragged from one block to another
- Can be dragged from a block to the workspace and vice versa
- Are fixed position relative to their parent block
- Can be added (only?) through the context menu
- Can be minimized but not fully hidden
- Can be resized
- Move with their parent blocks during drags
-