[2016-07-25 17:54] tmickel opened #543 "Sometimes blocks seem to "push" the scroll wheel"
This is hard to reproduce. I've been able to get it to happen most reliably by doing sprinkles.

In Chrome, after doing Sprinkles, try to scroll with the mouse wheel to the upper left of the workspace. The workspace is always "pushed back" to the center, after a scroll completes. Also seems to happen in Safari.

[2016-07-26 04:33] #528 closed, assigned to tmickel

[2016-07-26 05:32] tmickel commented on #543
Seems to be basically happening because sprinkles/spaghetti/domToBlock don't update the workspace metrics, but the wheel handler was using those. Adding `workspace.resizeContents();` to the end of each of the playground methods seems to fix the problem. Not sure if that's the right solution, though. @picklesrus

[2016-07-26 15:52] tmickel commented on #522
Resolved in latest

[2016-07-26 15:52] #522 closed, assigned to tmickel

[2016-07-26 15:52] tmickel commented on #521
Resolved

[2016-07-26 15:52] #521 closed, assigned to tmickel

[2016-07-26 15:53] tmickel commented on #376
Resolved :)

[2016-07-26 15:53] #376 closed, assigned to tmickel

[2016-07-26 15:54] carljbowman commented on #522
Resolved with V4.3

![r1_reporters-boolean-variable_size](https://cloud.githubusercontent.com/assets/3409578/17145309/afb6bc2a-5327-11e6-8966-1ee5581d5483.png)

![r4 3_vert-block-sketches](https://cloud.githubusercontent.com/assets/3409578/17145337/c0f792a2-5327-11e6-93e7-ff430c25c567.png)

[2016-07-26 15:55] carljbowman commented on #521
Overviews all spacing

![r4 3_vert-block-sketches](https://cloud.githubusercontent.com/assets/3409578/17145365/d7dfcb38-5327-11e6-93b6-0a330a3b0d4c.png)

[2016-07-26 16:07] picklesrus commented on #543
That kind of makes sense except that the call to resize on https://github.com/LLK/scratch-blocks/blob/develop/core/xml.js#L362 should be doing that for you.

[2016-07-26 16:09] tmickel commented on #543
Oh strange...hmmmm...

[2016-07-26 16:12] tmickel commented on #543
Hmm, maybe:
https://github.com/LLK/scratch-blocks/blob/develop/core/xml.js#L306
happens after `domToBlock`. Could this be a problem?

[2016-07-26 16:14] picklesrus commented on #543
Ah, yeah. Looks like moveBy didn't get merged properly from mainline.  It needs this line: https://github.com/google/blockly/blob/ab0e847f41c7758fe583e5f07a797aa6669f2384/core/block_svg.js#L349

[2016-07-26 16:17] tmickel commented on #543
Oh neat! I will add that in, thanks! :)

[2016-07-26 16:18] #543 closed, assigned to nobody

[2016-07-26 16:20] tmickel commented on #520
I'm liking the current pick actually...

[2016-07-26 16:23] carljbowman commented on #520
Agreed. Don't think we need to spec this out. Our adjustment to `font-weight: 500;` looks good. Also the work you did on the baseline alignment looks solid.

We can reopen if we decide otherwise.

[2016-07-26 16:23] #520 closed, assigned to carljbowman

[2016-07-26 16:24] carljbowman commented on #542
<img width="889" alt="screen shot 2016-07-26 at 12 24 18 pm" src="https://cloud.githubusercontent.com/assets/3409578/17146303/eaa3e64c-532b-11e6-9194-4fc9ac9d0f0e.png">

[2016-07-26 16:30] tmickel commented on #445
Don't know when this got fixed, but unable to reproduce now. Closing for now!

[2016-07-26 16:30] #445 closed, assigned to nobody

[2016-07-26 16:46] tmickel commented on #263
Closing as I'm 99% sure this is fixed.

[2016-07-26 16:46] #263 closed

[2016-07-26 16:55] tmickel commented on #457
It looks like @Airhogs777 has implemented a user-style that already does basically this:
https://github.com/Airhogs777/sb3-theme/wiki/Themes-Library#plaintext-vertical-only

<img width="322" alt="screen shot 2016-07-26 at 12 53 57 pm" src="https://cloud.githubusercontent.com/assets/120403/17147264/10938778-5330-11e6-8bf0-7e5aed6f22a3.png">

I think we'd like to keep this type of major design chang

[2016-07-26 16:55] #457 closed, assigned to nobody

[2016-07-26 16:56] tmickel commented on #540
Also happens with the drag shadow filter.

[2016-07-26 16:58] tmickel commented on #300
Closing as duplicate of general multi-touch support

[2016-07-26 16:58] #300 closed

[2016-07-26 17:22] drigz opened #547 "Loop insertion marker can't move from "around" to "previous" and vice-versa"
If you drag a pants block over another block, then try to drag it left so that it's before the other block, the insertion marker won't move until you drag away and return. This is nothing severe but slightly clunky.

![drag left broken](https://cloud.githubusercontent.com/assets/632207/14635160/6f0f0320-0625-11e6-84d0-dd7b062a85bc.gif)
_dragging left with the issue_

The expected behaviour can be

[2016-07-26 17:22] drigz commented on #263
Yep, you're right - this issue was fixed by the revert. I've filed #547 to track the (much smaller) original issue.

[2016-07-26 18:18] tmickel commented on #547
This is odd, yeah. Thanks for the new issue!

[2016-07-26 18:30] tmickel commented on #542
resolved

[2016-07-26 18:30] #542 closed, assigned to tmickel

[2016-07-27 18:29] picklesrus opened #549 "We should only call DropDownDiv.hideWithoutAnimation when the dropDown div is visible"
We should figure out why DropDownDiv.hideWithoutAnimation and clearContent are called on all mouse/touch move events during a workspace drag.  If the div isn't present, we should be able to skip this step and, while it doesn't cost a ton on desktop, it is taking taking a few milliseconds of each frame on a MotoX, and between .5 and 1ms on a nexus5 and a nexus9.

Here's the trace of the call from c

[2016-07-27 20:23] tmickel opened #550 "Which drop-downs shouldn't be dropped into?"
Need a list for this. Then we can translate those into fixed fields on the blocks (non-shadows).

[2016-07-27 20:32] tmickel commented on #550
We decided on the spot to make it the same as 2.0

[2016-07-27 20:32] #550 closed, assigned to carljbowman

[2016-07-27 21:18] #527 closed, assigned to tmickel

[2016-07-28 05:45] mrjacobbloom commented on #365
Have you guys discussed #238 at all? I'd be willing to get started on a pull request to add the block shape class code.

[2016-07-28 15:47] tmickel commented on #365
Hey @Airhogs777! We have discussed it. It's looking like it might happen, but might take some time. So it might be best to wait before adding the class code.

[2016-07-28 18:39] picklesrus commented on #200
I'm taking a look at this independent of #154 for now since there seem to be some improvements I can make that are independent of the workspace drag.  For reference, here is a screenshot of a timeline I took where I dragged a single block along a stack.  It is quite clear where the insertion markers show up/disappear on the top portion of that image and the bottom portion is one of those zoomed in

[2016-07-28 20:49] tmickel commented on #200
@picklesrus Do you think improvements purely here could bring us under frame budget? It was my impression that the improvements in #154 caused this to slow down even more (more painting)? Ofc it does look like a lot of time is being spend in the screen CTM...

[2016-07-28 21:16] tmickel commented on #439
There seems to be some desire to cut the toolbar tools from Scratch, so maybe we won't have to worry about that.

[2016-07-28 23:24] picklesrus commented on #200
For dragging blocks around? Maybe.  The timeline above is without #154.  The version with #154 looks similar. The problem is really the repeated calls to render which in turn call getScreenCTM.  I need to look into the reason updateInverseScreenCTM keeps getting called.  I don't believe we should have to call it that often.

[2016-07-28 23:26] tmickel commented on #200
Oh, ok, cool! I had assumed that the version with #154 looked substantially different, but I haven't done as much investigation as you have. Cool, that's encouraging :)

[2016-07-29 12:25] thisandagain commented on #440
@tmickel Agreed. Looping in @ericrosenbaum to this thread as per discussions.

[2016-07-29 12:26] #440 closed, assigned to thisandagain

[2016-08-01 20:00] rachel-fenichel commented on #541
undo/redo feels to me like it should be per-sprite--so when you switch to a specific sprite, you switch back to its undo/redo stack as well.

[2016-08-01 22:45] rachel-fenichel commented on #541
In Scratch 2.0 the sprites and stages have the same categories, but different blocks inside them.  Is this likely to change?

[2016-08-02 15:52] tmickel commented on #541
Re: undo/redo. Agreed. Per-sprite seems reasonable. The alternative would be we'd have to switch between active sprite in the undo/redo stack. One unfortunate thing we have to think about is how undo/redo reacts with sprite adding/removing. When you delete a sprite, how do you undo that? Maybe there should be a separate undo/redo stack for that part of the editor...

I think it's probably safe to

[2016-08-05 00:28] PullJosh opened #552 "Pen Size Limit?"
_Does this belong in scratch-vm?_

In Scratch 2.0, pen size was limited to 255 due to a technical limitation of Flash (see [here](https://github.com/LLK/scratch-flash/blob/5cff62b909856b7d7b3d116a5dcc2b4f03de8482/src/scratch/ScratchSprite.as#L264)). This limit was not imposed in Scratch 1.4. Has any consideration been made as to whether this limit will remain in Scratch 3? The only real reason it

[2016-08-08 20:24] tmickel commented on #552
Hey @PullJosh!

I think this question is more for scratch-vm, yes.

But anyway. It looks like canvas doesn't have this same implementation. So, for Scratch 3 we will likely make the choice down the road based on both desired functionality and backwards compatibility.

Some questions I have in mind are:
- Is there a real use case for projects with lines > 255?
- What projects will break/change if w

[2016-08-08 20:46] tmickel opened #553 "Value in angle picker is picked after the drop-down animation ends"
This feels very buggy; you can click on an angle, and then it shifts as you move the mouse.

[2016-08-08 20:56] PullJosh commented on #552
To answer the first question, I one wanted to recreate this gif in Scratch but could not due to the limit:
![dot inversion](https://d13yacurqjgara.cloudfront.net/users/583436/screenshots/1927104/dotinversion.gif)
It would also be good for things like aragio clones or outer space simulators, where you need to "zoom in" on pen-rendered circles.

[2016-08-08 21:27] thisandagain commented on #552
Moved to LLK/scratch-vm#97

[2016-08-08 21:27] #552 closed, assigned to nobody

[2016-08-09 11:13] drigz opened #555 "Text in horizontal fields not vertically aligned"
![block text alignment](https://cloud.githubusercontent.com/assets/632207/17514268/fa7fec58-5e31-11e6-848d-f901ddd927c5.png)
_before and after 3f3862a_

The text is closer to the bottom of the field after the change. Was this intentional?

[2016-08-09 11:17] drigz opened #556 "Large spacing in horizontal toolboxes"
![block spacing](https://cloud.githubusercontent.com/assets/632207/17514492/3019123a-5e33-11e6-9df2-d43fe4c0444a.png)
_changes in horizontal spacing, old (top), new (bottom)_

Two commits have changed the horizontal spacing in the toolbox, 991dba0 and 6539a63. Were these changes intentional?

If so, is it possible to adjust this? Changing Flyout.prototype.MARGIN affects the spacing from the top/si

[2016-08-09 11:57] tmickel commented on #555
Hmmm, not intentional. Guess the fix for vertical alignment broke horizontal a bit.

[2016-08-09 18:41] #555 closed, assigned to tmickel

[2016-08-09 22:50] rachel-fenichel commented on #556
Yes, it's possible to add a new variable (Flyout.prototype.BLOCK_SPACING_X/Y?) to separate the margin and the inter-block spacing.  It looks like 6539a63 changed the margin from 8 to 12, leading to the noticeable change in size.

To make this change you would modify the isNan case on this line: https://github.com/LLK/scratch-blocks/blob/develop/core/flyout.js#L658

No, I don't recall any intent to

[2016-08-10 01:19] thisandagain commented on #541
## Overview

Below is a simple distribution of both block and sprite counts to assist in understanding the performance expectations of Scratch projects. This data reflects the last 300,000 projects (both shared and unshared) as accessed on August 8th, 2016. The y-axis ("Number of Projects") is Log.

## Block Frequency Distribution

[code]

![scripts](https://cloud.githubusercontent.com/assets/7476

[2016-08-10 09:12] drigz opened #559 "Numpad for math_positive_number doesn't include '.'"
![image](https://cloud.githubusercontent.com/assets/632207/17548195/18357b50-5eeb-11e6-8aa3-43a290ff9839.png)
_I've got a blank space, baby..._

Introduced by 2fa746d4089a8318f96d2e6b648537bd3d29356c.

On non-touch devices, a period can be entered with the keyboard, so it's probably an issue with the dropdown rendering not handling decimalAllowed.

[2016-08-10 09:19] drigz opened #560 "Invalid values like "...." allowed in math_positive_number"
![image](https://cloud.githubusercontent.com/assets/632207/17548281/77b9bff0-5eeb-11e6-808f-64543cca48b7.png)

Is this intended behaviour?

It was introduced by 2fa746d, which disabled the old validators, which worked like this:

![validator](https://cloud.githubusercontent.com/assets/632207/17548385/f901e68c-5eeb-11e6-8ca9-b50df5e0ff1e.gif)
_before 2fa746d, the validators discarded the invalid va

[2016-08-10 15:34] tmickel opened #562 "Chrome complains about `KeyboardEvent.keyIdentifier`"

[2016-08-10 15:35] tmickel commented on #562
seems like it might be something internal to Closure library

[2016-08-10 15:35] #559 closed, assigned to nobody

[2016-08-10 16:12] tmickel commented on #541
@thisandagain Thanks, that should be very helpful! Just so I understand, are the dots individual projects?

[2016-08-10 16:15] tmickel commented on #560
@drigz No real intended behavior here. It matches Scratch 1.4/2.0, although clearly it's pretty meaningless when you type a number like "...." or ".-.-.-". I think we'd be happy to accept a change that makes it so you can only type one ".", and a "-" only at the beginning of a number, but this seems like it would require some substantial change.

[2016-08-10 16:18] tmickel commented on #562
also exists upstream - @NeilFraser.

To reproduce:
Select/click a block, then hit "control." (e.g., as if you're about to do CTRL-Z).

[2016-08-10 16:37] RoboErikG commented on #560
You'd still have the corner cases ".", "-", and "-.". It might be easier to just put the validator logic back in addition to the input restrictions.

[2016-08-10 16:56] tmickel commented on #560
Don't see a real problem with having invalid values in there either, though.

[2016-08-10 17:02] drigz commented on #560
For me, it means the code generator has to handle the case of invalid values and try to generate sensible code. For example, when we sent this to the tester we got bugs like "Pauses forever when sleep contains just '.'" because it was parsing as a NaN.

Would you accept a change with the old "discarding" behaviour for these values, was that UX intentionally dropped? If so, what behaviour would you

[2016-08-10 17:05] tmickel commented on #560
That UX was intentionally dropped because it was jarring to have your value change after you've typed it...I'd expect whatever's doing execution (or generation) to deal well with the invalid value; e.g., "sleep .... -> sleep 0"

[2016-08-10 21:38] tmickel commented on #541
@thisandagain @cwillisf @rachel-fenichel @picklesrus

Here is a starting spreadsheet of some benchmarking of the current state of things:
https://docs.google.com/spreadsheets/d/1rbHMnboLuq3IJUrfguIzyF81Syq1WWgK4B9cpo3RPrc/edit?usp=sharing

Summary:
- 1 workspace and saving/loading: + memory usage, + page load time, - switching time.
- Many workspaces and switching: - memory usage, - page load time

[2016-08-10 21:45] RoboErikG commented on #541
Re: categories changing between programmable objects - We've discussed some use cases around this, such as having multiple robots with different functionality or characters with different move sets. I'm not aware of anyone actually doing this, though, so low priority.

[2016-08-10 23:23] jeandrek commented on #560
Isn't . the same as 0.0? In Scratch 1.x and 2.0 then .1 is the same as 0.1 and 1. is the same as 1.0

[2016-08-11 00:30] scratchyone opened #563 "No negative key in number selector"
You can't write a negative number with the number selector

[2016-08-11 00:33] scratchyone commented on #563
There is also no "." Key, so I can't write decimals, either. This is a big problem on mobile

[2016-08-11 00:33] tmickel commented on #563
Yep - we have to rethink the number pad design for "full Scratch" experiences. Will update eventually - thanks for the report!

[2016-08-11 00:35] scratchyone commented on #563
Thanks!

[2016-08-11 08:22] drigz commented on #560
In most languages I'm aware of, "." is a syntax error, eg JS: https://repl.it/Clzf

However, there's no reason Scratch shouldn't be different, so I'm ok with this as intended behaviour.

[2016-08-11 11:25] scratchyone opened #564 "Closing mobile keyboard when trying to enter text"
When I try to enter text into a text input on mobile (tested with chrome on iOS) the keyboard closes immediately. I can't enter anything into text inputs.

[2016-08-11 12:45] thisandagain commented on #541
Thanks @tmickel !

I'm also curious about your two questions on the "Load / Save Blocks to 1 Workspace" sheet:
- Why is `clear()` so slow?
- Can we make this (load/save blocks to one workspace) faster by avoiding XML serialization?

In terms of "Workspace Generation Times", do we have an understanding of what that looks like in Scratch 2.0? 5895.5ms seems slow for 1000 blocks, but I'm not sure how

[2016-08-11 17:10] rachel-fenichel commented on #541
I'm pretty sure clear is slow because we've never bothered to make it fast.  It calls dispose() on every top level block in turn, and each block's dispose does stuff like resize the workspace's svg (because the contents have changed).  There's also just a lot of DOM manipulation happening there.

Clear has nothing to do with XML serialization.

There's a lot of room to make that faster, and most o

[2016-08-11 18:10] thisandagain commented on #541
Sorry @rachel-fenichel , I should have been more precise in my comment. I added a clarification above.

[2016-08-13 07:33] xmeow opened #566 "field_dropdown focus override by value report"
I can't pop the dropdown menu because the workspace.reportValue take over the focus.
![image](https://cloud.githubusercontent.com/assets/3390845/17642050/d63d1df2-616a-11e6-82fa-7a16c7993344.png)

It works fine if I block the promise callback..
![image](https://cloud.githubusercontent.com/assets/3390845/17642058/13c9ab72-616b-11e6-8b4e-95abddf2985e.png)

Is there any way not to execute the block i

[2016-08-13 16:51] tmickel commented on #566
Hi @xmeow!

Yes, that's very annoying...

We're tracking it here:
https://github.com/LLK/scratch-blocks/issues/307
and here:
https://github.com/google/blockly/issues/336

Hopefully should get a fix sooner rather than later, as it's starting to interfere with our prototyping for Scratch, too. Thanks for the report!

P.S. - not sure what you're building, but just an advisory that this codebase is st

[2016-08-13 16:51] #566 closed, assigned to nobody

[2016-08-15 14:41] tmickel commented on #411
@rachel-fenichel If you happen to touch this code when doing the mouse/touch refactors, might be worth considering :)

[2016-08-15 16:50] thisandagain commented on #338
![](https://developers.google.com/blockly/images/closure-alert.png)

[2016-08-15 16:51] thisandagain commented on #338
Documentation in the Wiki has been updated:
https://github.com/LLK/scratch-blocks/wiki

[2016-08-15 16:51] #338 closed, assigned to thisandagain

[2016-08-16 19:17] #318 closed

[2016-08-16 19:18] thisandagain commented on #318
Closing as per work that @rachel-fenichel has done to date. Will break down remaining issues into individual tickets.

[2016-08-16 19:18] #307 closed

[2016-08-16 19:18] thisandagain commented on #541
As per discussion today we are going to proceed with the "single workspace with saving / loading" model for now.

[2016-08-16 22:08] rachel-fenichel opened #572 ""No variable selected" option in variable dropdown"
- [ ] option added to dropdown
- [ ] option automatically set when deleting a variable

[2016-08-16 23:01] rachel-fenichel commented on #372
Closing, as most of this is implemented in #570.  Remaining work will be tracked in separate bugs.

[2016-08-16 23:01] #372 closed, assigned to tmickel, rachel-fenichel

[2016-08-16 23:03] rachel-fenichel opened #573 "Variables - Getter block to match Scratch 2.0"
This block should have a single text field, set to the name of the variable, but the right-click menu should behave like the dropdown on a fieldVariable.

[2016-08-17 18:28] ericrosenbaum opened #574 "Clicking a dropdown to open it also runs the block or stack"
When you click to change the value of a dropdown menu, the block or stack shouldn't execute.

[2016-08-17 20:19] rachel-fenichel commented on #574
Dupe of #307

[2016-08-17 20:19] #574 closed, assigned to nobody

[2016-08-19 00:35] rachel-fenichel opened #575 "Backpack"
We need to be able to drag and drop from the backpack to the workspace and back.  Is the backpack basically a flyout (in the blockly sense of the term)?

@tmickel

[2016-08-21 00:10] MegaApuTurkUltra commented on #573
Please don't make us have to keep using `([] of [])` for getting variables by name!

https://scratch.mit.edu/discuss/topic/211154/

[2016-08-21 02:04] towerofnix commented on #573
Though to really make it work well you could add a label "variable with name", or something.

[2016-08-22 12:41] thisandagain commented on #21
Moving to September milestone.

[2016-08-22 12:42] thisandagain commented on #525
Moving to September milestone.

[2016-08-22 12:45] thisandagain commented on #250
Resolved in #569

[2016-08-22 12:45] #250 closed

[2016-08-22 12:47] thisandagain commented on #23
@tmickel @rachel-fenichel Should we close this and track any follow-up work in new tickets?

[2016-08-22 21:55] rachel-fenichel commented on #562
I suspect that this will go away if you update closure.

[2016-08-22 21:59] tmickel commented on #562
ah, ok - will re-open if still doing it after that!

[2016-08-22 21:59] #562 closed, assigned to nobody

[2016-08-23 17:15] carljbowman commented on #21
@rachel-fenichel - Here is a doc ( [R1_Palette Properties.pdf](https://github.com/LLK/scratch-blocks/files/433120/R1_Palette.Properties.pdf) ) that overviews some examples and concepts based on the properties that we speced. Let me know if you have any addtional questions. I will begin working on a UI spec.

![r1_desktop-prototype](https://cloud.githubusercontent.com/assets/3409578/17901900/1abcb5

[2016-08-24 14:41] tmickel commented on #575
Does it make sense to you to track this in #439? They all seem sort of related to me :)

[2016-08-24 14:41] #575 closed, assigned to nobody

[2016-08-24 14:45] tmickel commented on #261
@rachel-fenichel I get the sense that this is all set, minus design? :)

[2016-08-24 14:45] #261 closed

[2016-08-24 14:46] tmickel commented on #317
At this point, actually, might make sense to leave them in and just tweak their designs. Except for field_date, which feels safe to take out.

[2016-08-24 14:47] tmickel commented on #258
Closing for now since we have a more focused flyout plan.

[2016-08-24 14:47] #258 closed

[2016-08-24 14:47] tmickel commented on #256
Also closing for now since we have a more focused flyout/toolbox plan.

[2016-08-24 14:47] #256 closed

[2016-08-24 14:48] tmickel commented on #240
let's track in #564.

[2016-08-24 14:48] #240 closed

[2016-08-24 14:50] tmickel commented on #12
@thisandagain Do you think we're ready to have eslint run with Travis? I'd be pretty happy if that was working, even if it doesn't yet pass the linter. Seeing the tests failing would be a good motivator to fix it up... :) Don't know how to set it up (or if I can), though.

[2016-08-24 17:58] MegaApuTurkUltra opened #577 "Drop radius changes"
![scratch-3-drag-drop](https://cloud.githubusercontent.com/assets/8547938/17941737/a97149a6-6a02-11e6-8c1a-11290edb4ec1.gif)

The drop radius gets bigger as a block is pulled away. I'm not sure if this is by design, but I think drop radius should be constant. This happens for all types of blocks.

[2016-08-24 18:07] rachel-fenichel commented on #575
Yup, I missed that one.

[2016-08-24 18:09] tmickel commented on #577
We did it intentionally, here: https://github.com/LLK/scratch-blocks/commit/fa992e9f863df2c9b25bcfc140e6105cf41e26b0

To fix this bug: https://github.com/LLK/scratch-blocks/issues/290 (video in there).

There might be a way to fix that some other way. I think we need to consider reducing `SNAP_RADIUS` in general, too... @rachel-fenichel

[2016-08-24 18:11] plastpappa commented on #577
Yes, I agree with this. I'm fine with the drop radius increasing as long as it's not by _that_ much. Might make it very annoying for greatly nested operators.
EDIT: Perhaps also do it only for "pants" blocks, which seem to be the only type of block where this is a problem?

[2016-08-25 01:06] MegaApuTurkUltra commented on #577
Also some way to disable snapping (eg shift-drag) would be helpful with such a large drop radius

[2016-08-25 15:15] thisandagain commented on #12
@tmickel Agreed. That sounds great. You are an admin so you should be able to enable Travis for this repo from your https://travis-ci.org settings page.

[2016-08-29 14:37] tmickel commented on #12
Ok, I did that! Not sure how to do jsunit but I'll look into that also for a bit

[2016-08-29 15:36] tmickel commented on #572
Btw, I'd guess we wouldn't actually want this option to be in the dropdown itself/selectable, if that makes sense.

[2016-08-29 17:36] tmickel commented on #12
Hmmm, given the weirdness of the closure jsunit setup and the small number of tests, I wonder if it might even be worth it just to rewrite the tests using our normal test framework...

[2016-08-29 17:55] RoboErikG commented on #12
We're also looking into Travis on the Blockly side. It's not moving very fast, but we'll let you know if we get anything working there.

[2016-08-29 22:43] towerofnix commented on #572
If, for example, the "no variable selected" option literally has the value of `"NOT_SELECTED"`, if I try to set a variable called `NOT_SELECTED` what will happen? Nothing?

[2016-08-30 19:50] #508 closed, assigned to nobody

[2016-08-31 00:20] TheBrokenRail commented on #573
I prefer the current system it makes it easier to delete, rename, and change the variable in the reporter

[2016-08-31 00:23] TheBrokenRail commented on #573
I also like the dynamicly get variable thing. PLEASE do not change it to 2.0-style

[2016-08-31 20:41] towerofnix opened #581 "Direction input slot takes input while fading out"
Just move your mouse around where the direction input is while the input is closed. Kind of unexpected results!

[2016-08-31 20:46] rachel-fenichel commented on #581
Input stays active until the fade-out is finished (and maybe an extra frame past that)--manifests as the jump from 90 to 105 in this gif after I've tapped the background to close the angle picker.
![73138e46-58ee-4364-8a28-d104ea56efe3](https://cloud.githubusercontent.com/assets/13686399/18145720/3d5b1c22-6f81-11e6-9e95-84b6d5905e4c.gif)

[2016-09-01 21:14] tmickel opened #582 "blocklyTreeRoot keeps focused after the toolbox is closed"
This is causing some weird results trying to deal with keyboard inputs in Scratch. It's nice that you can page through categories with the keyboard, but as soon as the flyout is closed, I'd expect it to release focus from keyboard events, or something. @rachel-fenichel Have you and @carljbowman  thought at all about how keyboard should work with the Scratch-style toolbox?

[2016-09-01 21:17] rachel-fenichel commented on #582
Unless I explicitly add this back in, we lose this behaviour when we switch away from the closure tree anyway.

Carl and I have discussed this briefly.  So far the conclusion is that the toolbox should not handle keyboard events, since scratch needs to get keyboard inputs for games, etc.

[2016-09-01 21:21] tmickel commented on #582
^ sounds good, thanks :)

[2016-09-01 21:21] #582 closed, assigned to nobody

[2016-09-02 03:40] towerofnix commented on #581
This is really more of a general issue - you can get the same general result from using a dropdown (though it's tricky, because you need to click twice during the close animation).

[2016-09-02 13:08] tmickel commented on #553
Closing as duplicate of #581, which now has better documentation in the thread.

[2016-09-02 13:08] #553 closed, assigned to tmickel

[2016-09-02 19:41] tmickel opened #585 "Sensing key blocks tweaks"
In sensing_keyoptions, get rid of `id=event_keyoptions`.
In sensing_keypressed, KEY_OPTIONS -> KEY_OPTION.

[2016-09-02 19:58] #585 closed, assigned to nobody

[2016-09-04 16:04] tmickel commented on #541
In the current implementation, we're avoiding serialization on switch (since the VM already has a representation of the workspace). This also means no extra serialized copy has to be stored in memory.

So, I think some of the action items here are:
- Saving and reloading the undo/redo stack (most urgent since it actually effects functionality). Currently the stack gets lost when the workspace is c

[2016-09-06 20:52] tmickel opened #587 "Text drop-down appears below stack of blocks"
See:
<img width="240" alt="screen shot 2016-09-06 at 4 52 28 pm" src="https://cloud.githubusercontent.com/assets/120403/18290653/5a33f438-7452-11e6-99dd-2b747a241dfa.png">

[2016-09-06 20:53] tmickel commented on #587
Only appears to affect hat blocks, which is strange.

[2016-09-06 21:09] tmickel opened #588 "Pixelated stack glow"
Champ99 reports the stack-running highlight/glow is showing up pixelated on her MacBook. Screenshot forthcoming.

[2016-09-06 21:12] rachel-fenichel commented on #588
Also on my x1 carbon:
![image](https://cloud.githubusercontent.com/assets/13686399/18291292/e34e4c6c-743b-11e6-93a3-43fb44cfadf0.png)

[2016-09-06 21:13] rachel-fenichel commented on #588
And the problem goes away if I zoom in, with the blockly controls or by zooming the whole page with chrome:
![image](https://cloud.githubusercontent.com/assets/13686399/18291310/067dc3b6-743c-11e6-8369-17ab0e2a0311.png)

[2016-09-07 14:22] tmickel commented on #588
Yep, and here's Champ's Macbook:
![image](https://cloud.githubusercontent.com/assets/120403/18315349/a453a328-74e4-11e6-824a-1612567d5c09.png)

Rachel is there any chance you can try tweaking the width sometime: https://github.com/LLK/scratch-blocks/blob/develop/core/inject.js#L43 since you have a readily accessible reproduction?

[2016-09-07 14:25] tmickel commented on #588
I'm going to assign you with high hopes :P

[2016-09-07 20:14] rachel-fenichel commented on #588
Screenshots for days!

Glow size 1, neutral zoom (I clicked the "center" button)
![image](https://cloud.githubusercontent.com/assets/13686399/18326869/a5ad8dca-74fc-11e6-9f5f-6949cc812082.png)

Glow size 1, zoomed out once
![image](https://cloud.githubusercontent.com/assets/13686399/18326856/958b3db6-74fc-11e6-9ff1-b6898d17061e.png)

Glow size 1, zoomed out twice
![image](https://cloud.githubuserc

[2016-09-07 20:43] tmickel commented on #588
@carljbowman Thoughts on glow size 2?

[2016-09-07 20:43] tmickel commented on #588
Thanks Rachel!

[2016-09-08 18:13] tmickel opened #589 "Blocks are rendered on top of checkboxes"
<img width="39" alt="screen shot 2016-09-08 at 2 12 31 pm" src="https://cloud.githubusercontent.com/assets/120403/18361006/598c11aa-75ce-11e6-91a9-f0e3f5160924.png">
I think this may have happened in our latest merge.

[2016-09-08 18:19] tmickel commented on #560
@drigz Did you figure out how to deal with this in the generators?

[2016-09-08 18:19] #560 closed, assigned to tmickel

[2016-09-08 18:39] RoboErikG commented on #560
Should Scratch Blocks allow the Blockly style validation as an option to support generators?

[2016-09-08 19:32] #589 closed, assigned to rachel-fenichel

[2016-09-12 18:35] tmickel opened #592 ""Stop" block needs to accept next connections on certain dropdown selection"
<img width="164" alt="screen shot 2016-09-12 at 2 32 14 pm" src="https://cloud.githubusercontent.com/assets/120403/18447785/243a5d2e-78f6-11e6-93e6-5bf77e249220.png">
Current render:
<img width="227" alt="screen shot 2016-09-12 at 2 32 53 pm" src="https://cloud.githubusercontent.com/assets/120403/18447787/26b52778-78f6-11e6-8fe0-2b5d997e38cf.png">

[2016-09-12 18:48] tmickel opened #593 "Fix math function dropdown to have values consistent with VM"
https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/operators.js#L492

[2016-09-12 20:28] tmickel commented on #556
@drigz looks to me like this is fixed?

[2016-09-12 20:28] #556 closed, assigned to rachel-fenichel

[2016-09-13 08:47] drigz commented on #556
It's now customizable by applications, so as long as you're happy with the default spacing being larger than before, this is fixed.

[2016-09-13 16:15] tmickel commented on #592
@rachel-fenichel If you have any ideas about how to accomplish this, that would be great. Mutators???

[2016-09-13 16:21] rachel-fenichel commented on #592
You don't need an explicit mutator, since it should change when they select
a different item from the dropdown.  See
https://developers.google.com/blockly/guides/create-custom-blocks/dropdown-menus#change_handler

On Tue, Sep 13, 2016 at 9:15 AM Tim Mickel notifications@github.com wrote:

[2016-09-13 16:29] tmickel commented on #592
Hmm, cool, thanks!
- This means we can't define the block in JSON, right? Because we need to attach a custom validator to the dropdown.
- "Change handlers on fields are not called when a block is instantiated from XML (created, loaded, duplicated)." - why not, actually? This makes it sound like we'll need `mutationToDom`/`domToMutation` for saving/loading the block. And generating the `<mutation>`

[2016-09-13 16:33] rachel-fenichel commented on #592
1 and 3: correct.

2: Not sure, but I can look into it.

On Tue, Sep 13, 2016 at 9:30 AM Tim Mickel notifications@github.com wrote:

[2016-09-14 17:18] #593 closed, assigned to nobody

[2016-09-15 19:40] tmickel opened #596 "Input shapes likely need to add some width during rendering"
<img width="259" alt="screen shot 2016-09-15 at 3 39 42 pm" src="https://cloud.githubusercontent.com/assets/120403/18564690/ac55d574-7b5a-11e6-9d57-4844aeeca2d9.png">

[2016-09-15 21:22] tmickel opened #600 "Lists color"
In Scratch 1.4 and 2.0, list blocks are a different color from variables. In the current spec they are all the same color. Is that wanted?

[2016-09-16 01:31] towerofnix commented on #600
IMO they're totally different data types and should have different colors to reflect this.

[2016-09-16 01:41] jeandrek commented on #600
@liam4 I agree that they should have different colours, but I don't think variables are data types. Text strings and numbers are data types.

How about having "variables" and "lists" as categories in the palette?

[2016-09-16 02:00] TheBrokenRail opened #601 "More Horrizontal Blocks"
Currently the only horizontal blocks are Some Events and Wedo

[2016-09-16 11:18] towerofnix commented on #600
Yeah, they're rather different data _containers_, not types, oops!

But then we'd need another category, because nine categories is.. a sad number. :P

edit: actually, _eleven_ categories! Wow.

[2016-09-16 22:29] tmickel opened #603 "Rename blocks_vertical/more.js"
procedures.js? functions.js? custom-blocks.js?

[2016-09-16 22:39] ed-cooper commented on #603
custom-blocks.js - that way you know that it is definitely about blocks

eg. functions.js could just look like a file containing a few general useful functions

[2016-09-16 22:43] rachel-fenichel commented on #603
It's in blocks_vertical, so it doesn't need "blocks" in the name.

[2016-09-16 22:50] rachel-fenichel commented on #596
Is this procedure-specific?

[2016-09-16 22:55] tmickel commented on #596
It might be "square-type input" specific, even. We don't have any of these in the blocks other than boolean-type. Ofc, these probably shouldn't appear in the final implementation of procedures, either.

[2016-09-17 00:43] TheBrokenRail opened #604 "Those Procedure Blocks DEFINITLY Need Design Work"
The Input screen is confusing and a Make Block Button Would Be Nicer

[2016-09-17 00:46] PullJosh commented on #604
All in good time. ;)

[2016-09-17 18:27] TheBrokenRail opened #605 "UI issues with procedure blocks"
Here's Some Issues I Found With The UI in procedure blocks/custom blocks
- [ ] Need Space Between Blocks In Block Palate
- [ ] Input Block Is Offset From Curser
- [ ] No Background For Warning About Standalone report block Needing To Be Used In a custom block definition
- [ ] Needs Proper UI for input Selection
- [ ] Gear And Warning Triangles should be maybe should be the same color as the blocks

[2016-09-18 02:23] MegaApuTurkUltra opened #607 "Implement custom procedures"
Lots of people's 2.0 custom blocks won't make any sense when converted into the new format.

For example this:

![](http://i.imgur.com/MLZY32w.png)

Would presumably become something like this in the conversion from 2.0 to 3 format

![](http://i.imgur.com/NiRO0vh.png)

Scratchers might get confused by things like this.

[2016-09-18 16:06] tmickel commented on #601
Some issues tracking: #36, #38. We still have to figure out exactly what the default set of horizontal blocks will be; that's undetermined right now :)

[2016-09-18 16:06] #601 closed, assigned to nobody

[2016-09-18 16:08] tmickel commented on #607
The current implementation is a direct copy-paste from Blockly - the actual version is only in the earliest design stages, and is likely to look significantly different. @carljbowman

[2016-09-18 16:11] tmickel commented on #605
Thanks for this write-up - that should be helpful! Just to keep these all in the same place, I'm going to move your post to #607.

[2016-09-18 16:11] #605 closed, assigned to nobody

[2016-09-18 16:11] tmickel commented on #607
From @TheBrokenRail:

[2016-09-18 16:11] tmickel commented on #604
Same, let's track in #607.

[2016-09-18 16:11] #604 closed, assigned to nobody

[2016-09-18 16:12] #443 closed, assigned to nobody

[2016-09-18 16:16] tmickel opened #610 "Procedure blocks connection/insertion marker issue"
From @dekrain:
`blockly_compressed_vertical.js:1262 Uncaught TypeError: Cannot read property 'sourceBlock_' of null`

Appears to happen with the "define and report" block. Something about it is causing it to make strange connections when dragged over existing stacks:
<img width="240" alt="screen shot 2016-09-18 at 12 15 20 pm" src="https://cloud.githubusercontent.com/assets/120403/18617257/9d09c3a

[2016-09-19 18:57] tmickel opened #611 "Close dropdown menus on workspace clear"
Noticeable in scratch-vm when you switch sprites with a dropdown menu open.

[2016-09-19 18:58] tmickel commented on #611
Also the WidgetDiv needs to "close without animation"  - currently it animates out.

[2016-09-19 19:51] tmickel commented on #154
@picklesrus @rachel-fenichel

Did some more exploration on this late last week.
We figured out that Safari actually even has this problem in the +X and +Y directions, if you go far enough. Once you exceed the SVG width, the bug appears.

Given this, maybe it would actually make sense to resize the SVG and translate the `blockCanvas` group inside the SVG on the stop of a drag? That I guess would ca

[2016-09-19 19:58] tmickel commented on #611
In fact I think this should be on field disposal.

[2016-09-19 20:00] rachel-fenichel commented on #611
Is there a reason to do it on field disposal?  Can you enumerate when we'll need to close dropdown menus?

Workspace clear
(maybe) undo/redo?
delete block stack--but right-clicking should have closed it anyway.

Trying to avoid slowing down operations where we may be disposing of a lot of blocks (such as clear).  This may be premature optimization.

[2016-09-19 20:06] rachel-fenichel commented on #607
One more:
- Need to be able to add label text between inputs

[2016-09-19 20:16] tmickel commented on #611
Just seemed to make sense given the existing model - `workspace.clear` is not a method on WorkspaceSvg, but it's on Workspace (and just calls all the block disposal methods, which in turn call field disposal...)

[2016-09-19 20:17] tmickel commented on #607
Yep, and inputs need types (number, string, boolean).

[2016-09-19 21:10] tmickel commented on #305
@rachel-fenichel Btw I was curious if you tested this?

[2016-09-19 21:15] rachel-fenichel commented on #305
Currently touch events on edge on windows are fairly broken--edge and IE don't implement the touch events API, only pointer events.  I need to go back and test it again but I'm not optimistic right now.

[2016-09-19 21:31] tmickel opened #612 "Renaming "data_list" block to "data_listcontents" or similar"
"data_list" is a little too general...

[2016-09-19 21:52] tmickel opened #613 ""Set variable" should take strings"
Currently it's only taking numbers (math_number) @rachel-fenichel

[2016-09-19 23:45] picklesrus commented on #154
So we'd essentially try and pin the svg's transform to (0,0,0) except during a workspace drag and then at the end of the drag take the svg's transform and apply it to the the block canvas?

I'm a little worried about the transformations between mouse coordinates and blockly's coordinates, especially if we miss drag ending events (like when you start a workspace drag and end it with your mouse off

[2016-09-20 05:01] mrjacobbloom commented on #154
Would this change affect whether or not you guys implement #238?

[2016-09-20 11:33] towerofnix commented on #607
Don't forget default values for number/string inputs! That's implemented in the actual "blocks" part of Scratch 2.0 (though there's no UI for it atm).

[2016-09-20 12:35] tmickel commented on #154
@picklesrus Yep, exactly :) I'm hopeful that the coordinates won't be too much madness - we'd just need to do (SVG coordinates + blockCanvas coordinates) every time the workspace translation is used. Maybe there's a `workspace.getTranslation` that we can just switch (I forget)? But of course, I think I'm always overoptimistic about how easy these things are to change :P

Missing a drag end event d

[2016-09-20 14:53] carljbowman commented on #588
@rachel-fenichel - Thanks for looking into this! The Glow size 2 looks good to me.

The 'glow' renders pretty unpredictably across screen DPIs and variability of Zooming this effect proportionally creates more opportunities for aliasing. Within Scratch 2.0 the 'glow' appears to be set to a fixed size. Not only would a fixed 'glow' size limit the potential for aliasing, it also helps identify which

[2016-09-20 14:59] tmickel commented on #588
@carljbowman Aah, that makes a lot of sense. Should it be fixed to size 2?

[2016-09-20 14:59] tmickel commented on #588
Or size 1? Because "Glow size 1, neutral zoom" (which presumably is how we would scale the glow to if "fixed") looked fine in Rachel's screenshot.

[2016-09-20 15:09] carljbowman commented on #588
@tmickel - Depending on how difficult it is to make the glow size fixed, I am thinking we should just grab some devices and try it. Too many inconsistencies at play.

[2016-09-21 17:31] tmickel commented on #588
Btw, @rachel-fenichel @ChampikaF we are hoping this problem has been solved by #615. If you ever get a chance to check it out, let us know!

[2016-09-21 17:45] rachel-fenichel commented on #588
Is #615 live on the scratch-vm demo?

[2016-09-21 17:49] tmickel commented on #588
There is no live scratch-vm demo :P

[2016-09-21 17:50] towerofnix commented on #588
Are you sure? :shipit:

[2016-09-21 18:29] ChampikaF commented on #588
I'm still seeing this on my demo for neutral zoom:

![image](https://cloud.githubusercontent.com/assets/2895591/18723707/949b9c14-7fee-11e6-925a-0cb8c376abf9.png)

[2016-09-21 19:43] #327 closed

[2016-09-21 19:44] tmickel commented on #255
Track in #607

[2016-09-21 19:44] #255 closed

[2016-09-21 19:46] tmickel commented on #525
@carljbowman Did we decide not to do this? I'm pretty happy with the current design.

[2016-09-21 20:45] as-com commented on #588
@rachel-fenichel It should be live on my demo, if that's what you're talking about: https://utils.asun.co/scratch-vm/playground/

[2016-09-21 20:46] tmickel commented on #588
@as-com It's not, since this hasn't been put into the compiled version

[2016-09-21 20:48] as-com commented on #588
@tmickel I recompile scratch-blocks manually every time I update it from GitHub, so what's on my site should reflect what you have done so far.

[2016-09-21 20:57] tmickel commented on #588
@as-com Nonetheless your copy doesn't reflect this change :P

[2016-09-21 21:34] tmickel commented on #532
@carljbowman I'm happy with the scrolling mode, please feel free to reopen if you'd like changes!

[2016-09-21 21:34] #532 closed, assigned to carljbowman

[2016-09-22 20:21] carljbowman commented on #525
@tmickel - This seems fine for now. As we start to think more about the 'Monitor' UI. Closing for now.

[2016-09-22 20:21] #525 closed, assigned to carljbowman

[2016-09-22 20:36] rachel-fenichel opened #618 "Create contributing.md"
@tmickel @thisandagain

[2016-09-22 20:57] #592 closed, assigned to nobody

[2016-09-25 16:10] CatsAreFluffy commented on #400
What about a right-click option for showing the block in the palette?

[2016-09-26 20:23] rachel-fenichel commented on #610
I noticed this as well over the weekend.

Here's what I emailed to myself about it:
Insertion markers break on C-shaped blocks with hats.

Relevant code in block_svg.js:

[code]

Blockly.insertionMarker_.previousConnection is null.

The procedure blocks are the first blocks where we've had both a C-shape and a hat.

[2016-09-27 15:37] ChampikaF commented on #588
@tmickel here are screenshots from my machine - looking a lot better I think.

Neutral zoom
![image](https://cloud.githubusercontent.com/assets/2895591/18880630/66bebb2a-848d-11e6-9525-5c8cf14f2599.png)

Zoomed out 1
![image](https://cloud.githubusercontent.com/assets/2895591/18880649/7a0f8cae-848d-11e6-9b08-8fd908f9dac0.png)

Zoomed in 1
![image](https://cloud.githubusercontent.com/assets/2895591

[2016-09-27 15:40] tmickel commented on #588
Hmm, cool, thanks! Yeah I see the bit of problem on the rounded edges...not sure if that's resolvable though...

[2016-09-27 15:41] ChampikaF commented on #588
Not sure if the thinner highlight is as easy to discern from non-highlighted state though..

[2016-09-27 16:01] #612 closed, assigned to tmickel

[2016-09-27 16:03] tmickel commented on #610
Hmmmm yeah. I guess when `previousConnection` is null, we need to either not connect (e.g., like in the screenshot case) if the top of the stack is a hat or it needs to snap to the top of the stack, or something...

[2016-09-27 18:22] #613 closed, assigned to tmickel

[2016-09-27 18:43] tmickel commented on #588
@carljbowman Thoughts?

[2016-09-27 18:50] CosmicWebServices opened #631 "Custom Blocks are hard to read."
![image](https://cloud.githubusercontent.com/assets/10731781/18887337/9df51f9c-84c1-11e6-9eb6-d884cac3ffbe.png)

The define part is hard to read because of the color of the text.

[I do not know if this should be in VM or here because I got that image in VM]

[2016-09-27 18:58] tmickel commented on #631
We're tracking issues related to design of custom blocks in #607 - would you mind moving this there? Thanks!

[2016-09-27 18:58] #631 closed, assigned to nobody

[2016-09-27 18:58] CosmicWebServices commented on #631
Whoops sorry about that!

[2016-09-27 18:59] CosmicWebServices commented on #607
Moved from #631:

![image](https://cloud.githubusercontent.com/assets/10731781/18887337/9df51f9c-84c1-11e6-9eb6-d884cac3ffbe.png)

The define part is hard to read because of the color of the text.

[2016-09-27 19:03] tmickel commented on #631
Thanks!

[2016-09-28 12:13] carljbowman commented on #588
@tmickel @ChampikaF - I agree, regardless of screen resolution, we should increase the glow size.
As we move towards a 'light-mode' UI for the initial prototype we will also need to adjust the colors.

[2016-09-28 13:46] towerofnix commented on #607
Also the red outline is _really_ red. It's kind of hard to see. Later on the shape will probably be changed to look like a stack (or reporter) outline but for now the color should probably be fixed anyways.

Reasons for the same color as the outline of stack blocks:
- It _is_ the outline of a block.
- It represents a block more clearly.

Reasons for a lighter or different color:
- It's actually th

[2016-09-28 13:59] towerofnix opened #634 ""when this sprite clicked" in the stage should be "when stage clicked""
You can see the issue in the scratch-vm demo – here's a script inside the stage:

![Issue](https://cloud.githubusercontent.com/assets/9948030/18916390/a79045e6-856a-11e6-9c37-e18dad046ed0.png)

[2016-09-28 15:15] tmickel commented on #588
Ok, I've bumped it up to 1.3. Worth testing again sometime :)

[2016-09-28 15:16] tmickel commented on #634
Yep. The opcode for these is actually the same - so it may be a little tricky to pull off. But maybe the VM needs to provide the blocks with some function, `editingStage?` or similar...

[2016-09-28 15:18] tmickel commented on #577
@MegaApuTurkUltra We're addressing this in #635 - give it another try sometime, please!

[2016-09-28 20:41] #611 closed, assigned to tmickel

[2016-09-28 21:31] tmickel opened #636 "Angle picker doesn't pick angles"
I guess this probably happened during a merge?

[2016-09-28 21:39] tmickel opened #637 "Statement inputs don't calculate their width"
Try this XML:
http://pastebin.com/LZJZNmhG

It won't let you scroll right?

@rachel-fenichel @picklesrus

[2016-09-28 21:40] tmickel commented on #637
As soon as you pull the blocks out of the input, the workspace is sized correctly.

[2016-09-30 11:39] towerofnix opened #639 "Scrolling is basically broken"
I'm not sure how to explain.. but it's really, _really_ obvious that it isn't working, when you try.

Sorry for the vague issue.

The same issue is on Firefox Nightly 52 and Chrome 53. On OS X 10.11.6.

Both Y and X scrolling are broken in general. They always want to scroll down/left. Even when you scroll down or up on your mousewheel, it'll pan left a bit (and if you don't scroll enough, down).

[2016-09-30 14:32] rachel-fenichel commented on #639
That's exciting!

Exposed on https://llk.github.io/scratch-vm/

I'm only seeing it for x-scrolling.  Mousewheeling up/down makes the workspace slowly scroll left.  Dragging is fine.

[2016-09-30 14:45] rachel-fenichel commented on #639
And just to make it worse, this goes away in chrome if I open the console.

[2016-09-30 15:34] picklesrus commented on #639
Actually, that's a clue! Opening the console triggers a window resize. Dragging to resize the window fixes it too (on https://llk.github.io/scratch-vm/ at least)

Looks like there's something wrong with the initial setup. Maybe the underlying div size is being altered without calling Blockly.svgResize(workspace) when loading the page?  Is it broken on the playground too?

[2016-09-30 16:31] towerofnix commented on #639
Oh, I noticed that it did fix itself at one point.. but I wasn't sure why, glad we know now!

[2016-09-30 16:34] towerofnix commented on #637
And note putting the blocks back into the input brings the issue back, so it's clearly not calculating the width of the point-in-direction block when it contains such a huge operator.

<sup>The fact that I can drag the huge block without lagging _at all_ really shows how great Scratch 3 is.....</sup>

[2016-09-30 16:55] tmickel commented on #639
For the curious, we think we figured it out: https://github.com/LLK/scratch-blocks/blob/6edc1b4ba0992a4d61b663a86285f67f051169d5/core/block_svg.js#L448 needs to be moved out of the `if`. Thanks for the report, @liam4!

[2016-09-30 17:06] tmickel opened #640 "Thin out scrollbars"
<img width="430" alt="screen shot 2016-09-30 at 1 06 00 pm" src="https://cloud.githubusercontent.com/assets/120403/19000080/aa8cf29e-870e-11e6-8ceb-d1b98c33c14f.png">

[2016-09-30 17:36] #587 closed, assigned to tmickel

[2016-09-30 17:41] tmickel commented on #636
This is quite mysterious...it seems that the mousemove event is being bound, but no event is ever called.

[2016-09-30 17:47] tmickel commented on #636
Seems the mousemove event is getting lost here:
https://github.com/LLK/scratch-blocks/blob/develop/core/utils.js#L121

I'm surprised this isn't affecting google/blockly. Thoughts @rachel-fenichel ?

[2016-09-30 17:48] tmickel commented on #636
It seems to work after setting `opt_noCaptureIdentifier`...does that make sense?

[2016-09-30 17:51] tmickel opened #641 "`Blockly.FieldAngle.ROUND = 1` rounds to the nearest even number"
It would make more sense to me to round to the nearest integer...

[2016-09-30 17:52] tmickel commented on #641
Actually this doesn't make sense given the code, nevertheless I can't pick odd angles, hmm...

[2016-09-30 18:03] rachel-fenichel commented on #636
The problem is that there's no mousedown or touchstart even that we're listening to to start the drag, so this line isn't getting hit: https://github.com/LLK/scratch-blocks/blob/develop/core/touch.js#L197

As a result, the touch identifier is staying null and the mousemoves are being ignored.

As a general rule, setting opt_noCaptureIdentifier will make these sorts of problems go away, but will br

[2016-09-30 18:20] rachel-fenichel commented on #637
Looks like the forever block doesn't calculate the width of its contents, not that it's a problem with the point-in-direction block.  True for other statement inputs as well.

[2016-09-30 18:28] tmickel commented on #636
By break multitouch, do you mean dramatically?

[2016-09-30 18:29] tmickel commented on #637
Good catch - didn't realize it works fine outside the statement!

[2016-09-30 18:34] rachel-fenichel commented on #636
Probably dramatically.  If noCaptureIdentifier is true, it won't check whether the touch is coming from the currently active finger, which can put you back to the state that blockly has previously been in.

In this case it may be okay, because we want this to work on any mousemove, not just ones that are part of an active drag.  I'll have to test it on mobile to be sure.

[2016-09-30 18:39] tmickel commented on #641
moving to google/blockly

[2016-09-30 18:39] #641 closed, assigned to nobody

[2016-09-30 18:47] tmickel commented on #533
Resolved the issues above - happy with it currently.

[2016-09-30 18:47] #533 closed, assigned to carljbowman

[2016-09-30 18:47] #577 closed, assigned to nobody

[2016-09-30 18:48] tmickel commented on #529
Happy with it presently!

[2016-09-30 18:48] #529 closed, assigned to carljbowman

[2016-09-30 18:48] tmickel commented on #456
After playing with it, seems intuitive to have it be at the center left/right to me.

[2016-09-30 18:49] tmickel commented on #446
Should be addressed by Rachel's toolbox updates, so will track once that's merged.

[2016-09-30 18:49] #446 closed, assigned to nobody

[2016-09-30 18:50] tmickel commented on #382
Getting addressed in Rachel's updated toolbox.

[2016-09-30 18:50] #382 closed, assigned to nobody

[2016-09-30 18:51] #317 closed

[2016-09-30 18:53] tmickel commented on #238
It feels like we're abandoning this idea, since it would require _significant_ refactoring and we've pretty much determined it won't provide much performance benefit beyond the existing plans in #154.

[2016-09-30 18:53] #238 closed

[2016-09-30 18:54] tmickel commented on #152
Should be resolved by the Scratch-style toolbox.

[2016-09-30 18:54] #152 closed

[2016-09-30 18:56] tmickel commented on #23
Implemented!

[2016-09-30 18:56] #23 closed

[2016-09-30 18:56] tmickel commented on #8
I believe this has been done!

[2016-09-30 18:56] #8 closed

[2016-09-30 20:18] #637 closed, assigned to tmickel

[2016-09-30 22:16] mrjacobbloom commented on #365
Those were all the changes I was hoping for. Thanks for being so open to my contributions! :)

[2016-09-30 22:16] #365 closed, assigned to nobody

[2016-09-30 23:57] towerofnix commented on #400
Possibly a smooth animated scroll to where it is in the palette (if you have the category selected) to  give you a better idea of where it is relative to other blocks?

[2016-10-03 12:19] tmickel opened #648 "Touches seem broken on iOS"
Tested on https://llk.github.io/scratch-vm/

Nothing is touchable except toolbox categories. Not sure when this happened, I thought for sure we just tested that iOS support was working fine - maybe that was on google/blockly, though...

[2016-10-03 12:39] #640 closed, assigned to nobody

[2016-10-03 12:40] tmickel commented on #603
Went with procedures.js for consistency with Blockly, for now.

[2016-10-03 12:40] #603 closed, assigned to tmickel

[2016-10-03 13:09] tmickel commented on #541
moving to backlog for additional questions

[2016-10-03 13:47] #596 closed, assigned to tmickel

[2016-10-03 13:47] tmickel commented on #596
fixed in #651

[2016-10-03 18:22] rachel-fenichel commented on #648
I definitely tested iOS support--that was what held it up for a month.  I'll take a look.

[2016-10-03 21:16] #648 closed, assigned to tmickel

[2016-10-04 00:15] #639 closed, assigned to tmickel

[2016-10-04 16:42] tmickel commented on #636
Assigning Carl for thoughts about hovering.

[2016-10-04 18:56] tmickel commented on #531
It's apparently tricky to draw an image as the drop-down icon. The width of the text drop-down field isn't calculated until the text is rendered; then the block is sized according to the calculated size of the field. `goog.style.getSize` returns 0 at the point the image needs to be positioned. Previously, for the text drop-down, the icon was just text, preventing the problem.

[2016-10-04 21:23] rachel-fenichel opened #658 "Widget div broken with touch code"
field_number:numPadButtonTouch_ and numPadEraseButtonTouch_ need to correctly set/unset touch identifiers.

[2016-10-04 21:36] tmickel commented on #148
@carljbowman:
I recommend we drop this as it's tremendously technically difficult to pull off the animated stroke as it was done for the text inputs. To do so essentially requires the reproduction and floating of HTML/CSS for the entire clickable field on top of the SVG. That's what we did for the text inputs - since it was already needed for typing. We could also add an animated stroke on the SVG

[2016-10-04 21:36] #148 closed

[2016-10-04 23:44] TheBrokenRail commented on #607
When selecting the name field it gets all big and weird and when closing even bigger fort a moment, can you change it to be like other text fields?

[2016-10-05 00:52] tmickel commented on #607
@TheBrokenRail I believe that's actually an unrelated bug with text fields not in shadow blocks. If you'd like that could be filed and fixed separately!

[2016-10-05 16:53] tmickel opened #663 "Add separator support to drop-down menus"
This is not currently supported, but Closure menus support them.

[2016-10-05 17:00] tmickel opened #664 "Restrictors & localization of numbers"
Currently scratch-blocks restrictors restrict typing decimal numbers to the "." character.

A comment from @cpseager:

Blockly also has this problem - since its validators use JavaScript to force numbers.

The VM also wouldn't know how to deal with , separated numbers right now. How could we deal with this?

[2016-10-05 17:44] dekrain opened #665 "Let "fields" in procedures tab be real fields"
For now, It's only fields for reporters, inputs.

[2016-10-05 17:50] tmickel commented on #665
Can you describe a bit more what you mean by this?

[2016-10-05 17:52] dekrain commented on #665
For example, report block hasn't got a field. Value can only be a reporter.
![pseudo-fields](https://cloud.githubusercontent.com/assets/19158291/19125062/f11e2838-8b35-11e6-9a20-d5f3a7f10e6f.png)

[2016-10-05 17:59] tmickel commented on #665
I see, thanks! Yeah we need to fix that so that procedures generate the relevant shadow blocks at some point. Since we're tracking issues related at #607, I'll move this there!

[2016-10-05 17:59] #665 closed, assigned to nobody

[2016-10-05 18:00] tmickel commented on #607
@dekrain points out we need to generate shadow blocks:
![pseudo-fields](https://cloud.githubusercontent.com/assets/19158291/19125062/f11e2838-8b35-11e6-9a20-d5f3a7f10e6f.png)
https://github.com/LLK/scratch-blocks/issues/665

[2016-10-05 18:19] rachel-fenichel commented on #664
We would override setValue to set an internal representation and the text to be displayed, I think.  All of this should be pretty reasonable as long as we can figure out our locale properly.  The internal representaiton would stay in the current form so the vm stays happy, but we'd use something like https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toLocaleSt

[2016-10-05 20:43] #618 closed, assigned to tmickel

[2016-10-05 21:14] #531 closed, assigned to tmickel

[2016-10-05 22:53] CatsAreFluffy commented on #564
This also sometimes happens a lot for the Wikia search box on Chrome (iOS 9).

[2016-10-05 22:55] CatsAreFluffy commented on #572
The current behavior is ok, except for the fact that it will prioritize local variables. Also deleting a variable and running a script using the variable is the only way to never generate a variable watcher.

[2016-10-06 00:12] rachel-fenichel commented on #636
Fixing in mainline: https://github.com/google/blockly/pull/676

[2016-10-06 00:44] towerofnix commented on #572
How is that good, or bad, or worse than anything else?

[2016-10-06 13:04] towerofnix opened #666 "Allow clicking on blocks in the block palette"
A useful feature of previous Scratch palettes is the ability to quickly use a block from the block palette.

For example, hiding or showing a sprite, in Scratch 2.0:
1. Click on "looks" category
2. Click on "show" or "hide" blocks

In Scratch 3.0:
1. Click on "looks" category
2. Click (and/or drag) out the "show" or "hide" block
3. Click on the block you dragged out
4. Drag blocks back into palett

[2016-10-06 13:07] towerofnix commented on #245
I'm for fixing the deletion behavior! It's handy to be able to delete one block like that, instead of separate it from the rest of the stack, drag out the block, and then re-attach the bottom of the stack. It's already easy enough to drag a block and everything below it into the trash or block palette.

[2016-10-06 13:25] PullJosh commented on #245
@liam4 Agreed! No reason to repeat an already-easy behavior in a different menu. Might as well give people another, different option for deleting. :)

[2016-10-06 18:06] rachel-fenichel commented on #666
Yup, this is on the road map.  I'm currently working on the scratch-style palette, with the always open block menu stacked below the category menu.  The threshold for dragging/not dragging a block is already implemented for always-open block menus, just not for ones that auto-close.

[2016-10-06 18:45] CatsAreFluffy commented on #573
Maybe have both? The current system for those particular cases and 2.0's for convenience. It would also be good if you could switch between them in the right-click menu.

[2016-10-06 20:32] towerofnix commented on #573
IMO an "of myself" block would fit best with 2.0, as it is now.

[2016-10-06 20:48] mrjacobbloom commented on #573
I feel like the option to switch between them would be messy and unnecessary. +1 for "myself" or "this sprite" option in the "_ of _" sensing block

[2016-10-07 10:33] CosmicWebServices commented on #610
Yeah I got a problem because of this in https://github.com/LLK/scratch-vm/issues/245

[2016-10-07 17:00] #610 closed, assigned to nobody

[2016-10-07 17:22] tmickel commented on #21
The major implementation of this has landed, will be creating sub-issues in the future!

[2016-10-07 17:22] #21 closed

[2016-10-07 20:50] dekrain opened #670 "[feature] Change variables and lists inputs to mutations"
If you get lucky, you can get value of variable by clicking on it, but lists are not clickable. If they'll be mutations, I think it can be better.

[2016-10-08 14:02] TheBrokenRail opened #671 "You can select lists with variable blocks and variables with list blocks"
The Title Explains It

[2016-10-08 14:06] dekrain commented on #671
So I creating request for use mutations instead of fields

[2016-10-09 19:44] tmickel commented on #670
Both variable and list blocks need to be updated: #573.

I'm not sure if a mutation is the right solution or not, since we already have a separate infrastructure for variables.

[2016-10-09 19:44] #670 closed, assigned to nobody

[2016-10-09 19:46] tmickel commented on #666
I think at this point it's entirely a Scratch VM bug: https://github.com/LLK/scratch-vm/issues/90

If you turn on flyout listeners in the vertical playground, you can see that click events are coming from block palette blocks already. It's a matter of receiving those events and then running the blocks.

[2016-10-09 19:46] #666 closed, assigned to nobody

[2016-10-10 14:58] yonghuming opened #673 "Warning: Work in Progress"
[http://langxm.cn/scratch-blocks/tests/vertical_playground.html](my scratch blocks copy)
when i vist my web vertical_playground.html, it warns me that msg "vertical_playground"

[2016-10-10 15:01] dekrain commented on #673
B/c it is WiP

[2016-10-10 15:05] yonghuming commented on #673
@dekrain thank you very much but i could not undersand you meanings,
is it a bug ?
if i vist [http://langxm.cn/scratch-blocks/tests/horizontal_playground.html](horizontal_playground)i did not get that msg

[2016-10-10 15:07] yonghuming opened #674 "notsup Not compatible with your operating system or architecture: fsevents@1.0.1"
after i install scratch blocks via npm install,
and then i run npm install and i got a error

root@iZ28g94hbuiZ:/var/www/html/scratch-blocks# npm install
npm WARN lifecycle scratch-blocks@0.1.0~prepublish: cannot run in wd %s %s (wd=%s) scratc
npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevent

[2016-10-10 15:09] dekrain commented on #673
That link doesn't work

[2016-10-10 15:11] dekrain commented on #674
But which OS do you have

[2016-10-10 15:15] dekrain commented on #674
Do not use `npm install`. Instead go to `test/vertical_playground.html`

[2016-10-10 17:54] CatsAreFluffy commented on #572
Well, you usually create a variable to immediately use it. As long as there are no local variables, or the newest is a local variable, then you an use it directly. However, if it's a global variable and there's a preexisting local variable, then the "set" and "change" and other blocks will show the local variable instead of the global variable, forcing you to use the dropdown.

[2016-10-10 19:51] dekrain commented on #673
Did you downloaded archive of this repo by Github? If yes, delete this and use `git clone git@github.com/llk/scratch-blocks`

[2016-10-10 20:34] tmickel commented on #673
"Warning: Work in Progress" is an intentional notice that the implementation/design in scratch-blocks is incomplete. We're still actively working on a lot of large decisions, so we are likely to have many breaking changes in the future.

[2016-10-10 20:34] #673 closed, assigned to nobody

[2016-10-10 20:35] tmickel commented on #674
@rschamp ideas on this?

[2016-10-10 23:59] yonghuming commented on #674
@dekrain i use Ubuntu 14.04 lts

[2016-10-11 00:01] yonghuming commented on #674
@dekrain do you mean after i git clone scratch-blocks rep,i just go to tests?
when i go test/vertical_playground.html,is does not show closure-related  error but can not work rightly
[http://langxm.cn/scratch-blocks/tests/horizontal_playground.html](http://langxm.cn/scratch-blocks/tests/horizontal_playground.html)

[2016-10-11 00:06] yonghuming commented on #673
@dekrain i am sorry i have removed it last night and i have use `git clone git@github.com/llk/scratch-blocks` and then go to `tests/horizontal_playground.html`,but it does not work

[2016-10-11 00:07] yonghuming commented on #673
@tmickel got it i just say scratch-blocks is incomplete,there is no problem with my projects

[2016-10-11 03:24] jeandrek commented on #671
...Why is there a "feature" tag?

[2016-10-11 05:40] dekrain commented on #674
You must have Google closure library. If you get alert, go to link on that alert.

[2016-10-11 06:15] dekrain commented on #674
If you want to just play in scratch-vm, just go [here](http:/llk.github.io/scratch-vm).

[2016-10-11 15:47] rschamp commented on #674
@yonghuming The first error is truncated. Would you please paste the full text of it?

I believe I've seen the second warning about fsevents before and it can be ignored.

To fix your issue with closure, you can symlink the closure library included as a dependency by running this from your scratch-blocks directory:

[code]

[2016-10-11 20:56] tmickel commented on #524
@carljbowman Maybe something like the teacher accounts registration would work? Note that we can't
<img width="69" alt="screen shot 2016-10-11 at 4 54 22 pm" src="https://cloud.githubusercontent.com/assets/120403/19288292/6c3c4454-8fd3-11e6-8bb1-34271f471cba.png">
<img width="65" alt="screen shot 2016-10-11 at 4 54 11 pm" src="https://cloud.githubusercontent.com/assets/120403/19288293/6de4346a-8fd

[2016-10-11 20:58] tmickel opened #675 "Block deletion behavior"
- Should the block animate out when you delete it? If so, where should it animate to? Should we try to replicate Blockly functionality on this? Seemed to be a little unclear what we wanted.
- Are we taking out the trash, or keeping it in?

[2016-10-11 21:00] tmickel commented on #526
Everything should be set now except all of these arrows:
<img width="190" alt="screen shot 2016-10-11 at 4 59 55 pm" src="https://cloud.githubusercontent.com/assets/120403/19288467/285a3baa-8fd4-11e6-86a1-0b0d71609d21.png">

[2016-10-11 21:01] tmickel commented on #588
Have heard that this is fixed.

[2016-10-11 21:01] #588 closed, assigned to ChampikaF

[2016-10-11 21:04] tmickel commented on #231
I think this is probably not worth the effort, because we'd have to do something really clever when the WidgetDiv leaves the viewport.

[2016-10-11 21:04] #231 closed

[2016-10-13 01:58] TheBrokenRail commented on #675
I like the animation.

[2016-10-13 01:59] TheBrokenRail commented on #671
I don't know It is clearly a bug

[2016-10-13 02:00] TheBrokenRail commented on #607
We need padding between the define and report blocks in the block palate

[2016-10-13 02:02] TheBrokenRail commented on #671
@tmickel Thanks for fixing the tag!

[2016-10-13 13:12] mrjacobbloom commented on #607
For custom reporter definitions, I like the idea of dragging the standalone "report" block out from the bottom of the c-block to copy it, just like we do with procedures' arguments in 2.0

[2016-10-13 14:00] dekrain opened #676 "[Q] How to build"
I want to test minor changes for Scratch Blocks in Scratch VM. When I use `build.py`, it generates some scripts for me, but not in `dest/`. Scratch VM requires `dest/vertical.js`, but it doesn't change.

[2016-10-13 14:08] rschamp commented on #676
Sorry, we made some changes when we started publishing to npm.  For now, you want to use `npm run prepublish` to get the files that scratch-vm needs.

I'll make building less obtuse and document this.

[2016-10-13 14:09] dekrain commented on #676
Thanks.

[2016-10-13 14:09] #676 closed, assigned to nobody

[2016-10-13 14:10] dekrain commented on #676
For now, I testing it on experimental playground. I'm working on shadows in procedures

[2016-10-13 20:45] tmickel opened #680 "No CREATE event for first block in flyout"

[2016-10-13 20:54] tmickel commented on #680
Tracked the problem to `Blockly.Workspace.prototype.fireChangeListener`. Apparently `this.listeners_` changes in the middle of the iteration, so a reflow handler is called twice instead of the attached listener.

[2016-10-13 21:09] #680 closed, assigned to nobody

[2016-10-13 21:51] TheBrokenRail commented on #607
Why were custom reporters removed?

[2016-10-13 21:52] dekrain commented on #607
Why were toolbox removed

[2016-10-13 22:05] TheBrokenRail commented on #607
With The New Changes We should also a "create procedure dialog"

[2016-10-13 23:06] tmickel commented on #607
@dekrain The toolbox is not removed.
@TheBrokenRail We never implemented custom reporters in the first place. What was there before was a copy from Blockly.

[2016-10-13 23:11] TheBrokenRail commented on #607
I was really hoping for custom reporters, it would have been a great feature.

[2016-10-14 00:30] towerofnix opened #682 "Block visibility depending on target"
Basically a fancy way for saying:
- Motion blocks should not be visible at all in the stage - in Scratch 2.0, the blocks-part of the palette is actually replaced with text ("Stage selected: no motion blocks").
- "When I start as a clone" and "delete this clone" should not be visible in the stage.
- Many looks blocks shouldn't be visible in the stage, I won't bother making a list.
- "(color) Touchi

[2016-10-14 00:57] tmickel commented on #682
agreed, thanks for the write-up! This was one of the sub-issues we discussed in #541, but seems significant enough to me to give it space here.

[2016-10-14 00:59] tmickel commented on #607
@TheBrokenRail Whether we have this feature is independent of whether it currently exists in the scratch-blocks code. We have a lot of work to do to support custom blocks.

[2016-10-14 13:17] mishoboss opened #683 "Blockly.JavaScript.workspaceToCode is missing"
How to generate JavaScript code from Scratch? I see that toCode() function in tests doesn't work, and there is no `Blockly.JavaScript.workspaceToCode` object.

[2016-10-14 13:30] dekrain commented on #683
This isn't clear blockly. This is Scratch 3.0 block runtime. It can't generate JS code.

[2016-10-14 13:32] mishoboss commented on #683
I see. What it can generate?

[2016-10-14 13:43] dekrain commented on #683
Look at Scratch VM playground: https://github.com/LLK/scratch-vm and http://llk.github.io/scratch-vm

[2016-10-14 14:34] tmickel commented on #683
We aren't supporting Blockly code generators right now, because they would likely be a large amount of work to maintain and we only have so much time! Our focus for scratch-blocks is generating events and data structures that can be consumed by a Scratch interpreter. But I have heard rumors that if you're brave and copy the Blockly generator code into scratch-blocks, it might not be too hard to ge

[2016-10-14 14:34] #683 closed, assigned to nobody

[2016-10-14 14:37] mishoboss commented on #683
Actually scratch-vm may be the exact thing I need. I'm doing kinda rules engine, so I just need to define some logic and execute it. I don't need explicitly JS code.

[2016-10-14 14:44] mishoboss commented on #683
Is there any example how to run code in scratch-vm separately from the visual workspace? Example in https://github.com/LLK/scratch-vm presumes workspace there, right?

[2016-10-14 14:45] dekrain commented on #683
No, you must load `/src/blocks/*` for working

[2016-10-14 14:47] dekrain commented on #683
But you can open issue on scratch VM repo

[2016-10-14 14:47] tmickel commented on #683
@mishoboss You shouldn't need the visual workspace to run code. But, you need to find some way to load blocks into the VM if you don't have the visual workspace. One way that is currently possible is to import an SB2.

[2016-10-14 15:33] mishoboss commented on #683
Please excuse me, but I'm not sure I fully understand what you mean. SB2 = Scratch Blocks 2? What to do with it?

Here's in short the whole stuff - I need to store the blocks as XML and then load it somehow into a node.js server that executes the logic. I already made it saving as string into a DB, then loading this XML string into the visual workspace and blocks are rendered nicely. So far it's a

[2016-10-14 15:36] dekrain commented on #683
SB2 is format for Scratch 2.0

[2016-10-14 15:41] dekrain commented on #683
And node program **doesn't** execute the logic. it's only server that "translates" code to browser-specific format, just like this:

[code]

to:

[code]

[2016-10-14 15:42] tmickel commented on #683
@mishoboss We currently don't have infrastructure for loading XML into the VM. The only things the VM can load right now are SB2-format JSON projects (created by Scratch 2.0) and events generated by scratch-blocks.

[2016-10-14 15:43] tmickel commented on #683
You could try to do this by emulating an event. Check out the CREATE events generated by scratch-blocks, which contain an XML block string that the VM knows how to process. But overall I can't recommend this approach.

[2016-10-14 15:51] mishoboss commented on #683
OK, seems I'm totally lost now :( Here is what I understood so far:
- SB2 is a JSON format used by Scratch 2.0
- scratch-vm consumes only SB2
- scratch-blocks can't export SB2, but only XML
- I have no idea what are these "CREATE events generated by scratch-blocks" :(

Where can I read more about the whole picture of import/export/execute?

[2016-10-14 15:55] dekrain commented on #683
In `scratch-vm/src/engine/execute.js`. [Here](https://github.com/LLK/scratch-vm/blob/develop/src/engine/execute.js).

[2016-10-14 15:56] mishoboss commented on #683
No docs?

[2016-10-14 15:57] dekrain commented on #683
You can read [Wiki](https://github.com/LLK/scratch-vm/wiki) and some JSDocs in some scripts.

[2016-10-14 15:58] tmickel commented on #683
To add to the confusion, here is some documentation about the events generated by scratch-blocks: https://developers.google.com/blockly/guides/configure/web/events

The current flow for import/export/execute looks like this:
- scratch-vm loads SB2 into a block representation.
- scratch-vm pushes data to scratch-blocks.
- When blocks change in scratch-blocks from UI actions, scratch-blocks tells VM

[2016-10-14 16:07] mishoboss commented on #683
Thanks!
So it is something like this:
1. scratch-vm loads SB2
2. it does some conversion magic and pushes the produced stuff to scratch-blocks internally (not using XML)
3. on scratch-blocks UI event (like a new block attached) it pushes this data internally again to scratch-vm

So, that said, could I use this approach and store SB2 data into DB from scratch-vm? Then load it and its rendered OK in

[2016-10-14 16:35] yonghuming commented on #674
`root@iZ28g94hbuiZ:/var/www/html/sb# npm install
npm WARN lifecycle scratch-blocks@0.1.0~prepublish: cannot run in wd %s %s (wd=%s) scratch-blocks@0.1.0 python ./build.py && ./node_modules/.bin/webpack /var/www/html/sb
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules/chokidar/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for

[2016-10-14 16:36] yonghuming commented on #674
i try `ln -s $(npm root)/google-closure-library ../closure-library`
in the scratch-blocks root,but it does  not work

[2016-10-14 16:36] yonghuming commented on #674
root@iZ28g94hbuiZ:/var/www/html/sb# npm install
npm WARN lifecycle scratch-blocks@0.1.0~prepublish: cannot run in wd %s %s (wd=%s) scratch-blocks@0.1.0 python ./build.py && ./node_modules/.bin/webpack /var/www/html/sb
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules/chokidar/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for

[2016-10-14 16:40] yonghuming commented on #674
http://langxm.cn/sb/tests/horizontal_playground.html
i vist this page,but it does not alert any error but it can not drag either

[2016-10-14 16:40] tmickel commented on #683
That is more or less correct. The "internal" pushing back and forth does contain some XML to represent the blocks, but not precisely.

From scratch-vm to scratch-blocks, XML is emitted when first loaded and when switching sprites: https://github.com/LLK/scratch-vm/blob/develop/src/engine/blocks.js#L383

When scratch-blocks emits certain XML-containing events like CREATE, scratch-vm parses and load

[2016-10-14 16:43] dekrain commented on #683
@tmickel Look here: LLK/scratch-vm#266 and LLK/scratch-vm#259

[2016-10-14 16:45] yonghuming commented on #674
`2083  ll
 2084  cd ..
 2085  ll
 2086  rm -r sb/
 2087  cd scratch-blocks/
 2088  ll
 2089  cd ..
 2090  ll
 2091  cp closure-library/ closure-library.bak
 2092  ll
 2093  cp -r closure-library/ closure-library.bak
 2094  ll
 2095  rm closure-library
 2096  rm -r closure-library
 2097  ll
 2098  cd scratch-blocks/
 2099  ll
 2100  ln -s $(npm root)/google-closure-library ../closure-library
 2101

[2016-10-14 16:46] dekrain commented on #674
Use

[code]

[2016-10-14 16:50] yonghuming commented on #674
http://langxm.cn:8080/ scratch-vm works too

[2016-10-14 16:54] yonghuming commented on #674
npm log?

[2016-10-14 17:00] yonghuming commented on #674
[code]

[2016-10-14 17:02] dekrain commented on #674
without `\`

[2016-10-14 17:03] yonghuming opened #684 "i just fellow the wiki,but it does not work for me"
i checkout the repo use git clone
then i run the symblink command
then i run npm install
but i does not work
os:ubuntu 14.04,i have tried dozens of times and i have try this problems for days

[2016-10-14 17:09] tmickel commented on #684
Did you try running the symlink command _after_ `npm install`? The purpose of the symlink command is to link a copy of closure-library to the one installed by npm.

[2016-10-14 17:10] tmickel commented on #674
@yonghuming The link http://langxm.cn/sb/tests/horizontal_playground.html doesn't work for me. Is it still active?

Unfortunately, that log doesn't seem to expose any useful error.

[2016-10-14 17:20] yonghuming commented on #684
@tmickel yes, i have run the symlink command fater `npm install`,i my brosewr does not get any alert,i think i have installed closure-library properly

[2016-10-14 17:21] yonghuming commented on #674
@tmickel http://eeyi.org/scratch-blocks/tests/horizontal_playground.html

[2016-10-14 17:22] yonghuming commented on #674
@tmickel i am sorry, i just `rm -r sb`,and try git clone ,npm install and symblink again

[2016-10-14 17:22] tmickel commented on #674
@yonghuming Your copy of scratch-blocks appears not to be built.

Try going to the /scratch-blocks/ directory and running:
`npm run prepublish`.

[2016-10-14 17:24] yonghuming commented on #674
i found `http://eeyi.org/scratch-blocks/blockly_uncompressed_horizontal.js Failed to load resource: the server responded with a status of 404 (Not Found)` in the chrome console,maybe i need to build?

[2016-10-14 17:25] tmickel commented on #674
@yonghuming yes - try `npm run prepublish` or `./build.py`

[2016-10-14 17:28] yonghuming commented on #674
@tmickel ig to log

[code]

[2016-10-14 17:29] yonghuming commented on #674
i seems work now ,but also an error `horizontal_playground.html:1 Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause().`

[2016-10-14 17:31] yonghuming commented on #674
[code]
there is indeed no such file or directory
[code]

[2016-10-14 17:40] tmickel commented on #674
@yonghuming The first is a known issue with Blockly: https://github.com/google/blockly/issues/299

The second we should investigate separately.

I'm going to close this issue since the error message is not a problem.

[2016-10-14 17:40] #674 closed, assigned to rschamp

[2016-10-14 17:41] rschamp commented on #674
@yonghuming The `cannot run in wd %s %s (wd=%s)` error means that the user running the command doesn't have permissions for the directory. Your user must have read and write permissions for the scratch-blocks and ../closure-library directories.  It looks like when you checked out a new copy, this was resolved, so this is for you to be aware of in the future.

In your latest stack trace it says `er

[2016-10-14 17:41] yonghuming commented on #674
@tmickel maybe it's because the branch
/msg/json/en.json is in the deture branch ,and i git develop branch

[2016-10-14 17:42] yonghuming commented on #674
@rschamp i am root user,my the net problem

[2016-10-14 17:46] rschamp commented on #674
@yonghuming I see — running as the root user will also cause problems because npm tries to run as a user with limited privileges. You shouldn't run npm install as the root user because if you accidentally install the wrong package, the install script could do anything to your system.  You should run as a regular user.  If you must run as the root user, then you need to run with `npm install --unsa

[2016-10-14 17:47] yonghuming commented on #674
ok thank you very much @rschamp

[2016-10-14 17:50] yonghuming commented on #674
http://langxm.cn/scratch-blocks-feature-variable_management/tests/vertical_playground.html @rschamp

[2016-10-14 18:47] mishoboss commented on #683
Last question that is too far from the initial question, but I would be thankful of an answer. :)
What would be the easiest way to transcode the XML produced from scratch-blocks to [json-logic-js](https://github.com/jwadhams/json-logic-js) JSON code. Can I grab some part of `scratch-blocks` or maybe `scratch-vm` and use it as a base to build the conversion logic above it? Can you point me the most

[2016-10-15 14:45] carlosperate opened #685 "build.py doesn't work anymore"
The build.py script does not work any more as the json translations have been removed.
Has the build system changed away from using this script? currently the `npm install` and wiki still use it.

[2016-10-17 18:49] thisandagain commented on #684
Hi @yonghuming can you please provide more info so we can help debug this for you? Specially we need to know:
- OS
- Node version (`node -v`)
- NPM version (`npm -v`)
- Full NPM debug log after attempting `npm install` (look for `npm-debug.log`)

[2016-10-17 18:50] #685 closed, assigned to rschamp

[2016-10-17 22:55] carlosperate commented on #685
Thanks!

[2016-10-18 03:11] tmickel opened #690 "Scroll to top of flyout on category switch"
This seems to me like it would be the right behavior, since the scroll doesn't feel like it should follow from category to category.

[2016-10-18 11:10] towerofnix commented on #690
A unique scroll-position for each category might be nice.. I end up needing to scroll way back down the variables category because of the number of variables I have far too often..

[2016-10-18 16:26] PullJosh commented on #690
This makes a lot of sense... On that topic, what if it was possible to rearrange variables in the editor?

[2016-10-18 18:11] thisandagain opened #691 "Generators - Support & Documentation"
@RoboErikG brought up an important point which is during our "purge" of functionality which is unused in Scratch 3.0 we eliminated all of the individual generators. This isn't an issue for Scratch, but does lead to an unused / unmaintained code path which could be useful to potential users of Scratch Blocks. We should add documentation and consider adding some minimal example generators to ensure

[2016-10-19 00:51] rachel-fenichel opened #692 "Don't create input shapes that will never be visible"
In particular, input shapes exist on the inputs in operator blocks, even though there are shadow blocks.  The input shapes are svg elements that are always hidden, which means our performance there depends on the browser being intelligent about visibility:hidden

It's probably sufficient to change block_svg:initInputShape to start

[code]

unless scratch has blocks that will mutate to remove shado

[2016-10-19 01:54] towerofnix opened #693 "Workspace scrolling is shared between sprites"
Scroll/pan position should probably be stored with a value for each target, so that switching between sprites won't make you need to go back to where your far-way scripts are. (That's a huge problem I have with multiple sprites having [tons](http://i.imgur.com/1FZQJ82.png) [of](http://i.imgur.com/U6iYBZJ.png) [scripts](http://i.imgur.com/WvNtVkY.png) in Scratch 2!)

(Probably has a bit to do with

[2016-10-19 11:02] xmeow opened #694 "Number input pad freeze after first input on mobile devices."
Every UI components freeze up after any number input via the number pad, including toolbox and flyout.
Tested on llk.github.io/scratch-vm under ipad safari and phonegap enclosure.
![qq20161019-0](https://cloud.githubusercontent.com/assets/3390845/19516370/4ad2478a-962e-11e6-839e-ba7d3eb84a16.png)

[2016-10-19 13:04] rschamp commented on #693
Moved to LLK/scratch-gui#6

[2016-10-19 13:04] #693 closed, assigned to rschamp

[2016-10-19 13:05] rschamp commented on #693
Thanks @liam4 — this will be something to keep in mind as we build the GUI, which will control the communication between the blocks, renderer and VM.

[2016-10-19 13:09] towerofnix commented on #693
I can't wait for this to be published.. :P

[2016-10-19 13:33] rschamp commented on #693
Soon!

[2016-10-19 18:04] rachel-fenichel commented on #694
Dupe of #658

[2016-10-19 18:23] madCode opened #695 "Creating block with neither previousStatement nor nextStatement results in incorrectly displayed block icon."
I'm creating a starting block that has neither a previousStatement nor a nextStatement, since all blocks are to be placed as an input.

[code]

It looks something like this:
![image](https://cloud.githubusercontent.com/assets/2229305/19531780/d1491d8e-95ed-11e6-8097-cb9aefcf42b2.png)
Notice that the icon isn't correctly placed on the block.

If I add a line "previousStatement":null, to the json, t

[2016-10-19 19:42] tmickel commented on #695
Hi @madCode:

We're not actively supporting horizontal block configurations beyond our designed set. Properly supporting all possible horizontal block configurations would require a bunch of design work (e.g., what if you have more than one value input - where does it go?)

If you need the flexibility to do this sort of thing, I suggest using the vertical blocks - they're fully equipped for that!

[2016-10-19 20:37] rachel-fenichel opened #696 "Deleting the contents of a number field and clicking away leaves it empty"
Expected behaviour: it returns to "0"
Clicking on a block to run it after this acts as though there were a 0 there.
![e4ec8d84-236f-4d74-b3b6-d33c17097f78](https://cloud.githubusercontent.com/assets/13686399/19536780/3d1a087a-9602-11e6-9d7a-ad63772fb1a0.gif)

[2016-10-19 20:47] tmickel commented on #696
Why is this the expected behavior - seems consistent with Scratch?

[2016-10-19 20:59] rachel-fenichel commented on #696
Huh, I guess it is.

It feels super weird to me to have "move by " when we know that "move by 0" is the correct thing to coerce it to after validation.  Feel free to close if the goal is purely consistency with current scratch for this.

[2016-10-19 21:01] tmickel commented on #696
Hmm, yeah. no a strong preference from me, we can discuss

[2016-10-19 21:13] PullJosh commented on #696
I'd agree that a zero makes more sense. I'm having a hard time envisioning a situation where "move by _" would make more sense than "move by 0" (seeing as a blank will be evaluated as a zero).

[2016-10-19 21:15] PullJosh commented on #695
Will extension blocks be supported in the horizontal layout? If so, this seems like a necessary feature.

[2016-10-19 22:31] RoboErikG commented on #695
Just a note, I think this is just a layout bug as the block does fit in the set of Horizontal block features that have been designed.

[2016-10-19 23:33] towerofnix commented on #696
Yep.

The only place where I can only see empty number input slots being particularly useful is actually in Snap_!_, where ["run { move (_) steps } with inputs (45)" behaves like "move (45) steps"](http://snap.berkeley.edu/snapsource/snap.html#cloud:Username=liam4%20snap&ProjectName=Blank%20Input).. and that's obviously not applicable to Scratch 3.0!

[2016-10-20 01:30] jeandrek commented on #695
@PullJosh But why would you want a hat-cap block?

[2016-10-20 02:09] PullJosh commented on #695
If I'm being honest, I hadn't really gotten that far in my thinking. :P

[2016-10-20 04:59] mrjacobbloom commented on #695
SCRATCH 3 WEB-BLOX

[2016-10-20 17:46] #694 closed, assigned to rachel-fenichel

[2016-10-20 17:47] rachel-fenichel commented on #658
Fixed by #697

[2016-10-20 17:47] #658 closed, assigned to rachel-fenichel

[2016-10-20 18:50] dekrain opened #700 "Update the flyout category for Custom Blocks"
On procedures tab it's only one hat with 4 \* undefined

[2016-10-21 16:16] tmickel opened #704 "Repeatedly clicking on a toolbox category scrolls the flyout up"
![oct-21-2016 12-16-51](https://cloud.githubusercontent.com/assets/120403/19605477/471ed5a8-9788-11e6-8342-38b32e78e327.gif)

[2016-10-21 19:34] #692 closed, assigned to rachel-fenichel

[2016-10-21 19:36] rachel-fenichel commented on #704
What's the desired behaviour: leave scroll in the same place, or reset to the start of the category?

If it's the second, it'll be fixed when I fix #690.

[2016-10-21 20:40] TheBrokenRail opened #706 "Design Extensions Interface"
What should the format be?
### A Working Implementation

I made a implementation that works if you choose to use otherwise it is here to base yours off of.
### Clone It At:

https://github.com/TheBrokenRail/scratch-blocks.git Branch: feature/extensions
## More About Example Implementation:
### How To Load Extension

Push the JSON to Blockly.Extensions.EXTENSIONS
### JSON Block Example

[code]

Ext

[2016-10-21 21:03] rachel-fenichel commented on #549
Closed by #698

[2016-10-21 21:03] #549 closed, assigned to nobody

[2016-10-23 13:58] TheBrokenRail opened #708 "Add Multiple Ifs in one block like in blockly [FEATURE] [REQUEST]"
![untitled](https://cloud.githubusercontent.com/assets/17478432/19626823/3c74b9ee-9907-11e6-9da6-fd8dcaf3acd3.png)

[2016-10-24 12:31] ed-cooper commented on #708
I feel like this would be a lot of work for something that is really easy to work around
Moreover, I suspect being able to drag and drop "else if" and "else" blocks might cause confusion for younger scratchers

[2016-10-24 12:51] thisandagain commented on #708
Hi @TheBrokenRail . Thanks for the suggestion.

In Blockly these are refered to as [Mutators](https://developers.google.com/blockly/guides/create-custom-blocks/mutators) and have explicitly dropped support for them in Scratch Blocks as we have found them to add complexity and confusion to the language (particularly when first getting started). While they have some interesting uses, we would prefer

[2016-10-24 12:51] #708 closed, assigned to nobody

[2016-10-24 18:29] #690 closed, assigned to nobody

[2016-10-24 18:29] #704 closed, assigned to nobody

[2016-10-24 23:17] towerofnix opened #709 "Dragging a block out of a Scratch 2.0 dropdown leaves the block spec as the input"
![The issue](https://cloud.githubusercontent.com/assets/9948030/19667340/b846bbc4-9a26-11e6-899c-b862c9efa133.gif)

As seen above.

When you drag out a block from a Scratch 2.0 dropdown, a stringified version of the block spec tree is left in the input.

Probably the fix here would be setting the input values to some default value during an SB2 import, but I'm not totally sure what the best way to

[2016-10-25 00:48] tmickel commented on #709
Hmm, good catch. It's definitely a bug with the SB2 importer, although I'm not immediately sure what the default value should be. In Scratch 2.0 it looks like the default behavior is to set the drop-down to "blank" in this situation. We could do something similar here.

[2016-10-25 13:18] thisandagain commented on #700
Hi @dekrain could you please provide a description?

[2016-10-25 13:26] dekrain commented on #700
Ok, updated

[2016-10-25 13:28] thisandagain commented on #700
Tracking in #607

[2016-10-25 13:28] #700 closed, assigned to nobody

[2016-10-25 17:01] itselijahciali opened #710 "Color effect"
![image](https://cloud.githubusercontent.com/assets/16740188/19695851/610f1f5c-9aaa-11e6-943d-a8ba70357736.png)
I personally think it should be "set [color v] effect to (0)", because that's like Scratch 2.0 and it's usual to the users.
![image](https://cloud.githubusercontent.com/assets/16740188/19695933/ab9fa3b6-9aaa-11e6-964e-fa3e4f761f43.png)
like that ^

[2016-10-25 17:05] dekrain commented on #710
I don't understand you. This block is on the pallet

[2016-10-25 17:11] thisandagain commented on #710
Hi @eliapplethetech we have both "set" and "change" available in the blocks palette (look under "looks") here: http://llk.github.io/scratch-vm/#.

This is the same as Scratch 2.0. Let us know if you see any other inconsistencies! 😄

[2016-10-25 17:11] #710 closed, assigned to nobody

[2016-10-25 20:47] TheBrokenRail commented on #706
Is there any way for me to put my implementation and it's documentation elsewhere like a design example pull request?

[2016-10-26 13:27] tmickel opened #712 "Clicking on a dropdown in the flyout triggers the block"
From @liam4:
### Expected behavior

The dropdown opens, with no side-effects, as it would be opened in the workspace.
### Actual behavior

The dropdown opens, but the block is also immediately activated.

The drpodown's focus highlight also only appears for an instant.
### Steps to reproduce

Open a category in the flyout that contains a block with a dropdown, and click on the dropdown.

For compa

[2016-10-26 13:28] tmickel commented on #709
Also - this is more relevant to scratch-vm, so moving it there!

[2016-10-26 13:28] #709 closed, assigned to tmickel

[2016-10-26 13:32] tmickel opened #713 "Code clean-up for glow/highlight blocks"
After https://github.com/google/blockly/pull/718 lands, merge with our own `glowBlock`. Possibly rename `glowStack` to `highlightStack` to match. Finally, make sure the filters have the unique ID as needed, explained in the aforementioned PR.

[2016-10-26 21:22] mrjacobbloom opened #714 "Use CSS for styling blocks?"
Now that blocks can be styled with CSS, who'd be interested in transitioning from Blockly.Colours to CSS to style them? I'd be happy to write the code for that if y'all are interested in pursuing it.

[2016-10-28 14:30] MichaelZawadzki opened #715 "iOS Flyout Freezing"
I am noticing that on iPads (iOS 9 iPad 4 Safari) that the Flyout freezes up very quickly when trying to use it. Scrolling operations will quickly result in this (even a simple scroll can do it sometimes).

When this happens the flyout and workspace are frozen. Additionally drags on the workspace then start to scroll the entire page. There are no console errors.

I can see this happen with both cu

[2016-10-28 15:56] thisandagain commented on #715
Thanks for reporting!

[2016-10-28 17:59] rachel-fenichel commented on #715
Sounds like another multitouch bug.  Do you have any more specific steps for reproducing it?

[2016-10-28 18:31] MichaelZawadzki commented on #715
Multitouch is not required to trigger the bug, meaning I'm only using 1 finger and so 1 touch max at a time.

I literally just scroll the flyout downwards... it usually happens right away as I'm nearing the bottom of the category... but not always... though a bit more scrolling triggers it quickly. You should be able to reproduce this by just scrolling up and down.

Let me know if there is somethi

[2016-10-28 18:44] rachel-fenichel commented on #715
Are you scrolling with the scrollbar in the flyout, or the flyout background, or one of the blocks?  Can it happen in any category?  Does it happen if you scroll the main workspace, or only the flyout?

Interesting that it doesn't happen every time.  That's a bit concerning.

What I meant by multitouch is "my implementation of multitouch support".  There's a difference in how android and ios assig

[2016-10-28 18:51] MichaelZawadzki commented on #715
Also on iOS 10.

So it seems it breaks on the 2nd touch on the flyout... (this explains why I thought it was happening near the bottom of the scroll... since here I need to lift my finger to drag further... triggering the 2nd touch).

So steps to reproduce (100% repro as I can tell):
1) Scroll the flyout a little
2) Stop scrolling
3) Start scrolling again -> notice it won't scroll anymore

Good qu

[2016-10-28 18:53] rachel-fenichel commented on #715
Great, thanks for the info.  I'll take a look!

[2016-10-28 19:18] MichaelZawadzki commented on #715
Thanks for taking a look!

[2016-10-28 20:13] TheBrokenRail opened #716 "Backlog Due By January 1, 2022?"
Is this intended?

[2016-10-28 20:15] TheBrokenRail opened #717 "Add more documentation on wiki about adding blocks"
- [ ] Adding With JSON Format
- [ ] Adding With JS Format
- [ ] Adding New Categories
- [ ] Adding To Toolbox
- [ ] What JS Objects are for and Their Functions
- [ ] Modifying The Playground

[2016-10-28 20:20] TheBrokenRail opened #718 "Make NPM build script work on Windows"
It uses Mac/Linux-Slashes which could be avoided it calls to the module instead of its bat/sh file.

[2016-10-28 20:43] MichaelZawadzki commented on #691
As a potential user this is exactly what I am interested in. Specifically because I'd like a way to be able to execute the user-created code.

We explored the alternative of using the scratch-vm to run scratch-block code but the VM is a lot more than just executing block-code: engine for running scratch projects. We would like a more flexible integration (a-la blockly) but do want all the lovely s

[2016-10-28 22:05] MichaelZawadzki commented on #691
So trying this out I ran into an issue: it appears that scratch-blocks has renamed all of the blocks that are used from Blockly. For example, for the && operator Blockly has 'logic_operation' but Blockly has 'operator_and'.

Also, this doesn't seem like a plain old renaming. This can be seen with the above boolean && operation. I guess this is not a technical thing... but a design choice: 1 block

[2016-10-28 23:38] rachel-fenichel commented on #691
Correct.  The crux of the issue is that adding back the ability to generate arbitrary code (by adding the blockly generators/javascript.js, generators/python.js, etc. files) isn't the same as creating generators for each block in the scratch toolbox.

As far as I know the scratch team is not planning to create generators for their blocks.  This issue is more a discussion of whether the generator f

[2016-10-31 13:23] thisandagain commented on #718
@rschamp I believe you mentioned that we had a reason for including the path explicitly (which unfortunately still causes the NPM scripts to break on Windows. Could you clarify?

[2016-10-31 13:24] thisandagain commented on #716
Yes. It's just an arbitrary date in the future that we use work that hasn't been scheduled yet.

[2016-10-31 13:24] #716 closed, assigned to nobody

[2016-10-31 13:27] rschamp commented on #718
Leaving out the explicit path caused path problems when running `npm install` from a project using scratch-blocks as a dependency with `npm link`.  However I hit this when we were relying on everything installed via Github rather than npm, so I will see if the changes I've made since then have alleviated the issue.

[2016-10-31 18:01] #715 closed, assigned to rachel-fenichel

[2016-10-31 20:03] tmickel commented on #43
@carljbowman This is on the list for the prototype, so we'll need a design.

[2016-10-31 20:04] tmickel commented on #675
@carljbowman This is on the list for the prototype, fyi.

[2016-11-02 14:38] carljbowman commented on #458
Here are a couple versions for the angle picker.

Some notes:
- Each version has two states: on the left static state and on the right when the users is dragging the handle. Both no longer user Hover to control the angle selection.
- Because Scratch uses negative values beyond 180°, we should flip the highlighted section of the picker - Versions 1 & 2 dragging states.
- One version includes a spri

[2016-11-02 15:21] towerofnix commented on #458
(For version 2) Perhaps the respective rotation style icon below the sprite? (Positioned below, I mean. It might not be a bad idea to have it "above" the sprite (layered above).)

But the more things we throw in the more crowded it is, and it _certainly_ wouldn't fit in the static state!

Another option would be a "shadow" of the sprite, in the dragging state. The shadow would follow the mouse lik

[2016-11-02 15:27] towerofnix commented on #314
Well, it's been several months, and they're added, now..

[2016-11-02 18:30] tmickel commented on #458
@carljbowman:
- What happens when the user clicks? How do you pick the final angle? Only by clicking outside of the drop-down menu?
- What happens to the display when the angle is > 180 or < -179?
- When you transition from -179 to +180, does the selection flip?
- Can you provide an asset for the arrow icon floating along the edge?
- Can you be more specific about the pointer style (you show the p

[2016-11-02 19:51] tmickel commented on #458
Also regarding your qs:
- For rotation style, that's definitely tricky. One problem is that rotation style can change on run-time, since we have the "set rotation style" block. If we have an indicator in the menu somehow, we'd have to adjust the menu while the state is changing, or otherwise be ok with it being out-of-date. Hmmm
- Displaying the degree symbol: currently it displays when the menu i

[2016-11-02 20:58] #636 closed, assigned to nobody

[2016-11-02 21:04] MichaelZawadzki opened #721 "Clicking on Lists Category in Vertical Playground causes error"
In the current vertical playground on develop (as well as in the hosted version here: https://utils.asun.co/scratch-blocks/tests/vertical_playground.html) as soon as the "List" category is clicked there is a console error and the app doesn't show the category correctly.

[2016-11-05 15:57] tmickel opened #722 "Clicking on background of text fields doesn't focus field."
<img width="42" alt="screen shot 2016-11-05 at 11 55 36 am" src="https://cloud.githubusercontent.com/assets/120403/20031496/c65b6d14-a34e-11e6-895a-6ffaf9229dda.png">

e.g., in the above, if you click on the outer white part not near the text, the field isn't focused. This is a usability problem - makes it hard to focus and leads to lots of executing the block instead. Not sure when this was intro

[2016-11-05 16:00] tmickel commented on #722
Looks like it was from the merge:
https://github.com/LLK/scratch-blocks/pull/720/files#diff-393b262d7ed6406aa328f2e57e089e5fL177

That needs to be changed back to `getClickTarget_()`

[2016-11-07 18:23] tmickel commented on #721
@rachel-fenichel This appears to have been caused by this clean-up of fieldnumber: https://github.com/LLK/scratch-blocks/commit/3bcea6b6feb0328c1752671ae6f0459f1a7362d6

Would you mind taking a look?

[2016-11-07 18:30] tmickel commented on #695
After design discussion I believe we've decided not to support this type of behavior in horizontal blocks in the near future.

[2016-11-07 18:30] #695 closed, assigned to nobody

[2016-11-07 18:34] #722 closed, assigned to tmickel

[2016-11-07 18:39] tmickel commented on #439
Note of a quick discussion with @cwillisf and @picklesrus:

For backpack and "drag script to sprite", we could provide a registry in scratch-blocks of (DOMElement, callback). When a block is dropped outside the workspace, we could hide the blocks and then call `document.elementFromPoint(mouseX, mouseY)`. If that element matches a DOM element in the registry, we can call `callback` with the block I

[2016-11-07 18:43] tmickel commented on #119
Better described in #682.

[2016-11-07 18:43] #119 closed

[2016-11-07 18:48] tmickel commented on #262
@rachel-fenichel The infrastructure for this has landed, right? Assigning @carljbowman for any further design work.

[2016-11-07 19:10] #712 closed, assigned to tmickel

[2016-11-07 19:12] rachel-fenichel commented on #262
Yup, you've now got labels and buttons with arbitrary callbacks.  <label text="foo" callbackKey="yourcallbackKey"> can go anywhere blocks can go, and it's styled with CSS.

[2016-11-10 20:09] tmickel commented on #458
Answers:
- The only way to close the menu is clicking outside of it. No other way to close the menu, and clicking just selects an angle.
- Fill direction will be in the "negative" direction when the angle is negative, even if < -179. Similarly fill direction will be in the "positive" direction when the angle > 180. When the angle is converted to a respective positive/negative angle after the menu

[2016-11-10 20:10] tmickel commented on #458
- Remove the degree symbol entirely.

[2016-11-10 21:11] rachel-fenichel commented on #607
Model (not view) questions:
-- Who keeps the master list of procedures?  I assume it'll be the VM
-- How does the VM tell blockly about the list of procedures?
-- Does that information need to be passed back and forth at any time other than when opening the "More Blocks" section of the toolbox?
---- If it's only at that one point, does Blockly need an explicit list of procedures, or can we get awa

[2016-11-10 21:28] tmickel commented on #607
@thisandagain @cwillisf Assigning for feedback on Rachel's questions above

[2016-11-10 23:06] cwillisf commented on #607
I also consider this a bug. I suggest that if two procedures "become" identical then we add a disambiguating suffix to the name of the one that caused the ambiguity, just like we do with sprites and costumes and such. That is, `foo` becomes `foo2` upon collision.

If we end up in a situation where there's ambiguity, for example if someone hand-edits their project files to see what happens, then I

[2016-11-11 19:57] luxaritas commented on #607
Out of curiosity, why is procedures available for all sprites any less clear than variables for all sprites? I understand the clarity issue, but isn't that just as much of an issue with global variables? Is it specifically the location of the definition?

[2016-11-11 20:18] luxaritas commented on #714
Cross reference to #295, this might call for using LESS/SASS/etc?

[2016-11-11 21:34] mrjacobbloom commented on #607
If we treat global procedures like we do global variables then I can see possible compatability issues with 2.0. If procedures in the stage automatically become global then there could be name collision issues

[2016-11-11 21:54] luxaritas commented on #607
Why would we need to be concerned about compatibility going from 3.0 to 2.0? I don't think you could load 2.0 projects into 1.4, could you?

[2016-11-11 22:31] ghost commented on #607
@LFP6 The compatibility issue is from 2.0 to 3.0, when there's custom blocks of the same name in the Stage and another sprite.

[2016-11-11 22:32] luxaritas commented on #302
It looks like this is still an issue, though with the scroll wheel:

![floating](https://cloud.githubusercontent.com/assets/18635705/20232205/a4a9641a-a834-11e6-9b75-0fffaf36ee85.png)

I'm tempted to say that when using the scroll wheel it should just track the original input.

[2016-11-11 23:16] tmickel commented on #302
@LFP6 Yep, thanks for raising that!

[2016-11-12 01:06] itselijahciali commented on #710
I was talking about the grammar & syntax.

[2016-11-12 01:08] luxaritas commented on #710
Assuming you're referencing this:

![seteffect](https://cloud.githubusercontent.com/assets/18635705/20234515/a114d8dc-a84a-11e6-8ccf-53ad94ac9168.png)

[2016-11-12 01:12] ghost commented on #710
He means that the block says "effect [color v]" instead of "[color v] effect"

[2016-11-12 01:14] luxaritas commented on #710
@jupiterio Yes, just clarifying that this wasn't an issue of set/change, as the screenshots were of different blocks.

[2016-11-12 01:46] ghost commented on #710
@LFP6 Sure, no worries, I was also clarifying.

[2016-11-14 18:17] #721 closed, assigned to rachel-fenichel

[2016-11-16 18:55] rachel-fenichel opened #731 "Horizontal Playground - Simple doesn't work"
The way we're loading toolboxes isn't actually working, but it's okay because the default is usually what we want.

We're using document.getElementById('toolbox-categories') or ('toolbox-simple'), but the toolbox is in a string defined in default_toolbox, rather than being an element in the dom.  When we can't find the toolbox it's set to null from the playground, and inject.js loads the defaultTo

[2016-11-18 23:47] rachel-fenichel opened #736 "Replacement marker filter breaks scratch-blocks on IE"
https://github.com/LLK/scratch-blocks/blame/develop/core/inject.js#L137

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/repeat#Browser_compatibility

This is simple enough to fix that we should explicitly work around it.

[2016-11-21 16:18] tmickel commented on #736
Was this fixed by https://github.com/LLK/scratch-blocks/pull/737 ?

[2016-11-21 16:47] rachel-fenichel commented on #736
Yes, but that's against a different branch.  I need to rebase it against develop and then make a request against develop in order to close this.

[2016-11-21 16:49] #563 closed, assigned to carljbowman

[2016-11-21 19:38] tmickel opened #739 "Sprinkles broken"
The sprinkles test gets its blocks with `toolbox.getElementsByTagName('block');`. Having moved the default blocks to a file, this no longer works.

[2016-11-21 19:51] rachel-fenichel commented on #739
Related to #731 as well.  Moving the default blocks to a file has been very buggy so far.  It just happens to work for the most common use case.

[2016-11-21 19:55] #302 closed

[2016-12-04 12:08] dekrain commented on #607
Now I know what is wrong! In https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/procedures.js#L57 it should be
[code]
instead of
[code]
or in `domToMutation`.

[2016-12-04 14:09] TheBrokenRail opened #740 "]DESIGN] Horrizontal Blocks"
The rest of the horizontal blocks need to be added and designed.

[2016-12-04 14:14] TheBrokenRail opened #742 "Add Compressed Horizontal Playground"

[2016-12-04 14:53] TheBrokenRail commented on #460
Here's some code that will render DOM objects in a canvas.
[code]

[2016-12-06 15:26] Domiii opened #743 "Support for importing Scratch projects in SB2 format?"
Is there any way or any plan for allowing importing of legacy projects? It appears that they should be fully compatible, however I don't see any references to "SB2" in the repository? (I used the Github search function, maybe I am looking for the wrong key word?)

[2016-12-06 15:58] dekrain commented on #743
https://llk.github.com/scratch-gui/#projectid
Checkout the llk/scratch-vm repo

[2016-12-06 18:08] thisandagain opened #744 "Github Pages - Deploy playgrounds to GH pages"
- [x] Setup
    - [x] https://llk.github.io/scratch-blocks
    - [ ] https://llk.github.io/scratch-blocks/playgrounds/horizontal.html
    - [ ] https://llk.github.io/scratch-blocks/playgrounds/vertical.html
- [x] Update playgrounds to use compressed blocks or solve issue with closure-library dep.
- [x] Update travis config to deploy on merge to `develop`

[2016-12-06 18:24] thisandagain commented on #438
@RoboErikG reports that this may be resolved in upstream blockly.

[2016-12-06 18:26] RoboErikG commented on #438
Also being tracked in https://github.com/google/blockly-android/issues/295

[2016-12-06 18:29] thisandagain commented on #396
Resolving in new audio engine. Tracking in https://github.com/llk/scratch-audio

[2016-12-06 18:29] #396 closed, assigned to picklesrus

[2016-12-06 18:30] thisandagain commented on #316
First pass of this is done and we went a little too far. Closing for now in favor of more specific bugs.

[2016-12-06 18:30] #316 closed

[2016-12-06 18:31] dekrain commented on #743
**Pro Tip**: You can close issues that you open if main problem was resolved.

[2016-12-06 20:50] picklesrus commented on #159
I'm going to close this for now since a lot has changed and it was was specific to the app. Any image loading optimizations probably would be done with the whole of scratch & vm in mind now.

[2016-12-06 20:50] #159 closed

[2016-12-06 20:57] picklesrus commented on #203
I think this is obsolete. I don't see tooltips on the blocks in scratch and it is fixed upstream, at least on the lop block.

[2016-12-06 20:57] #203 closed

[2016-12-07 08:38] Domiii commented on #743
Not sure how the `scratch-gui` project answers my question? I understand that it can be used to ultimately display the contents of SB2 files, but there is no importer either, is there?

Are you saying that I should remove this here and file it as a feature request in [scratch-gui](https://github.com/LLK/scratch-gui)? Or maybe I only overlooked it?

[2016-12-07 08:43] Domiii commented on #743
Oh! I finally found it in the [scratch-vm repository](https://github.com/LLK/scratch-vm) :

https://github.com/LLK/scratch-vm/blob/develop/src/import/sb2import.js

PS: Great job btw! I am looking forward to make use of these libraries in the future :)

[2016-12-07 08:43] #743 closed, assigned to nobody

[2016-12-07 11:22] Domiii commented on #743
May I ask another stupid/somewhat unrelated question?

How do all these projects relate? [The official developer page](https://scratch.mit.edu/developers) does not quite clarify this. Specifically, it does not mention:

1. https://github.com/LLK/scratch-vm/
2. https://github.com/LLK/scratch-gui/

Can anyone explain? And if not, where should I ask? Again: Sorry for being a bit off-topic, just tryin

[2016-12-07 13:35] dekrain commented on #743
Scratch VM _was_ main project in development but now GUI has got main design. In short:
- Scratch Blocks - Main blocks' design
- Scratch VM - all the work of blocks
- Scratch GUI - Design of the playground
- Scratch Audio - Sound system

[2016-12-07 13:51] Domiii commented on #743
Really awesome. Sorry for going off-topic in this issue! I think, I'm not the only one who is going so far as to say that updating the wiki + Scratch developers main page with this information would be super valuable! :)

Again: Thanks a dozen!

PS: Is `scratch-vm` going to be phased out in favor of `scratch-gui`?

[2016-12-07 15:03] rschamp commented on #743
@Domiii Thanks for bringing up the gaps in the developer page, we'll try to fill those soon.

The `scratch-gui` project is dependent on `scratch-vm` so it cannot phase out `scratch-vm`. All of these repos, `scratch-blocks`, `scratch-vm`, `scratch-render`, `scratch-audio` and `scratch-gui` are all parts of one thing so there is no "main" project. However our focus may shift across them depending on

[2016-12-08 21:19] TheBrokenRail opened #746 "/dist/horizontal.js doesn't include full blockly."
It only has:
- Xml
- Mutator
- Map
- Msg

[2016-12-08 22:53] TheBrokenRail commented on #746
Do you have any ideas on a temporary fix for this?

[2016-12-08 22:59] rschamp commented on #746
The files in `/dist` are only necessary for module imports where you need Blockly to be scoped to your module rather than a global. If you don't care about the global scope, you can just include the files in your page in the same manner as the playgrounds and use the Blockly global that way.

[2016-12-08 23:15] TheBrokenRail commented on #746
My question is, why does the vertical file load full blockly and blocks and the horizontal file only load stuff for mutators, msg, xml, and map?

[2016-12-08 23:21] rschamp commented on #746
We haven't used/tested `/dist/horizontal.js` since we're focused on the Scratch 3.0 prototype which uses vertical blocks. So the build process for `/dist/horizontal.js`  could very well be broken. The build is described in `webpack.config.js` — then follow the path of shims in `/shim`. Run `npm run prepublish` to rebuild.

[2016-12-12 20:51] carljbowman commented on #675
We should keep the current animation.

The trash can icon should be toggle-able, but by default is set to false. I worry that with zoom controls and in some cases (like our tablet prototype) including Greenflag and Stop, this set of controls could become rather cluttered. With that in mind we should make the interaction consistent across-platforms and have users delete blocks by dragging to the pa

[2016-12-12 22:41] rachel-fenichel commented on #675
Toggle-able by the Scratch user, or left in the codebase but not exposed in Scratch?

That is, in Scratch will there be a button to make the trash can appear and disappear?

[2016-12-13 14:48] carljbowman commented on #600
Updated the blocks color spec to include a Lists color among the Data Category

![r3_vertical-colors](https://cloud.githubusercontent.com/assets/3409578/21144386/70d41c78-c118-11e6-9cd4-2ffff8e58e58.png)

<img width="413" alt="data colors" src="https://cloud.githubusercontent.com/assets/3409578/21144392/734bc906-c118-11e6-93a3-4c46b721f3a3.png">

### Data - Vars
Primary: `#FF8C1A`
Secondary: `#FF8

[2016-12-13 16:45] thisandagain commented on #600
Looks great. Thanks @carljbowman

[2016-12-16 17:51] ghost commented on #744
Well, i managed to do a gh-pages branch that works.
It uses Compressed Playgrounds (even the Horizontal one)
Note: the travis config was not updated in the branch
https://joaoh1.github.io/scratch-blocks (The Links in the page will not work because it's prepared for PR)
https://joaoh1.github.io/scratch-blocks/playgrounds/vertical.html
https://joaoh1.github.io/scratch-blocks/playgrounds/horizontal.h

[2016-12-18 15:41] hasso commented on #664
Just let the locale define the separator. Although dot and comma will cover 99,9% of cases, there are corner cases like Persian and English Braille for example.

[2016-12-18 19:32] TheBrokenRail opened #749 "Implement drop-down menus"
- [x] All motion (and sensing of object (except for preset stage and sprite1)) menus that have sprites in them don't show sprites
(Was Using This iv VM with Sprites)
![first](https://cloud.githubusercontent.com/assets/17478432/21412972/265737e2-c7c2-11e6-8e7b-883d07330fc5.PNG)
- [ ] Broadcast Menu new broadcast doesn't do anything
![two](https://cloud.githubusercontent.com/assets/17478432/21412982

[2016-12-21 19:46] #718 closed, assigned to rschamp

[2016-12-22 00:03] TheBrokenRail commented on #706
Updated example to use json init and toolbox xml instead of parsing a string.

[2016-12-22 00:11] thisandagain commented on #706
The best option for things like this is to put up a branch (e.g. `feature/extensions`) in your fork and then post a link to it in this issue. Example PRs are hard for us to work with a can be very noisy / intrusive.

[2016-12-22 02:05] TheBrokenRail commented on #706
There: https://github.com/TheBrokenRail/scratch-blocks.git Branch: feature/extensions

[2016-12-22 02:14] TheBrokenRail commented on #749
Added screenshots to demonstrate problem.

[2016-12-22 02:15] TheBrokenRail commented on #749
I think this should be ready by the prototype cause menus need to work.

[2016-12-22 02:15] itselijahciali opened #751 "Backdrop has 2 costume switching options"
On the stage, you can [switch costume to ________] or switch backdrop to _________]

This is an issue. A big one.

[2016-12-22 13:01] thisandagain commented on #751
Tracking in #541

[2016-12-22 13:01] #751 closed, assigned to nobody

[2016-12-22 13:02] thisandagain commented on #740
We are going to track this in individual issues as we start implementation for ScratchJr. Closing.

[2016-12-22 13:02] #740 closed, assigned to nobody

[2016-12-22 16:39] tmickel commented on #749
Thanks for the screenshots - that should be helpful when this is implemented!

Regarding your last point:
The "squared" menus with block-colored backgrounds are intentional; no reporters can be dropped into those menus.

[2016-12-22 23:26] TheBrokenRail commented on #706
Updated with proper example.

[2016-12-22 23:41] PullJosh opened #752 "Blocks Need to be Grouped in Palette"
In Scratch 2.0 (and below), blocks are grouped into sections within the palette. For instance, `move 10 steps`, `turn right`, and `turn left` are all grouped together, with a space before `point in direction` (and the rest of the blocks). This is not yet the case in Scratch 3.0.

[2016-12-22 23:45] luxaritas commented on #752
I was actually thinking that there should be collapsible menus, to help clean things up (especially since blocks are so big with Scratch 3): https://lfp6.github.io/scratch3/mockup/blocks-accordion

[2016-12-22 23:51] TheBrokenRail commented on #706
Any comments on the example implementation?

[2016-12-22 23:57] PullJosh opened #753 "Blocks not laid out optimally"
This is a bit of a subjective decision, but I'll try to back things up with as much data as I can:

Currently, the Scratch 3.0 block palettes are laid out in the same way as they are in 2.0 (with the exception of groupings: #752). However, this layout isn't the best. After taking some time to look through the block usage statistics, I found that the blocks placed at the top of the palette aren't a

[2016-12-23 01:21] towerofnix commented on #753
I get the feeling we're going to end up in large rants about every decision made here, all in one big thread... :)

"Point towards" and "set rotation style" look to be thrown beside each other because they aren't used much. I think it'd make more sense to put "point towards" next to "go to", since the two blocks involve acting/moving based on the position of another sprite.

I was kind of surprise

[2016-12-23 01:49] PullJosh commented on #753
That's all good! As long as nobody's *angry*, having some critical feedback can be extremely helpful. :smile:  (In fact, this whole issue is basically feedback from me for the ST.)

This definitely makes a lot of sense. *Edit: Updated gist to include this change.*

This was actually one of the decisions I was happiest with. :3 The switch was made because a "show" block doesn't do anything unless a

[2016-12-23 02:25] luxaritas commented on #753
I had some random related thoughts to this that have been bouncing around in my head, let me know if its worthwhile to post separately somewhere else (and if you think if they're decent ideas or absolutely worthless!).

For more advanced users, I feel like Scratch has a lot of pervasive blocks (I'd personally never use think or say), but can still lack some core features that some might want. What

[2016-12-23 02:44] luxaritas opened #754 "How much work on scratch-blocks can/will go upstream?"
In my opinion, scratch-blocks looks nicer than Blockly and the UX is much better (ie, typing a number directly in a block instead of connecting a text block to the side of it - I find it a shame that this is a "hack" and not the normal method of implementation from what I've seen). I even noticed that the Scratch-like styling was using in the Santa Tracker programming activities. Is any of this UI

[2016-12-23 10:32] ed-cooper commented on #753
The only block arrangement I disagree with is having set rotation style at the very bottom

Certainly, I agree that it hardly ever gets used (I can't remember ever seeing it be used) but having the variable reporters before it triggers my OC 😛

@LFP6
From what you wrote, I was going to suggest having keyboard shortcuts to change the current toolbox category (eg. alt+1 is motion, alt+2 is looks, et

[2016-12-23 10:37] ed-cooper commented on #754
I doubt that the blockly UI will change - a lot of web applications depend on it, and to suddenly change it would cause a variety of issues

Maybe what you want is to create a fork of scratch-blocks, add your own block definitions and then customise the style sheets to suit your design preferences? I haven't looked at the code particularly but I presume scratch-blocks and blockly will expose the s

[2016-12-23 15:28] luxaritas commented on #754
I'm just thinking from the perspective of a new project, blocks does not look very appealing. I'd personally advocate a new major version of Blockly or such that would have an improved UI. As I said, at least I feel that scratch-blocks looks/works nicer, and I'd like to see that in Blockly while scratch-blocks is just customized for Scratch's particular needs.

Side note, why isn't scratch-blocks

[2016-12-23 15:29] luxaritas commented on #754
*Blockly does not look very appealing

[2016-12-23 18:42] rachel-fenichel commented on #754
Hey there--I'm a member of the blockly team and I've done a lot of work on scratch-blocks over the last year.

From a development perspective there are two issues here: UI and behaviour.  UI governs how the blocks look; behaviour answers questions like "What happens when you drag a c-shaped block into a stack of blocks?"  Some scratch-blocks behaviour has moved into blockly; the scratch-blocks UI

[2016-12-23 18:43] rachel-fenichel commented on #754
To the side note: scratch-blocks isn't a fork of blockly on github because scratch-blocks was not open-sourced from the beginning, and you can't fork an open project as a private project.

[2016-12-23 18:59] rachel-fenichel commented on #754
And finally, on a personal level, I'd love to given Blockly a UI refresh.  I understand that it looks dated.  We just don't have the resources, both in design and in engineering, to do it now :/

[2016-12-23 18:59] #754 closed, assigned to nobody

[2016-12-23 19:08] rachel-fenichel commented on #753
And one of its greatest strengths for beginners!

How would you feel about a search box for the palette?  This is an idea that's been kicking around on blockly for a while, but needs a lot of thought to handle internationalization properly.

I'll leave discussion of the actual block ordering to the scratch team.

[2016-12-23 19:42] #736 closed, assigned to rachel-fenichel

[2016-12-23 20:10] luxaritas commented on #753
@rachel-fenichel

I should probably rephrase what I said. When I said "one of the biggest downfalls", I meant "one of the biggest challenges". Reduction of complexity is a pretty important piece in designing any GUI, of course, but a visual programming environment naturally has a lot going on.

I think that would be neat, but I'd still like to just be able to get rid of "extra stuff" and put thing

[2016-12-23 20:18] luxaritas commented on #754
@rachel-fenichel Thanks for the background, I'll definitely take a read. Personally I'm not a fan of external inputs from a visual perspective, but I also don't have much experience with Blockly. If I ever find some time, I might try drafting something up for Blockly just for fun, but we'll see how that goes! I'd definitely be interested if there's any other implementation details like that which

[2016-12-23 21:27] PullJosh commented on #753
On the topic of a search bar:

There's an old, now abandoned project by the ATers which was meant to be a Sctatch-like website editor. Although the project itself never turned into something especially impressive, the search function (for finding blocks) was pretty helpful. Especially in the case of HTML or CSS, where there are countless options for elements and styles, a search feature was mandat

[2016-12-24 23:47] rachel-fenichel commented on #753
@LFP6 Yes, I agree.  From the Blockly perspective we frequently see toolboxes that scroll on and on, and they definitely detract from usability.

Dynamic categories are definitely technically doable (see the "More Blocks" category) but a lot of thought would have to go into the details--I would guess that this won't be considered until after all of the current scratch capabilities are built out. B

[2016-12-25 00:25] rachel-fenichel commented on #754
@LFP6

Take a look at block_render_svg.js in blockly and block_render_svg_vertical.js in scratch-blocks.  The constants at the top determine the shapes of individual connectors; the functions in each file determine which parts get drawn where.  rendered_connection.js may also be interesting to diff.

***

With respect to external inputs, blockly's goal is to be flexible and let the developer decid

[2016-12-25 17:04] TheBrokenRail commented on #749
What about circular menus with block colored backgrounds?

[2016-12-25 20:57] tmickel commented on #749
Those shouldn't exist- either it's a mistake, or the color palette is too subtle to see the difference. Which blocks appear that way?

[2016-12-25 21:16] TheBrokenRail commented on #749
some reporters, sensing of menus, variable getter

[2016-12-28 21:27] TheBrokenRail commented on #746
Oops, this was just a issue with testing, closing issue.

[2016-12-28 21:27] #746 closed, assigned to rschamp

[2016-12-29 14:45] TheBrokenRail opened #756 "Add 'undefined' block"
![obsolete_block](https://cloud.githubusercontent.com/assets/17478432/21546215/3a2a6c64-cdab-11e6-8a5c-b79d9be225e1.png)
Currently Unknown blocks will load but be invisible I think we need to implement this so things like modded projects don't break, or broken json, I think it should also preserve shadow blocks.

[2017-01-03 15:14] thisandagain commented on #742
Closing in favor of the solution to deploy the playgrounds in #755

[2017-01-03 15:14] #742 closed, assigned to nobody

[2017-01-03 15:16] thisandagain commented on #744
Resolved in https://github.com/LLK/scratch-blocks/pull/755

[2017-01-03 15:16] thisandagain commented on #684
Closing pending information.

[2017-01-03 15:16] #684 closed, assigned to thisandagain

[2017-01-03 15:51] TheBrokenRail opened #757 "How to access GH-PAGES"
I put in [llk.github.io/scratch-blocks](http://llk.github.io/scratch-blocks) but it says page not found

[2017-01-03 16:43] #757 closed, assigned to nobody

[2017-01-04 22:00] rschamp commented on #744
Resolved in #755 (and fixed again in 279fb6331a3f93fb91d97885c25236b92afea823). Addendum to the previous plan, the links are:
*  https://llk.github.io/scratch-blocks/playgrounds/tests/vertical_playground.html
*  https://llk.github.io/scratch-blocks/playgrounds/tests/horizontal_playground.html

[2017-01-04 22:00] #744 closed, assigned to rschamp

[2017-01-04 22:27] rachel-fenichel commented on #753
@LFP6 @PullJosh I've been thinking about this more recently, and it sounds a lot like the backpack.  Do you end up using the backpack for this functionality now?

[2017-01-04 22:32] luxaritas commented on #753
@rachel-fenichel Aside from that thought never crossing my mind before (interesting thought!), you can't use the backpack for that. The backpack only stores scripts, not blocks, and neither does it have the ability to categorize (ie, put in folders)

[2017-01-04 22:34] luxaritas commented on #753
Well, you can put individual blocks there, but it fails for custom blocks from what I can see.

[2017-01-04 22:39] rachel-fenichel commented on #753
What do you mean by "only scripts, not blocks"?

No folders: agreed that it doesn't provide that.

[2017-01-04 22:45] PullJosh commented on #753
I use the backpack to store 15 of my favorite scripts and sprites that I might use in the future. I have things like a `polygon` block, which draws an n-sided pen polygon, a keyboard-controlled platformer character sprite, a couple of cloud engine sprites, two text-engine sprites, griffpatch's 16-frame Scratch cat walk cycle, and a few more.

Keeping blocks in the backpack seems more tedious than

[2017-01-04 22:53] TheBrokenRail commented on #753
I think a search bar would be nice. Maybe when this.jsonInit is called it will take the %X out of message0 and add message0 to a array as message0 would contain the translation (I think) you could then add a search bar to a dynamic category and search through the array containing all the message0's.

[2017-01-04 22:53] luxaritas commented on #753
@rachel-fenichel Using an image just to make sure it's clear:
![backpackblockvscript](https://cloud.githubusercontent.com/assets/18635705/21662171/5c65b8ba-d2a6-11e6-8e01-638f9200f7f5.png)

@PullJosh Agreed, blocks in the backpack would feel pretty clunky. It's in the wrong place, and requires another window to be used (not a huge deal, but a consideration).

[2017-01-04 23:10] rachel-fenichel commented on #753
Thanks for the image--that makes it a lot clearer.

[2017-01-05 00:48] picklesrus commented on #200
I dug into this again today and realized the we fixed main offender mentioned earlier by caching the result of getScreenCTM.  The blockly commit was https://github.com/google/blockly/commit/c4cad3c6e4d4e3fac0e68a7c49e5f820152794ed.

![screen shot 2017-01-04 at 4 33 56 pm](https://cloud.githubusercontent.com/assets/15675877/21664533/f8118d62-d29b-11e6-97d6-9ac5030a8f4b.png)
Attaching a screenshot o

[2017-01-05 01:47] TheBrokenRail opened #758 "What is the multi playground?"

[2017-01-05 01:50] TheBrokenRail opened #759 "Number pop up menu doesn't move when scrolling"
![image](https://cloud.githubusercontent.com/assets/17478432/21666433/a3585c32-d2bf-11e6-9ecc-4871a787f3b3.png)

[2017-01-05 01:54] TheBrokenRail opened #760 "Workspace does not scale properly on IOS"
![image](https://cloud.githubusercontent.com/assets/17478432/21666499/f1438764-d2bf-11e6-9d96-6b76b82194cd.png)

[2017-01-05 14:22] thisandagain commented on #200
@picklesrus Thanks for the update! Based on this I think we could close this for now and re-open should it continue to be an issue in the future.

[2017-01-05 14:22] #200 closed, assigned to picklesrus

[2017-01-06 01:45] TheBrokenRail commented on #749
Why is variable getter shadow round and list getter shadow square?

[2017-01-06 12:16] TheBrokenRail commented on #573
I like the dropdown version because currently you can create semi-hacky dynamic variables with but without actually hacking the blocks because you can drop a reporter into the variable getter, and setter, if variables are designed like 2.0, you would have to hack the xml of the sensing of block because you cannot put reporters into sensing of.

[2017-01-06 16:57] towerofnix commented on #573
Yeah, but it doesn't *look* good:

<img width="157" src="https://cloud.githubusercontent.com/assets/9948030/21725600/758168d4-d40f-11e6-9f0f-62893b0f3f0e.png">

The only visible thing that tells you it's a dynamic variable getter is the red ring around the block. That's not very obvious, which is why I suggested `(var name) of [myself]`.

[2017-01-06 17:55] tmickel commented on #758
The idea is to display a rendered instance of the blocks in many different configurations: LTR, RTL, toolbox on the left, on the right, etc., all on the same page. It's a good test that all of those configurations are working, and that they can all be used simultaneously. It looks like our multi-playground is not doing great, but here is the Blockly equivalent to give the idea:
https://blockly-dem

[2017-01-06 19:15] #758 closed, assigned to nobody

[2017-01-06 19:15] rachel-fenichel opened #764 "Multi-playground with categories is broken"
flyout_vertical.js:218 Error: <rect> attribute height: A negative value is not valid. ("-34px")
Blockly.VerticalFlyout.setMetrics_ @ flyout_vertical.js:218

LTR vertical at start:
![image](https://cloud.githubusercontent.com/assets/13686399/21729780/7988bf62-d401-11e6-83bc-57a56fb915af.png)

[2017-01-06 20:13] TheBrokenRail commented on #758
Souldn't there be vertical blocks two though?

[2017-01-06 21:07] rachel-fenichel commented on #758
Yes, and I've created an issue for that: #764.  I've closed this issue because the question it asked was answered, and there are no code changes associated with that answer.

[2017-01-07 02:49] TheBrokenRail commented on #764
Why does the multi-playground use a custom toolbox (the events/pants thing)?

[2017-01-07 21:21] TheBrokenRail opened #765 "Fix collapse bugs and make collapse per block."
If you collapse a reporter and move it, it breaks.
If you collapse something with empty Boolean input it doesn't collapse fully.
Collapsing is currently work space wide which make editing hard.
Hats don't collapse.

[2017-01-08 18:09] TheBrokenRail commented on #756
I think inputs and block ID should be kept and the VM will still try to execute it so you don't completely break vertical projects by loading them in horizontal mode, it won't be editable but it would be a placeholdee to allow vertical projects to be edited on horizontal editor, or so modded projects don't fall apart.

[2017-01-09 18:45] carljbowman commented on #675
@rachel-fenichel - Sorry about that. Thanks for clarifying. The trash can should be 'left in the code but not exposed in Scratch'. No button in Scratch that will allow this change.

One odd behavior I have noticed about the animation: when the user drops the block on the palette, the block appears back over the workspace and then animates. The fact that the block appears back over the workspace, r

[2017-01-09 19:14] rachel-fenichel commented on #675
:+1:

I think the deletion animation no longer does that in blockly--we can take a look after you pull in the last month or so of blockly updates.

[2017-01-12 19:13] cdeng-amplify opened #766 "Issues with showing and hiding flyout"
I tried to use flyout.hide() function to hide the flyout and flyout.show() to show to populate it with a new set of blocks. When the flyout is hidden, I can drag the blocks in the workspace to where the flyout was suppose to be, then the blocks gets deleted because those blocks are deemed to be dropped on top of the flyout.  There seems to be a bug where the workspace doesn't know that the flyout

[2017-01-17 14:40] carljbowman commented on #43
Assigning both @rachel-fenichel and @picklesrus – Was not sure who to assign as I know there are refactors going on in Blockly that may impact these changes. Feel free to reassign.

_We held off on exploring pinch zoom in touch environments, namely the I/O prototype. As we focus on the desktop experience, pinch zoom will remain out of scope._

### Zoom In/Out Behavior
Overall we should keep Blockl

[2017-01-17 14:53] carljbowman commented on #573
@rachel-fenichel - As we discussed we should update the variable getter to match 2.0. As you described the menu items should appear in the right-click.

<img width="238" alt="screen shot 2017-01-17 at 9 52 24 am" src="https://cloud.githubusercontent.com/assets/3409578/22025170/ae34203e-dc9a-11e6-8ad3-1cfc6167e356.png">

[2017-01-17 21:06] rachel-fenichel commented on #43
More spec, from an offline discussion with @carljbowman:
The zoom buttons/icons on a layer above the blocks by default. When dragging the workspace the blocks move above the icons.  When dragging blocks/block stacks, the dragging blocks move above the icons.
The icons should be opaque with a button around them.

[2017-01-17 21:33] thisandagain commented on #426
At some point we will support compatibility from the horizontal grammar to the vertical grammar but we will not support conversion in the opposite direction.

[2017-01-17 21:33] #426 closed, assigned to nobody

[2017-01-18 22:06] picklesrus opened #769 "Figure out how shadow blocks and variable blocks get along."
https://github.com/google/blockly/commit/08efd1381c575f304d000e44060135e35f7ed013 which disallows shadow blocks in variables was recently committed to blockly.  This breaks the current scratch-blocks assumptions.  After talking with @rachel-fenichel, I've reverted that commit in the merge, but we wanted to track this going forward as some of the variable work is done.

[2017-01-18 23:35] RoboErikG commented on #769
Just to capture some of the internal discussion, on Blockly we disallowed variables in shadow blocks because when you delete a variable that is in use we delete all blocks that use that variable (with confirmation). This made shadows inconsistent since they can't be deleted, so we decided to just not allow variables in shadows.

Scratch handles deleting a variable differently, so that reasoning do

[2017-01-19 16:34] cdeng-amplify opened #771 "Blocks in the vertical workspace can be scroll off view when the height is too large."
### Expected Behavior

blocks should remain inside the view when scrolled.

### Actual Behavior

when there are too many blocks connected, then scrolling the workspace can cause the blocks to scroll past the view.
![correct_scroll](https://cloud.githubusercontent.com/assets/3731340/22115488/2e262f52-de3b-11e6-8b91-6667d566b00a.png)
![incorrect_scroll](https://cloud.githubusercontent.com/assets/373

[2017-01-19 17:16] rachel-fenichel commented on #771
This is the intended behaviour.  The workspace is always sized to have a buffer around the blocks.

[2017-01-19 17:16] #771 closed, assigned to nobody

[2017-01-19 23:47] CatsAreFluffy commented on #573
Typing in the variable name should still be an option. It can get
inconvenient when you have 500 variables in your project.

On Tue, Jan 17, 2017 at 6:53 AM, carljbowman <notifications@github.com>
wrote:

[2017-01-22 14:51] TheBrokenRail opened #772 "List position selecter menu is broken."
### Expected Behavior

_It acts like a standard menu._

### Actual Behavior

_It acts like a checklist and causes a lot of errors in the js console._

### Steps to Reproduce

_Grab a item [ ] of [ ] block and select the position menu._

### Operating System and Browser

_Google Chrome Windows 10_

### Screenshot

![capture](https://cloud.githubusercontent.com/assets/17478432/22183289/58de048c-e088

[2017-01-22 19:18] mrjacobbloom commented on #600
Whenever this is implemented, remember to update `Blockly.Categories` in [core/constants.js](https://github.com/LLK/scratch-blocks/blob/d7745b12fdb5ee9a4761b7e99fd201673e0e7a8e/core/constants.js#L252) so that lists can be styled separately from variable blocks with CSS

[2017-01-23 15:13] cdeng-amplify opened #773 "Undo/Redo UI buttons in vertical playground is broken."
### Expected Behavior

Undo and Redo buttons in the vertical playground should work exactly as the context menu.

### Actual Behavior

When undo and redo buttons are clicked repetitively in the vertical playground, the blocks in the workspace are incorrectly restored.

### Steps to Reproduce

1. place a repeat block in the workspace.
2. place another block inside the repeat block as shown in the f

[2017-01-23 16:25] cdeng-amplify opened #774 "blocks overlaps with the toolbar when it doesn't have any categories."
### Expected Behavior

blocks in the workspace should not overlap with the toolbar.

### Actual Behavior

blocks in the workspace can overlap with the toolbar when the toolbar doesn't have any categories and empty

### Steps to Reproduce

1. set up a toolbar without any categories and place some blocks in the workspace.
2. resize the window smaller and notice blocks in the work space now shifts ov

[2017-01-23 23:06] thisandagain commented on #773
@rachel-fenichel @picklesrus This is a little odd. Any thoughts?

[2017-01-23 23:32] rachel-fenichel commented on #773
Nothing comes to mind.

[2017-01-24 18:09] picklesrus commented on #773
Yeah, this is weird. The behavior using the right-click menu on the workspace to undo/redo (instead of the buttons on the playground page) seems correct though.

[2017-01-25 18:57] cdeng-amplify commented on #773
I have found that if the the right click context menu is used first to perform undo/redo task, then use the undo/redo buttons, then the behavior is correct. The bug only occurs if the context menu is not used at all.

[2017-01-27 22:28] TheBrokenRail commented on #749
I have a implementation for this that uses Blockly.Blocks.Sprite to hold sprite names and is set by vm on targets update, see closed PRs above.

[2017-01-27 22:29] TheBrokenRail commented on #749
The sensing variable menu is easily done by doubling the workspaces variable list and concaving it to the menu.

[2017-01-28 15:17] TheBrokenRail commented on #749
Should I make a PR to fix the sensing block?

[2017-01-28 15:19] TheBrokenRail commented on #749
Note, At the current way menus are implemented the menus won't be updated until they are re-rendered.

[2017-01-28 15:42] TheBrokenRail commented on #749
Though this could be solved by reloading the workspace, workspace to xml, xml to workspace:
[code]

[2017-01-31 18:47] thisandagain commented on #691
As per discussion with @picklesrus today we have decided to make sure we continue to support generators despite our strong recommendation to use the `scratch-vm` for most users.

[2017-01-31 20:40] SillyInventor opened #777 "Delete & Rename Variable Functionality Not Working"
### Expected Behavior

_Delete the "<name>" variable_ should delete variable
_Rename variable..._ show rename variable everywhere

### Actual Behavior

Delete doesn't remove from list or destroy current copies
Rename only effects variable currently in list, and doesn't change variables already in stage

### Steps to Reproduce

Create variable, click drop down, click delete
Drag variable to workspa

[2017-01-31 20:43] SillyInventor opened #778 "Select Color From Hover Over"
### Expected Behavior

Would like to be able to click color drop down, then hover over area and select color under mouse. This may make it easier for students to select the exact color of another sprite or stage.

[2017-01-31 20:44] thisandagain commented on #778
This may end up not being possible in HTML5. Flagging for discussion (we've already talked about it, but good to have documented).

[2017-01-31 20:51] SillyInventor opened #779 "Tan Function Rounding Error"
### Expected Behavior

Tan of 90 returns infinite, NaN, or similar. Tan of 180 should give 0.

### Actual Behavior

Because we're converting from degrees to radians, there is a rounding error. Such that you get to nearly 0, and large numbers, but not the exact number / result desired.

### Steps to Reproduce

Input values into mather operation, set to tan, click.

### Operating System and Browser

[2017-01-31 21:20] rschamp opened #780 "Update default colors to "light mode""
### Expected Behavior

Without any extra configuration, the colors should match the comp in LLK/scratch-gui#1

### Actual Behavior

The default colors of the workspace and toolbox are "dark mode"

[2017-01-31 21:25] mrjacobbloom commented on #780
Possibly linked to #714 and #295

[2017-01-31 22:07] thisandagain commented on #779
Moved to LLK/scratch-vm#420

[2017-01-31 22:07] #779 closed, assigned to nobody

[2017-02-01 16:09] SillyInventor opened #781 "Install Error"
### Expected Behavior

npm install should exit without error.

### Actual Behavior

Get error. [Debug log attached](https://github.com/LLK/scratch-blocks/files/745376/npm-debug.txt).

### Steps to Reproduce

In terminal, navigate to scratch-blocks repo, run npm install

### Operating System and Browser

Ubuntu 16.0.4, npm 3.10.10, node 6.9.4
Also tried after updating to npm 4.0.5 and node 7.4.0

[2017-02-01 19:00] thisandagain commented on #781
@rschamp Any thoughts?

[2017-02-01 19:12] picklesrus opened #782 "When page is short enough that the flyout doesn't fit, a js error is thrown"
There's a js error thrown when the the page is small enough that the flyout doesn't fit.

Error: <rect> attribute height: A negative value is not valid. ("-3px")
Stack trace:
Blockly.VerticalFlyout.setMetrics_	@	vertical.js:2957
Blockly.Scrollbar.onScroll_	@	vertical.js:2513
Blockly.Scrollbar.resize	@	vertical.js:2501
Blockly.VerticalFlyout.position	@	vertical.js:2959
Blockly.Toolbox.position	@	ve

[2017-02-01 22:32] picklesrus opened #783 "Opening dropdown in a block in the flyout and switching categories causes js error"
When switching categories when a dropdown is open you get the following js error:

vertical.js:2842 Uncaught TypeError: Cannot read property 'isShadow' of null
    at Blockly.FieldDropdown.onHide (vertical.js:2842)
    at Function.Blockly.DropDownDiv.hide (vertical.js:2462)
    at Blockly.Toolbox.<anonymous> (vertical.js:2973)
    at HTMLDivElement.g (vertical.js:2784)

### Steps to Reproduce
0. o

[2017-02-02 15:03] thisandagain commented on #607
@carljbowman Note for default "input" label from discussion with @ntlrsk:
Pico Cricket used `box1`, `box2`, etc. rather than "input" or "thing" which worked well.

[2017-02-03 20:34] SillyInventor commented on #778
The more I think about this, the more it seems doable to me.

Could you add a mouse move event listener on drop down open that moves through allDrawables grabs the webGLRenderingContexts and calls readPixels at the event location, until it finds one that doesn't have alpha == 0?

[2017-02-03 20:36] rachel-fenichel commented on #778
How long do you expect that to take, per mouse move?

[2017-02-03 20:37] SillyInventor commented on #778
Fairly long. Though I haven't tried / measured.

[2017-02-03 20:42] SillyInventor commented on #778
Based on a quick test, 6-7ms?

[2017-02-03 20:43] rachel-fenichel commented on #778
On what hardware, OS, and browser?

[2017-02-03 20:44] SillyInventor commented on #778
Ubuntu 16.0.4, Chrome 56.0.2924.87, Lenovo W540.

[2017-02-03 21:09] rachel-fenichel commented on #778
Hm yeah, I would expect that to be a significant performance issue on an older computer such as you might find in a school computer lab.  W-series laptops may not be representative.  At a minimum this would need to be tested in Edge and IE, which tend to be much slower.  Safari is probably performant enough to not be the bottleneck.

[2017-02-06 14:31] carljbowman commented on #524
We should use the same checkbox that we use in WWW (same example as @tmickel suggested within the Teacher Join Flow) in the GUI.

![r1 4_gui_checkboxes](https://cloud.githubusercontent.com/assets/3409578/22650506/7e74050e-ec4d-11e6-828b-595fc0093f73.png)
**Blocks are displayed at 60%**

<img width="245" alt="screen shot 2017-02-06 at 9 23 21 am" src="https://cloud.githubusercontent.com/assets/3409

[2017-02-06 15:39] PullJosh commented on #524
Wouldn't it be beneficial to have more states than a simple on/off? A hover state would be a nice addition, I think. Focused states shouldn't be too much of an issue in the Scratch editor, but should definitely be considered for use on webpages. (This would be useful when tabbing to certain inputs, for instance.)

[2017-02-06 15:49] carljbowman commented on #524
@PullJosh - Sure thing. Good call. We have those checkbox states built out on Scratch-WWW, hoping to reuse what we can from those designs.

[2017-02-06 16:28] mrjacobbloom commented on #524
Would it always be blue, or correspond to the color of the block is modifying? It's hard to tell in your design pic since it's modifying blocks that are already blue

[2017-02-06 16:52] carljbowman commented on #524
@Airhogs777 - Just added another image to help clarify. The thought would be to use one color within the UI for active states, but you raise a great point about the blue.

As we continue to rough in more in the UI we should explore more color options for these states.

[2017-02-07 18:37] joker314 commented on #753
I skimmed through everything, but to respond to the first comment-- while the "say" and "think" blocks are not the most used, they are the first blocks that beginners to Scratch might reach for to get to know the structure of scripts. They might stop using it very soon, but they should be in their face from the start.

Which means that the positions of blocks should depend on how much you have bee

[2017-02-07 19:36] dekrain commented on #524
I'm wondering how do you doing these sketches. SVG or something else?

[2017-02-08 18:57] picklesrus commented on #691
I believe the code part is done.  As discussed above, none of the blocks in the scratch set have generators written for them, but a developer can come in and write generators for blocks that they want.

For the documentation side, these are probably the most relevant blockly pages.
https://developers.google.com/blockly/guides/configure/web/code-generators
https://developers.google.com/blockly/guid

[2017-02-08 21:52] carljbowman commented on #526
## Overview
![r1_vert-icon-size-sketches](https://cloud.githubusercontent.com/assets/3409578/22756934/e2d9c414-ee16-11e6-892c-e476a427b88d.png)

## Sizing
- [ ] Update icon size from 4x4 grid units to 6x6 grid units
- [ ] Adjust vertical alignment to account for new size

### With Icon (400% scale)
<img width="1066" alt="screen shot 2017-02-08 at 4 00 10 pm" src="https://cloud.githubusercontent.co

[2017-02-08 22:25] TheBrokenRail commented on #749
Seeing how sounds has ben fixed in LLK/scratch-gui#76 should I make a PR to fix this for sprites?

[2017-02-10 03:34] zealton opened #788 "npm install error"
while running `python build.py`
It can not connect to google closure online compiler

[code]
I've tried on different network and use different machines with no luck

[2017-02-10 10:50] #788 closed, assigned to nobody

[2017-02-10 13:23] thisandagain opened #789 "Add "clone" or sprite name to "touching []" boolean reporter options"
Follow-up from LLK/scratch-vm#377

### Discussion
In Scratch 3.0 the "touching" boolean reporter can distinguish between itself and a clone. This leads to the question of if this new functionality should be exposed to Scratchers in the form of a new default drop-down option for the "touching []" boolean reporter.

### Demo
http://llk.github.io/scratch-vmLLK/scratch-vm#138856666

### Reference
![im

[2017-02-10 14:02] mrjacobbloom commented on #789
I like this a lot, definitely keep it in!

I can't imagine a use-case from 2.0 that would cause widespread compatability issues, but if you want to be really careful then just have the name of the current sprite always return true.

I'd suggest "clone of myself" to further disambiguate from all clones, but "clone" is fine too

[2017-02-13 16:11] #421 closed, assigned to nobody

[2017-02-14 16:02] Tymewalk commented on #789
I also like this.

Maybe a separate `touching clone of [ v]` block, where the options are "myself" and the list of all sprites?

[2017-02-14 16:10] Tymewalk commented on #783
Just confirmed it [here](https://llk.github.io/scratch-blocks/playgrounds/tests/vertical_playground.html). Firefox 50.1.0, Ubuntu 16.04 LTS.

JS console dump:
[code]

It happens across all categories and also happens with the color selection tool (on some of the pen and sensing blocks).

I haven't actually looked, but I think this is because the "hide" function is trying to reference an object whi

[2017-02-14 16:21] Tymewalk commented on #714
I think that'd be excellent. There'd be no need for other themes (except maybe a night mode) since if a user wants something different, they can either find or write a userscript/userstyle to do so.

[2017-02-14 17:12] Tymewalk commented on #759
Where did you find this, and what blocks did you use? I can't seem to replicate it.

[2017-02-14 17:26] Tymewalk commented on #777
Just tested [here](https://llk.github.io/scratch-blocks/playgrounds/tests/vertical_playground.html). Firefox 50.1.0, Ubuntu 16.04 LTS. Both issues have been confirmed and described here.

## Renaming

### Steps I used

- Create a variable called "a"
- Drag that variable reporter to the stage
- Drag a "set (a) to ()" block onto the stage
- Rename "a" to "b"

The "set (a) to ()" block properly becom

[2017-02-14 17:42] Tymewalk commented on #772
Just confirmed [here](https://llk.github.io/scratch-blocks/playgrounds/tests/vertical_playground.html), Firefox 50.1.0, Ubuntu 16.04 LTS.

Works with any list block with this type of dropdown.

Console dump upon recreating the glitch:

[code]

[2017-02-14 17:46] Tymewalk commented on #524
@PullJosh I don't exactly know what you mean by "hover state".

I agree though, more states is definitely a possibility we should think about.

[2017-02-14 18:43] towerofnix commented on #524
@Tymewalk A hover state means the state of something when you put your mouse cursor over it.

[2017-02-14 19:00] mrjacobbloom commented on #783
This does not happen with the dropdown when you click a reporter to see its value

[2017-02-14 19:13] Tymewalk commented on #524
@liam4 Oh, that. I thought it was some variable display state :sweat_smile:

Maybe a lighter color of blue (enabled) and a white-ish color (disabled) for that?

[2017-02-14 19:17] Tymewalk commented on #783
@Airhogs777 It happens for me. What OS/Browser are you using?

(Console dump upon trying it:)
[code]

When the blocks are dragged onto the workspace, changing categories causes them to close, as expected.

We probably need a check to see if the object is still visible before attempting to hide it.

[2017-02-14 19:39] mrjacobbloom commented on #524
When I first read through this convo I thought we were talking about different states of the checkbox representing the different kinds of var watchers, which is a bad idea (I've never seen one button with >2 states read very well)

[2017-02-14 19:41] mrjacobbloom commented on #783
@Tymewalk Chrome on Win10 on scratch-gui

[2017-02-14 19:43] Tymewalk commented on #783
@Airhogs777 Strange, I just tested there, and it still happens.

Might be something to do with Firefox?

[2017-02-15 16:34] Tymewalk commented on #756
We definitely need something like this. Same colors as the current undefined custom block?

[2017-02-15 16:35] Tymewalk commented on #783
Not sure if that commit was actually intended to be referenced, but the problem still exists on the vertical playground. (Unless that hasn't been updated.)

[2017-02-15 16:43] Tymewalk commented on #783
[This](https://github.com/LLK/scratch-blocks/blob/develop/core/field_dropdown.js#L240) is where the error is happening: `    if (this.sourceBlock_.isShadow()) {`

I'm looking to see if I can get a more detailed message now.

EDIT: [This](https://github.com/LLK/scratch-blocks/blob/develop/core/toolbox.js#L119) may also help in the event we need to add a check to see if the block still exists.

[2017-02-15 16:54] Tymewalk commented on #783
After replicating this glitch, another one happens:

## How to Replicate

- Replicate this glitch as described above.
- Drag a block onto the playground.
- Attempt to drag the background.

## Expected Output

The stage pans so you can see other blocks.

## What Actually Happens

This error is thrown:
[code]

and the stage does not pan.

[2017-02-15 17:45] Tymewalk commented on #766
Just confirmed on the [vertical playground](https://llk.github.io/scratch-blocks/playgrounds/tests/vertical_playground.html), Firefox 50.1.0, Ubuntu 16.04.

Maybe we should add a check to not discard blocks dragged into that area if the flyout is hidden?

[2017-02-15 19:40] rachel-fenichel commented on #766
I don't believe hiding and showing the flyout is supported on scratch-blocks.

[2017-02-15 22:16] Tymewalk commented on #766
@rachel-fenichel It can be done through entering `workspace.toolbox_.flyout_.hide()` and `workspace.toolbox_.flyout_.show()` into the JS console.

Do we intend to support that in Scratch 3.0?

[2017-02-15 22:36] rachel-fenichel commented on #766
I understand that the code to do it still exists, but that involves using two private objects (the underscore at the end of a variable or function name means that it is intended to be private, as does the @private annotation).  That code is used internally.  That being said, I don't think scratch-blocks supports the developer choosing to hide the flyout.

Scratch 3.0 and scratch-blocks may do diff

[2017-02-15 23:26] Tymewalk commented on #766
@rachel-fenichel Ah, OK.

In that case I see no reason this is a problem.

[2017-02-16 02:29] TheBrokenRail opened #794 "Check boxes Don't Work"
### Expected Behavior

_They should change from red to blue._

### Actual Behavior

_It does not and throws a js error:_
[code]
### Steps to Reproduce

_Open up playground and click checkbox._

### Operating System and Browser

_Windows 10 Chrome_

[2017-02-16 13:26] towerofnix opened #795 "Browser right click menu appears in block palette"
### Expected Behavior

The block menu (or no menu, depending on where you click) appears. No system menu accompanies it.

### Actual Behavior

The block menu appears (if you right clicked on a block), with the system menu also displayed.

### Steps to Reproduce

Open any location with scratch-blocks visible and right-click on the block palette.

### Operating System and Browser

macOS 10.12, Chrom

[2017-02-16 13:34] thisandagain commented on #795
Nice catch @liam4 !

[2017-02-16 13:35] thisandagain commented on #794
Monitors (and the checkboxes that control them) have not yet been implemented. While they shouldn't throw an error, I'm going to backlog this for now.

[2017-02-16 16:40] cdeng-amplify commented on #766
Thanks for the clarification. I will let my product manager know and discuss a plan of action. We will likely add that the feature to hide and show the flyout on demand  and fix any issues related to it on our end.

[2017-02-16 16:58] carljbowman commented on #535
Todo -
- [ ] Document 2.0 Variable Deletion Behavior
- [ ] Document 2.0 Variable Editing/Renaming Behavior
- [ ] Document 2.0 Dragging Variables to Sprites/Stage Behavior

# Scratch 2.0 - Creating a Variable Behaviors

## Clicking 'Create a Variable' opens dialog
![open-dialog mov](https://cloud.githubusercontent.com/assets/3409578/23029551/f1297550-f438-11e6-8187-9e481ce1b063.gif)

## Ability to

[2017-02-16 17:02] carljbowman commented on #535
Todo:
- [ ] Spec 3.0 Variable Deletion Behavior
- [ ] Spec 3.0 Variable Editing/Renaming Behavior
- [ ] Spec 3.0 Dragging Variables to Sprites/Stage Behavior

# Scratch 3.0 - Round 1 - Creating a Variable Behaviors
Overall we should the keep current behavior within Scratch 2.0 that is outlined above.

**Cloud Vars are out of scope for this initial pass. The sketches include the option to explore t

[2017-02-16 17:06] MichaelZawadzki opened #796 "Loading a new toolbox without categories through updateToolbox causes console error"
### Expected Behavior

When the workspace is initialized with a non-category toolbox it is expected to be able to load other non-category toolboxes through workspace.updateToolbox without causing console errors.

### Actual Behavior

With the latest merge of **bugfix/updateToolbox**, this now causes a console error. Before (at SHA 1cf79eed97015b5bddcc628cc24a1be079a4d3f1) this did not occur.

###

[2017-02-16 17:40] MichaelZawadzki commented on #796
Seems this might simply need a 'if (this.toolbox_)' check around that position call.

[2017-02-16 17:44] rachel-fenichel commented on #794
This is just that we missed a spot when moving to Blockly.utils.  It's
fixed in my merge pr.

On Thu, Feb 16, 2017 at 5:35 AM Andrew Sliwinski <notifications@github.com>
wrote:

[2017-02-16 18:27] ed-cooper opened #797 "Right click on shadow block should display full context menu from parent"
### Expected Behavior / Behavior from Scratch 2.0

If a shadow block is not in editing state, it should display the same context menu items as the main block (eg. duplicate, delete block, help, etc.). If a shadow block is in editing state, it still displays the same context menu with duplicate, delete, etc.

### Actual Behavior
Right-clicking main block:
Works as expected
![s1](https://cloud.githu

[2017-02-16 19:25] thisandagain commented on #766
We recommend that the blocks be visible at all times. Because of this, we removed the ability to hide the flyout in Scratch Blocks. You can of course add this back in your implementation, but I'd recommend that you test both paths with kids. One of the things that we observe in children is that having options (in this case – the blocks) in front of them during the act of creation leads to discover

[2017-02-16 20:16] MichaelZawadzki commented on #766
For us its not about hiding/showing dynamically within one activity... but about having initial activities that simply introduce kids to a working example of a set of blocks. Then, as students progress to subsequent activities, we'd like to then enable the toolbar with blocks in them for students to use and to augment the existing ones. Just wanted to clarify the specific use case.

We'd like to a

[2017-02-16 20:19] mrjacobbloom commented on #797
I like having clipboard options in the context menu when editing an input, but they could be added to the scratch-blocks context menu instead of using a native one

[2017-02-16 20:25] thisandagain commented on #766
@MichaelZawadzki Thanks for clarifying! That's interesting and fits well with some of the "microworld" concepts we have been exploring. I'll discuss this with the team ... it can be a little hard for us to know where to draw the lines with the APIs so this feedback is very helpful.

[2017-02-16 20:33] carljbowman commented on #607
Todo
- [ ] Document 2.0 Using Custom Procedures
- [ ] Document 2.0 Dragging Custom Procedures to other Sprites
- [ ] Document 2.0 Dragging Custom Procedures to the Backpack

# Scratch 2.0 - Create a Custom Procedure Behaviors

## Clicking 'Make a Block' opens Dialog
![make block dialog mov](https://cloud.githubusercontent.com/assets/3409578/23038504/4297fe24-f458-11e6-8eb5-b144e101e800.gif)

## 'N

[2017-02-16 20:34] carljbowman commented on #607
Todo:
- [ ] Spec 3.0 'Define' Block
- [ ] Spec 3.0 Using Custom Procedures
- [ ] Spec 3.0 Dragging Custom Procedures to other Sprites
- [ ] Spec 3.0 Dragging Custom Procedures to the Backpack

# Scratch 3.0 - Round 1 - Create a Custom Procedure Behaviors

## Clicking 'Make a Block' opens Dialog
- From within the 'More Blocks' category, user clicks 'Make a block'
![r1 5 2_gui_make-a-block_1](https:

[2017-02-16 22:02] ed-cooper commented on #797
Yes, I agree that functionality like copy and paste is useful

[2017-02-16 23:55] PullJosh opened #798 "Drag cursor not always appearing in block palette"
### Expected Behavior

It is possible to scroll the block palette up and down by dragging within it (as opposed to using the scroll bar or the mouse's scroll wheel). When scrolling the palette in this manner, the cursor should change to a dragging state.

### Actual Behavior

When clicking and dragging vertically from on a block, this works as expected. However, when the drag begins with a click o

[2017-02-17 15:25] rschamp commented on #798
One could argue this is the opposite bug: the drag cursor appears incorrectly when you initiate scrolling the palette over a block.  If you are scrolling, it shouldn't indicate you're dragging a block.

[2017-02-18 16:24] thisandagain opened #799 "Current playground URL is confusing / error prone"
Current current local development URL for the VM playground is:
`http://localhost:8073/playground/`

Going to (what is normative for local development) of simply `http://localhost:8073` leads to:
![image](https://cloud.githubusercontent.com/assets/747641/23094744/8dd29b68-f5cc-11e6-84a5-4e5c06f3cffe.png)

And going to `http://localhost:8073/playground` (note the lack of trailing `/`) leads to:
![i

[2017-02-18 16:26] thisandagain commented on #799
Moved to LLK/scratch-vm#466

[2017-02-18 16:26] #799 closed, assigned to nobody

[2017-02-18 16:37] thisandagain commented on #797
I don't think that this is a bug. The browser and OS determine how text input fields are rendered to a large extent. Having access to the context menu while editing text seems advantageous for a variety of reasons (copy/paste, accessibility, etc.).

[2017-02-18 18:07] ed-cooper commented on #797
Yes, but what about the first case where you right-clicked a shadow block whilst not editing it?

It doesn't feel right that the duplicate / delete options aren't shown

[2017-02-18 18:17] thisandagain commented on #797
Ah. Now I understand what you mean. I'm going to edit your original description to clarify.

[2017-02-18 20:33] thisandagain commented on #43
@carljbowman From the assets here (particularly due to the mock being zoomed in) there are still a few questions:
- What are the outer dimensions of these buttons (the assets you provided are ~10x10px / existing zoom controls are 32x32px)?
- What is the vertical margin between them?
- Is there a hover state?

Alternatively: having the latest general GUI mockup easily available in vector could help

[2017-02-18 21:27] ed-cooper commented on #797
Ok, thanks

[2017-02-18 21:42] thisandagain commented on #43
Quick first pass:

Current status at 300% zoom (compare with above both at 100%):
![image](https://cloud.githubusercontent.com/assets/747641/23097068/a0e6efd4-f5f8-11e6-81e3-63435e9a2d93.png)

Current status at 100% zoom:
![image](https://cloud.githubusercontent.com/assets/747641/23097081/ddf0a1b8-f5f8-11e6-97e3-8bfa1d9cccb7.png)

I switched these over to SVG (currently renders from `sprites.png`)

[2017-02-20 15:25] TheBrokenRail opened #802 "Use variables to define colors in default xml"
This would make it easier to change categories colors with out have to change it in two places.
# Current
```"colour='#000000'"```
# Proposed
```"colour='" + Blockly.Colours.thing.colour + "'```

[2017-02-20 16:55] mrjacobbloom commented on #802
Or better yet, if we ever switch to styling blocks with CSS, style them with the same CSS that are used for blocks.

[2017-02-21 13:44] thisandagain commented on #675
@carljbowman Do we need anything else here? I'm handling removal of the trashcan in the PR for https://github.com/llk/scratch-blocks/issues/43

[2017-02-21 13:56] thisandagain commented on #691
@picklesrus Just following up: I think this is probably good enough to get most folks unstuck for now. Thanks!

[2017-02-21 13:56] #691 closed, assigned to picklesrus

[2017-02-21 14:48] carljbowman opened #804 "Blocks jump to workspace when deleting in palette"
Breaking out this issue from: https://github.com/LLK/scratch-blocks/issues/675

### Expected Behavior – as seen in scratch-vm as of 2/21/17

![expected deletion behavior mov](https://cloud.githubusercontent.com/assets/3409578/23169124/879004cc-f818-11e6-8960-4ee8984190df.gif)

When the user drags the block over the palette and drops the block to delete, the block should drop into z-space and remai

[2017-02-21 14:51] carljbowman commented on #675
@thisandagain - We can close this case.

The one issue that seems to be a regression and needs some more investigation is outlined here: https://github.com/LLK/scratch-blocks/issues/804

![current behavior mov](https://cloud.githubusercontent.com/assets/3409578/23169845/4442c6d4-f81b-11e6-9011-8827aeaad32d.gif)

We have inconsistent deletion behavior across GUI and VM.

[2017-02-21 14:51] #675 closed, assigned to carljbowman

[2017-02-21 20:09] #794 closed, assigned to nobody

[2017-02-21 21:12] Tymewalk commented on #804
Confirmed just now on Firefox 50.1.0, Ubuntu 16.04 LTS.

When half-moving a block onto the flyout (without it being deleted), it gets pushed off back to the workspace. That code probably interfered with this, pushing it off to the workspace and then deleting it.

[2017-02-21 21:19] TheBrokenRail opened #807 "Very Low Sensitivity On Touch"
### Expected Behavior

_When you try to move the block it moves._

### Actual Behavior

_It rarely moves and sometimes a context menu pops up._

### Steps to Reproduce

_Get a touch screen windows device._

### Operating System and Browser

_Windows 10 Microsoft Edge_

[2017-02-21 21:23] rachel-fenichel commented on #807
Blockly doesn't work on edge or IE with touch screens.  This is because neither one implements the TouchEvents API (they use the PointerEventA API instead).

Eventually I'll probably be able to make it work in Blockly, but I have no time frame for that.

[2017-02-21 21:24] Tymewalk commented on #802
That's a good idea. Does anybody have a link to where these variables are held? I could make a PR.

[2017-02-21 21:25] picklesrus commented on #769
Tis is essentially a duplicate of #573. When that's done, this won't be a problem anymore.

[2017-02-21 21:25] #769 closed, assigned to rachel-fenichel

[2017-02-21 21:28] Tymewalk commented on #798
@rschamp But you are dragging something - the block palette. So wouldn't we use the dragging cursor?

I do agree that we should prevent the cursor from being set by the block when it's in the palette, however, and have the palette decide what the cursor is.

[2017-02-21 21:30] Tymewalk commented on #795
@thisandagain How do we prevent the system menu from appearing when right-clicking on the workspace? I think we just need to add the same thing to the flyout/other parts of the screen.

[2017-02-21 21:32] rachel-fenichel commented on #795
Please hold off on working on this for a bit.  I'm reworking clicking and dragging fairly radically in Blockly, so changes will be rapidly invalidated.

[2017-02-21 22:16] towerofnix commented on #795
@rachel-fenichel May want to remove the "help wanted" tag, then? :)

[2017-02-21 22:19] thisandagain commented on #807
@rachel-fenichel Do you have a bug in google/blockly where you are tracking this?

[2017-02-21 22:25] rachel-fenichel commented on #807
https://github.com/google/blockly/issues/943

[2017-02-21 22:25] thisandagain commented on #807
Tracking in https://github.com/google/blockly/issues/943

[2017-02-21 22:25] #807 closed, assigned to nobody

[2017-02-21 23:35] TheBrokenRail commented on #802
the variables are in ```Blockly.Colours``` so ```Blockly.Colours.motion.primary``` would be the primary color for motion. This is defined in [https://github.com/LLK/scratch-blocks/blob/develop/core/colours.js](https://github.com/LLK/scratch-blocks/blob/develop/core/colours.js).

[2017-02-22 16:33] #43 closed

[2017-02-22 19:27] rachel-fenichel commented on #572
@liam4 raises a good point about disallowed names.  We can internationalize the "no variable selected" text, but then we also have to have a variable name that's not allowed that varies by language.

Another option could be to use the empty string for this, since that's not a legal variable name and since the variable value becomes 0 or the empty string when used.

[2017-02-22 20:29] rachel-fenichel commented on #797
See parent_tooltip_when_inline extension in google/blockly: develop

[2017-02-22 22:13] rachel-fenichel commented on #682
This will be implemented with
https://github.com/LLK/scratch-blocks/blob/develop/core/workspace_svg.js#L1883

See google/blockly variables and procedure categories for examples:
https://github.com/google/blockly/blob/develop/core/workspace_svg.js#L93
https://github.com/google/blockly/blob/develop/core/variables.js#L99

[2017-02-23 13:56] #783 closed, assigned to nobody

[2017-02-23 14:15] cpseager commented on #43
Would putting 100% as the middle icon (as it was in 2) make its function more obvious?

[2017-02-23 18:33] CatsAreFluffy commented on #572
Convenience. When you create a variable, you usually use it immediately.

[2017-02-27 20:18] ericrosenbaum opened #811 "Dropdown menu indicator appears in between words"
### Expected Behavior

The dropdown menu indicator triangle should appear at the end of the name of the current selection on the block.

### Actual Behavior

In some cases, the indicator shows up in between words. Also, the dropdown menu itself is missing the non-unique part of each name.

<img width="205" alt="screen shot 2017-02-27 at 3 09 13 pm" src="https://cloud.githubusercontent.com/assets/5

[2017-02-28 03:55] rachel-fenichel commented on #811
Is this issue new since the most recent merge?

[2017-02-28 16:00] Tymewalk commented on #572
@rachel-fenichel That sounds like a good idea. In addition, are there any special characters not allowed in variable names we could use? Is all whitespace allowed?

[2017-02-28 23:20] rachel-fenichel opened #813 "Prefix user-created variable names to distinguish from system variable names"
### Expected Behavior

User-created variable names should be stored with a prefix (or suffix) indicating that they were user-created, but should display without that prefix.

This means we don't have to disallow every single possible translation of "rename variable".

[2017-02-28 23:20] #573 closed, assigned to rachel-fenichel

[2017-03-02 16:45] rschamp commented on #802
I don't think we actually want this change, because it would make copying the default toolbox harder to do. It is more portable if we don't use variables. The default toolbox is a stop-gap solution that will be removed when we update the management of the toolbox (e.g. when you select a sprite vs the stage).

Also, to clarify the contributor guidelines: we will not accept PRs if the issue they are

[2017-03-02 16:45] #802 closed, assigned to nobody

[2017-03-03 14:38] carljbowman opened #814 "Blocks being dragged appear under the blocks categories"
### Expected Behavior

Blocks being dragged should remain above the blocks block category menu when they are dragged into that space.

### Actual Behavior

![blocks-under-categories mov](https://cloud.githubusercontent.com/assets/3409578/23554926/f59178d2-fff4-11e6-8408-30da10d6ff72.gif)

### Steps to Reproduce

1. Start Dragging a block
2. Drag the block into the block category menu

### Operatin

[2017-03-03 15:37] tmickel opened #815 "Drag shadow"
### Expected Behavior

Not sure if this is still the current design, but I noticed that blocks no longer have a shadow under them when they're being dragged. I think it must have happened when the old block drag surface got replaced by the upstream Blockly one:
https://github.com/LLK/scratch-blocks/commit/be9d5fefed9f54568d94702b0ef3186625d93699#diff-40ab07a584c99b6f5e75d09bd2570ff4L106

[2017-03-03 19:24] ericrosenbaum opened #816 "Sound effects are too loud relative to Scratch audio"
### Expected Behavior

Ideally the sounds for snapping together and for deleting blocks would be relatively quiet compared to Scratch sounds.

### Actual Behavior

They are a bit too loud.

### Steps to Reproduce

Snap together or delete a block. Compare to sounds from e.g. the "play drum," "play note" blocks.

### Operating System and Browser

Mac OS 10.11.6 Chrome 56

[2017-03-04 18:09] thisandagain opened #817 "Workspace pattern"
An initial pattern for the workspace. We certainly should explore more options, but it would be good  to have something in place for the Animate a Name/Word playtest.

![r1 2_gui_animate-prototype](https://cloud.githubusercontent.com/assets/3409578/23512601/2d4cf4de-ff2f-11e6-94d5-41ff35011436.png)

Sample
<img width="231" alt="screen shot 2017-03-02 at 10 01 47 am" src="https://cloud.githubuserco

[2017-03-04 23:35] TheBrokenRail opened #818 "Make fieldShadow part of default colors"
### Expected Behavior

_It is._

### Actual Behavior

_It has to be defined separately._

### Steps to Reproduce

_Check playground colors and check default colors_

[2017-03-05 14:10] TheBrokenRail commented on #780
This was fixed.

[2017-03-05 14:21] #780 closed, assigned to nobody

[2017-03-05 15:57] TheBrokenRail commented on #756
[Here](https://github.com/LLK/scratch-blocks/blob/develop/core/block.js#L167) is where It grabs data from Blockly.Blocks, adding the undefined block would mean adding a init function as an undefined block that uses inputs defined in it and changes it's output check and shape to adapt for where it is and stores that as an "undefined data" parameter for later use.

[2017-03-06 01:14] TheBrokenRail opened #819 "IE & Edge - Shadow Blocks drawed out from toolbox are offset."
### Expected Behavior

_They Stay Aligned with parent block._

### Actual Behavior

_They are offset._

### Steps to Reproduce

_Launch Ede and draw a block from the toolbox._

### Operating System and Browser

_Windows 10 Edge_

[2017-03-06 01:16] TheBrokenRail opened #820 "IE & Edge - Block Text Is Offset"
### Expected Behavior

_Text is aligned._

### Actual Behavior

_It is offset._

### Steps to Reproduce

_Launch Edge and look at the blocks._

### Operating System and Browser

_Windows 10 Edge_

### Screenshot

![capture](https://cloud.githubusercontent.com/assets/17478432/23593801/8ef6b242-01e1-11e7-80b0-259c1b65248d.PNG)

[2017-03-06 01:21] TheBrokenRail opened #821 "IE & Edge - Workspace not "cleaned up""
### Expected Behavior

_You do not see residue from previous actions/animations._

### Actual Behavior

_You do._

### Steps to Reproduce

_Run a reporter or delete a bock with the toolbox._

### Operating System and Browser

_Windows 10 Edge_

### Screenshot

![bu](https://cloud.githubusercontent.com/assets/17478432/23593777/5cdb66fe-01e1-11e7-8c61-4374060bac22.PNG)

[2017-03-06 18:28] thisandagain opened #822 "Allow renaming messages (from "new message") in message/ broadcasting blocks"
Reported via internal playtest 3/3/17.

### Expected Behavior

You should be able to rename the message to a custom name, and that should show up in the broadcasting blocks' menus.

### Actual Behavior

In broadcasting blocks, "new message" is just "new message" (rather than letting you set the name)

### Operating System and Browser

_Mac & Chrome_

---
Moved from LLK/scratch-gui#189
/cc @jwzimme

[2017-03-06 18:32] thisandagain opened #823 "Match duplication behavior from Scratch 2.0"
### Expected Behavior

- I expect to be able to duplicate a stack of blocks (e.g. Scratch 2.0)
- When selecting "duplicate" while right clicking a block, that block plus all blocks connected below it (regardless or nesting) should be duplicated (e.g. Scratch 2.0)

### Actual Behavior

- Upon selected "Duplicate" from the context (right click) menu, a single block is duplicated. This duplicated blo

[2017-03-06 18:53] rachel-fenichel commented on #821
This looks like a missing call to hideChaff.

[2017-03-06 18:55] RoboErikG commented on #823
This is also something we want in Blockly and relates to [this issue](https://github.com/google/blockly/issues/384) around Hat Blocks wrapping the blocks below them for code generation.

[2017-03-06 19:17] rachel-fenichel commented on #820
May be similar to/related to this discussion: https://groups.google.com/forum/#!topic/blockly/T8IR4t4xAIY

[2017-03-06 21:11] rachel-fenichel opened #825 "Separate types for data, messages, and lists"
### Expected Behavior

Dropdowns for each category should only show items in that category.

### Actual Behavior

There's one global list of variables, with no type information.

Depends on typed variables in Blockly.

[2017-03-06 21:11] rachel-fenichel commented on #825
https://github.com/google/blockly/issues/957

[2017-03-06 21:21] rachel-fenichel commented on #822
Depends on #825

[2017-03-06 21:22] rachel-fenichel commented on #777
Depends on #825

[2017-03-06 22:02] TheBrokenRail commented on #820
Oh, and it fixes itself when you put the mouse over it.

[2017-03-06 22:04] TheBrokenRail commented on #821
also happens with deleting:
![capture](https://cloud.githubusercontent.com/assets/17478432/23632198/ee6fb18a-028e-11e7-8eca-4dcd97a3b9cb.PNG)

[2017-03-06 22:04] TheBrokenRail commented on #821
look at the grey streak, that was left over from deleteing.

[2017-03-06 23:32] msintov opened #826 "Horizontal block parameter numerical selection does not display correctly"
### Expected Behavior

In a horizontal project, when I enter a number to set the parameter for blocks such as the loop or timer blocks, the number I enter should display in the selected number area at the bottom of the script. This should work for both desktop browsers as well as on mobile devices that show a number dropdown.

### Actual Behavior

After I enter the number, the previously shown num

[2017-03-07 00:04] picklesrus commented on #826
I noticed this as well.  I believe https://github.com/google/blockly/commit/01ab0b4ab6bbae495c09d6ed6f553f9eb9e81b9f combined with how it was merged from upstream broke this.

That CL refactored where some of the field render code was called. Vertical blocks didn't break because block_render_vertical's render function (which, iiuc, is called after you change the value) eventually calls getSize on

[2017-03-07 03:53] msintov commented on #826
@picklesrus Thank you so much! Works great for my needs. I appreciate it!

[2017-03-07 19:24] morantsur opened #827 "Visual effects shouldn't take random as input to type"
### Expected Behavior

Visual effects blocks should not take a random block as input on the effect type.

### Actual Behavior

![image](https://cloud.githubusercontent.com/assets/15109618/23673795/94559224-0341-11e7-8d7e-b45964f8dcb1.png)

### Steps to Reproduce

Add a random/join/operation block inside a visual effects block.

### Operating System and Browser

[2017-03-07 19:29] thisandagain commented on #823
@rschamp @carljbowman @RoboErikG @picklesrus @rachel-fenichel I made some refinements to the description above to clarify what I think is the desired behavior. Any thoughts?

[2017-03-07 20:04] rachel-fenichel commented on #827
Are there any blocks that should be droppable there?

[2017-03-07 20:05] rachel-fenichel commented on #823
Can we separate out the issue of attaching duplicated blocks to the mouse cursor?

[2017-03-07 20:07] thisandagain commented on #823
## Example

<img width="1280" alt="screen shot 2017-03-07 at 3 02 20 pm" src="https://cloud.githubusercontent.com/assets/747641/23675504/95ff109a-0347-11e7-8dfc-ecef69d71b7a.png">
<img width="1392" alt="screen shot 2017-03-07 at 3 02 26 pm" src="https://cloud.githubusercontent.com/assets/747641/23675503/95fe0d8a-0347-11e7-8384-7937a0b8a366.png">
<img width="1392" alt="screen shot 2017-03-07 at 3 0

[2017-03-07 20:07] thisandagain commented on #823
@rachel-fenichel Sure! I'll move it out.
https://github.com/LLK/scratch-blocks/issues/828

[2017-03-07 20:08] thisandagain opened #828 "Duplicated blocks should be attached to the mouse cursor"
### Expected Behavior

- After duplication the new blocks should be attached to the mouse cursor (e.g. Scratch 2.0)

### Actual Behavior

- Blocks are directly added to the workspace

[2017-03-07 20:09] rachel-fenichel commented on #823
And what is the expected behaviour for "duplicate" on a non-hat-block in a stack?  On an if block with blocks connected inside it?  On a reporter block inside another block?

Implementation-wise, we can change showContextMenu to be more aware of the type of the block it's on, and call a different function that duplicates the whole stack.  That change point is around here: https://github.com/LLK/sc

[2017-03-07 20:10] thisandagain commented on #827
No. This was just an oversight on our part I think. This menu should have been implemented as a "rectangle" (non droppable).

[2017-03-07 20:12] rachel-fenichel commented on #828
How does this work on touch?

[2017-03-07 20:15] thisandagain commented on #823
Take a look at the screenshots above. I tried to show how we expect each of those scenarios to work.

[2017-03-07 20:19] thisandagain commented on #828
I don't think we'll have duplication on touch.

[2017-03-07 20:28] rachel-fenichel commented on #828
As in, you won't have it in the context menu as an option?

[2017-03-07 20:30] thisandagain commented on #828
I think we are leaning towards not having any context menus for touch environments.

[2017-03-07 20:50] rachel-fenichel commented on #823
This is the code that's deleting all but the top blocks during the copy: https://github.com/LLK/scratch-blocks/blob/develop/core/blockly.js#L295

Getting rid of that if clause may fix this entirely for you.

[2017-03-07 21:13] towerofnix commented on #828
Well, sure, but there's still the "stamp"/duplicate button:

![screen shot 2017-03-07 at 4 50 57 pm](https://cloud.githubusercontent.com/assets/9948030/23677381/44005f24-0356-11e7-8358-155e4869f7cc.png)

Duplicating blocks is an incredibly useful feature. Removing all ways of using it would quite reduce productivity – for instance, implementing the distance formula as this would be much more incon

[2017-03-07 22:40] #816 closed, assigned to ericrosenbaum

[2017-03-08 23:26] thisandagain commented on #827
The following blocks have drop-downs that should not accept an input:

### Looks
- `change effect [x] by [n]`
- `set effect [x] to [n]`

### Sound
- `change effect [x] by [n]`
- `set effect [x] to [n]`

### Operators
- `[x] of [n]`

[2017-03-09 02:24] PullJosh commented on #827
Would it be possible that a block input for `[x] of [n]` could be useful in the context of a calculator project? (Making it easier to provide built-in calculator functions.)

Probably not a common enough use case to be worth changing the input, but it's at least worth considering.

[2017-03-09 02:40] TheBrokenRail commented on #827
Wouldn't keeping them circular make some things easier to code for scratcher, (using variables to set effect, using random to choose a random effect (add access via index support to the blocks), etc).

[2017-03-09 20:47] griffpatch opened #833 "npm install (windows)"
I fave a fork of the scratch blocks so I could develop it in conjunction with scratch gui, but npm install and npm link are both failing on the scratch blocks fork for me?

npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.1.1
npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files

[2017-03-09 22:04] #814 closed, assigned to lifeinchords

[2017-03-09 22:52] thisandagain opened #835 "Performance - Dragging a block from the flyout to the workspace"
### Expected Behavior

Dragging a block from the flyout to the workspace should be smooth.

### Actual Behavior

Dragging a block from the flyout to the workspace results in a noticeable hitch that is fairly pronounced in the profiler.

[2017-03-10 14:19] rschamp commented on #833
@griffpatch Would you please post your `npm-debug.log`?  You do need Python installed, so also curious what happens with `python -V`.

[2017-03-10 15:40] MichaelZawadzki opened #837 "Blockly.Variables.allUsedVariables does not return any non-predefined variables ever"
### Expected Behavior

When calling Blockly.Variables.allUsedVariables, for example on a workspace, it is expected that all variables used by the workspace are returned in the list.

### Actual Behavior

This function always returns an empty array (unless there are special predefined variables added).

### Steps to Reproduce

In the vertical workspace add a block to call this function and output t

[2017-03-10 21:55] #827 closed, assigned to thisandagain

[2017-03-10 22:09] paulkaplan commented on #817
@thisandagain Looked into this a bit. I _believe_ we'll need to go through javascript to create a dot pattern similar to how blockly creates the default grid pattern because we will need to tie the zooming in/out with the pattern sizing. I was able to cook this up pretty easily, though:
<img width="1381" alt="screen shot 2017-03-10 at 5 06 33 pm" src="https://cloud.githubusercontent.com/assets/654

[2017-03-10 22:10] thisandagain commented on #817
@paulkaplan That sounds great to me. Thanks for investigating.

@carljbowman Having the background zoom is interesting / possibly desirable. Any thoughts?

[2017-03-10 22:14] rachel-fenichel commented on #817
https://developers.google.com/blockly/guides/configure/web/grid

On Fri, Mar 10, 2017 at 2:10 PM Andrew Sliwinski <notifications@github.com>
wrote:

[2017-03-10 22:15] mrjacobbloom commented on #817
note that @paulkaplan's pattern doesn't match the original (where every other row is shifted by 50%)

[2017-03-10 22:20] paulkaplan commented on #817
@rachel-fenichel welp eventually I'll learn to check the docs first ;)

[2017-03-10 22:23] rachel-fenichel commented on #817
@Airhogs777 is right that they aren't quite the same, but that just means y'all have some decisions to make
-- is the grid configurable by developers?
-- are you super attached to the row-by-row offset?  If you are you can change the pattern definition to include a rotation, but then you probably want to cap the length of the lines so the background won't look funny.
-- do you want to keep the sna

[2017-03-10 22:26] paulkaplan commented on #817
Yeah I was just wondering about how the row offset would interact with snap-to-grid. Just using the grid configuration @rachel-fenichel linked you can make some nice patterns.
<img width="1305" alt="screen shot 2017-03-10 at 5 23 18 pm" src="https://cloud.githubusercontent.com/assets/654102/23815501/99dc62be-05b6-11e7-89d4-66b82308ee54.png">
Is using
[code]
from scratch-blocks/containers/blocks

[2017-03-10 22:32] jwzimmer-zz opened #838 "Hat blocks should not overlap in the block pane"
We should probably fix this before the playtest on March 16.

### Expected Behavior

Hat blocks should not overlap in the block pane.

### Actual Behavior

Hat blocks do overlap slightly. @paulkaplan, I think this may have happened when the spacing was reduced between the blocks in https://github.com/LLK/scratch-gui/issues/164, https://github.com/LLK/scratch-blocks/pull/834.

<img width="277" alt=

[2017-03-10 22:38] thisandagain commented on #838
@rachel-fenichel @picklesrus Any thoughts on this one? Something about the hat blocks seems to be askew.

[2017-03-10 22:42] rachel-fenichel commented on #838
Interesting.  I'd expect that to be handled by
https://github.com/LLK/scratch-blocks/blob/develop/core/flyout_vertical.js#L417

On Fri, Mar 10, 2017 at 2:38 PM Andrew Sliwinski <notifications@github.com>
wrote:

[2017-03-10 22:46] picklesrus commented on #838
Hah. I just typed the same as @rachel-fenichel :)

Potential quick work around for play testing if the functionality was ported from blockly:
You might be able to use the sep tag with a gap attribute in the toolbox xml to increase the spacing just for these these blocks https://developers.google.com/blockly/guides/configure/web/toolbox#separators

But, we should figure out why that line in flyout_

[2017-03-10 22:48] TheBrokenRail opened #839 "When you add a category with updateToolbox, it creates a scrollbar."
### Expected Behavior

_It shouldn't_

### Actual Behavior

_It does_

### Steps to Reproduce

_Add a category using workspace.updateToolbox_

### Operating System and Browser

_Windows 10 Chrome_

[2017-03-11 20:52] griffpatch commented on #833
Here's my log: [npm-debug.log.txt](https://github.com/LLK/scratch-blocks/files/836118/npm-debug.log.txt)

Hope that helps :) - Just to let you know I do now have Python installed and I can run python from the command prompt by typing "python" after I got the paths set up...

[2017-03-11 20:56] griffpatch commented on #833
Just ran python on it's own with one of your .py scripts and note that I have python 3.x not 2.x...  I'll install version 2 instead, but it might be the console I'm running the scripts in that's the issue...?

[2017-03-13 08:08] griffpatch commented on #833
Yeah, python 2 did the same... It doesn't appear to like the "`&&`" in "`python build.py && webpack`" ?
although I also don't like the:
[code]

This is now python 2.7.13 and it gets to the same place:

[code]

[2017-03-13 13:49] paulkaplan commented on #838
@rachel-fenichel I think it was a small bug in that logic a few lines down where it moves the cursorY down. Let me know if the fix in #840 seems right.

[2017-03-13 13:58] jwzimmer-zz opened #841 "Change in block wording from 2.0 to 3.0 - "effect color" vs. "color effect""
I am not sure if this was intentionally changed from 2.0 to 3.0?

### Expected Behavior

In 2.0, the block is called "change [color] effect by (25)".

### Actual Behavior

In 3.0, the block is called "change effect (color) by (25)". I am not sure if the re-ordering of color & effect was intended.

### Operating System and Browser

_Mac El Capitan & Chrome 56_

[2017-03-13 14:00] thisandagain commented on #841
Good catch!

[2017-03-13 15:47] #838 closed, assigned to paulkaplan

[2017-03-13 15:51] #817 closed, assigned to nobody

[2017-03-13 17:05] ericrosenbaum opened #842 "Workspace update fails with "Cannot read property 'shadow' of undefined""
### Expected Behavior

Clicking on a sprite should update the workspace to show the blocks for that sprite.

### Actual Behavior

In making an "animate a name" project, I had placed some scripts in several sprites and in the stage. At some point when I clicked on the stage, it no longer switched to the stage's scripts, and the scripts from the previously selected sprite stayed there.

The blocks t

[2017-03-13 17:33] ericrosenbaum opened #843 ""Point in direction" angle picker makes degree symbol appear (e.g. 15º)"
### Expected Behavior

No degrees symbol should appear inside the input for the "point in direction" block.

### Actual Behavior

Sometimes a degrees symbol appears as part of the number in the input, e.g. -60º

### Steps to Reproduce

Drag out a "point in direction block"

Click the degree input to open the angle picker widget

Rotate the angle picker counter-clockwise past 0, then dismiss the an